[2014-09-08 16:05] mebates commented on #217
@nataliafitzgerald after reviewing this issue, it seems that many team members prefer not to produce a PDF version of the Design Manual. Is this okay? If so, please close the issue.

[2014-09-08 16:40] duelj opened #245 "Isocon - Payment to Victims"
For the landing page of the the "Civil Penalty Fund" section which is titled "Payment to Victims" we wanted to use an Isocon next to the introduction on the page. However, we are having some trouble finding an icon that can appropriately visualize such a complex subject. Wondering if others have ideas for better representations, or if this feels like something that shouldn't have and Isocon?
#####

[2014-09-08 21:23] Dnpizarro opened #246 "Personal Check illustration"
I wanted to introduce the option of a "personal check" & "checking book" because the check we currently have is based off of a business check #220 . The addition of the personal check could give us some flexibility depending on what the content is calling for (i.e. personal checking accounts or direct deposit).

In addition, @nataliafitzgerald and I recently worked on a handout and we played with

[2014-09-08 21:27] Scotchester commented on #244
Just wanted to let you know that I'm working on some potential solutions for this. Still needs some cross-browser testing, but it's promising.

[2014-09-08 22:13] Dnpizarro opened #247 "Credit repair minicon"
Consumer Response is now taking complaints for "Credit repair" amongst some other new additions. Due to these new changes I had to update a previous handout that used minicons next to every type of financial complaint they accept. Below is the minicon I came up with to represent the new topic.

![screen shot 2014-09-08 at 5 49 02 pm](https://cloud.githubusercontent.com/assets/6852363/4193701/74a65

[2014-09-09 19:36] davidakennedy commented on #179
Yep, we're good here. Closing.

[2014-09-09 19:36] #179 closed, assigned to davidakennedy

[2014-09-10 13:38] ohsk commented on #217
Perhaps we could work on a print stylesheet to sidestep the need of producing and updating a bound, printed version. You could print any given part of the design manual that you like to reference offline as a formatted cheat sheet.

Right now, not so hot...

![image](https://cloud.githubusercontent.com/assets/1689222/4218221/b0da3bbc-38ef-11e4-9ed2-8ab79354e1ac.png)

[2014-09-15 19:23] elizbond commented on #230
How would this work for line graphs so there is enough contrast between lines if printed in black and white?

[2014-09-16 14:40] elizbond opened #248 "Error on the Photography page"
The Flickr link has an rogue quotation mark tacked onto the end.

![screen shot 2014-09-16 at 10 38 26 am](https://cloud.githubusercontent.com/assets/6798337/4288839/2d604712-3daf-11e4-8dbf-0764d8444819.png)
It's linking to https://www.flickr.com/photos/cfpbphotos/"
Should be https://www.flickr.com/photos/cfpbphotos/

[2014-09-16 17:20] #248 closed, assigned to nobody

[2014-09-18 15:40] mebates commented on #217
I am going to create a new issue to work on the print styles.

We should also remove the Style Guide PDF from the Design Toolkit on the Intranet.

[2014-09-18 15:40] #217 closed, assigned to nobody

[2014-09-18 15:42] mebates opened #250 "Improve print styles for Design Manual"
Users may want to print individual pages of the style guide for reference. See issue #217

[2014-09-22 20:45] ell0ell0 opened #251 "askCFPB minicon"
So, we'll be needing a minicon to signify an askCFPB question. We shoudln't use the base question mark as that's being used for tooltips.

Here's an example of use case we'd like to use the minicon for.

![screen shot 2014-09-22 at 4 25 32 pm](https://cloud.githubusercontent.com/assets/3589375/4363763/285f1588-4299-11e4-9780-527c5b01d454.png)

Here's a few options for the minicon.

![screen shot 2

[2014-09-22 20:54] stephanieosan commented on #251
I like 1 and 3.

The fourth seems too similar to the complaint minicon.
I assume the second means Q&A? But, QA by itself can mean quality assurance, so that might not be clear enough without an ampersand or "and".

[2014-09-23 16:04] ell0ell0 commented on #251
agreed about the QA. 3 is my personal favorite.

[2014-09-23 16:12] stephanieosan commented on #251
Me too!

[2014-09-23 16:34] ajbush commented on #251
Yea 3 is nice and it still uses the question mark that is used at the isocon level.

At first glance I liked 1 the most, then I wondered why that shape is familiar and it kinda looks like either the Apple power icon or a magnifying glass that outside of this context would be used for "search".

[2014-09-24 15:51] mebates commented on #156
- a percentage sign

Owning a Home has an immediate need to add the percentage for our Loan Options page. Is anyone working on these math symbols? Can we move this to the top of the priority list?

[2014-09-25 16:03] ReedOKelly commented on #241
I have been working on cleaning objects in the illustration library, and making sure rules are enforced regarding shading and color, and nothing has been more troublesome than the people illustrations. The issue is that our color palette does not allow for accurate representation of a range of skin tones commonly found in the American public. We can easily represent lighter skinned people, but not

[2014-09-26 17:26] doguin opened #252 "Design Manual Review"
@mebates @elizbond @benguhin @nataliafitzgerald @dnpizarro

Hi Gang,

Let’s get the monthly Design Manual Review off the ground. Daniel has graciously stepped up to guide the process. I'm going to schedule the first meeting for the week October 20th. Let’s validate the following and also determine an agenda for the first review:
- The purpose of these meetings will be to officially announce change

[2014-09-26 20:26] mebates commented on #252
All of the above points sound right to me!

It may be helpful to use Huboard to manage the monthly backlog and status. The issues list is so, so long that we will need to prioritize

I think it would be great for us to take a look and see if we can prod a few issues along to make progress before the first meeting.

[2014-09-30 19:26] ell0ell0 opened #253 "Valucons for CFPB mission"
Hi all, we're creating new isocons for our mission. The existing icons can be found [here](http://www.consumerfinance.gov/the-bureau/). We need to update them to fit our new style.

Here's where we're thinking of going with them.

![screen shot 2014-09-30 at 2 59 11 pm](https://cloud.githubusercontent.com/assets/3589375/4464872/2c5a19f0-48d7-11e4-93c3-e5c1713cb299.png)

[2014-09-30 19:44] nataliafitzgerald commented on #253
**_Educate**_
This approach is working.

**_Enforce**_
For "Enforce," I know we've gone back and forth with the gavel versus the scale. I guess the question is which approach aligns best with our mission.

Here's the "Enforce" text: We supervise banks, credit unions, and other financial companies, and we enforce federal consumer financial laws. What I take from this text is that we supervise and w

[2014-09-30 19:52] ReedOKelly commented on #253
+1 on Natalia's comments on Educate and Study. for Enforce, I vote gavel, possibly a policeman's badge.

[2014-09-30 20:05] himedlooff commented on #253
I like the first Study illustration because it clearly visualizes our data-driven approach. The magnifying glass on paper seems very old and dated, like we're the gang from Scooby Doo walking around sniffing up clues.

[2014-09-30 21:31] Dnpizarro commented on #253
I'm adding an image of the older isocons for general comparison.

![screen shot 2014-09-30 at 5 07 50 pm](https://cloud.githubusercontent.com/assets/6852363/4466562/f6d36700-48e5-11e4-88d2-70610eba97d7.png)

It seems like we're all onboard with educate. For Enforce I would echo @nataliafitzgerald sentiments...are we trying to embody fairness (scale) or a supervisor/prosecutor (gavel). For Study, I

[2014-10-01 13:55] duelj commented on #253
@Dnpizarro we have tried that version as well but the vertical lines make it feel very busy with the magnifying glass so we tried another route. There were also other iterations of the current graph shown as well as a more book based option, however the graph above we felt was the strongest.

#### Here are some of the other working options:

![screen shot 2014-10-01 at 9 54 47 am](https://cloud.gi

[2014-10-01 15:22] ell0ell0 commented on #253
So the french fry bar chart I didn't pick cause there's nothing to really zoom in and inspect. It'd be a larger cube, the circle bits at the peaks and dips of the fever chart imply a sort of data point being inspected.

@nataliafitzgerald I'll definitely try simplifying the content on the paper, but can you clarify what you mean about the "general layout mismatch"?

[2014-10-01 16:13] himedlooff commented on #253
What about a blindfolded abe lincoln with crossed gavels?
![abe](https://cloud.githubusercontent.com/assets/1093373/4478426/6b093182-4985-11e4-9cae-c2b9cfc02a3d.jpg)

[2014-10-01 16:14] duelj commented on #253
+1 its subtle but, you can't miss the message.

[2014-10-01 18:44] mebates commented on #253
I like the magnifying glass + chart combo. I prefer the french fry version because I keep seeing a comb in the other one (does anyone else see this? the vertical lines are like metal teeth to a comb?). I would make the final french fry shorter so it looks like we're zooming in on the second to last, tallest fry.

[2014-10-02 13:32] ReedOKelly commented on #241
After discussing the issue with @nataliafitzgerald, we have determined a set of regulations for people addressing a number of variables. Here are some guidelines:
1. 3 hair styles; Long hair, short hair, or short hair + bun
2. 3 hair colors; Red Orange, Gold, or Black
3. 3 skin tones; Gold 20%, Gold 50%, or Neutral
4. 2 body types; broad or triangular
5. glasses optional
6. Neutral skin tone peopl

[2014-10-02 18:12] elizbond commented on #253
+1 to the comb, but to me it's a fancy hair pick.

[2014-10-02 18:18] elizbond opened #254 "Mission and Vision Isocons"
Can we revisit this isocon/valucon combo? I see it in a lot of reports and would love to get rid of the creepy hands, as well as make them seem more like a set.

![screen shot 2014-10-02 at 2 11 00 pm](https://cloud.githubusercontent.com/assets/6798337/4495910/49bc062c-4a60-11e4-8daf-ae079c83dfea.png)

![screen shot 2014-10-02 at 2 11 55 pm](https://cloud.githubusercontent.com/assets/6798337/44959

[2014-10-02 20:16] nataliafitzgerald commented on #253
I also see the comb and continue to be in favor of the blocks (i.e. french fries). With that being said, there's something that feels a little jarring/dizzing to me about the totally sideways angle of the magnifying glass on the charts/tables.

Zooming out on this set, we have one object for "Educate" and one for "Enforce". The "Study option has two objects. Maybe we can simplify this to just the

[2014-10-02 23:37] duelj commented on #253
Here are some alternate attempts at study given some of the feedback from @mebates  and @nataliafitzgerald. The top row vs. bottom row is the level at which we are "magnifying" things in the lens, my preference is exaggerating it so that what is visible in the lens is more simple but I wanted to show a style with less scale increase as well. I just feel that it gets really complex inside the lens

[2014-10-03 15:30] mebates commented on #253
I agree with you re: exaggeration.

[2014-10-03 15:32] stephanieosan commented on #253
I also agree that more magnification tends to work better.

I think the magnification glass reads better when it's down (looking at paper), but I think the "data" reads better in the bar graph form, rather than the line and dot graphs on paper.

[2014-10-03 15:45] Dnpizarro commented on #253
+1 on the exaggeration.

[2014-10-03 19:29] nataliafitzgerald commented on #254
At this point, we should take a step back and think about the hierarchy for the full set of our: Mission, Vision and Values (words and imagery). There is inconsistency across the board in terms of the words used for our Mission. Can we request feedback from CE on this? @jameshupp would be a good resource. Additionally, we should make sure that our imagery works with the hierarchy. So, the "How we

[2014-10-08 18:45] Scotchester commented on #148
For future discussion when we come back around to this issue: we need to codify our specs for:
- font size
- button color

In our Flapjack designs, we've determined that it feels better for pagination to be a bit bigger, so we're going ahead and updating the cf-pagination component to use our super button sizes. I think that whether the buttons should be standard (pacific blue) or secondary (gray)

[2014-10-10 14:49] doguin commented on #252
Just following up on this. The first review is a week from Monday. What will be on the docket and who should be invited?

[2014-10-10 18:48] klocraft commented on #253
I agree with @stephanieosan about the data reading better in bar graph form, but the magnifying glass reading better looking at paper. Would the image become too busy if you combined the two by using a bar graph on the paper, rather than a line graph?

[2014-10-14 19:08] mebates commented on #252
Daniel is in town this week so we could sit down and look at the backlog together.

I think the Outlook invite should go out ASAP to all of Design & Dev, as optional. I see Daniel, Elizabeth, Natalia, JP, and Audrey as required, with Bill strongly encouraged. People deeply involved with past Design Manual work and Capital Framework should also attend, especially Scott, Mike, Lee, Justin, Stephanie

[2014-10-16 14:48] mebates commented on #235
Hey @ohsk has this been added to the Isocon library on Drive? Not sure who has the native files. Would be great to close this out by the Design Manual meeting on Monday.

[2014-10-16 14:48] mebates commented on #235
@duelj if you have the native files, you could pull down the latest Isocon library from Drive and make the update.

[2014-10-16 14:50] mebates commented on #242
Did anyone ask @dpizarro to add this to the minicon library? Reopening until we confirm that it's added.

[2014-10-16 14:53] mebates commented on #244
Hey @Scotchester, what's the update on this? We'd like to discuss it during Monday's Design Manual Review.

[2014-10-16 14:55] mebates commented on #236
Hey guys - we're going to tee this up for discussion during Monday's Design Manual review. Any updates from flapjack (@ell0ell0) and CR (@benguhin)?

[2014-10-16 14:56] mebates commented on #191
Any thoughts on this? Easy to add to the Design Manual if the answer is 'yes'.

[2014-10-16 14:58] Scotchester commented on #191
Doesn't bother me any.

[2014-10-16 14:58] mebates commented on #156
Does someone have bandwidth to work on the illustrator files for this? Perhaps Reed? or @ohsk?

[2014-10-16 14:58] Scotchester commented on #191
It will also come up with external link and download icons in body copy.

[2014-10-16 15:25] ell0ell0 commented on #236
I'm beginning work on CR form 3.0 since Ben has no design support. I will be exploring the big button option as i think it works for forms (possibly). That said, I think it'd be ridiculous to apply it to all radio and check boxes throughout the website.

My only update since is I've chosen option C for checkboxes and that's what we've been moving forward with.

[2014-10-20 01:04] Dnpizarro commented on #244
I think what we currently have on the Design Manual, though its Georgia, could work for the avenir in this case. Could we mirror the style from the Design Manual?

![screen shot 2014-10-19 at 8 59 16 pm](https://cloud.githubusercontent.com/assets/6852363/4695484/0180c25a-57d3-11e4-96ce-6bf0f3dc4d2b.png)

[2014-10-20 13:22] Dnpizarro commented on #175
Currently we cannot provide a downloadable link to the minicon font because it has not yet been approved for open source. However, I have been in talks with the appropriate parties and we should be getting a definitive answer within the next 2 weeks.

[2014-10-20 13:33] Scotchester commented on #244
I'm going to work on this this morning and hopefully have something good to talk about at the review.

[2014-10-20 13:39] EmilieVM commented on #236
From a UX perspective, radio buttons are best used with 1 to 4 options and when the choice is one or the other. Checkboxes are best used with more than 4 options or multiple choices.

I agree Option C would be the best UI choice since it highlights the selected choice and gives a clear contrast from the unchecked boxes.

[2014-10-20 14:01] klocraft commented on #156
@mebates , I've done a few quick minicon mock-ups for print material (with dollar sign, for example). I'm happy to take on this project.

[2014-10-20 14:07] mebates commented on #156
Awesome! I think Daniel may have a template that you can use. Thanks!

[2014-10-20 14:22] ajbush commented on #244
I'm trying to dig up an article I read about skipping and not underlining descenders. It seems like it only works in modern browsers but do you all think it's something to consider?

[2014-10-20 14:22] Dnpizarro commented on #156
@klocraft I have a template that you can use. I'll send it to your email.

[2014-10-20 14:51] Scotchester commented on #244
That feature will be available, yes :grinning:

There's only one annoyance with it: You have to be certain what background color you'll be using the text on. So we'll have to employ that carefully.

[2014-10-20 16:44] Scotchester commented on #244
Ok! Check out the sweet demo: http://s.codepen.io/Scotchester/debug/gzAuq?

![selfie-0](http://i.imgur.com/m45ySCx.gif)

This still needs to be put in the context of our actual typographic styles, but the proof-of-concept works.

The upshot: We can continue using a dotted underline and get it more appropriately positioned. The only minor drawback is that in IE 9 and below, we'll have to fall back

[2014-10-20 17:00] ell0ell0 commented on #244
I request more Scott exploding awesomeness gifs

[2014-10-20 17:31] Scotchester opened #256 "Update front-end build process to current CF workflow"
The Design Manual's front-end build process needs to be overhauled to follow the current recommended Capital Framework workflow.

This could potentially be a good small project for the fellowship immersion in January.

[2014-10-20 17:36] Scotchester commented on #244
Group consensus from 10/20 Design Manual Review: move forward with this approach.

Next steps:
- [ ] @Scotchester to update the link styling in cf-core to use this approach.
- [ ] Update styling in Design Manual. (Ideally via #256, but perhaps by hand for expediency.)

[2014-10-20 18:15] mebates commented on #191
We all agreed in the monthly Design Manual Review that this is necessary for in-line use. If the link is not in-line, it should switch to Avenir.

Flagging for @nataliafitzgerald to see.

Moving to R2 Design Manual Maintenance milestone so it can be added to the Manual.

[2014-10-20 18:17] mebates commented on #238
This has been updated. :star:

[2014-10-20 18:17] #238 closed, assigned to nobody

[2014-10-20 20:19] Dnpizarro commented on #235
10/20 Design Manual Review update:
- @duelj will be updating the Isocon library from Drive.
- A separate file will be generated for the update as a fall back.
- If you have any questions regarding updating the library, please reach out to @ohsk.

[2014-10-20 20:27] Dnpizarro opened #257 "New Minicon: Live Stream"
@Dnpizarro will update the minicon font to include the live stream icon designed by @ell0ell0 in issue #242.

[2014-10-20 20:48] Dnpizarro commented on #242
10/20 Design Manual Review update:
- Issue #257 has been assigned to @Dnpizarro to add the live stream icon to the font.

[2014-10-20 20:57] Dnpizarro commented on #250
10/20 Design Manual Review update:
- There was consensus around creating a print stylesheet to avoid having to update the printed version.
- Updates would then only need to be made to the Design Manual.
- The print stylesheet could be a great project for incoming fellows during immersion.

@nataliafitzgerald any thoughts or feedback regarding some of the proposals?

[2014-10-20 21:01] Dnpizarro commented on #156
10/20 Design Manual Review update:
- @klocraft will create the designs for all of the math icons listed above.
- All icons should have circle and non-circle options.
- Once final approval is received, create a new issue to add the new icons to the minicon font.

[2014-10-20 21:43] Dnpizarro commented on #236
10/20 Design Manual Review update:
- FJ has moved forward with option C for the checkboxes and the proposed option for the radio buttons.
- A need was expressed by FJ to better streamline the approval process of UI elements. This will be an ongoing discussion.

@nataliafitzgerald your approval is needed for the below options:

![screen shot 2014-10-20 at 5 42 52 pm](https://cloud.githubusercontent

[2014-10-21 16:27] ohsk commented on #235
@duelj not sure if you've poked around that file before, but one thing to note is to make sure you include an **RGB** and **CMYK** version in their respective layers.

![image](https://cloud.githubusercontent.com/assets/1689222/4722311/1401185e-593f-11e4-8027-2972591c3cf9.png)

[2014-10-21 17:27] duelj commented on #235
I have not. That is good to know, I would have missed that otherwise. I
will try to get it in the file today.

On Tue, Oct 21, 2014 at 11:27 AM, Stephen Kennedy notifications@github.com
wrote:

[2014-10-21 19:11] stephanieosan opened #258 "Adding padding into the Design Manual"
Thanks to Flapjack, we have many more rules about padding between sections and pages than are currently represented in the Design Manual.

Right now we just have padding between headers and body paragraphs documented. (Also, are those reflective of the latest flapjack spacing?)

How do we start to get these padding standards documented in the design manual? I'm thinking of guidelines about padding

[2014-10-21 19:42] duelj commented on #235
I have updated the brand 2.0  isocon file on Drive with the grad cap (both color profiles). It can be found here:
https://drive.google.com/a/cfpb.gov/file/d/0B4tiYoNXw9SNa05KYjdhaEVnc0E/view?usp=sharing

[2014-10-21 19:42] #235 closed, assigned to nobody

[2014-10-21 19:55] Dnpizarro commented on #235
Great! Thanks @duelj

[2014-10-23 17:48] Scotchester opened #259 "Small Execution Logo section needs some fixin'"
See: http://cfpb.github.io/design-manual/identity/logo.html#small-execution

A width of 54px on the 'cfpb' portion of the logo is far too small. The width of the 'cfpb' at the recommended desktop height (50px, given [further down the page](http://cfpb.github.io/design-manual/identity/logo.html#web-scale)), is almost 100px.

I'm guessing the 54px notion was computed from 72dpi \* 0.75", but the vas

[2014-10-24 19:56] benguhin commented on #236
I strongly prefer options A & B because I think we should protect our use of blue. The blue is our link color and primary button color and should signify "OMG CLICK ME," and we actually _don't_ want users to select the checkbox that they've already selected.

[2014-10-27 15:31] Dnpizarro commented on #236
@benguhin do you feel the same way about the radio button?

[2014-10-27 16:03] Dnpizarro commented on #253
@nataliafitzgerald any thoughts on the regular vs exaggerated magnification options that @duelj proposed?

[2014-10-27 16:08] Dnpizarro commented on #252
Update:

It seems that these meeting can handle more than just 1-2 issues. With that said, some issues could take much more time to resolve than others. I will try to determine the amount of time we spend on an issue based on how much discussion was generated on github.

[2014-10-27 16:29] Dnpizarro commented on #239
@ell0ell0 I'm trying to gather all minicon requests so that I can make then next update. I will make sure to include this icon into the set. If you have already developed the artwork, make sure to email me the file.

[2014-10-27 16:37] Dnpizarro commented on #230
@stephanieosan and @mebates, has there been any testing on the following, as stated above:
- Test that the palette works when photocopied
- Test that colors work for color blind users
- Test that palette works in grayscale

Also, to follow up on @elizbond question, any idea on how this would work with line graphs?

[2014-10-27 17:07] Dnpizarro commented on #229
Looking to pick this discussion up.

Based on what I gather, @himedlooff has documented these patterns from FJ here:

http://cfpb.github.io/cfgov-refresh/docs/misc/#custom-select-menus-via-jquerycustom-input

Do we feel like these patterns appropriately consolidate the drop-down styles? If so I would like to move this towards an approval so that we can update this on the Design Manual.
- Note: I'm

[2014-10-27 17:14] himedlooff commented on #229
Yeah sorry, we're moving away from using github pages in that repo but you can see the same docs internally on our Refresh server `REFRESH_SERVER/docs/misc/#custom-select-menus-via-jquerycustom-input`.

[2014-10-27 17:16] Dnpizarro commented on #222
The coin jar illustration won't be used in the library campaign materials. However, that's not to say we won't find a use for it in the future. For now I'm going to close this out, but if we find a use case in the future, feel free to reopen this issue up.

[2014-10-27 17:16] #222 closed, assigned to nobody

[2014-10-27 17:22] Dnpizarro commented on #216
I'm ok with this idea, but this feels more gender specific to women. I only raise this questions because I thought we were generally trying to stay gender neutral with our illustrations.

[2014-10-27 17:30] Dnpizarro commented on #243
@ell0ell0 before we add the "Add to asset library" label we have to seek approval from @nataliafitzgerald.

Natalia, any thoughts on these illustrations before we include them into the library.

Here are my thoughts:
- I vaguely remember some discussion about the ripple in the coffee mug. I'm ok either way. I like the addition of the saucer, gives it a nice touch, but I wonder if its too formal. I

[2014-10-27 20:22] benguhin commented on #236
Yeah, that definitely applies to the radio button as well. The selected radio button should actually look _less_ actionable than the other options :)

[2014-10-28 14:12] mebates commented on #236
You bring up a good point @benguhin. Would the design be stronger if the hover was blue, but the final check or radio button was black or gray?

[2014-10-28 18:45] elizbond commented on #230
When the Teal 50 is next to the CFPB green, there's not enough contrast in grayscale.

[2014-10-31 17:14] klocraft commented on #156
The math icons are (mostly) straightforward. But any feedback or edits are welcome.
1. The dollar sign, equal sign, and division sign.
   These are all based off the lines and angles of current minicons (i.e. the addition and subtraction minicons.

   Do you think the equal sign should be a little shorter to better fit in the circle?

   ![screen shot 2014-10-31 at 12 32 12 pm](https://cloud.githu

[2014-10-31 17:28] ohsk commented on #156
Looking good! Some quick thoughts:

#### Equals

Maybe in the circle version, the equals sign could be scaled down just a tad? More breathing room within the circle (I think just a bit would help). Your horizontal shortening could also work.

Maybe they should also be just slightly closer together (also applies to the "does not equal").

#### Percentage

At first glance, Option A feels more resolv

[2014-11-13 20:39] ell0ell0 commented on #253
_bump_ @nataliafitzgerald this is something we should probably wrap up

[2014-11-13 20:52] mebates opened #261 "Check / Checkbook illustration"
I think someone has illustrated a check in the past (AJ) but it's not in the illustration library. Does someone have it? Is it approved? Can we move it into the library of approved objects?

[2014-11-14 14:36] Dnpizarro commented on #253
I'm going to queue this issue up for Monday's Design Manual Review meeting.

[2014-11-14 14:41] Dnpizarro commented on #261
I opened up issue #246 a while back. It could use some discussion, but I think the need for the illustration would be a good addition to our library.

[2014-11-14 14:58] mebates commented on #261
Oh great, I'll close this one then and use #246. Thanks @Dnpizarro !

[2014-11-14 14:58] #261 closed, assigned to nobody

[2014-11-14 15:39] Dnpizarro commented on #236
I want to queue this issue up again for Monday's Design Manual Review. @benguhin could you share some of your insights about the blue at the meeting? @nataliafitzgerald would it be possible to close this issue out after a discussion at Monday's meeting?

[2014-11-14 15:41] ell0ell0 commented on #236
I see this as strictly a personal taste issue. As I completely disagree, seeing how I made these options.

Now where this goes from here on out is up to the rest of you though.

[2014-11-14 15:44] Dnpizarro commented on #233
@himedlooff good work on this! If you haven't checked out the [tabs demo](http://himedlooff.github.io/cf-tabs/demo/), please do.

I'm going to queue this issue up at Monday's Design Manual Review meeting. If anyone has any additional ideas they want to add, please add them to this thread and we can discuss them further on Monday.

[2014-11-14 16:01] mebates commented on #246
I think a closed checkbook would be nice to see, maybe with a pen at the top or something? You could layer a paper check on top so people know what it is. Hoping we can get the check in #220 approved.

[2014-11-14 16:01] mebates commented on #220
@nataliafitzgerald I will add this to the Illustration library if it is approved!

[2014-11-14 16:05] Dnpizarro commented on #220
I'll queue this up for Monday's Design Manual Review meeting. I'll also bring up the checkbook illustration from #246 to get additional thoughts.

[2014-11-14 16:10] himedlooff commented on #233
So this code is something @danny8000 started. I was just trying to port it to a more Capital Framework friendly format. This also means I'm not sure where the design came from and what inspired it.

[2014-11-14 20:09] Dnpizarro commented on #227
The first option is what we currently have in our minicon library. @himedlooff or @Scotchester can you confirm what icon you are using for "Saving/Loading" in cf.gov?

[2014-11-14 20:29] himedlooff commented on #227
We haven't had a need for it yet.

[2014-11-14 20:37] Dnpizarro commented on #229
I'm going to queue this up for the Design Manual Review on Monday.

[2014-11-14 20:45] Dnpizarro commented on #243
Going to queue this up for the Design Manual Review on Monday.

[2014-11-14 21:47] nataliafitzgerald commented on #243
@Dnpizarro -

**Coffee mug**
- I prefer the coffee without the ripple.
- I hear what you're saying about the saucer. I don't know that I've seen this illustration without it, though. Have you?
- We recently tested covers for the TILA-RESPA booklet and received consumer feedback on the coffee mug specifically. @mebates or @elizbond could provide these details.

**Keyboard**
I'm ok with the existing

[2014-11-14 21:51] nataliafitzgerald commented on #227
The spinner with the arrow looks good. The speed feels a little fast to me. Do others feel that is the case? It is being used in blue on eRegs. @stephanieosan or @mebates - What color is it on Owning a Home?

[2014-11-14 21:59] nataliafitzgerald commented on #233
It feels as through this issue may require further exploration before we make a call particularly with our consumer facing products. I'm interested to see whether flapjack has a need for tabs and if so, what their approach is. @mebates confirmed that Owning a Home has tabs coming up in the Rate Checker release.

[2014-11-14 22:02] nataliafitzgerald commented on #246
Out of the options above, the checkbook with the ledger - no. 3 - feels the most resolved/looks good. @Dnpizarro - Have we had a need for a checkbook in a checking book thus far?

[2014-11-14 22:07] nataliafitzgerald commented on #220
To clarify the issue, these are the final options for the check illustration, yes? I believe thus far we have been using "Option 2". @Dnpizarro - have we used "Option 1" yet? In comparing the two, something I like about Option 1 is that it feels less cartoonish. The cartoon element for me in Option 2 is the dollar sign in the oval. Thoughts? The gray box and lines on "Option 1" may be too light (i

[2014-11-14 22:47] nataliafitzgerald commented on #236
For the checkbox, option B is working well. I agree with @benguhin that we have to protect our use of blue. A remaining question I have is whether the box can go back to light gray after the check is present or whether we need the light blue border to indicate that you can go back and uncheck the box. Purely stylistically I would prefer the black check on the gray bordered checkbox. Hover could re

[2014-11-14 23:03] nataliafitzgerald commented on #253
I agree with @stephanieosan and @klocraft about the data reading better in bar graph form and the magnifying glass reading better looking at paper. I think where we still need resolution is with what is shown on the paper. Have we tried the bar chart on the paper?

In terms of an earlier comment about the styling mismatch I was referring to the difference with what you see through the magnifying g

[2014-11-14 23:06] Dnpizarro commented on #220
@nataliafitzgerald Option 1 hasn't been used. I only pulled it into the discussion because @mebates was asking about a checkbook. Option 1 is supposed to be a "personal check" whereas option 2 is a "paycheck." They both have different use cases depending on the topic we are looking to address.

In my opinion option 2 should definitely go into the illustration library since we have already used it

[2014-11-14 23:17] nataliafitzgerald commented on #156
These look great, with the changes proposed, can we wrap this up? @klocraft - can you post the other math symbols here too (subtract and add)?
- Dollar sign looks good.
- I agree what we should slightly scale down the equals sign when in a circle and the spacing of the bars of the equal sign.
- I haven't seen a use case for the "does not equal" so I am not sure we need it at this time (unless some

[2014-11-14 23:25] nataliafitzgerald commented on #216
I can see what you're saying @Dnpizarro but I do feel our exiting wallet skews male. I'm not super concerned about that, though, and it's come in handy in a lot of compositions. I'd be interested to hear other thoughts on this. I clearly don't feel strongly as I started the issue back in June and no progress has been made but it brings up a good discussion topic about gender neutral objects.
![scr

[2014-11-14 23:26] nataliafitzgerald commented on #239
I have approved this offline but posting the formal approval here to close out the issue.

[2014-11-14 23:38] nataliafitzgerald commented on #220
@Dnpizarro  - I do not believe that there is a widespread understanding (yet) among designers on the team that "Option 2" is a paycheck and that "Option 1" is a personal check. At least in terms of how it has been used so far. For example, in the "Immigrant Checklist" handout, we used the Option 2 check with the pen which would indicate that it is a personal check. If we are going to include a pay

[2014-11-14 23:39] nataliafitzgerald commented on #258
@stephanieosan - I feel that it does make sense to start documenting this so that we can add it to the design manual.

[2014-11-14 23:43] nataliafitzgerald commented on #250
@Dnpizarro - I am in agreement that there is a need for a print style sheet and that we can continue to phase out the printed version of the Design Manual (as we have already done). @elizbond is this something we can add to the immersion projects list. Is this project of the right scale for that list?

[2014-11-14 23:44] nataliafitzgerald commented on #191
+1 on this "We all agreed in the monthly Design Manual Review that this is necessary for in-line use. If the link is not in-line, it should switch to Avenir".

Sounds like a good solution.

[2014-11-17 14:15] himedlooff commented on #233
Flapjack has not needed tabs yet.

[2014-11-17 15:39] stephanieosan commented on #258
Maybe the first step is for me to do a writeup of my understanding of the rules and then @ell0ell0 and @duelj can edit and add anything I've missed.

[2014-11-17 15:40] stephanieosan commented on #233
Yes, the tabs we have coming up are the ones @jehlers posted at the very top of the issue.

[2014-11-17 15:46] stephanieosan commented on #216
Do we have a money clip in our library? That could be an alternative to a change purse that is a little less gendered (although it possibly also skews male).

![dosh_metal_money_clip](https://cloud.githubusercontent.com/assets/6433178/5072363/fcfb3136-6e46-11e4-846c-874a4d5138b3.jpg)

[2014-11-17 15:49] stephanieosan commented on #227
In Owning a Home we use the green spinner (same as the first example).

[2014-11-17 16:30] Dnpizarro commented on #227
When it appears, typically what is the background like? Is the background color/graphics something we can control? I only ask because of contrast considerations for the color blind.

[2014-11-17 16:34] Dnpizarro commented on #239
This has been added to the Minicon Font already.

[2014-11-17 16:34] #239 closed, assigned to nobody

[2014-11-17 16:40] Dnpizarro commented on #191
@Scotchester since you are on this thread, do you know how to best get a FEWD to take on this task?

[2014-11-17 16:47] Scotchester commented on #191
There isn't really a FEWD task for this. I think someone just needs to write up whatever statement we want to make about it, if any. I'm not sure it actually requires one. The rule really boils down to "Georgia is used for paragraphs and list items in long-read scenarios," which is already well established.

[2014-11-17 17:19] stephanieosan commented on #227
It's on a white background for our case:
![screen shot 2014-11-17 at 12 18 08 pm](https://cloud.githubusercontent.com/assets/6433178/5073929/dbe2f3a0-6e53-11e4-9832-169a3957e18b.png)

It's only on screen for a few seconds at a time, when data is loading.

[2014-11-17 18:51] elizbond commented on #243
@mebates If I remember correctly it was the previous version that had the "ashtray" comment. It's what led to us eventually changing the coffee to a darker color. I don't think there's been any specific feedback about the recent version (included in Lee's illustration).

#### Previous version

![screen shot 2014-11-17 at 1 49 12 pm](https://cloud.githubusercontent.com/assets/6798337/5075430/b46311

[2014-11-17 18:57] #41 closed, assigned to nobody

[2014-11-17 19:02] elizbond commented on #230
Recent questions about histograms from the data team.

"We were recently asked about whether there was any guidance on how many bins should be shown in a histogram.  Does anyone on your team know of any research about this?  We found something about optimizing bin size but not # of bins.  If we need to, we can just try out different bin sizes during our larger regroup."

After asking Twitter, this

[2014-11-17 19:19] stephanieosan commented on #233
During the design manual review meeting today we discussed a smaller-sized version of the tabs used in  owning a home. Here's my first pass at them. I still need to do a little thinking about how these would translate to mobile.

![screen shot 2014-11-17 at 2 17 26 pm](https://cloud.githubusercontent.com/assets/6433178/5075884/a48e154a-6e64-11e4-8c74-d59a26bf35c0.png)

[2014-11-17 19:24] mebates commented on #243
Here is a specific line about coffee from the user testing: "Another agent said she did not recognize the coffee cup graphic on the cover." Not very helpful, but that's all we've got.

[2014-11-17 19:25] mebates commented on #243
The shadow IN the coffee looks more correct in my version (teal cup); the lip of the cup would cast a shadow from the top left.

[2014-11-17 19:27] mebates commented on #243
@elizbond: I think the ashtray comment was on the white version. I changed it from teal to Lee's version because that one had been approved and I wanted to limit the number of colors dominating the illustration.

[2014-11-17 19:41] himedlooff commented on #233
I've seen some that stack on mobile like this:

![image](https://cloud.githubusercontent.com/assets/1093373/5076268/c38635e2-6e67-11e4-9c94-e87e53333b84.png)

[2014-11-17 19:43] mebates commented on #156
+1 to all of @nataliafitzgerald's comments

[2014-11-17 19:44] mebates commented on #244
Hey @Scotchester, any progress on your two-item checklist? ;)

[2014-11-17 19:46] mebates commented on #239
:star: !

[2014-11-17 19:55] mebates commented on #191
@scotchester, I think we're just looking for an example added in the Design Manual. It could go in the Links > Links with Icons section and just be stacked under the Avenir examples. I think if you just did it for Internal and External links, people would get the point.

[2014-11-17 20:42] klocraft commented on #156
Thanks for the feedback everyone, sorry for missing your original response @ohsk!

I've scaled down the equals sign within the circle; it's definitely feeling better. And I'm only including option A for % (again, this is what our isocons currently use, so option A makes perfect sense).

I'm also posting our current math symbols for direct comparison.

![screen shot 2014-11-17 at 3 41 52 pm](https:

[2014-11-17 22:48] Scotchester commented on #244
Sorry, I started on it and got sidetracked by the issue of how to trigger the fallback for browsers that don't support the new technique. I hope to address it this week.

[2014-11-20 16:09] nataliafitzgerald commented on #156
These minicons look great and are approved. Nice work, @klocraft!

[2014-11-20 16:32] Dnpizarro commented on #156
Good work @klocraft ! When you get a chance just send me the file files and I will set up a task to add them to the minicon font.

[2014-11-20 18:09] #156 closed, assigned to nobody

[2014-11-21 19:49] nataliafitzgerald commented on #236
@Dnpizarro - Who will create the mock-up of the approved styling for a final review?

[2014-11-25 18:49] mebates commented on #229
This was approved in the Design Manual review, as long as the gray caret changes to a darker shade. @himedlooff and @Scotchester, is the next step to add it to Capital Framework and the Design Manual?

[2014-11-25 18:50] mebates commented on #252
I think we can close this issue; the Design Manual Review meetings are going well so far!

[2014-11-25 18:50] #252 closed, assigned to nobody

[2014-11-25 19:02] mebates commented on #236
Here are our final designs, in black and gray. Any preferences? We can also leave it up to designer discretion.

![screen shot 2014-11-25 at 2 00 35 pm](https://cloud.githubusercontent.com/assets/6223901/5189410/ac0af0fc-74ab-11e4-8a86-c16e254035ca.png)
![screen shot 2014-11-25 at 2 01 39 pm](https://cloud.githubusercontent.com/assets/6223901/5189411/ac0f9698-74ab-11e4-92b7-9f8f3791fc4a.png)

[2014-11-25 19:21] himedlooff commented on #229
Yeah, we'll queue it up.

[2014-12-02 15:08] Dnpizarro commented on #236
@benguhin and @nataliafitzgerald do you have any preference between the black and grey options @Mollie provided?

[2014-12-02 15:19] Dnpizarro commented on #220
Design Manual Review meeting 11/17/14:
- Need to make a color distinction between a paycheck and a personal check.
- @mebates volunteered to rework the existing artwork to make this distinction clearer.

[2014-12-02 15:36] Dnpizarro commented on #233
Those look good @stephanieosan . For mobile, I think @himedlooff has a nice solution above. If we apply the styling @stephanieosan has in her mockups, the delineation between tabs will be more evident.

[2014-12-02 15:41] stephanieosan commented on #233
I can take a stab at applying the styling to @himedlooff's mobile recommendation.

[2014-12-02 15:48] stephanieosan commented on #233
![screen shot 2014-12-02 at 10 48 26 am](https://cloud.githubusercontent.com/assets/6433178/5265489/cfbf7030-7a10-11e4-80ff-f03f03588ba3.png)

[2014-12-02 16:44] Dnpizarro commented on #233
@stephanieosan these tabs look nice! I'm wondering if the full span of dotted line button is even necessary. I feel like  the dotted line button is creating a visual break, that is also full width, causing a bit on conflict with the tabs. Maybe if the dotted lines are removed it will be more clear that the content is all part of that first tab.

[2014-12-02 16:46] Scotchester commented on #233
The dotted-lined-full-width links are our standard way of making those standalone-type links more finger-friendly on mobile devices. I would recommend against making an exception for when they're used in a tab set.

[2014-12-02 17:04] duelj commented on #233
I like the tab style for mobile as well. My first thought was how do these tabs differ from the expand collapse accordions when it comes to mobile? FJ has used the accordions for mobile to show some table content on smaller screens and it seems like the interaction of these tabs would work. If the interaction is the same just wondered if we needed both styles? As it stand the accordion has an expa

[2014-12-02 17:14] himedlooff commented on #233
@duelj, so true, tabs could convert to accordions on mobile.

[2014-12-02 17:23] Dnpizarro commented on #233
Good point @duelj . Not much of a difference for mobile, but I guess the question then becomes how does the styling of the "tab" in @stephanieosan case change for desktop.

[2014-12-02 17:29] himedlooff commented on #233
It doesn't have to change. Unless I'm missing something.

[2014-12-02 17:33] himedlooff commented on #233
We can use tabs on large screens and switch it to a full-on expandable on small screens, or on small screens we just use some code from expandables to do the expanding stuff and keep the same tab-like style throughout the experience.

[2014-12-02 17:41] duelj commented on #233
+1 @himedlooff
Sounds pretty snazzy to me.

[2014-12-02 17:46] Dnpizarro commented on #233
@himedlooff functionally the expandable solution is a good one. I was referring to how we would resolve the visual treatment for the large screens based on the mobile treatment @duelj showed because the midtone green bar plays a strong role is distinguishing between show and hide in @stephanieosan mockups.

[2014-12-02 18:04] himedlooff commented on #233
We could keep the large screen styles as @stephanieosan has them and on small screens style them as expandables. I don't think it matters that they don't look the same from small to large as long as people know that they can toggle content on and off. A user will most likely see one or the other, not both.

[2014-12-11 15:59] Dnpizarro commented on #169
@elizbond I want to queue this up for Monday's meeting. Any thoughts on the above comments? I would agree with @Scotchester suggestions, they seem good to me. Let us know, If you think that there would be any additional use cases.

[2014-12-17 19:04] mebates opened #262 "Are Avenir links medium or regular weight?"
All of cf.gov refresh uses Avenir links at medium weight (when not inline with a block of copy).

Much of current cf.gov, including OaH, use links at regular weight. The Design Manual doesn't specify, though the links are regular.

You can review our original (throwback!) discussion of link styles [on GitHub Enterprise](https://REPLACE THIS WITH OUR GHE DOMAIN/CFPB/digital-product-guide/issues/24)

[2014-12-29 18:55] duelj commented on #253
Looking to get this issue buttoned up as Flapjack is looking to close out this page and have it on build soon and this is an outstanding issue to wrapping up the design. Here is the collection with an updated study icon with the paper layout and a bar chart style. I tried the bars but it felt too heavy, especially with the filled in magnifying glass handle in this one. I think this representation

[2014-12-29 18:57] stephanieosan commented on #253
I like this.

[2014-12-29 19:27] duelj commented on #262
Yes, Flapjack uses medium weight Avenir for all its links. I think we kept this style when the style guide was still in the works, because we liked the subtle differentiation and emphasis that it created with the added weight. It has, so far, seemed to work well in both desktop and mobile formats for us. Below is a quick comparison of a Flapjack page with a decent number of links with both weights

[2015-01-07 22:38] duelj commented on #253
Hey everyone, unfortunately the saga continues. After the content came back the wording for the "study" value has been changed to "empower." That being said I think that the imagery in the study icon doesn't carry over particularly well to empower, so we went back to the drawing board. The accompanying text for the empower section will read as follows:

"We create tools that let consumers take gre

[2015-01-08 14:36] mebates commented on #253
Oy, this is difficult. Do we have time to add it to the Iconathon so we get lots of folks brainstorming on it? cc: @ohsk

[2015-01-08 16:55] Dnpizarro commented on #195
Hey @Scotchester is this still an issue?

[2015-01-08 17:05] Scotchester commented on #195
Nope, all done. Thanks!

[2015-01-08 17:05] #195 closed

[2015-01-08 17:19] Dnpizarro commented on #187
Since Mehgan has left the agency, do we have someone to take over her responsibilities with some of the FEWD stuff she started? Not suggesting we close out this issue, just trying to get a general idea with how we deal with the issues that are assigned to her and still open. We should discuss this with the fewd….

[2015-01-08 17:20] Dnpizarro commented on #195
Thanks @Scotchester !!

[2015-01-08 17:36] iuloshi commented on #187
muahaha I'm still here! Just straight lurkin'.

:raising_hand: @Dnpizarro!

[2015-01-08 18:11] stephanieosan commented on #253
I was thinking the same thing. What's your deadline for resolving this, @duelj ?

[2015-01-08 18:17] dezzie commented on #187
@iuloshi! HAI!

[2015-01-08 20:10] Dnpizarro commented on #262
For our print styles, we are styling most links as medium. We have also had discussions in the past about merging both print and web styles, not necessarily in size but rather styling. The "medium" weight is consistent across both areas, so I would keep that styling for links.

[2015-01-08 20:11] Dnpizarro commented on #244
Hey @Scotchester just checking in to see if you had a chance to get to this.

[2015-01-08 20:21] Scotchester commented on #244
Progress has been made! Implementation within CF was a little trickier than expected, but is nearly complete. The latest stumbling block is that I am helping test Mac OS X Yosemite, and that has put a small cramp in my dev environment style. I'm about to hand the ball to @himedlooff to get it over the line.

[2015-01-08 20:35] Dnpizarro commented on #243
@mebates version of the coffee cup in the current version above seems to be working best. @nataliafitzgerald any thoughts?

![screen shot 2015-01-08 at 3 34 37 pm](https://cloud.githubusercontent.com/assets/6852363/5670204/e1c4bb16-974b-11e4-8b79-927bdb7d0953.png)

[2015-01-08 20:43] Dnpizarro commented on #175
<B>Update: The open sourcing of the Minicon Font has been approved!</B>

Next steps would be to add a downloadable link from our [minicon page](https://cfpb.github.io/design-manual/identity/minicons.html). Maybe something similar to what is below. I'm open to any ideas…

![screen shot 2015-01-08 at 3 41 00 pm](https://cloud.githubusercontent.com/assets/6852363/5670351/1bf86cf0-974d-11e4-80aa-fc3f1

[2015-01-08 20:57] Dnpizarro commented on #187
Hey @iuloshi ! If you're up for it, I think it would be great if we could merge a pull request from you every now and then….

[2015-01-09 14:26] iuloshi commented on #187
HAI @dezzie!

@Dnpizarro haha yah, i'll get right on that :wink: Hope you're keeping warm! :guardsman:

[2015-01-09 17:57] mebates commented on #256
Hey @Scotchester - I remember that this was a big blocker for many of the DM updates we may want to make. Do you think it's something that could be accomplished during immersion, before new folks start contributing? (Or, by a new fellow, or group of fellows?)

[2015-01-09 17:59] mebates commented on #175
Sounds great, Daniel. Have you talked to Steve about pushing the latest to designers?

I think we can add a little section on the Noun Project - a few sentences on what it is and why/how we've posted to it.

[2015-01-09 18:01] mebates commented on #262
We will finalize this decision at the Design Manual Monthly Meeting on 1/12. So far, I haven't heard an argument for keeping the links regular.

[2015-01-09 18:09] mebates commented on #257
@Dnpizarro has this been added?

[2015-01-09 18:10] mebates commented on #251
@duelj Is this still a need for the cf.gov refresh design?

[2015-01-09 18:12] mebates commented on #227
At our last Design Manual Monthly Review, we discussed flipping this spinner (and even the minicon) so that it doesn't spin backwards, but forwards. @Dnpizarro, can you make that change in the minicon font?

@Scotchester and @ascott1 any thoughts on how this should be built for the web? We can provide the appropriate assets and add it to the Manual once it's flipped.

[2015-01-09 18:13] mebates commented on #229
@himedlooff and @Scotchester. Is this in Capital Framework now? Could you copy in a link here? And, can/will it be added to the Design Manual once we complete #256 ?

[2015-01-09 18:20] mebates opened #263 "Button type size"
18 months ago during our initial button exploration, we decided that button text should be 14 px. Today, it doesn't seem that many of us are using that in practice; we're sticking with the 16 px size.

@Scotchester and @himedlooff, can you confirm that button text is 16 px Avenir medium in Capital Framework?

If we all agree that this change should be made, it should be updated in the Design Manua

[2015-01-09 18:28] mebates commented on #245
@duelj, is still a need for the cf.gov refresh?

[2015-01-09 19:02] himedlooff commented on #229
It has not yet been added to Capital Framework. I just created an issue in the CF repo, you'll see it referenced here in this thread so that you can easily follow the status.

[2015-01-09 19:03] himedlooff commented on #263
cf-buttons are currently 14px, as noted in the docs: http://cfpb.github.io/cf-buttons/docs/

[2015-01-09 19:04] himedlooff commented on #263
super buttons are 18px. if we change default buttons to 16px should we also change super buttons to something larger?

[2015-01-09 19:08] himedlooff commented on #263
if you change the font-size it would make the button larger, and this could impact other patterns like the size of normal inputs, inputs next to buttons, pagination, the custom select menu...

[2015-01-09 20:25] mebates commented on #263
The plot thickens. Thanks for all the info @himedlooff. Maybe it should stay 14 px? In Owning a Home, the 'Sign up' button on the home page is 14 px.

@stephanieosan @duelj

[2015-01-09 21:08] mebates commented on #220
Hey all - here's my stab at differentiating the personal check and the paycheck. Mostly I just synced up the styles and sizes and changed colors.

![screen shot 2015-01-09 at 4 06 08 pm](https://cloud.githubusercontent.com/assets/6223901/5687356/bf2f7c3e-9819-11e4-9224-9a9e18c8a5f0.png)

[2015-01-12 23:36] duelj commented on #263
@himedlooff - I am curious what the "normal inputs" are that you mentioned (drawing a blank on examples).

I feel like changing the button size should not impact the other items mentioned unless the button height impacts a corresponding form field or something closely related. Super buttons are rare and usually alone which will help them stand out from standard buttons. They also have more generou

[2015-01-13 00:14] himedlooff commented on #263
In Capital Framework buttons are 14px and use a medium font-weight. Super buttons are 18px and use the same font-weight. We used Design Manual/Digital Product Guide specs when they were created and haven't updated them much since. The Design manual shows these same specs currently. If you used 16px buttons in Flapjack then as FEWD's we either missed that or we figured that we already had establish

[2015-01-13 15:03] duelj commented on #263
great points @himedlooff, sounds like there are some good thoughts around keeping it 14px.

*I do think the 16 & 18px set up could work. Colors and button use cases I think still allow for enough differentiation. But I am not sure of the benefit to time spent making the change is worth it.
- I still like the legibility of the 16px versions, but the 14px doesn't  bother me either.

| 16px medium |

[2015-01-13 22:10] nataliafitzgerald commented on #169
For print, let's provide a 300dpi CMYK EPS file. In terms of the dimensions, we can provide the standard size for an 8.5 x 11 document. This standard is is 0.5"H (and roughly 2" wide). There are instances where external vendors, like Treasury, will use larger formats for event signage and such but they should be able to create the sizes as their need arises.

[2015-01-13 22:12] nataliafitzgerald commented on #169
Also, we use an EPS logo in our PowerPoints. We could provide an RGB EPS for PowerPoints at the same size and dimensions that we currently use in our PowerPoint template.

[2015-01-13 23:01] nataliafitzgerald commented on #175
@Dnpizarro

This is really exciting! +1 on the Noun Project explainer and link.

Your mock-up looks good. Is there any concern from a UX perspective that the other links in the row are jump links and the download link isn't? It does have the minicon qualifier (and the word "download") to suggest that it serves a different purpose so perhaps it is fine. An alternate location for the "Download" woul

[2015-01-13 23:18] nataliafitzgerald commented on #251
I like 3 the most. I think we'd have to see 1 in the mock-up to know if it works. I agree that QA doesn't read as Questions and Answers for me.

[2015-01-13 23:32] nataliafitzgerald commented on #243
Do we have a mock up of the white coffee mug with the shadow casting in the top left (inside the cup) as @mebates mentions above? In terms of coloring I have a strong preference for the white coffee mug with the gray saucer.

[2015-01-13 23:52] nataliafitzgerald commented on #220
I like the way these are being differentiated by color and stylistic details.

Personal check
On the personal check the lines along the top feel a little narrow (could be wider). The line under the top line feels particularly short (I prefer the relative dimensions of what you've done on the blue check).

I believe the 2 lighter green lines in the middle are the "Pay to the order of" line. If so i

[2015-01-13 23:55] nataliafitzgerald commented on #246
I still like no. 3 but I don't know what how often we would have a use case for this. I could see maybe in a motion graphics video where you open up a check book and reveal the check and the ledger. In that scenario we would need to have an illustration of the outside of the checkbook (along the lines of what @mebates mentioned in her comment.

[2015-01-14 00:21] nataliafitzgerald commented on #262
For the sake of tomorrow's discussion, here are some screen grabs from current use cases:

**Owning a Home**
![screen shot 2015-01-13 at 7 00 32 pm](https://cloud.githubusercontent.com/assets/6887128/5731851/9207debe-9b56-11e4-9664-d3e18a53a7b3.png)
**Home Mortgage Disclosure Act (HMDA)**
![screen shot 2015-01-13 at 7 02 32 pm](https://cloud.githubusercontent.com/assets/6887128/5731863/c7947b3c-9b

[2015-01-14 02:21] Dnpizarro commented on #246
To my knowledge we've never actually shown or really talked about personal checks, but we have developed a handout or two on checking accounts and direct deposit. Though like you mentioned, it could be something that we might use in a video down the line. I think it would be useful to have this option even if we don't really have a need for it at the moment.

[2015-01-14 02:26] Dnpizarro commented on #251
My only concern with option 3 is that when its in a circle it doesn't work as well. A circle within a circle seems redundant. With that said, @duelj how often do we use the circle versions on cf.gov refresh?

[2015-01-14 03:00] duelj commented on #251
Not often but I would imagine we would want the option just in case. And
yes we do still need this minicon for the refresh. Sorry just catching up
on the discussion here.
On Tue, Jan 13, 2015 at 8:26 PM Daniel Pizarro notifications@github.com
wrote:

[2015-01-14 14:47] duelj commented on #253
The deadline is shortly after immersion when our team restructuring will take place. At that point I hope to be able to pass off complete icons to the FEWDs for build. I have tried a couple of options after the working session discussion the other day and wanted to share them and see how people felt about these representations. The first two are the same with minor adjustments to proportions and t

[2015-01-14 15:14] mebates commented on #256
@Scotchester and @himedlooff to attack this during our working session on 1/21! :tada:

[2015-01-14 15:21] mebates commented on #169
Provide:
(cross check with what's on the Design Intranet)
- RGB and CMYK .eps
- RGB white background .png

@mebates will gather assets and deliver to @Scotchester and @himedlooff. We will take a look to see where a download link can go.

[2015-01-14 15:26] mebates commented on #175
Link to "The Noun Project" in the top menu. Add a few short sentences about what that is. Add 'Download font' link below the intro paragraph.

Zip file of all four assets needed for the web: .ttf, .otf, .wofs, .eot, .svg

@Dnpizarro and @Scotchester will double check the assets needed

[2015-01-14 15:27] mebates commented on #257
@duelj will send assets to @Dnpizarro and he will update the font this week.

[2015-01-14 15:33] mebates commented on #251
Try the square with a question mark, matching the style of the complaint minicon.

Is it different enough from the 'complaint' minicon? From the 'help' icon?

[2015-01-14 15:38] mebates commented on #227
@Dnpizarro will update the minicon in the font this week.

FEWD implementation should be an animated gif. An alternative is a rotation of the image with CSS (which can scale to any size), but we would need the animated gif as a fallback.

This should be added to the design manual. We need to do some thinking about what category this could be under, 'Micro interactions'? Or 'Interactions'?

[2015-01-14 15:42] mebates commented on #262
We need a bit more exploration on links within paragraph, let's look at both OaH and flapjack.

But we all agree that links should be Avenir Next Medium in print and on the web, for links outside of paragraphs. The Design Manual should be updated before this issue can be closed.

If users don't get Avenir Next on the web, the links will default to Arial Regular.

[2015-01-14 15:53] mebates commented on #263
We've decided to go with a 16 px for button type size. Inputs should also increase in height to match. This work will be completed through Capital Framework. The illustrator templates will be updated.

We'll also need to update the description in the Design Manual. The rest should pipe in through Capital Framework.

[2015-01-14 16:00] himedlooff commented on #244
https://himedlooff.github.io/cf-core/docs/#underlined-links
https://himedlooff.github.io/cf-core/docs/#breaking-link-underlines-mixin

[2015-01-14 16:00] mebates commented on #244
@Scotchester and @himedlooff will add some links below so we can play with it in the browser to adjust spacing below baseline, size of dots and space between dots, and color of dots.

[2015-01-14 17:10] doguin commented on #253
If you do end up exploring hands for representing Empowerment then an image of a forearm handshake comes to mind. The way people help each other off the ground.

[2015-01-14 17:20] duelj commented on #243
I thought I'd share a couple of ideas I tried as I was looking at photos of how light reflects on a cup like this. I agree with @mebates that her cast shadow and highlight are working well in the teal cup version. I think that it could work just as well with the white cup and darker coffee color. I found the image below and then tried some other options in our style just to see how we might improv

[2015-01-14 19:34] mebates commented on #169
The current newsroom page has a png only, half way down this page on the right: http://www.consumerfinance.gov/newsroom/

[2015-01-14 22:24] klocraft commented on #243
I think the interior shadows help a lot. I feel the third option accomplishes this with a nice subtlety. The depth helps it read more as a mug.

Has anyone tried moving the mug's handle to another location? When I first saw the illustration my initial impression was "magnifying glass." I quickly figured out that it was coffee, but I'm wondering if moving the handle to a non-typical magnifying glas

[2015-01-14 22:35] stephanieosan commented on #243
I agree with Kim about the third option!

[2015-01-14 22:39] klocraft commented on #246
In the pro checkbook department, I've done a few handouts that could benefit from this style...I've used the single check illustration with a pen, which has a more formal feel; whereas the above illustrations would do a lot to make the handout feel more personal. I'm also leading towards number 3.

[2015-01-14 22:40] nataliafitzgerald commented on #243
For the handle, some added definition between the handle and the main part of the cup could help (as shown in the image below). I also like how the illustration below shows the depth of the coffee cup (to show that the cup isn't filled to the brim.

![screen shot 2015-01-14 at 4 10 54 pm](https://cloud.githubusercontent.com/assets/6887128/5747687/f6d47418-9c07-11e4-956d-24e3acea6824.png)

From the

[2015-01-15 15:30] Dnpizarro commented on #246
Here is a version with the personal check in front of the checkbook. Also, pending on where we land in #220 with the personal check, I will adjust this option.

![screen shot 2015-01-15 at 10 27 50 am](https://cloud.githubusercontent.com/assets/6852363/5760251/36b9ddfe-9ca1-11e4-8d8e-26f39db95d9c.png)

[2015-01-15 15:37] jehlers commented on #246
@Dnpizarro The check looks really good! (Jumping in from the outside :smile: ) The only thing is the check looks like it is floating above the checkbook to me. Maybe if it was a little closer, or more on top of the checkbook?

[2015-01-15 19:56] doguin commented on #169
Let's provide the same png that's available on the newsroom page for now unless there is a specific use case for other formats.

[2015-01-16 15:16] duelj opened #264 "Links - when to use the arrow minicon"
This was an issue  that I believe had surfaced before but I could not find any documentation on a finalized solution, no do I remember one. So, I thought it would be good to bring up and try to resolve!

#### The issue:
There are currently a a couple of link style variations depending on use cases but some of them are not standardized on when to or to not use them. The design manual just states th

[2015-01-16 15:31] duelj commented on #264
### When shalt thou arrow?!

![selfie-3](http://i.imgur.com/wmtvnXl.gif)

[2015-01-16 15:48] stephanieosan commented on #264
ohhhhhh, @duelj that selfie made me burst out laughing.

I'm glad we're talking about this issue, and when I get a minute later today I'll post what we're up to with owning a home. But, fair warning, I think we've been using arrows a bit haphazardly over here.

[2015-01-16 18:52] duelj commented on #253
I wanted to document some of the ideas that we have collected in one area so that they were easier to find, discuss, test, etc.

##### Vanessa

"As far as an Empowerment logo, I’ve asked our team for their ideas but I would think that something with hands might make sense – reaching out, or in sort of a helping handshake, or something to that effect."

##### FJ Team
- Brain or brain with lightbulb

[2015-01-21 19:41] stephanieosan commented on #262
Okay, here's Owning a Home's Rate Checker with Regular and Medium links:

#### Regular

![reglinksratechecker](https://cloud.githubusercontent.com/assets/6433178/5843598/9c751134-a17b-11e4-969a-1d9fc37d8b48.png)

#### Medium

![medlinksratechecker](https://cloud.githubusercontent.com/assets/6433178/5843599/9c753d76-a17b-11e4-9a8a-bc4f8927e10a.png)

[2015-01-21 19:53] stephanieosan commented on #263
I just updated the design manual to read 16px for button type size instead of 14px. Is Capital Framework already correct, or is it still a to-do item to update Capital Framework?

@mebates @Scotchester @himedlooff

[2015-01-21 19:53] nataliafitzgerald commented on #253
I fear (advise against) the hand direction as it's failed us so many times in the past.

The mouse idea could work. Is there a way to tie the financial angle back into this somehow (like we do with the book with the dollar sign for educate)?

I really like the way you've drawn the tools and the toolbox but they somehow feel too far removed from the subject matter at hand. We are really talking abo

[2015-01-21 19:56] mebates commented on #263
The illustrator template has been updated. The total height of the button will be 33 px.

[2015-01-21 19:56] stephanieosan commented on #244
So, links have been posted. What do we think?

[2015-01-21 19:57] #184 closed

[2015-01-21 19:58] stephanieosan commented on #202
Where do we want to link to the design manual on the cfpb.github.io page?

[2015-01-21 20:00] stephanieosan commented on #212
Closing this since it's old and the video section has plenty of images.

[2015-01-21 20:00] #212 closed

[2015-01-21 20:01] stephanieosan commented on #200
This has already been implemented.

[2015-01-21 20:01] #200 closed

[2015-01-21 20:22] stephanieosan commented on #240
For reference, we've been using illustrations in circles at the tops of our "tools" in owning a home:
![screen shot 2015-01-21 at 3 22 00 pm](https://cloud.githubusercontent.com/assets/6433178/5844351/4f05965c-a181-11e4-90b4-ee712924a98d.png)

[2015-01-21 20:24] stephanieosan commented on #231
Are we still trying to solve a larger modal design and policy issue here? Did any decisions get made or any solutions implemented?

[2015-01-21 20:26] ajbush commented on #241
We are editing a couple of the styling guidelines for the people illustrations:
1. When styling an illustration of a person, we suggest using the <a href="http://cfpb.github.io/design-manual/identity/color-principles.html" class="issue-link" title="Illustration hierarchy">CFPB color palette</a> to keep coloring for hair, eyes, clothing, and accessories consistent. Try to use solid tones as much as

[2015-01-21 20:26] stephanieosan commented on #236
Did we choose a final design here? Or are we leaving it open? What's getting coded into Capital Framework?

We'll need to add these to the design manual once they're in Capital Framework. Would we just include them under the "form fields" section of the "UI Toolkit"?

[2015-01-21 20:29] stephanieosan commented on #227
Please check off when the following are done:
- [x] Minicon font updated
- [x] FEWD implementation of CSS with gif fallback (are we adding this into CF?)
- [ ] Add to the design manual

@Dnpizarro @Scotchester @himedlooff

[2015-01-21 20:30] #180 closed

[2015-01-21 20:30] #146 closed

[2015-01-21 20:30] #124 closed

[2015-01-21 20:32] stephanieosan commented on #72
Is this issue still applicable? What have we been doing with our videos recently? @elizbond @duelj

[2015-01-21 20:37] mebates commented on #220
Here are @nataliafitzgerald's requested changes. Hope we can close this once she approves!

![screen shot 2015-01-21 at 3 30 40 pm](https://cloud.githubusercontent.com/assets/6223901/5844631/7b21931a-a183-11e4-9754-8265a7dd3794.png)

[2015-01-21 21:44] stephanieosan commented on #242
@Dnpizarro has this been added to the font? If so, close it!

[2015-01-21 22:33] duelj commented on #253
I don't know if we should entirely dismiss hands as stakeholders and JP brought up hands and how they envisioned empower being represented. That being said I have not successfully made an isometric handshake, and am more than open to other ideas. Just don't know if we should nix the idea of using hands for the iconothon in case someone else can sort out how to make it work. Here is another hand re

[2015-01-22 14:10] klocraft opened #267 "Updating the print Subheader"
The current manual Subheader is Avenir Next 18/22 regular.

The problem: This size has consistently been too large to use for traditional subhead text and does not provide enough variation from the current Header 2 (18/20 demi-bold) and Header 3 (16/18, demi).

Designers have been using 16/20 regular as the alternative in handouts, manuals, and other print documents. This smaller size can be consi

[2015-01-22 14:12] klocraft opened #268 "Updating the design manual Header 2"
The current manual Header 2 is Avenir Next 18/20 demi-bold.

The problem: At current size, Header 2 is too different from Header 1 and too similar to the Subheader and Header 3. As a result, Header 2 is rarely used.

Suggested new size: 24/28, Regular

Suggested new size is based on the Tri-fold template and Leave-behind templates, where it can be used as the main header. The suggested Header 2 ha

[2015-01-22 19:42] stephanieosan commented on #253
If we wanted to pursue this direction, what if the fingers were open so you saw the palm? Like someone was handing you a tool instead of wielding a tool.

This version still feels aggressive to me, like the hand is about to smash that wrench into the windshield of my car or something.

[2015-01-22 20:10] mebates opened #269 "Web typography spacing out of date"
The ["Web typesetting"](http://cfpb.github.io/design-manual/identity/typography.html#typesetting-for-readability) portion of the Design Manual is out of date. The flapjack team is reworking type spacing via Capital Framework, which is in process. They can add their updates to this issue so we can check that we all agree on spacing. We should also add standards for space after body copy (Capital Fr

[2015-01-23 02:34] himedlooff opened #270 "Skip to content link janks when tabbing to it"

[2015-01-26 14:50] stephanieosan commented on #268
@klocraft Is this for print or web or both?

What do we need to do to finalize this decision? Who needs to test this out? Do you have examples of this in action?

[2015-01-26 14:52] stephanieosan commented on #267
This is for print? How do we finalize this decision?

[2015-01-26 14:54] stephanieosan commented on #257
Is this done?

[2015-01-26 14:55] stephanieosan commented on #254
Is this a duplicate of #253 ? If yes, let's close it.

[2015-01-26 14:56] duelj commented on #257
Daniel has the file, not sure if he has had time to update the font though.

On Mon, Jan 26, 2015 at 9:54 AM, Stephanie Osan notifications@github.com
wrote:

[2015-01-26 14:58] stephanieosan commented on #257
:+1:

[2015-01-26 15:22] Dnpizarro commented on #257
This is completed. Steve Shane will be pushing the new minicon font to everyone's computers.

[2015-01-26 15:22] #257 closed

[2015-01-26 15:42] stephanieosan commented on #257
Wonderful!

[2015-01-26 15:42] #242 closed

[2015-01-26 15:52] Dnpizarro commented on #254
Its actually not a duplicate. Its addressing the visual inconsistencies of isocon vs minicon-ish approach for our mission and values. But there is some cross over with regard to #253 . This still needs more resolution.

[2015-01-26 15:53] Dnpizarro commented on #242
Already added. Thanks!

[2015-01-26 15:59] Dnpizarro commented on #267
@klocraft  can you post some screen shots of the comparison so we can all see what you are referring to?

[2015-01-26 16:24] Dnpizarro commented on #72
I think @duelj logic makes sense. Showing people's faces does elicit a more receptive response. Out of curiosity, @duelj do you plan on making a custom image for the "About us" video or using a still frame from the video?

[2015-01-26 16:27] Dnpizarro commented on #220
@mebates do you think we should change the "squiggly" pattern for one of the checks to reinforce the difference?

[2015-01-27 18:22] Dnpizarro commented on #257
Steve Shane will be pushing the font to everyone's computers later in the week or early next week. But in the meantime you can access the .ttf file from our [google drive](https://drive.google.com/a/collab.cfpb.gov/?tab=mo#folders/0BwfCv4ilI0WgLWFvcThYU3hYWGc).

[2015-01-30 16:43] mebates commented on #175
Hey guys - this is looking funky. The button is breaking to two lines in Safari, and I don't think that the link is the correct font.

![screen shot 2015-01-30 at 11 40 50 am](https://cloud.githubusercontent.com/assets/6223901/5979382/3fee44b6-a875-11e4-8a05-50ed5b3edbaf.png)

[2015-01-30 16:44] mebates commented on #256
Is this finished?

[2015-01-30 17:06] ohsk commented on #175
Yeah, some of that was noted in PR #266. @Scotchester said some of this may get fixed automatically when they make some of their projected updates to CF as implemented in the Design Manual.

[2015-01-30 19:22] amycesal commented on #230
Pulling up this issue again.

I'd like to see if we can take a holistic look at the data visualizations CFPB creates and hopefully include some standards and guidelines in the design manual. It would be super awesome if we could do some user testing too.

I lead the creation of a data visualization style guide for the Sunlight Foundation, which might be a good start. It's probably more informal in

[2015-01-30 19:52] Scotchester commented on #256
So so close. Just have to update some of the HTML on the UI toolkit examples, and then we'll be done.

[2015-01-30 21:53] elizbond commented on #230
+1 @amycesal when things settle down post-immersion I'll work with you to gather examples I've seen go out the door. We can loop in Erin Simpler from the data team too!

[2015-02-02 13:54] mebates commented on #256
:+1:

Will we need to update the ReadMe as well?

[2015-02-02 20:49] caheberer commented on #233
I’m currently designing for a similar use and thought I would weigh in on this…

Originally I felt that the green line for the onstate was fussy, but I’m feeling in agreement now for the following reasons:
- It works on a white background which is essential for middle of page uses (when you can’t have a colored background to define the white tab shape like in the Consumer Complaint Database exampl

[2015-02-03 17:32] nataliafitzgerald opened #271 "Search minicon"
There is an inconsistency in the styling of the search minicon throughout our product offerings when compared with what is in the minicon library. The difference in styling is specific to the length of the handle. In our font the handle is longer. In all use cases I can find (from a quick scan) we are using a search minicon with a shorter handle.

I propose that we update our search minicon to ref

[2015-02-03 17:45] Dnpizarro commented on #271
This is most likely an outdated minicon that slipped through the cracks. @duelj if you could send me the short handle version then I can make the update.

[2015-02-03 17:50] Dnpizarro commented on #271
@Scotchester and @himedlooff how are you guys using the search icon on cf.gov? Seems like it might be a .png since its not being pulled from the minicon font.

[2015-02-03 17:52] himedlooff commented on #271
I don't think we've used it yet but if we did it would be using whatever the icon font is using.

[2015-02-03 17:52] Scotchester commented on #271
If you're referring to the live consumerfinance.gov, neither of us coded that :) But yeah, it's using a PNG background image.

[2015-02-03 17:58] nataliafitzgerald commented on #271
I did just look through the Flapjack design files on Github and noticed that on the events page for mobile, the longer handle version is being used and on the events page for desktop the shorter handle version is being used. Regardless of inconsistency, I am still in support of the shorter handle.

![screen shot 2015-02-03 at 12 56 11 pm](https://cloud.githubusercontent.com/assets/6887128/6025942/

[2015-02-03 19:28] mebates opened #272 "Logo placement on PDFs viewed digitally"
Flagging this for future discussion (though I know it throws a wrench in all of our templates):

Recently, I've been noticing that whenever PDF assets are pulled up on small screens (even our standard issue Dells), the CFPB logo is at the bottom of the page is not visible. In December, at the eClosing pilot event, 3rd party software includes links to items like our OAH Closing Checklist and Form E

[2015-02-03 19:34] mebates opened #273 "Update typography hierarchy to include web subheader"
H4 is being used as a style similar to the print 'subheader' on most of our web products these days. OaH used H4 but in Regular, while Flapjack uses H4 as defined in Medium. I think we should add an option in our web type hierarchy to match our print type hierarchy option of 'subheader'.

OaH H4 in Regular starts with "The kind of mortgage..."
![screen shot 2015-02-03 at 2 30 38 pm](https://cloud.

[2015-02-03 19:38] mebates opened #274 "PDF minicon too small?"
When used at 16 px to designate a PDF resource next to a link, the PDF minicon is so tiny, it's difficult to read. Should we reconsider the design? Or, the specs for sizing?

From [Owning a Home:](http://www.consumerfinance.gov/owning-a-home/)
![screen shot 2015-02-03 at 2 36 24 pm](https://cloud.githubusercontent.com/assets/6223901/6027740/1f122e84-abb2-11e4-941b-918b941e8a0b.png)

[2015-02-03 19:43] mebates opened #275 "Type size on Design Manual home page"
Related to #273, is the type size for the intro paragraph in the Design Manual too large? Originally, the design was for much shorter content, so it looked nicer paired with the illustration. Now it's just a huge block with lots of white space below the illustration. I would suggest moving it to the H4 (18px) at either Regular or Medium.

![screen shot 2015-02-03 at 2 43 00 pm](https://cloud.githu

[2015-02-03 21:32] mebates opened #276 "Isocon sizing standard"
Our isocon standard states that isocons shouldn't be used any larger than 200 px or 2". However, the handout template is often being used with larger iscons; closer to 2.5 or 3". Is this a violation of our standard, or should our standard be adjusted?

![screen shot 2015-02-03 at 4 28 03 pm](https://cloud.githubusercontent.com/assets/6223901/6029994/22ec7cc0-abc2-11e4-9274-ed5a4592f2f7.png)
![scre

[2015-02-03 22:17] nataliafitzgerald opened #277 "Sizing of minicons that appear with text"
I have uncovered what is at most an inconsistency and at least a need for more defined standards in how we size minicons in relation to the text that appears beside them.

In the _Design Manual - Visual Identity - Minicons_ section we state “that the following primary benchmark (minicon) sizes should be used for web”

16px: inline with text
20px: on buttons
25px: social media sharing sets
30px: in

[2015-02-03 23:14] Dnpizarro commented on #274
@mebates you have a point. The letters on the minicon are completely unreadable. This is going to need a revision.

[2015-02-03 23:16] Dnpizarro commented on #274
@ohsk this brings to mind why The Noun Project flagged some of our minicons and it was because we had text on them. With this in mind, I think we would have to reconsider any minicons that have text/letters as part of their design.

[2015-02-03 23:27] Dnpizarro commented on #275
@mebates I would agree that it feels like too much text, especially at that size. Could I make a content suggestion with regards to that first paragraph. I think the 2nd paragraph really introduces the DM well, maybe if we eliminated the first paragraph and just kept the 2nd one I think that could solve part of the issue.

[2015-02-03 23:35] klocraft commented on #267
@stephanieosan, good questions. Yes, this is for print.

We wanted to post the issue for formal documentation and any final feedback. Because the suggested change has been pretty widely tested and works in a variety of documents, this issue really just needs the official ok from @nataliafitzgerald and then we can begin the process of updating the manual.

@Dnpizarro, ah ha, visuals would help! I'm

[2015-02-03 23:46] Dnpizarro commented on #276
@mebates have you spotted other use cases where we are going larger with our isocons. I think the handouts is where we probably go the largest.

Also, I feel like we're probably treating the encircled versions differently than the non-circle isocons. My guess would be that the encircled isocons I've seen in some of our other work tends to be more compliant with our standards.

[2015-02-03 23:50] klocraft commented on #268
@stephanieosan, this change would be for print only. I am gathering instances where designers have used the H2 at this new size and I will continue post examples as I find them. Thus far I have not heard of any problems using the H2 at this size, but am interested in further feedback.

I have found that the suggested change to the H2 allows it to act as the main header on documents where the stand

[2015-02-04 01:43] jimmynotjim commented on #274
Have you considered redrawing the icons for specific sizes? [Iconic does this](https://useiconic.com/guides/how-to-use-the-icon-font/) with their icon font, not sure how difficult it is to package multiple sizes through Font Squirrel but nearly every font does this with hinting.

[2015-02-04 15:22] Dnpizarro commented on #274
@jimmynotjim we considered that at some point, but didn't really find enough good use cases for having different designs for for specific sizes. But to touch on that point, we have a 3 tier system that starts with our minicons > iscons > illustrations. Each level up has a relationship to scale and hierarchy of content. For example we use our illustration style for top level headers were as we rely

[2015-02-04 19:51] stephanieosan commented on #274
Even if we scaled up the minicon in relation to the link, I still don't think it's very legible:
![screen shot 2015-02-04 at 2 52 50 pm](https://cloud.githubusercontent.com/assets/6433178/6048340/849489ac-ac7d-11e4-92ac-8d3cd636b54e.png)

I lean toward redesigning it. Does it need to say "PDF"? What if it had an arrow inside the page to show that it was a download?

[2015-02-04 20:05] Dnpizarro commented on #274
That minicon already exists, its the download minicon:

![screen shot 2015-02-04 at 3 04 49 pm](https://cloud.githubusercontent.com/assets/6852363/6048567/31a2d6d4-ac7f-11e4-933a-00ab96d98a2c.png)

[2015-02-04 20:08] stephanieosan commented on #275
I think the first paragraph gives context about why it's important and worthwhile to the CFPB and the American public that the manual exists, though. It's the intro you need if you're not familiar with the CFPB and the dev/design team.

But, I agree. Overall it's a lot of content for that size.

[2015-02-04 20:10] stephanieosan commented on #274
Ah, good point. Maybe we just use that and eliminate the PDF-specific minicon?

[2015-02-04 20:12] stephanieosan commented on #271
:+1: for the shorter handle to be used everywhere!

[2015-02-04 20:21] mebates commented on #274
I think that's a reasonable (and easy) solution, @stephanieosan.

[2015-02-04 21:34] Dnpizarro commented on #274
I agree. +1

[2015-02-04 21:53] Dnpizarro commented on #233
@caheberer if the tabs aren't greyed out, is there going to be any kind of a visual cue to suggest that the tabs are inactive? Maybe if the minicon and text in the inactive tab are greyed out instead, but not sure if that would look good.

[2015-02-12 22:14] Dnpizarro commented on #25
@danny8000 can you provide some context for this FEWD task.

[2015-02-12 22:17] #28 closed

[2015-02-12 22:21] Dnpizarro commented on #62
@ascott1 did this already get taken care of? If not can you provide some context for this...

[2015-02-12 22:24] Scotchester commented on #62
It may not be needed anymore, but if it is, I'll take care of it.

[2015-02-12 22:29] elizbond commented on #72
In Flapjack, the plan is to have custom images so we have our own play button.
via @duelj

[2015-02-12 22:29] #72 closed

[2015-02-12 22:33] Dnpizarro commented on #78
@Scotchester is this task done?

[2015-02-12 22:34] #109 closed

[2015-02-12 22:37] elizbond commented on #141
Can we tweak this a bit and add to the Design Manual as an explanation of our visual hierarchy? I'd say that's a component that is missing from the current pages.

[2015-02-12 22:38] Dnpizarro commented on #148
@Scotchester do you know the current standard for flapjack?

[2015-02-12 22:39] #149 closed

[2015-02-12 22:41] Dnpizarro commented on #153
@Scotchester has this been developed in FJ? If so can you provide some examples?

[2015-02-12 22:43] #175 closed

[2015-02-12 22:44] Dnpizarro commented on #175
This was already merged in #266

[2015-02-12 22:46] #187 closed

[2015-02-12 22:47] Dnpizarro commented on #191
Reference #264 for clarification

[2015-02-12 22:47] #191 closed

[2015-02-12 22:50] Dnpizarro commented on #227
Minicon font was updated with this correction.

[2015-02-12 22:59] elizbond commented on #237
@nataliafitzgerald is this resolved? How does it relate to issue #141 ?

[2015-02-12 23:02] Dnpizarro commented on #237
These issues have been moved to #240 and #241

[2015-02-12 23:02] #237 closed

[2015-02-12 23:03] #241 closed

[2015-02-12 23:05] elizbond opened #280 "Updates to the illustration page"
Including information from
- [ ] #241
- [ ] #141
- [ ] New content
- [ ] Visual examples

[2015-02-12 23:15] elizbond commented on #263
@Scotchester Has this been updated in Capital Framework?

[2015-02-12 23:24] elizbond commented on #270
@himedlooff can you provide a bit more context?

[2015-02-13 19:27] cfarm opened #281 "Print CSS Guide"
I am working on print styles for Owning a Home. There are a few print styles in the works for the CF.Gov Refresh. I find myself making some design decisions on what elements to change for print, and there are no guidelines on print CSS in the Design Manual.

For now, I'm taking direction from the [HTML5 Boilerplate print styles](https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.cs

[2015-02-15 18:30] himedlooff commented on #270
To replicate:
1. Go to https://cfpb.github.io/design-manual/
2. Press the tab key
3. You should see a "Skip to main content" link appear that wasn't there before.

Here is a screenshot, notice how it breaks the header layout:

![screen shot 2015-02-15 at 1 28 27 pm](https://cloud.githubusercontent.com/assets/1093373/6204367/bdad39fe-b516-11e4-9f36-74643e2300f1.png)

[2015-02-16 20:12] caheberer commented on #233
@Dnpizarro totally agree with what you're saying, greying out the tab while inactive is essential, I was only referring to the thin line on top. (I circled it in red in the screenshot) Maybe not necessary?

![screen shot 2015-02-16 at 3 10 25 pm](https://cloud.githubusercontent.com/assets/4739887/6218632/20ced40c-b5ee-11e4-8581-d82e0b8891b5.png)

[2015-02-17 20:48] mebates commented on #274
Hey @Dnpizarro - in order to close this out, should the icon be removed from the Design Manual and the minicon font?

[2015-02-17 21:28] klocraft commented on #272
Suggestions: We can set the default on all PDFs so that the full page is always visible. This would ensure the logo (and full page) is always seen when a PDF is first open. When preparing your final PDF, go to File, Properties, Initial view, Page layout, Single page. Save. This will also help provide view predictability from computer to computer.

[2015-02-17 21:31] Scotchester commented on #272
:+1: :heavy_plus_sign::100:

The longstanding PDF default of Fit Width was always a terrible idea. Can't believe Adobe hasn't changed it yet.

[2015-02-17 22:40] Dnpizarro commented on #274
Good point! I'll reopen it and I'll close it out again once its updated.

[2015-02-18 18:34] duelj commented on #233
Yea, I think getting rid of the top bar is nice, Maybe have it appear on hover or as a focus state. Basically the same as the Google gmail interaction for tabs:
![screen shot 2015-02-18 at 1 33 19 pm](https://cloud.githubusercontent.com/assets/6873734/6253918/dcf33472-b772-11e4-96e7-60dfa4072483.png)

[2015-02-18 20:30] Dnpizarro commented on #233
Yeah I agree. The google gmail example looks really nice.

[2015-02-19 01:13] ajbush commented on #253
I am trying to help @duelj make progress on this while he has been working on a video. After several conversations with designers and FJ team members here is a more current set of suggestions for the Empowerment isocon. This has been a tricky task since empowerment is an abstract concept and challenging to represent visually.

In the mockups below I have included 3 options. 1 new, 1 refined, and 1

[2015-02-19 14:47] Scotchester commented on #253
I'm liking the new toolbox! I think it's the best match for the text.

[2015-02-19 19:30] nataliafitzgerald commented on #268
@klocraft - I know throughout this exploratory phase we have looked at 24 point versus 26 point for Header 2. Can you add visuals here to compare those two options?

[2015-02-19 19:34] nataliafitzgerald commented on #267
This change is approved.

[2015-02-20 19:48] nataliafitzgerald commented on #253
I'm liking the toolbox too! The next step may be to view it at the different sizes it could appear (based on our standards) and see how it's looking at those sizes? At the size shown above it feels like we could afford to simplify it further and loose one layer of complexity. The most detailing appears around the coin and the box latches so maybe in there?

[2015-02-20 19:54] ajbush commented on #253
Here are updates based off of the good feedback we got from the Design working session from yesterday. Most of the updates happen to also address Natalia's feedback as well.

-We simplified the coin/medallion, handle, and latches along with editing some of the line weights.
-And @duelj made a tweak with an angular shape to make this feel even more like a toolkit or toolbox that we wanted to share.

[2015-02-20 20:11] nataliafitzgerald commented on #233
The Google example has thin rule lines around the inactive tabs. Perhaps we can explore an option that removes the thick gray bar but includes 1 px gray lines to frame the inactive tabs?

[2015-02-20 20:24] nataliafitzgerald commented on #236
We are very close on this. For the sake of consistency, we should have one standard (black or gray). It would help to be able to see it in the context of an actual page though to see how it visually melds with other design elements. Do we have a current project that is using radio buttons or check boxes where we could test this out?  @stephanieosan @benguhin @mebates

[2015-02-20 20:37] nataliafitzgerald commented on #243
From @duelj's latest, my preference is this one. But, as noted above, the direction of the handle can start to make this feel like a magnifying glass.
![screen shot 2015-02-20 at 3 26 08 pm](https://cloud.githubusercontent.com/assets/6887128/6308744/e3597e2c-b914-11e4-8f12-c8c36cc69882.png)

From the variations I shared above, this one is my preference. I have moved the handle to the left side to

[2015-02-20 20:42] nataliafitzgerald commented on #247
@Dnpizarro This is a nice approach. Where will this minicon be used? Were there other options that you came up with? I especially like the minicon in a circle. Outside of the circle the credit card feels chopped off on the top right (but maybe that interpretation is ok since we're talking about repair?). I'd like to see these to scale to see how they work at a true minicon size.

[2015-02-20 20:49] klocraft commented on #243
Ahhh the coffee cup. Out of all the 6 designs you showed, I feel like the one you've chosen best represents the coffee cup. The shadowing feels the most realistic in terms of the shadows that would be created if light hit the cup from that angle. The circle around the lip of the cup gives the illusion of depth...I'm actually trying this same approach on another design. And the new location of the

[2015-02-23 16:19] nataliafitzgerald commented on #253
@ajbush - I like where you're going with the option on the right. This shape very much says toolbox to me. The new handle is working well. The simplified clasps are feeling perhaps too flat now. Is there a way to give them a bit more depth (perhaps with a thicker line weight or bringing in some of the depth from the previous version - maybe a middle ground between what we had in the last round and

[2015-02-23 17:41] benguhin commented on #236
Note that there's a short thread about mobile radio buttons at #232 . I don't think it conflicts, but we should make sure that the standard closes out both :)

[2015-02-23 18:23] Dnpizarro commented on #280
@Dnpizarro will be working on this

[2015-02-23 18:31] Dnpizarro commented on #277
@klocraft and @Scotchester will work together to correct this issue.

[2015-02-23 18:33] Dnpizarro commented on #275
@mebates will jump on this task for March Sprint.

[2015-02-23 18:35] Dnpizarro commented on #262
@Mollie will take this on for the March Sprint.

[2015-02-23 18:39] benguhin opened #282 "include links to incomplete issues on the manual site"
cfpb.github.io/design-manual/ is how most non-employees are viewing our design manual work, but there's so much more work that hasn't been published yet, living in our issues.

I propose two updates:
1. Include links to the related github issues on each page of the design manual site
2. Create pages on the design manual site for incomplete issues. This will make it easier for the public to know wh

[2015-02-23 18:42] Dnpizarro commented on #268
@klocraft will work on this for the March Sprint

[2015-02-23 18:46] Dnpizarro commented on #269
@duelj will take on this task for the March Sprint. Reference #258.

[2015-02-23 18:53] benguhin opened #283 "structure and IA for manual"
I think there are some closed issues that we should reference for background

[2015-02-23 18:56] ajbush commented on #253
Here's an update.

I used solid black to fill in the depth behind the latch. This creates a middle ground between the two options below:

![5](https://cloud.githubusercontent.com/assets/6931351/6334583/8d003060-bb63-11e4-84c7-c28534441ae3.png)

The result is this:

![4](https://cloud.githubusercontent.com/assets/6931351/6334444/a4f3d600-bb62-11e4-84aa-c57e2383428c.png)

[2015-02-23 19:16] benguhin commented on #283
Specifically, the UI section may need to be reformatted in order to fit future content.

For historical perspective, the current layout was formed from this sitemap from October 2013:
![screen shot 2015-02-23 at 2 05 35 pm](https://cloud.githubusercontent.com/assets/6953063/6334845/32d57936-bb65-11e4-9f07-e0313f02f920.png)

Google Material Design is a great example of how we could build this out f

[2015-02-23 20:06] nataliafitzgerald opened #284 "Official core identity language"
Moving this portion of the discussion from issue https://github.com/cfpb/design-manual/issues/254

From a content perspective, there appears to be variation in our core identity language. On the Design Team, we come across a lot of use cases so it would be helpful for us to have an understanding of what is the most updated version of all of this content so that we can help spot instances where old

[2015-02-23 20:17] nataliafitzgerald commented on #254
In an effort to unpack this issue, I have moved the discussion related to core identity language to a separate issue. https://github.com/cfpb/design-manual/issues/284

So this issue is now only about the specific isocons for "How we will achieve our mission and vision" and "Our Values."

The specific design needs are:
- Isometric approach to the Serve, Lead, Innovate (do we still feel like this is

[2015-02-23 21:01] nataliafitzgerald commented on #253
@ajbush I like this approach to showing the thickness of the clasps.

One more thing I'd like us to try before wrapping this up is looking at the thickness of the coin filled in. That would help tie it closer to the way we are showing depth on the clasp. Can you post that iteration when you have a moment?

[2015-02-23 21:04] ajbush commented on #253
Yup, here's what we discussed. I brought back in the full set to compare as well like you suggested.

![6](https://cloud.githubusercontent.com/assets/6931351/6337110/9153d7ea-bb75-11e4-8d6c-e1455b6d50d0.png)

[2015-02-23 21:23] nataliafitzgerald commented on #253
I prefer v2 with the filled coin. The "Educate" and "Enforce" isocons have thickness (especially in their bases) so it is nice to work some thickness into the "Empower" isocon as well for the sake of creating a cohesive set. Nice work!

[2015-02-23 21:31] duelj commented on #253
+1 I think its great, they feel like a nice set and now we have a lot of great illustrations to use for other upcoming things (hopefully).

[2015-02-23 21:35] ajbush commented on #253
Cool. Here's where we are at then.

![7](https://cloud.githubusercontent.com/assets/6931351/6338039/d9c00b4e-bb79-11e4-8956-ef6cf74b8975.png)

[2015-02-23 21:37] nataliafitzgerald commented on #253
Approved. Nice work, AJ!

[2015-02-23 21:46] nataliafitzgerald commented on #253
@ajbush - Can you go ahead and add this to the "Isocon library" illustrator document on the drive?

[2015-02-24 15:48] mebates commented on #282
I think it's a great idea. We could use some form language for each, such as:
1. Follow the discussions that led to this standard, an chime in if you see something that needs to be fixed /link
2. We're still working on this standard, join in the conversation to help us finalize it. /link

[2015-02-24 15:51] mebates commented on #253
:tada: :facepunch: :tada: :facepunch: :tada: :facepunch:

[2015-02-24 15:57] caheberer commented on #233
I think gray inactive tabs are easier for users to understand than all white. I do see that there is a very thin rule on the Google example, but would still argue it's unnecessary, but if it's as thin as that it's less distracting. Agree with @duelj that the thicker line can appear as hover / focus.

[2015-02-24 19:16] schaferjh commented on #282
This sounds like a great idea.

I'm curious -- have we ever had someone outside the team submit a new suggestion or ask for a standard not already included either by creating an issue or emailing the tech@ email shown on the Manual's home page?

![screen shot 2015-02-24 at 2 11 40 pm](https://cloud.githubusercontent.com/assets/10562545/6356976/1b1b9990-bc2f-11e4-9eae-e219159e8f4d.png)

[2015-02-25 05:05] jameshupp commented on #284
@nataliafitzgerald I am super glad you have asked about this. These feel like unforced loose ends and I'm glad to start thinking about tightening them. I think there's some value in the distinctions but not convinced they're well considered yet.

## Responses you requested (though ordered a bit differently)

### 1. GPRA language

First things first: if it's in GPRA, it's official. We follow that a

[2015-02-25 15:14] duelj opened #285 "Icon placement with links"
I wanted to start a discussion about how we are using minicons with links in the website, whether there is the freedom to use them on either side of the text, and if so, should be some type of system for when they are used on a given side.
### Design Manual - currently

The design manual shows that minicons should only follow link text and not precede them, even in a list format or despite the typ

[2015-02-25 17:33] Scotchester commented on #285
I didn't interpret the design manual to be prescriptive (proscriptive?) or to be a good example of a link list with minicons. I think it was originally intended to be about adding icons to links that appear within a paragraph.

In a vertical list, I feel pretty strongly that the minicons should be on the left, so they all appear in the same vertical line. The `list__icons` pattern in Capital Frame

[2015-02-26 20:04] duelj commented on #285
Maybe this conversation should be do we want to add examples of links with left icons to the design manual and should there be a reason to use one or the other?

[2015-02-26 20:28] keelerr commented on #283
@benguhin @elizbond what happened to the content of the whiteboard we brainstormed for this?

[2015-02-26 21:42] Dnpizarro commented on #283
@benguhin these are great references. Generally, I really like Google style guide and its emphasis on illustrating concepts.  With that said, I'd be curious to see what your thoughts are on how they are treating the menu. Everything seems hidden for the most part so I don't imagine that being a good user experience. Excited about these prospects though!

[2015-02-27 15:41] klocraft commented on #268
@nataliafitzgerald, here are some examples of Header 2 at 24 vs 26 pt. I had originally gravitated towards 24pt because of the projects I was using as the tester. However, now that I'm taking a second look, the 26 pt is working pretty well too.

### All headers

![comparison](https://cloud.githubusercontent.com/assets/8646678/6414810/6171b0f6-be68-11e4-8030-aaec51cec29b.png)

### Trifold

![screen

[2015-02-27 15:57] klocraft opened #286 "Updating Header 1 for print documents"
The current H1 print standard in the Design Manual is Avenir Next **Medium** 38 pt / 40 pt. As part of the design team's effort to soften the headers, we've updated the standard, in practice, from Medium to Regular.

This is a case where the change has already been tested and is in use; we just need to document the change, then update the Design Manual to match.

Please see examples below:

### He

[2015-02-27 16:09] nataliafitzgerald commented on #286
This update is approved.

[2015-02-27 16:33] nataliafitzgerald commented on #286
Design Manual update assigned to @Dnpizarro.

[2015-02-27 17:51] elizbond commented on #283
@keelerr here are the notes!
https://[GHE]/design-ops/team/wiki/Design-Manual-Brainstorm-Notes-2-12

[2015-03-02 14:14] Dnpizarro opened #287 "Icons for eRegs"
eRegs is currently using its own subset of icons. In order to transition eRegs into the current Minicon font we need to add the [toc icon](https://github.com/cfpb/cf-icons/issues/40) and a [history icon](https://github.com/cfpb/cf-icons/issues/38) addressed in these two issues.

[2015-03-02 14:36] ascott1 commented on #287
:+1: Pretty pretty please.

[2015-03-03 16:22] nataliafitzgerald commented on #236
@mebates - Reading over this issue again, it sounds like @benguhin and I were recommending option B for the checkboxes. How did we end up with a modification of option C? Just trying to connect the dots.

[2015-03-03 18:32] duelj commented on #285
If no one else has input on this topic than I will assume that it is OK to use icons on either side of a link and it is at the designer's discretion where to place icons.

To follow up I still have a couple of questions that I was thinking about:
1. Does this need to be shown in the design manual to avoid future confusion?
2. Should there be any logic behind where the icon is placed with the link?

[2015-03-03 19:08] Scotchester commented on #285
I think that they should only appear to the right if:
1. It's an inline link (i.e., there is other text directly to the right or left of the link).
2. It's a right arrow icon.

It would definitely be good to add an example with icons to the left.

[2015-03-03 19:19] caheberer opened #288 "CFPB Capital Framework-specific wireframe library"
Let's make creating wireframes quick and brand/platform-friendly by building our own library.

[2015-03-03 19:27] marteki commented on #288
:+1:

There's been talk among the UX folks about this already. What would we need to determine in order to decide whether or not to move forward on this, and if so, how? I think I heard concerns around the ability to take up the creation of widget libraries alongside other projects.

[2015-03-03 19:55] Dnpizarro commented on #288
@caheberer good point. It would be easier to critique as well since we'd have a baseline to judge it from.

[2015-03-03 19:58] Dnpizarro commented on #283
In #288 there was mention of creating a wireframe library. Something to consider for the new AI of the Design Manual.

[2015-03-04 14:02] mebates commented on #285
Thanks for the exploration @duelj. Seems like there are use cases for both. I think we should add some examples of icons on the left to the design manual.

One more spot where they can appear on the right: expandables
![screen shot 2015-03-04 at 9 01 53 am](https://cloud.githubusercontent.com/assets/6223901/6484829/3aaa5d72-c24d-11e4-8685-fb0f920aa6a8.png)

[2015-03-04 16:15] nataliafitzgerald commented on #273
@mebates - The use of the H4 Medium as a subheader has bothered me from a hierarchy perspective for quite some time. The weight feels too heavy for copy that supports a Regular weight header. I am in full support of adding a Regular H4 (aka. subheader) option to our hierarchy. From a naming perspective, would we call it H4 Regular or would we call it Subheader? @duelj @ajbush @Scotchester  - Would

[2015-03-04 16:18] Scotchester commented on #273
@nataliafitzgerald From a front-end perspective, whatever is decided can certainly be accomplished.

[2015-03-05 21:00] benguhin commented on #282
For example, scroll to "4. Detailed Help" on this page: https://www.gov.uk/service-manual/user-centred-design/resources/patterns/help-text.html

[2015-03-06 20:04] duelj commented on #285
So far with Flapjack we have identified ~~two~~ three use cases for having left icons.

##### 1) Contacts _(especially lists)_

it is easier to identify the icon as an organizational visual aid if the icon is to the left of the contact link.
![screen shot 2015-03-06 at 2 44 13 pm](https://cloud.githubusercontent.com/assets/6873734/6535007/ae0961d2-c40f-11e4-8a79-7d955f4e5015.png)

##### 2) Link li

[2015-03-09 15:33] mebates opened #289 "Larger font for Older Americans"
We often receive requests for printed materials with an Older American audience. The client would like all type to be a minimum of 14 pt for these materials. Can we design an alternate print type hierarchy for Older Americans?

There is a Consumer Advisory for early April that would need this new hierarchy.

[2015-03-09 19:29] nataliafitzgerald commented on #236
@benguhin and I met this afternoon to push towards closing out this issue.

For the checkboxes, let's go with what was shown in Option B above but change the box border in the selected state to black (rather than light blue). This will match what we are doing for radio buttons (see below).
![screen shot 2015-03-09 at 3 15 01 pm](https://cloud.githubusercontent.com/assets/6887128/6562385/16fea420-c

[2015-03-09 20:41] nataliafitzgerald commented on #236
Here's the final proposed solution:
![screen shot 2015-03-09 at 4 38 53 pm](https://cloud.githubusercontent.com/assets/6887128/6563892/020dcc06-c67b-11e4-9bc2-6d084396f00c.png)

@benguhin - Can you take a look?

[2015-03-09 23:17] benguhin opened #290 "checkbox & radio button style with visibly larger hit area"
Starting this out as a separate issue from #236

I've been pushing this specifically for mobile devices (see #232 ), but it's also so much nicer on desktop to have big, spaced options to select from when the primary task is choosing between options in a list.

Here's a screenshot of a not-very-styled prototype we built for our complaint forms, which tested really well:
![screen shot 2015-03-09 at

[2015-03-09 23:19] benguhin commented on #232
Replaced by #290

[2015-03-09 23:19] #232 closed

[2015-03-09 23:21] benguhin commented on #236
I think this is solid! I've started #290 to extend the styling for mobile and more advanced forms.

[2015-03-10 16:56] jenn-franklin commented on #281
Starting to look further at this. Creating a list of thoughts so far from the OaH team from github issues and conversations:

<b>Color</b>
- All page elements will print in black and white. Should this apply to the header (including cfpb logo) and footer?
- Background colors in areas such as sidebars and header bars will drop off.
- Button colors will drop out. Button text will remain with gray bo

[2015-03-10 18:08] nataliafitzgerald commented on #236
I agree with Ben. Let's publish this!

[2015-03-10 18:37] stephanieosan commented on #236
Works for me! Yay, publishing!

[2015-03-12 19:59] bijalsp commented on #287
@Dnpizarro any updates on the icon additions?

[2015-03-13 14:24] Dnpizarro commented on #287
@bijalsp looking to complete this today at some point.

[2015-03-16 13:29] mebates commented on #275
Here's what the page would look like with the introduction block of copy at the H4 specs (18 px, Avenir Next Medium):

![screen shot 2015-03-16 at 9 27 39 am](https://cloud.githubusercontent.com/assets/6223901/6666901/d9666062-cbbe-11e4-83df-336054d7b555.png)

I think that we would also need to fix the gutter between the text and the illustration; the gap is too wide right now.

[2015-03-16 13:30] mebates commented on #275
@Scotchester Do you know why that gap appeared to get bigger? I was just playing around in Chrome's developer tools.

[2015-03-16 14:03] mebates commented on #262
Here's where we're at: I think we agree that links could be Avenir Medium weight, when not in a paragraph.

I think the links look best as Regular when they are in a paragraph, as seen in the OaH examples above. I'd like some feedback from front-enders (@scotchester) to know how complicated it would be to differentiate consistently between the two in capital framework.

I found a few examples of F

[2015-03-16 16:34] Dnpizarro commented on #287
Sorry for the delays. I realized there were some minicons I forgot to include in this update, so I had to go back and revise. I'll be posting an update in the next couple of days.

[2015-03-16 16:45] Dnpizarro commented on #271
This should be updated in the next couple of days. I'll post an update with a link to the new font soon.

[2015-03-16 17:10] Dnpizarro commented on #268
@klocraft I like 26/28pt for the H2, but I'm concerned about the tracking. The 24pt option seems a bit too small for the use cases you're highlighting. Would it be odd if we tried 25/28? I know its not an even number, but does it need to be? Maybe something worth trying...

[2015-03-16 17:11] Dnpizarro commented on #269
@duelj checking in to see if you have any updates.

[2015-03-16 17:15] Dnpizarro commented on #275
@mebates I would agree, the spacing is too wide. Are you getting the same results in other browsers?

[2015-03-16 17:16] nataliafitzgerald commented on #289
@mebates - I am in support of developing this but have representatives from Older Americans seen our body copy in 14 point (or are they pulling out this number sight unseen)? Do you have time to develop this or would you like it to be assigned to another designer?

[2015-03-16 17:22] Dnpizarro commented on #253
So all that is left here is to publish to the Design Manual correct? The asset library has already been updated.

[2015-03-16 17:27] nataliafitzgerald commented on #285
@duelj

The minicon on the left works well for the **Contacts**, where the minicon is a more of a symbol/bullet. This is also consistent with how we use minicons for contacts in print.

For the second and third examples, I see the minicons more as a for reference than as a bullet (i.e. additional information on the type of link it is and what's going to happen when you click on it), so there I fee

[2015-03-16 17:42] nataliafitzgerald commented on #276
@mebates @Dnpizarro @klocraft - This is an important topic to bring up. It may be helpful to identify why and when we use isocons for handouts. We have some handouts that use illustration and some that use isocons. When working on a handout, do we have a reason for picking one approach or the other? Isocons are a tier 2 illustration style and tend to be used Interchangeably between consumer facing

[2015-03-16 17:46] nataliafitzgerald commented on #273
@mebates - Where are we on this issue? Do we need more discussion?

[2015-03-16 17:52] duelj commented on #269
In flapjack we have been looking at using slightly different spacing than the example above. The main differences are as follows:

• Reducing spacing intervals to 15,30, and 60 pixels
• Display, H1, H2, and H3 use 30px between heading and paragraph text
• H4, H5, and H6 use 15px between heading and paragraph text
• 30px of space between paragraphs of the same section
• 60px of space between differ

[2015-03-16 17:59] juidai commented on #285
I think example #2 should also be on the left side to make it easier to read as a list/bullet-point. It's especially true when text wrap to the next line. We've treated them like bullet-points since we've indented the second line of text.

[2015-03-16 18:08] duelj commented on #262
@mebates — I agree, links in paragraphs seem to work best at regular weight. I think that the examples you noted from FJ could both be medium weight for consistency if others felt it was appropriate.

##### Side note:

We had considered the navigation links as a separate instance to a degree as we were exploring both color and weight to best suite many links living together in the navigation vs. o

[2015-03-16 18:11] mebates commented on #262
:+1: that looks really nice @duelj !

[2015-03-16 18:40] JenniferHoran commented on #236
Hi, I'm sorry I'm so late to this thread, I was just alerted to it. As the 508 SME I would highly recommend not going with radio buttons, there are focus issues with JAWS (screenreader) when unselecting and re-selecting sets of radio buttons. Also, laying out your checkboxes in a horizontal fashion will require some effort to ensure that they are properly navigatable by assistive technology.

[2015-03-16 19:22] stephanieosan commented on #236
@JenniferHoran Are you saying there aren't options for 508-compliant radio buttons? Are there any fixes for the focus issues with JAWS that we could make sure we always use?

We don't use radio buttons tons of places, but we do have specific use cases where we need a user to select only one option from a list of options. What are alternatives to radio buttons that you would recommend?

[2015-03-16 19:44] JenniferHoran commented on #236
Not at this time - I can just advise, avoid radio button sets. We did report this failure issue to FreedomScientific, the makers of JAWS, and I have the newest version (15) awaiting certification, so hopefully this issue has been resolved but I won't know until I can test.

What happens is that the radio buttons are a set, and once the set is touched you can never really go back and change your an

[2015-03-16 22:24] nataliafitzgerald commented on #268
Based on @klocraft and @Dnpizarro's comments it sounds like we may be pushing towards the 26/28. In terms of the tracking, I imagine that with narrow documents we may need to allow for some tightening up of the tracking but we will need to define a parameter for this, something like "no greater than -15." The next step is probably to test this out with real headlines that have come up in the past.

[2015-03-16 23:00] klocraft commented on #268
Yes, "Servicemeber" does fit, it just often times ends up being the only word on a line, especially for the Tri-fold...that's about as long a word as can fit at 26pt.

As for tracking. For body copy the general rule is to not go beyond -25 to +25...but even that can become too obvious. We'll have to keep an eye on this.

I can put together some examples focusing on 25 pt vs. 26pt. (And yes @Dnpiza

[2015-03-17 20:29] stephanieosan commented on #269
We've been using this on Owning a Home and have found it to work well overall.

I want to call a little more attention to the issue of spacing between subsections. I do think we need a smaller amount of space between subsections than the global 60px. I second Justin's suggestion of 30 instead of 60px between subsections. Here's an example from what we're currently working on that I think shows why

[2015-03-18 13:43] duelj commented on #269
@stephanieosan — you hit the gold mine, I really like the sound of the proposal you made for the subsection spacing. H1-H3 gets 60px and H4-H6 gets 30px. I like the look, it feels open while well grouped and keeps the intervals which is pretty great. Anyone else have thoughts on this?

[2015-03-18 13:48] benguhin commented on #285
whoa minicon _bullets_

For Case 1 / Contacts, the left alignment definitely works better, possibly because none of those are hyperlinks to web pages. Would you ever need to add internal or external links to that list? (I think you could probably avoid it)

For the other two cases, I've usually seen the pattern of the external link and download icons at the end of the link, but I agree with @juida

[2015-03-18 14:46] stephanieosan commented on #269
:+1: :boom:

[2015-03-18 14:59] marteki commented on #236
According to JAWS's website, version 16 was released in December 2014:
http://www2.freedomscientific.com/downloads/JAWS/JAWS-whats-new.asp

Avoiding radio button sets in situations where they are standardly used would greatly impact the usability of our forms for all our users. I cannot see how it would improve the accessibility of them either, to use other UI elements to try and work around a kno

[2015-03-18 15:15] JenniferHoran commented on #236
The majority of Blind users with screenreaders in the Federal Government use JAWS. I would say about 98%. I know of a few, very few, who use WindowEyes. Several legally blind employees use ZoomText with Reader, but that is not a robust screenreader to the level of JAWS or WindowEyes (or NVDA for that matter). Folks with Macs would probably use VoiceOver vs JAWS. I can't speak to what the public is

[2015-03-18 16:08] duelj commented on #285
@benguhin  — I put together a mock up to look at inline links with icons before and after. I think they both can work, I don't know that I immediately have a preference. Thinking more about the "mixed bag" case, I do think that I would be odd of us to put all the links on the right if there is a list of links in _only_ this case. I do think it helps separate internal section links with outside lin

[2015-03-18 17:25] mebates commented on #269
Hey guys - one last thing to consider is space after paragraphs. I would try any of the above examples with having 2-3 paragraphs of text under your headers. We need to keep an eye on how that space relationship affects the headers.

[2015-03-18 17:28] mebates commented on #262
Can we hear from some Capital Framework gurus on this topic?
@Scotchester @jimmynotjim @anselmbradford

[2015-03-18 17:30] mebates commented on #289
They are pulling that number sight unseen. I could probably get started on in the week of March 30, but if someone could hop on it sooner, that would be awesome.

[2015-03-18 17:31] mebates commented on #273
I don't think we need more discussion. I think we can name it 'Subheader' to match the print hierarchy and get it added to the Design Manual, the Illustrator template, and Capital Framework.

[2015-03-18 17:38] Scotchester commented on #262
It's no big deal, whatever is chosen :)

In my person opinion, I agree with leaving links regular in paragraphs. :+1:

[2015-03-18 17:44] duelj commented on #273
+1

[2015-03-18 18:31] nataliafitzgerald commented on #273
+1

[2015-03-18 22:19] stephanieosan commented on #269
Good point, I'll take a look at that and post examples.

[2015-03-19 14:14] jimmynotjim commented on #262
Same as @Scotchester. Medium weight already defaults to regular for Arial so I don't see any issues here.

[2015-03-19 14:58] schaferjh commented on #264
I've been mulling this over for a bit, poking around refresh examples, the current site and the published OAH pages and arguing with myself about it various ways. Here's what I think:

##### Remove the arrow minicon following links, full stop.

_The reason that won me over:_
1. Having a minicon following every link, diminishes our ability to catch the user's attention with a PDF minicon or outboun

[2015-03-19 15:27] stephanieosan commented on #264
I support this.

We've been using arrows all willy nilly on Owning a Home, and I don't see a strong argument for not using underlines for links.

[2015-03-19 16:21] Dnpizarro commented on #276
Generally speaking, we don't have many examples of using illustrations in handouts, but when we have I feel it was because our illustration library had a more accessible range of objects than our isocon library. In looking at the illustration version, I actually feel that the splash of color adds a warmth that the isocon lacks. Something to consider as we seek to resolve this issue.

![screen shot

[2015-03-19 17:13] duelj commented on #264
I think the underline could be argued to create visual clutter just like the arrows, especially in areas like Navigation (including drop downs, left side, header, and footer) and sidebars. My argument for not having them in the sidebar is that often sidebars are home to modules with related content and are labeled as such. I believe that having a section labeled "related links" with an underline o

[2015-03-19 20:41] stephanieosan commented on #269
Hmmm, the space after paragraphs can be tricky, because at 30 px, it's more than the space between h4-6 and the paragraphs that follow.

| 60px between headers | 30px between headers |
| --- | --- |
| ![screen shot 2015-03-19 at 4 36 57 pm](https://cloud.githubusercontent.com/assets/6433178/6740481/830e7b06-ce56-11e4-89fd-eba4c08001b4.png) | ![screen shot 2015-03-19 at 4 37 21 pm](https://cloud.gi

[2015-03-19 22:44] Dnpizarro commented on #287
@bijalsp @ascott1 I finalized the update to the minicon font, which includes the toc and history icons. Below is the unicode for the new additions (highlighted in pink). I have updated the design asset folder, which I emailed to you both. Please reach out to me if you have any questions. As for everyone else, I will be sending out an email with a link to the asset folder.

![screen shot 2015-03-19

[2015-03-19 22:45] #287 closed

[2015-03-19 22:45] KimberlyMunoz commented on #287
Can you email it to me too, @Dnpizarro?

[2015-03-19 22:46] Dnpizarro commented on #287
@KimberlyMunoz I sent it to your collab email.

[2015-03-19 22:48] KimberlyMunoz commented on #287
🎆 🎆

[2015-03-20 17:59] duelj commented on #269
Your example above is a tricky case because the left column headings are a unique case to a standard text layout. They are a smaller heading size that the corresponding sub-headings (while not being a slug style) and their placement is not a standard format. I think for these reason you could argue either way on the H4 headings being sub-sections, so either spacing could be legit. I like the group

[2015-03-20 19:15] stephanieosan commented on #269
Those are good examples. I think it also depends on the relationships in the content. The 30 px example shows a clearer relationship hierarchy (the h4s are under and related to that h3, the subsequent h3 represents a new section). But, maybe there are cases where you wouldn't want such a strong relationship, and the h4s don't actually "belong" to that h3?

We could leave it up to the designer? 30

[2015-03-20 19:45] duelj commented on #269
+1

[2015-03-20 19:54] stephanieosan commented on #269
Yay! Going once...going twice...

[2015-03-23 13:28] ascott1 commented on #287
Thanks for this @Dnpizarro!

[2015-03-23 15:42] benguhin commented on #143
Re-opening this guy because of the awesome work that Owning a Home and Flapjack teams have done with expandable sections in the past year. Here's a screenshot from the about site of a two-column list section that becomes expandable on the smallest breakpoint:

![screen shot 2015-03-23 at 11 39 45 am](https://cloud.githubusercontent.com/assets/6953063/6783674/82321ffa-d151-11e4-8a88-34762a9b419d.pn

[2015-03-23 15:47] Dnpizarro commented on #271
Search minicon was added to the font. An email was sent out to the group about accessing the updated .ttf file on the drive.

[2015-03-23 15:47] #271 closed

[2015-03-23 15:57] benguhin opened #291 "Page layout guidelines"
Starting this issue for @ajbush and @sonnakim

[2015-03-23 16:06] benguhin commented on #282
Ok I started a pattern with the existing pages:
![screen shot 2015-03-23 at 12 05 02 pm](https://cloud.githubusercontent.com/assets/6953063/6784235/ee892b50-d154-11e4-8e6e-c6261b863457.png)

View it here: https://benguhin.github.io/design-manual/ui-toolkit/form-fields.html#issues

[2015-03-23 16:11] Dnpizarro commented on #282
@Scotchester will work on automating the github page on manual.

[2015-03-23 16:11] Scotchester commented on #282
Looking good, Ben!

As just discussed on the review call, we will use the GitHub API to pull all issues with a label corresponding to each page of the manual.

[2015-03-23 16:14] Dnpizarro commented on #281
@huetingj will work on a mock up for the print styles.

[2015-03-23 16:19] Scotchester commented on #275
This happens because we have set a max-width on paragraphs of 35em, to keep measure widths to readable lengths. I would recommend not changing that; perhaps we can increase/change the illustration?

Might be cool to pull in some of the stuff @duelj did for the Beta hero graphic.

[2015-03-23 16:37] Scotchester commented on #244
Discussed on Design Manual review call today. General support for the larger dot size, but want to make sure that the breaking underline technique is rock solid to prevent problems with Georgia's 'p' and 'q' descender serifs.

I will work on improving that.

[2015-03-23 21:15] nataliafitzgerald commented on #269
@stephanieosan / @duelj
For the spacing after headers (before paragraph text) most of the spacing is looking good. The only one that feels like a bit too much space is the space after Header 3. But, I imagine 15 px would be too little. So, are we choosing to sacrifice this one for the sake of our 15/30/60 spacing rule?

In the last example that @stephanieosan posted, I support leaving it to the de

[2015-03-23 21:37] duelj commented on #269
##### Part 1 – spacing intervals and H3 issue

I would vote for keeping the 15/30/60 as it is easy to use, remember, and is currently in a lot of the Capital Framework spacing (I believe). I think it could also be said we are sacrificing the rhythm created by those spacing intervals if we make the H3 a bespoke spacing (20px for example).

I do think that there are going to be fringe cases where th

[2015-03-24 20:49] nataliafitzgerald commented on #269
@duelj - I agree that this is a good foundation to build from. And, the sacrifice for the spacing between H3 and paragraph text seems worth it for keeping with the 15/30/60 rule.

[2015-03-25 17:27] duelj commented on #269
It sounds like we are in a good place on wrapping this issue up, and as we move forward we will keep an eye on how these spacing guidelines are working out? Perhaps when I close this issue, we can make an open-ended new one that people can post examples of issues they are having with this set up as we work with it more? Then we have one location to document problems and can address it at a later d

[2015-03-25 18:29] benguhin commented on #288
:+1:

That said, I'm gonna put this in the backlog for now as we're waiting for licenses for a new wireframing tool. Once that's procured I think we can get a few people to spend an afternoon on the library-building effort and then establish a cadence for maintaining it.

[2015-03-25 18:57] benguhin commented on #285
Yeah leading with the external icon for inline links looks pretty whack.

I'm thinking that the best rule is to continue having the icons on the right in links, but to add an exception for email addresses and phone numbers.

This is mostly post-rationalization, but with links for external sites, PDFs, and downloads, the icon is more of an FYI for the user that the link will take them to a differen

[2015-03-25 19:02] benguhin commented on #262
Ok awesome. I support updating the standard so that links are Avenir Medium weight except when in a paragraph. @nataliafitzgerald ?

[2015-03-26 16:00] juidai opened #293 "PDFs interaction"
CF.GOV have many PDF documents. We would like to handle the interaction in the same way. There are two interaction method and we would like to get feedback.

1. Load PDF into a new window/tab
2. Load PDF in the same window

Discuss…

[2015-03-26 16:02] #293 closed

[2015-03-26 16:03] juidai opened #294 "PDF interaction"
CF.GOV have many PDF documents. We would like to handle the interaction in the same way. There are two interaction method and we would like to get feedback.

1. Load PDF into a new window/tab
2. Load PDF in the same window
Discuss…

[2015-03-26 16:07] duelj commented on #285
I could see that system working well. I do still like the look of the icons as bullets in a list of links and think that given the title length's of some of our download documents it's be likely that users might skip over the icon at the end of the link (especially with multiple lines). Perhaps this is just some thing to be conscious of as we movie forward?

![screen shot 2015-03-26 at 12 05 31 pm

[2015-03-26 18:20] Scotchester commented on #294
I feel that people probably expect these to open in new tabs. I think viewing a PDF is more or less equated with a download, even if it can be done in-browser.

[2015-03-26 18:34] elizbond commented on #289
We have a project that is moving this need forward a lot sooner. @JenniferHoran can you give us some guidance on this standard for Avenir?

[2015-03-26 19:30] JenniferHoran commented on #289
I'm not familiar with Avenier, but in general 10pt font and lower is small, 12 is normal, and 14pt and larger is large font. So going with 14pt font for this is a good move. We can test the font in 14pt for contrast.

[2015-03-26 19:31] JenniferHoran commented on #289
I prefer Tahoma myself personally, but I know we have to stick to the style guide

[2015-03-26 20:49] benguhin commented on #264
This is a song about arrows falling: https://www.youtube.com/watch?v=ph6fmk27grc

I agree that the intra-section vs inter-section difference between links will probably look haphazard to most users, so it makes sense to use just one solution for the standalone/non-inline links.

But I do like the arrows! I like how they make the standalone links seem more actionable, and @schaferjh I think that wi

[2015-03-26 21:32] mebates commented on #262
Once this gets approved I will see it through to the Design Manual and Illustrator templates! Thanks for all the input.

[2015-03-26 21:33] schaferjh commented on #264
I agree re: the underline and I think perhaps the underline should happen in the sidebar as well so it feels consistent across the page. But underlines in the navigation seem unnecessary.

I certainly like making things seem actionable, but I'm not sure we _do_ want more emphasis on internal links over external and pdf links. And I think the external and pdf icons are more important because they s

[2015-03-26 21:34] mebates commented on #275
Okay I'll take a look at alternate hero illustration and/or type options!

[2015-03-27 22:12] benguhin commented on #264
@schaferjh that's fair. Nothing like blue text and a simple underline to communicate "this link will do what you expect it to do."

I guess the arrows just have to pass away, through the sky. A karaoke memoriam may be in order.

[2015-03-27 22:16] benguhin commented on #293
@juidai you may not have given folks enough time to discuss this one.

[2015-03-27 22:16] benguhin commented on #293
see #294

[2015-03-28 00:16] juidai commented on #293
sorry, i was having trouble documenting the issue.

[2015-03-30 14:40] mebates commented on #269
Steps to close out this issue:
- [ ] Update description and image in the Design Manual
- [ ] Update spacing built into Capital Framework
- [ ] Update .ai template(s) to reflect new standards

Do we have/need/want a point person for each of these steps?

[2015-03-30 15:08] Dnpizarro commented on #269
Thanks @mebates for clarifying the next steps.

Since @duelj worked on this issue, the task of updating the .ai would fall on his plate. As far as the other two tasks, since they are a fewd updates we would need to assign a fewd to them. @duelj do you think you can provide an updated description and image for the Design Manual? Once we have these assets, we can pass them along to a fewd to update.

[2015-03-30 17:46] stephanieosan commented on #269
I'm happy to help out on bringing this to the finish line, either by writing the description or by updating the ai template.

[2015-03-30 17:50] duelj commented on #269
I will be sure to update the design, write the description and will post that content here when I have something to show.

[2015-03-30 18:22] elizbond commented on #47
![image1-4](https://cloud.githubusercontent.com/assets/6798337/6903416/385c3202-d6e8-11e4-8054-11538470f24b.JPG)

Iconathon sketches!

[2015-03-30 20:06] duelj commented on #269
This is my first stab at laying out the information covered in this issue within the design manual layout. I could use some feedback and thoughts on how those with my experience might suggest formatting this for the DM. My first impression is given its added complexity, it might be best to make it a new section for spacing, but was unsure how to tie this in the the web type if done, perhaps it cou

[2015-03-30 20:29] duelj commented on #264
I just wanted to round up the latest thinking on this thread to make sure I was following the discussion.

**It sounds like the UX designers are leaning towards:**
• all links (including sidebar and sub-footer) being pacific blue with a dashed underline and the 50% pacific on hover.
• Arrow use is undecided. General feeling seems to be people like the emphasis for standalone links but it makes lis

[2015-03-31 14:20] duelj opened #295 "Using 5% instead of 10% Grey (accessibility)"
#### Issue:

While addressing some feedback for the related links/posts/articles/ module the team realized that the pacific blue was not accessible on the 10% grey background. Here are a couple of other cases that we might need to consider if we change the sidebar background color.

• Footer
• Content wells
• Filters
• Forms
• Sub-footer sections (or how sidebars react in narrower widths)
• Expand

[2015-03-31 14:34] stephanieosan commented on #295
:+1: I'm in favor of introducing grey lines as well.

In Owning a Home, we currently often use rules when we use the 10% (soon-to-be 5%) grey for wells or expandables. I don't think we're being totally consistent in how we're using them or what color the rules are, though. So, that's something we could tighten up.

![screen shot 2015-03-31 at 10 30 20 am](https://cloud.githubusercontent.com/assets

[2015-03-31 14:46] stephanieosan commented on #143
Linking off to this gray issue: https://github.com/cfpb/design-manual/issues/295
If we're changing to 5% grey instead of 10% to make links accessible, we should definitely do the same for expandables, since they include links. The other question I see, is whether we should include rules above or below or both on grey expandables.

[2015-03-31 14:48] stephanieosan commented on #143
Another topic: what about the black-lined expandable table pattern that Flapjack and Owning a Home have been using recently? Is that considered an "expandable" or is that style part of a different bucket of patterns?

![screen shot 2015-03-31 at 10 48 00 am](https://cloud.githubusercontent.com/assets/6433178/6921524/71a1fea6-d793-11e4-8b1e-83f61fdc65a9.png)

[2015-03-31 14:49] stephanieosan commented on #143
@benguhin I will assess what we've been doing about spacing.

[2015-03-31 14:58] Scotchester commented on #143
@stephanieosan We call those "expandable groups". Groups that only allow one to be open at a time are given the additional descriptor of "accordion-style". Code-wise, they are a part of [cf-expandables](http://cfpb.github.io/cf-expandables/docs/#expandable-groups), as they merely style combinations of multiple single expandables.

[2015-03-31 15:24] duelj commented on #295
Nice! I like the way you you all have been using the lines in different contexts. I feel like if we were going to make rules around the lines maybe standardizing size and color would be enough, and allowing freedom on whether the line is top and bottom, just bottom, all the way around, etc. Does that sound like what you had in mind @stephanieosan ?

[2015-03-31 16:30] stephanieosan commented on #295
Yes, I think that makes sense!

[2015-03-31 17:01] stephanieosan commented on #295
To summarize, we're switching from using 10% to 5% grey in all backgrounds of modules like Footer, Content wells, Filters, Forms, Sub-footer sections (or how sidebars react in narrower widths), Expandables (in cases where we use grey backgrounds).

Because 5% is so light that it can be hard to see on lower-quality screens, we are also recommending the grey be accompanied by a 50% grey 1 px rule. T

[2015-03-31 17:20] mebates commented on #273
So this has been approved and is in the same spot as #269. Whoever is addressing that issue in the code could probably make this change too.

Steps to close out this issue:
- [x] Add new level in the Design Manual
- [x] Update hierarchy built into Capital Framework
- [x] Update .ai template(s) to reflect new standards (@mbates)

@ajbush - should we update the template on Drive with your latest Fla

[2015-03-31 17:30] mebates commented on #269
Hey @duelj - I think this is very clear. I think it's fine to still live under 'Web typesetting', as long as we can easily add in those tertiary headers you have ('header and body copy'). The page will be getting very long, but I think we can address that and the general content strategy/info architecture in another issue if we feel the need to.

[2015-03-31 17:38] mebates commented on #264
My favorite arrow-related song: https://www.youtube.com/watch?v=kQ8xqyoZXCc

I always understood the arrow to be for designers discretion for adding _emphasis_. So not all standalone links would have arrows, but only those we thought most important. However, that does result in haphazard application. I am not against the UX opinion to eliminate them entirely. (Though they'd still be in our toolbox

[2015-03-31 17:42] duelj commented on #143
I will say I prefer the grey lines on all expandables as we do not use full black lines in other areas of FJ (tables, rules, section dividers, etc.) not really sure how the black lines got in there.  As for the type, I know we modified ours a bit for a FAQ section and bumped it up to h4 to create better hierarchy with the answers, but had been using the link style for most.

![screen shot 2015-03-

[2015-03-31 17:43] mebates commented on #295
Sounds great. I like the flexibility on the placement of the rules.

[2015-03-31 17:46] ajbush commented on #273
Hey @mebates I'd update the current template for now.

We need to regroup as a team and discuss feedback from the Design Working session.

[2015-03-31 17:47] mebates commented on #275
Hey @Scotchester - we don't have that 35 em guideline in the Design Manual. (Web typesetting > Line length) Should it be there? Should it be that strict?

Also, how does that guideline relate to the grid? (Not sure what kind of grid DM is built on as compared to other web products, just asking for clarification)

[2015-03-31 18:13] stephanieosan commented on #269
:+1:

[2015-03-31 18:14] Scotchester commented on #275
It's largely based on numbers found here: http://webtypography.net/2.1.2

Yes, it probably is worth mentioning in that section as the recommended way to set it in CSS. I do think it should be strict (though if the average character width is 0.5em, it could be bumped up to 36 or even 37, to set the max width closer to the recommended max of 75 characters), because it's a pretty long-held rule of ty

[2015-03-31 19:49] nataliafitzgerald commented on #262
I also support updating the standard so that links are Avenir Medium weight except when in a paragraph. Thanks for pushing this through @mebates!

[2015-04-01 13:58] #256 closed

[2015-04-01 14:59] stephanieosan opened #296 "Illustration sizing on web across breakpoints"
I think there are a few interrelated questions and topics here to unpack.

**Topics**
1. Hero illustrations
2. Page illustrations in circles
3. Page illustrations outside of circles
4. Blog illustrations ??? (just throwing this in here in case this is already decided and might influence the other categories)

**For these three categories of illustrations, I have the following questions:**
1. Do we

[2015-04-01 17:35] nataliafitzgerald opened #297 "Update Display Header (for web) to Regular"
In order to better match the weight of our type hierarchy, I propose updating the Design Manual to change our Display header from Demi Bold to Regular. Currently, the only use case for the Display header is in hero graphics and Regular is the standard there.
*(note: there are heroes that use H1 instead of Display but I'll post another issue to discuss heroes more specifically).*

![screen shot 201

[2015-04-01 19:28] ajbush commented on #296
:+1:

[2015-04-01 19:43] duelj commented on #269
I will work on updating the design template to reflect these changes in the paragraph styles, then we can look at what the next steps are in approving this and getting it into the design manual in the format above. Thanks for the input.

[2015-04-01 19:47] duelj commented on #295
The summary above sounds perfect to me. I'll update the label to pass it on to @nataliafitzgerald for approval. I agree sooner rather than later would be great.

[2015-04-01 20:35] duelj commented on #143
I wanted to add another example of a custom expandable situation we have in flapjack to see if there is a way the default expandable might be used to make it more consistent. The "show 40 contacts" expands to reveal an expandable table style with all the contacts. The button format was used to help differentiate it from the contact expendables, but we would like it bring it more in line if possibl

[2015-04-02 15:25] elizbond commented on #39
![image1-7](https://cloud.githubusercontent.com/assets/6798337/6967056/ee141238-d92a-11e4-893c-b5fb614b053f.JPG)

[2015-04-02 16:06] duelj commented on #273
I just want to make sure I understand, this is to add an subheader style (which is essentially H4 in regular weight) not change the existing H4 to regular rather than medium right?

[2015-04-02 16:12] duelj commented on #297
My impression was that the display heading was intended to be used where there where small amounts of copy that we really wanted to emphasize, and the demi does that quite well. I do agree that it feels like it stand out from the rest of the lighter type hierarchy but I think if we pull it all the way back to regular, it loses some of that extra "punch" and is a lot more similar to H1-3. I wonder

[2015-04-02 17:28] nataliafitzgerald commented on #297
@duelj - Here's a comparison of Regular, Medium, and Demibold. My thought is that the Display header is so large on the page that just the size gives it enough weight. We can certainly consider medium as an alternative, though.

![screen shot 2015-04-02 at 1 21 56 pm](https://cloud.githubusercontent.com/assets/6887128/6969269/4373a918-d93b-11e4-855a-a0a120de9651.png)

With that being said, I am in

[2015-04-02 18:02] duelj commented on #297
Just to try and add some comparison I tried the three weights in browser (good call @ajbush) to see how they felt on the beta landing hero. I think the medium is my favorite from the couple examples I have seen, it has a bit of extra "bulk" but feels more inline with the other type weights.

| regular | medium | demi |
| --- | --- | --- |
| ![screen shot 2015-04-02 at 1 57 14 pm](https://cloud.git

[2015-04-02 18:09] ajbush commented on #297
I think Demi has been kinda too big to use for our past content needs and have found it more useful for social media graphics and infographics, etc.

But in the 3 options @duelj showed I would vote for medium. Especially if another situation arises like this Beta page where there's a heavy amount of illustration to compete with.

[2015-04-02 18:10] mebates commented on #273
Yes, correct!

[2015-04-02 18:18] nataliafitzgerald commented on #297
@mebates - Do you find that you are using the display header in social media graphics? If so, can you share some use cases?

[2015-04-02 18:39] mebates commented on #297
I like the Medium too.

We don't use the H1 in standard social graphics, or Demi. The standard is an in-between 42 px regular, which you can see on the template on Drive. It has been used inconsistently across the larger infographics, so I don't think we can glean a standard from them.

http://files.consumerfinance.gov/f/2015_0113_mortgage_shopping_infographic.png
http://files.consumerfinance.gov/

[2015-04-02 18:50] ajbush commented on #297
Also, wanted to compare the weights when there's no illustration to compete with just like @duelj did with the Beta page. In this case regular seems fine but choosing a middle ground like medium could be better for trying to create a standard that could work with both heavy illustration and little to no illustration in the hero space.

| regular | medium | demi |
| --- | --- | --- |
| ![1](https:/

[2015-04-02 19:24] nataliafitzgerald commented on #297
@ajbush - In the "Submit a Complaint" example I actually don't think that regular works. This hero is not a good use case because of the textured background, something that is not within our current standard.

I don't feel that the number of objects in the flapjack beta page are a good gauge for the header weight, considering that there are many more objects in that layout than we would typically

[2015-04-02 19:42] nataliafitzgerald commented on #297
It sounds like we still need to identify actual use cases (on the web) for Display. It sounds like we are infrequently using it at the hero level (this could change if we start to develop a more formal hero hierarchy). In social graphics, it sounds like we are using it at a smaller size 42 pixels. So this brings up additional questions and perhaps a need for further testing. It sounds like we're a

[2015-04-02 20:08] ajbush commented on #297
Ok I change my vote haha. In those examples the medium looks a little heavy.

But I do feel like medium is rendered differently (lighter) in browser than inside of .ai...but that's probably being too nitpicky.

[2015-04-02 20:10] elizbond opened #298 "Content changes under type accessibility"
Change Design Manual content to from "WCA (Web Content Accessibility) standards" to WCAG 2.0 and add link (http://www.w3.org/TR/WCAG20/).

Change "web type accessibility" to "type accessibility" and move after the print type hierarchy

[2015-04-02 20:11] elizbond commented on #289
@klocraft @nataliafitzgerald @kokkinidisg

I talked to the Office of Older Americans and here is some research they had on hand.

---

There is  a good article focused on health related educational materials that you may find helpful.  It starts with tips about writing content, but it goes on to discuss designing fonts in publications for older Americans.  http://www.nia.nih.gov/health/publication

[2015-04-02 20:15] elizbond opened #299 "Add more color contrasts under web type accessibility"
Update color contrast options on the Design Manual for all colors at all levels (small, normal, large).

Could look something like this:
![screen shot 2015-04-02 at 4 13 35 pm](https://cloud.githubusercontent.com/assets/6798337/6972658/45ac84d0-d953-11e4-934d-e96b09544693.png)

@klocraft

[2015-04-02 20:31] Scotchester commented on #299
I don't feel this needs to be documented that extensively in the Design Manual. The page would be gigantic. We should be linking to this tool that makes it pretty easy:

http://accessibility.oit.ncsu.edu/tools/color-contrast/accessible-color-palette.php?&colors=2cb34a,addc91,dbedd4,101820,43484e,75787b,919395,babbbd,e3e4e5,f1f2f2,f8f8f8,d12124,da6750,e8a091,f6d9d3,ff9e1b,ffb149,ffce8d,ffecd1,796e6

[2015-04-02 20:43] nataliafitzgerald commented on #299
@Scotchester - I think the idea is that we check everything first and then we decide what to include in the Design Manual as a standard (as in combinations). The results are at 14 points or greater. Do you think that for super large type on something like a poster the results would be the same (as in fail is fail for our green on white or reversed out regardless of size)?

[2015-04-02 21:28] Scotchester commented on #299
It does seem that CFPB Green / white combinations fail at any size. The contrast ratio is 2.74, when it would need to be 3.0 for larger sizes.

One thing I'm not sure about is whether these numbers apply directly to ink on paper color contrast. The numeric guidelines were developed specifically for screen display. So, to your question of whether or not it's acceptable to use it on a poster, I don'

[2015-04-02 22:19] benguhin commented on #283
I meant to post this a while ago. Here is a proposed IA! https://gist.github.com/benguhin/6817f9610e82d88e00bd

[2015-04-02 22:22] benguhin opened #300 "Accessibility guidelines for PDFs"
Starting this issue to discuss how we approach best standards for accessible PDFs.

Two primary questions at this point:
1. For which areas should we write guidelines? Here are some suggestions – we can create additional issues for each:
    - Basic text formatting
    - Form fields
    - Links
    - Interactivity
    - Others
2. Are there existing guidelines that we can fork from other organizati

[2015-04-02 22:29] benguhin commented on #236
@JenniferHoran I just started issue #300 to discuss the guidelines that we should write for accessibility for PDFs – my guess is that we'll need to have different standards for form elements in PDFs vs HTML.

For HTML specifically, do you have any concerns about the [proposed solution](#issuecomment-77937580) above?

[2015-04-02 22:46] benguhin commented on #264
@duelj I agree with everything you bulleted

@schaferjh do you think it's possible to have a non-haphazard-seeming rule for when to use arrows? I agree with @mebates that there will be times when we really want to emphasize one link over others, and those times _might_ correspond with specific regions in the templates that y'alls are working on

[2015-04-02 23:10] benguhin commented on #143
@stephanieosan I think we should definitely consider the "black-lined expandable table pattern" and "background gray expandable" styles at the same time – it can make sense for them to be styled differently because they're used for different purposes, but we should (a) try to make them as similar as possible (b) update the guidelines based on the more advanced amounts of content that you guys have

[2015-04-03 00:13] nataliafitzgerald opened #301 "Hero graphic standards and hierarchy"
As I look across the landscape of our website (and micro-sites) I have noticed a lack of consistency in how we design our hero graphics. Digging a little deeper I see that the issue is more complex than this and points to the absence of a global visual and content strategy/map for our current site. As we build new product sections, individual teams are coming up with solutions that make sense for

[2015-04-03 13:47] JenniferHoran commented on #299
The CPFB green fails with white text at all sizes, the green really needs to be just one Pantone shade darker. Also CFPB green on white, fail. This is a bigger issue, changing the branded green. Who wants to go there? I know it is a very slight change but a large one at the same time. I would suggest the change for 508 and usability. I knew before I started here in October just looking at the prin

[2015-04-03 14:01] JenniferHoran commented on #300
-size (how to save without a huge file size)
-protection/saving to ensure access to assistive technologies
-what authoring tools to use – NEVER word if there are fillable/interactive fields, prefer LiveCycle if it is a dynamic fillable form
-document properties
-when to hide graphic elements as background, when to provide alt text description
-planning for complex table support for assistive techn

[2015-04-03 14:03] JenniferHoran commented on #236
I think we will be OK in HTML, it is just in documents that there continue to be issues with radio button focus and screenreaders (particularly JAWS). We can test both again once I have my JAWS installed, it is still in the certification process.

[2015-04-03 14:09] schaferjh commented on #264
Yep, I agree with @duelj's bullets as well.

@benguhin @mebates When it comes to arrows, the simplest way to achieve consistency and decrease haphazardness across the site is eliminating them. If we _really, really_ want to emphasize one link over others, that should be handled by copy and placement (not in a list or grouped with a bunch of other links/content).

BUT....a little thinking "out loud

[2015-04-03 14:48] designlanguage opened #302 "American Flag"
@nataliaf pointed out that the American flag isn't in our illustration library, so let's see if we can change that. There is this flag that had been used before in a couple instances:

![293ab6e4-d892-11e4-8d56-c5d440c218d5](https://cloud.githubusercontent.com/assets/10562544/6983664/93db7a8a-d9ee-11e4-8f20-08063b48babb.png)

We wanted to update the flag to the correct number of stars and stripes,

[2015-04-03 15:02] designlanguage opened #303 "Graduation cap"
I'm reposting this here:

While I was helping @Dnpizarro  prepare a storyboard, the issue of the graduation cap came up. Because of it's angle, it can be difficult to work with at times. It's a bit tilted forward, and since our illustration style is either front facing or top down, the cap is not always harmonious with other illustrations. Here's the current version:

![07451f10-d91f-11e4-85ca-7b3

[2015-04-03 15:03] duelj commented on #143
#### Things we could leave open?

Two tweaks that I would propose we maintain as "designer discretion" would be:

• ability to remove the stroke between header and content in the expanded version. I think sometimes it makes sense to include but other times it doesn't help the hierarchy and adds visual clutter (on both grey and white versions).
![screen shot 2015-04-03 at 10 46 19 am](https://cloud

[2015-04-03 15:35] Dnpizarro commented on #302
I would agree with @designlanguage that having both versions of the flag (outdoor & indoor) would be good additions to our illustration library. I don't think that our rounded star is working as nicely as the pointed stars. I think that for this illustration we can be closer to the real thing, meaning sticking with the original pointed stars, versus making it look more illustrated.

[2015-04-03 15:37] Dnpizarro commented on #262
Moved this to the April sprint.

[2015-04-03 15:39] Dnpizarro commented on #269
Thanks for pushing this through @duelj ! Moving this to the April sprint.

[2015-04-03 15:43] Dnpizarro commented on #282
@Scotchester at this point do we need to open up a separate issue for the "API pulling all issues"?

[2015-04-03 16:03] ajbush commented on #302
Thanks for doing this @designlanguage I'm in need of these for something we're working on.

I'd vote to use the normal pointed stars as well.

[2015-04-03 16:09] Dnpizarro commented on #295
@stephanieosan I'm not clear on how the "left-hand rule on a sidebar" would work. Why wouldn't we want a rule on the right? Can you show some examples of that to clarify?

[2015-04-03 16:41] Dnpizarro commented on #285
To summarize the conversation, we've sighted several uses cases for how to position minicons in junction with links. Below is a summarized list (please feel free to add to this):
1. Contacts (Left align)
2. Links in lists (Right align)
3. Standalone links (Right align)
4. Inline links (Right align)

Moving forward, I think for the Design Manual's purposes I would echo the sentiments of the thread

[2015-04-03 20:00] elizbond commented on #300
Adding @klocraft

[2015-04-03 20:53] elizbond opened #304 "Process image"
![screen shot 2015-04-03 at 4 45 29 pm](https://cloud.githubusercontent.com/assets/6798337/6988699/ef04c988-da21-11e4-8040-a00e3f67a43e.png)

[2015-04-03 20:53] #304 closed

[2015-04-03 21:42] benguhin commented on #264
@schaferjh I agree that any exceptions should be clearly defined, and that the simplest way to achieve consistency is removing them.

Of the three you listed, I think the "hero spaces" exemption could be a good rule. This is a good question for the conversation that's starting up about hero standards: #301

@mebates any other areas where the arrows should be allowed?

[2015-04-03 23:07] nataliafitzgerald commented on #295
This sounds like a good solution and a good step towards greater 508 compliance!

[2015-04-06 18:39] duelj opened #305 "Blog minicons – updated labels"
The blog section is now live on [Beta](http://beta.consumerfinance.gov/blog/) with live content. In getting this section live and up on beta some of the category labels were updated to better reflect the types of content within the section. Some of the existing minicons in use no longer made sense for the revised labels so we went about sorting some new ones. Our hope was to use existing minicons

[2015-04-06 18:58] ajbush commented on #305
Some other things we considered before landing on the options Justin posted above include:

**For "At the Bureau":**
• a drop pin
• reusing the basic Blog minicon

**For "Policy & Compliance":**
• a government building

[2015-04-06 20:37] stephanieosan commented on #295
Hey @Dnpizarro I was mentioning the kind of sidebar like the one found on this page: http://www.consumerfinance.gov/owning-a-home/loan-options/special-loan-programs/

It's a pattern used in flapjack (like on the blog) and owning a home.

[2015-04-06 20:39] stephanieosan commented on #295
Is there anything else that needs to happen in order for this to be considered approved?

[2015-04-06 20:46] stephanieosan commented on #143
If we think the lines should be grey instead of black, that's fine with me, I do think that's more in line with our normal brand styling.

We were only using black lines because we got a file from AJ that used black lines for that type of table, so we thought we were matching the existing Flapjack pattern and code.

[2015-04-07 13:05] mebates commented on #305
These seem to fit to me! Nice work. Have to say that I prefer "Consumer Information" over "Info for Consumers".

[2015-04-07 14:45] Scotchester commented on #283
@benguhin Can you do something on that Gist to indicate which things are actual pages and which things are sections of content on a page?

Also, Stephanie left you a comment there. I don't think Gist comments send notifications.

[2015-04-07 15:13] duelj commented on #143
@stephanieosan - we had some inconsistency on our part with a black line version (not your fault) just thought it would be nice to have some freedom in that line coloring (who knows maybe we will have use cases for both). I think they work and look nice either way.

**Apart from the button question I raised above, is there anything else that we need to do to have this approved?** @nataliafitzgeral

[2015-04-07 15:14] duelj commented on #295
+1 on getting this approved, sounds good to me!
 @nataliafitzgerald, @elizbond, or @Dnpizarro  **— thoughts on getting us there?**

[2015-04-07 16:21] Scotchester commented on #282
@Dnpizarro I think we can continue to use this issue to track it. I don't see the need for another one.

[2015-04-07 16:26] elizbond commented on #295
Seems like @nataliafitzgerald has approved it. Do @JenniferHoran or @benguhin want to chime in? If not, consider it approved.

Next steps would be suggesting content edits to the manual itself and updating the web template.

FYI - this is already being put to use for the Practitioners landing page.

[2015-04-07 16:27] nataliafitzgerald commented on #305
For the "At the Bureau" category I am getting stuck on the @ symbol meaning more of an online location/having a specifically online meaning. @ajbush - Do we already have a drop pin designed and if so, could you post it? The megaphone says announcements so I would only use it if that is what we are intending for this category (if it is, then the megaphone is a quick read). Are we currently using th

[2015-04-07 16:28] elizbond commented on #143
Since this is UI, I think it needs @benguhin's official stamp of approval.

For publishing, @duelj can you put together the content for the expandables section of the manual?

[2015-04-07 16:45] duelj commented on #305
To answer @nataliafitzgerald the megaphone is also being used on newsroom currently for the "press release" category. I don't think it would cause any conflict for them both to use this icon but I too am in support of having a different one. Here's the list between both blog and newroom:
![screen shot 2015-04-07 at 12 44 17 pm](https://cloud.githubusercontent.com/assets/6873734/7028474/035a6082-dd

[2015-04-07 16:54] ajbush commented on #305
@nataliafitzgerald we worked on a drop pin way back but it was for the Find a Housing Counselor tool. It needed to be able to include a number so I think that was a special case. I'm sure @ohsk has a more current solution than that but here's a screenshot of the old one in use:

![screen shot 2015-04-07 at 12 38 22 pm](https://cloud.githubusercontent.com/assets/6931351/7028477/083846dc-dd24-11e4-8

[2015-04-07 17:12] schaferjh commented on #305
I liked the @ symbol but Natalia raises a good point -- the dropped pin is a decent alternative that I could see working.

[2015-04-07 17:14] duelj commented on #295
Yes I am happy to mock up a design to work it into the design manual will try to post here ASAP, thanks for the help @elizbond

[2015-04-07 17:15] duelj commented on #143
Yes I am happy to mock up a design to work it into the design manual will try to post here ASAP, thanks for the help @elizbond

[2015-04-07 17:19] duelj commented on #305
I would be on board with the drop pin as well if people think that is working better. I can see that speaking well to the type of announcements that are mentioned in the description even if it is a little physical location specific:

"At the CFPB: Bureau wide activities or announcements that is not related to a specific department. Examples of these blog post may be - New leadership hires, Ombudsm

[2015-04-07 18:51] Scotchester commented on #78
Yeah, this was done long ago. Sorry for the delayed response!

[2015-04-07 18:51] #78 closed

[2015-04-08 14:14] jenn-franklin commented on #281
To explore different aspects of this, I've used http://refresh.demo.cfpb.gov/doing-business-with-us/

![screen shot 2015-04-08 at 10 11 24 am](https://cloud.githubusercontent.com/assets/10562530/7047022/dcb1f576-ddd7-11e4-9253-954bb92a8966.png)

[2015-04-08 14:18] jenn-franklin commented on #281
<b>1. All elements on a page will become grayscale when printing.<b/>

![screen shot 2015-04-08 at 10 15 10 am](https://cloud.githubusercontent.com/assets/10562530/7047075/3381063a-ddd8-11e4-98ea-fcae4168d5f5.png)

This includes the cfpb logo in the header and footer as well as the lines, which I've changed to 50% black.

![screen shot 2015-04-08 at 10 17 14 am](https://cloud.githubusercontent.com

[2015-04-08 14:21] jenn-franklin commented on #281
<b> 2. Background colors will drop out.<b/>

So, in this case, the gray box:

![screen shot 2015-04-08 at 10 20 35 am](https://cloud.githubusercontent.com/assets/10562530/7047178/ed447d7c-ddd8-11e4-8887-5bd261638f3f.png)

Becomes this:

![screen shot 2015-04-08 at 10 21 03 am](https://cloud.githubusercontent.com/assets/10562530/7047191/ffe59d62-ddd8-11e4-92cd-9b1e99e45143.png)

[2015-04-08 14:23] jenn-franklin commented on #281
<b>3. Minicons will print (and become black).<b/>

![screen shot 2015-04-08 at 10 22 02 am](https://cloud.githubusercontent.com/assets/10562530/7047211/29a71cd4-ddd9-11e4-8cc3-b1de27457667.png)

![screen shot 2015-04-08 at 10 22 17 am](https://cloud.githubusercontent.com/assets/10562530/7047213/2cd3bc8c-ddd9-11e4-9096-d63ed44ac79d.png)

[2015-04-08 14:47] nataliafitzgerald commented on #143
I'm curious as to @benguhin's thoughts on the words "Show" "Hide" in the mobile view. It definitely looks less cluttered without these words but it sounds like there's an accessibility reasoning for including?

I far prefer the gray lines over the black. Rule lines should recede into the background and allow the type to hold its own. The black rule lines start to compete/crowd the text which is no

[2015-04-08 14:58] elizbond commented on #305
I think @mebates and @klocraft did an update to the drop pin for the mortgage toolkit.

[2015-04-08 14:59] elizbond commented on #305
Also, just scrolling through this quickly and the Speeches and Op-eds icons look very similar at the smaller level.

[2015-04-08 15:03] jenn-franklin commented on #281
<b>4. Link paths will appear.<b/>

A.) For pages within consumerfinance.gov, should these paths be relative?

![screen shot 2015-04-08 at 10 52 12 am](https://cloud.githubusercontent.com/assets/10562530/7047860/5ab2abaa-dddd-11e4-9063-7955d87fd530.png)

B.) Styling: Link text becomes Avenir Next Regular, black and with a solid underline. Link path appears directly next to/under link text in parent

[2015-04-08 15:05] duelj commented on #305
@elizbond – I think that is something we can take note of for down the road but there was a lengthy discussion to get those approved and I don't think that is something we are looking at readdressing at this point. That issue can be found [here](https://github.com/cfpb/design-manual/issues/166)

[2015-04-08 15:07] jenn-franklin commented on #281
<b>6. All gray separator lines will print.<b/>

![screen shot 2015-04-08 at 11 06 31 am](https://cloud.githubusercontent.com/assets/10562530/7048181/57df8946-dddf-11e4-98de-d4b3919190f4.png)

[2015-04-08 15:10] Scotchester commented on #281
I think we should ask the question of whether things like navigation and social media links should be printed at all. Most likely, that stuff is useless to the person who wants to have a printed version of the page.

[2015-04-08 15:13] klocraft commented on #305
Here's the drop pin we used for the mortgage booklet.

![screen shot 2015-04-08 at 11 13 01 am](https://cloud.githubusercontent.com/assets/8646678/7048302/3fc53cb0-dde0-11e4-9ad4-df5b4a6b55a9.png)

[2015-04-08 15:19] jenn-franklin commented on #281
That's a good thought. Perhaps the print header/footer just include our logo, phone number and email--- or some other very basic identifying elements.

[2015-04-08 15:30] jenn-franklin commented on #281
Page view with basic header and footer info and no navigation. Also no side nav, which, if we drop, we might want to contemplate if that changes anything with the spacing/margins of the printed page.

![screen shot 2015-04-08 at 11 24 48 am](https://cloud.githubusercontent.com/assets/10562530/7048677/7531c57e-dde2-11e4-8668-bc187734551a.png)

[2015-04-08 15:51] schaferjh commented on #281
Hmmm, dropping the side nav may drop important contextual information. Not in _all_ cases but definitely in some. I would be wary of dropping that all together. (Though taking the link paths out for that side nav makes sense.)

I like the look of dropping the header and footer though. Interesting exploration!

[2015-04-08 15:54] Scotchester commented on #281
@schaferjh I did have that thought, too.

I haven't followed your breadcrumb discussions super closely, but would that proposal provide enough of that contextual information, if those were printed (without the link paths)?

[2015-04-08 16:28] duelj commented on #305
I think I like the simplified version AJ was showing as the shape seems easier to distinguish at small sizes. I tried a version closer to what @klocraft shared but tried to optimize it for the smaller use cases of minicons. I tried to simplify the transition between the circle and pointed bottom as the transition above did not translate well for the smaller size. Also, I made the star larger in th

[2015-04-08 16:39] schaferjh commented on #281
No, the breadcrumb only shows the path to the page, not the sibling or children pages. So in the example Jen is using above, the breadcrumb alone wouldn't inform people that there is further information available around future requests, active requests and small businesses.

Depending on why someone has  printed out the page, this could be important info. (Again, not on every page but on enough of

[2015-04-09 16:11] designlanguage commented on #301
I know this is a more general discussion about how hero images are used, but I wanted to comment specifically about the Owning a Home hero. Typically we show things front facing or top down, but Owning a Home has a slight 3D element in it that gives a sense of depth. I like this, but if we stay with something like this, the extruded part of door handle should be flipped to the left side.

Here's t

[2015-04-09 16:36] Scotchester commented on #301
George, I'm in awe of the work you put into this, but... does it change things if the door is being pushed _in_? Most front doors open into the house.

[2015-04-09 16:47] designlanguage commented on #301
Thanks Scott. Sure, that's a factor, but if the door were open to the amount that you would see the right side of the handle, there would be a very large black opening in the hero. With the door ajar, the angle of the door and the siding should be about the same. And it would definitely apply to the version @nataliafitzgerald shows above with the closed door.

[2015-04-09 16:57] jimmynotjim commented on #301
Just a note on the siding, it's looking more like mini-blinds. Beveled siding doesn't have nearly that much pitch. Here's an example of how it's installed
![siding installation](http://www.onlinetips.org/wp-content/uploads/bevel-wood-siding.jpg)

and an illustration that more closely matches the iso-metric style

![isometric example](http://static.ddmcdn.com/gif/how-to-paint-a-house-1.jpg)

[2015-04-09 17:01] designlanguage commented on #301
Also, @Scotchester, if the door was pushed in more than just being ajar, there would probably need to be a shadow cast onto it from the door frame.

[2015-04-09 17:21] designlanguage commented on #301
@jimmynotjim - Yeah, my comps were super rough and only meant to show the basic idea. I think the siding looks good in the original.

[2015-04-09 18:01] elizbond commented on #283
I just had the most exciting meeting with some CEE folks. Spanish and Chinese glossaries are in the works. Think the last couple of pages of the English editorial style guide, commonly used phrases and words with their proper translations.

Could we add the glossaries as sub-pages to the Editorial Style Guide? They would need to be downloadable.

I think the first hurdle is going to be getting the

[2015-04-09 18:06] ajbush commented on #305
We are looking at wrapping up this issue and will be sharing this during today's working session (04/09/15).

Here's the simplified drop pin at 40 px and 16 px.

![ddd](https://cloud.githubusercontent.com/assets/6931351/7073421/69d92caa-dec1-11e4-956a-7597c5d3df13.png)

[2015-04-09 18:16] ajbush commented on #301
Hey @designlanguage I made the original door way back. I think @stephanieosan and @mebates have iterated on it though. Maybe reach out to them for their latest source files this may be a quick fix if you have the time to address it.

[2015-04-09 18:24] schaferjh commented on #305
Very nice. Let's use it!

[2015-04-09 18:28] anselmbradford opened #306 "Palette section links to deprecated codebase"
[View code](https://github.com/cfpb/design-manual/blob/b55592ed738a5b04920ea61796f180d3f0deb2cc/identity/color-principles.md#paletteview-code-) https://cfpb.github.io/design-manual/identity/color-principles.html#palette links to https://github.com/cfpb/cf-colors, which appears to have been deprecated.

[2015-04-09 18:31] elizbond opened #307 "Adding the Spanish and Chinese glossaries to the Design Manual"
Jumping off of issue #283

@jameshupp and @harrisqureshi what can we do to get the editorial style guide added to the Design Manual? I know it's going through a few updates now but we think it makes sense to host with the brand so the Design Manual acts as a "one stop shop." I had a meeting today with Carmen Cruz and Cassandra Tatum about adding the Spanish and Chinese glossaries to the Design Man

[2015-04-09 18:37] juidai commented on #305
I like the pointed tip and the circle inside the pin works better. I think the star is too distracting. Tend to overlook the pin and focus on the star.

Otherwise, I think using pin also works.

[2015-04-09 18:38] duelj commented on #305
+1 to moving forward with AJ's pin and the building

[2015-04-09 18:40] designlanguage commented on #301
Hey @ajbush - Yeah, it should just be a small adjustment. Thanks, I'll reach out.

[2015-04-09 19:31] anselmbradford commented on #305
**Don't feel like this comment has to hold anything up**, but first thing I saw with the pin in the circle is a rotated eyeball with eyelids, but maybe that's just me.

![screen shot 2015-04-09 at 3 12 47 pm](https://cloud.githubusercontent.com/assets/704760/7074916/0af78780-decc-11e4-8752-0095a69ad115.png)

Just wonder if moving the pin down slightly within the circle could help against this imag

[2015-04-09 20:21] nataliafitzgerald commented on #296
@stephanieosan -
1. I would love to establish standard sizes for this. No need to reinvent the wheel each time. So, YES, to your first question.
2. I think what happens at breakpoints would depend on whether we are talking about the hero illustration, circle illustrations, non-circle illustrations, etc. but setting standards would be a good thing.
3. With regards to illustrations, I prefer keeping

[2015-04-09 20:39] ajbush commented on #305
**Feedback from today's Design Working session:**
- Everyone seemed cool with moving forward with the drop pin for "At the Bureau" and the building minicon for "Policy & Compliance".

We'll still need to add the drop pin to the minicon font and Design Manual.

[2015-04-09 20:53] stephanieosan commented on #301
I'm excited for some hero standards! It's like the wild west!

So, @nataliafitzgerald and I were talking, and she threw out 350-375px as a nice hero height. Owning a Home right now is using the (very random) 250px, which I agree is too short. We even have trouble fitting in enough copy at that height, sometimes.

We're using a "secondary" hero style for our Rate Checker page, which Natalia screens

[2015-04-09 20:53] klocraft commented on #301
Great points about the current illustration, but we've wandered a bit off topic for this issue. I think we need to focus on creating a standard and hierarchy for all our hero images to follow. We shouldn't be critiquing them them individually, but as a collection that presents a unified voice from page to page.

I am less familiar with all the use cases each team is working with. But it seems like

[2015-04-09 21:03] stephanieosan commented on #301
It would be nice to include standards about how these convert to mobile as well.

Some of that conversation is going on over here: https://github.com/cfpb/design-manual/issues/296#issuecomment-91346546

[2015-04-09 21:04] klocraft commented on #301
Ahh @stephanieosan you beat me to the punch, but with much more useful information :)

[2015-04-09 21:07] stephanieosan commented on #296
I like the hero image popping below the text in your first example.

Right now our rate checker page removes the image entirely on mobile:

| Mobile | Desktop |
| --- | --- |
| ![screen shot 2015-04-09 at 5 05 27 pm](https://cloud.githubusercontent.com/assets/6433178/7076895/af4303d8-deda-11e4-9a1e-3645f6653611.png) | ![screen shot 2015-04-09 at 5 05 33 pm](https://cloud.githubusercontent.com/asse

[2015-04-09 21:49] benguhin commented on #295
I think this is great!

[2015-04-09 22:03] nataliafitzgerald commented on #296
On the CFPB identity page we are using single object illustrations. At the mobile size the illustration is centered and the type is aligned left.

| Mobile |
| --- |
| ![screen shot 2015-04-09 at 5 56 01 pm](https://cloud.githubusercontent.com/assets/6887128/7077803/ff97f3f0-dee1-11e4-85da-cefd9e18f6c9.png) |

| Desktop |
| --- |
| ![screen shot 2015-04-09 at 5 41 52 pm](https://cloud.githubuserco

[2015-04-09 22:07] juidai commented on #305
now 'eye ball' is all i can see.

[2015-04-10 20:31] Scotchester commented on #127
Bump. I'm implementing this on the landing page I'm working on now to make it as accessible as can be. I went a slightly different route than @davidakennedy to avoid shifting the page content down when tabbing to the skip link. Here's what I've got:

![screen shot 2015-04-10 at 16 25 28](https://cloud.githubusercontent.com/assets/1044670/7096867/fa1d7d92-df9e-11e4-947e-ec2dbef015ea.png)

Any feedb

[2015-04-13 15:40] nataliafitzgerald opened #308 "Swap out illustration on Design Manual landing page"
This is not a top priority but we should swap in a new image for the Design Manual landing page. The black minicon on the green background goes contrary to our Design Manual. On our web and print offerings we do not show black minicons on the brand green background. And, since minicons typically appear in line with text I view them as text/type elements for all intents and purposes. The illustrati

[2015-04-13 15:43] Scotchester commented on #308
Related: #275

[2015-04-13 21:54] mebates commented on #308
@nataliafitzgerald I'm going to close this, since we're already talking about it in #275!

[2015-04-13 21:54] #308 closed

[2015-04-14 16:49] nataliafitzgerald commented on #305
I am also seeing the eye ball face a lot now but the pin with the circle is a nice solution. Looks great!

Did you try out any of the potential adjustments mentioned by @anselmbradford for the "Policy & compliance" minicon? I agree that at the smaller size the extra step may not be needed or a slant could work. But, I don't know how this would read at the larger minicon sizes.

[2015-04-14 16:56] duelj commented on #305
@nataliafitzgerald  @Dnpizarro
Since the building is already an approved minicon in the font is this an issue that we need to address here or should the be another issue added to the design manual for down the road? I think we could move forward knowing using the building will work with the policy & compliance label, does that sound right?

[2015-04-14 16:57] ajbush commented on #305
Ok great...I'll let Daniel know you were cool with the drop pin.

Wondering if the building issue is separate though?

[2015-04-14 17:06] nataliafitzgerald commented on #305
Pin approved.

[2015-04-14 17:07] nataliafitzgerald commented on #305
The building issue should be documented for backlog in the design manual. @ajbush - Can you add it and we can discuss it there?

[2015-04-14 18:40] duelj commented on #143
Below is my proposal for the updated design manual page for expandables, it includes new sections, examples and content. Not sure if all the sections or examples are necessary but I tried to reorganize so that it was as efficient as possible. Could use feedback from design and UX if this documentation makes sense.

@nataliafitzgerald @benguhin

![dm_expandables_v1](https://cloud.githubusercontent.

[2015-04-14 18:59] JenniferHoran commented on #143
I know that someone has probably already checked this box, but for Section 508 can we please ensure that the expandable links are tagged to show both current status (expanded/collapsed) and given a unique naming convention that ties them clearly to the section of content to which they belong? Otherwise a screenreader user (for example) will only hear "hide hide hide show show hide show show hide..

[2015-04-14 19:02] JenniferHoran commented on #127
http://www.access-board.gov/guidelines-and-standards/communications-and-it/about-the-section-508-standards/section-508-standards#subpart_b

In case anyone is wondering where this requirement is located in the 508 Standards:
Subpart B — Technical Standards
§ 1194.22   Web-based intranet and internet information and applications.
(o) A method shall be provided that permits users to skip repetitive n

[2015-04-14 19:08] duelj commented on #143
@JenniferHoran great thoughts! I am not sure how or if this is currently documented in the design manual but it seems like it should be. I am open to any thoughts people ave about how/where to include this accessibility documentation in the design manual.

_My initial impression is it could be additional content for the "use" section._

[2015-04-14 19:12] JenniferHoran commented on #143
Thank you! This is a very common problem with expandable sections, they all need to be tagged for 508 so that the assistive technology user knows where they are and what they are doing in relation to the content.

[2015-04-15 15:18] Dnpizarro commented on #143
@nataliafitzgerald @benguhin we are looking for approval on @duelj proposal for an updated Design Manual page for expandables.

Thanks @Scotchester for looking into the accessibility issue!

[2015-04-15 15:23] Scotchester commented on #143
@JenniferHoran @duelj I will investigate the accessibility of these as soon as I can. Thanks for bringing it up!

[2015-04-15 18:00] JenniferHoran commented on #143
Thanks all!

[2015-04-15 19:25] anselmbradford opened #309 "Add secondary button states"
http://cfpb.github.io/design-manual/ui-toolkit/buttons.html lists the primary button states (hover, active, disabled), but doesn't list the states of the secondary button, beyond the normal state.

[2015-04-15 20:04] JenniferHoran commented on #309
This would also be important for 508.

[2015-04-15 20:32] efortiz commented on #143
@Scotchester re: accessibility/508 compliance for any item; you can provide the proper role(s) via wai-aria and assign a hidden label to the field/action itself to reflect the full action "expand [title]" or "collapse [title]" this would meet WCAG 2.0 Level AA as well as 508 – while you're at it, ensure that the call to action includes the image as well, so that when the user tabs (with assistive

[2015-04-15 20:33] JenniferHoran commented on #143
Awesome!

[2015-04-15 20:59] duelj commented on #143
The ghost of Eduardo! Thanks @efortiz sounds like some pretty comprehensive insight!

Also, after talking with Daniel today it sounds like we should look to move forward with the design manual layout of this here and the FEWDs can open another task if needed to resolve the accessibility questions raised by @JenniferHoran. The expandable design updates have been approved (from my understanding) but

[2015-04-16 18:30] efortiz commented on #143
@duelj my pleasure - glad to see y'all still making awesome stuff!

[2015-04-17 18:08] nataliafitzgerald commented on #220
@Dnpizarro I am realizing that this was never approved. Did we still want to adjust the line pattern of one of these?

[2015-04-22 14:55] ajbush commented on #305
**Quick update regarding the minicon for "At the Bureau".**

After checking in with Audrey at our Sprint review yesterday she pointed out that there might be confusion with using the drop pin for "At the Bureau" since all of the posts that fall under this category may not happen physically at the Bureau.

**Just to reiterate the "At the Bureau" category will include:**

**So, in the meeting she su

[2015-04-22 14:55] #305 closed

[2015-04-23 17:29] Scotchester opened #311 "Documentation for contributing content"
Needing to be documented:

- [ ] How to fork the manual and use Prose to make updates, then submit pull requests.
- [ ] How to keep one's fork up-to-date.
- [ ] Adding images.

[2015-04-23 17:31] Scotchester commented on #311
Thoughts on where this documentation should live? The README is pretty stuffed to the gills already.

[2015-04-23 17:32] ohsk commented on #311
How to keep one's fork up-to-date, according to @ascott1!
https://github.com/cfpb/design-manual/wiki/Merging-your-fork-upstream

[2015-04-23 17:56] mebates commented on #262
Steps to close out this issue:
- [ ] Add to the Design Manual
- [x] Update Capital Framework
- [x] Update .ai template(s) to reflect new standard

[2015-04-23 18:32] duelj commented on #302
I would advocate for keeping the standard star version as the rounded star seems to get kinda "muddy" if the flag is housed in a 200px circle (like it is used on the you have a right page). This was a screenshot taken at actual size on citrix (which views at the lower resolution). I think not having the rounded corners on all the stars might make for a crisper image.

![screen shot 2015-04-23 at 2

[2015-04-23 18:33] mebates commented on #262
I've updated the cf.gov refresh template on Drive with this change. It is dated 042315. The new character style is called "hyperlink (in paragraph)" for the regular weight avenir links in the paragraph.

[2015-04-23 18:35] nataliafitzgerald commented on #302
@duelj - Could you post what the current flag illustration looks like when viewed through Citrix - for comparison? Regardless of where we land on the star style, we will still require the update to the number of stars and stripes.

[2015-04-23 18:36] schaferjh commented on #281
Discussion during 4/23 design manual working session with @huetingj and @Dnpizarro:
- We like displaying the link information in body content (email or full URL), but leave any navigation/menu links as straight text, no relative links showing.
- We like the idea of providing some contrast between the link text and displayed URL, per @huetingj's example above where she made the link text demi bold.

[2015-04-23 18:37] mebates commented on #273
I've updated the cf.gov refresh template on Drive with this change. It is dated 042315. The new paragraph style is called 'subheader'.

All that remains to finish this issue is @Scotchester's help on updating Capital Framework and subsequently the Design Manual with the new standard. There is an open PR on this topic: https://github.com/cfpb/design-manual/pull/310

[2015-04-23 18:43] duelj commented on #302
@nataliafitzgerald I don't have an image of your flag illustration with the correct number of stripes and stars in a format without the rounded stars so I'm afraid I can't share that. But I agree it would be nice to see. I just took a screen shot of the current illustration at http://www.consumerfinance.gov/you-have-the-right/

[2015-04-23 18:52] duelj commented on #301
Here is a post summarizing the thinking that FJ has **so far** around hero type and styles. This is based around our current use cases for the types of content and use cases we have in the About Us section and will influence our thinking as we move forward into other sections of the refresh.

GH issue post can be found [here](https://github.cfpb.gov/design-ops/CEE-projects/issues/18#issuecomment-4

[2015-04-23 18:53] elizbond commented on #298
Done!

[2015-04-23 18:53] #298 closed

[2015-04-23 18:54] Dnpizarro commented on #289
@designlanguage can you let us know how the larger font is working out for some of your Older American materials?

[2015-04-23 18:54] duelj commented on #295
@JenniferHoran if you are on board with the updates we have made in this issue can you give us your A-OK and remove the 508 label on the issue to confirm approval?

[2015-04-23 18:59] mebates commented on #262
@Scotchester, what will we need to do to the Capital Framework to include this standard?

[2015-04-23 19:01] mebates commented on #127
So, when does that link appear? Only when you hit tab for the first time?

[2015-04-23 19:07] klocraft commented on #276
### Identifying why and when we use isocons vs. illustrations on Handouts:

Tone has been the main factor when deciding between an isocon or an illustration.

If the tone is more serious or pragmatic, isocons fit nicely. If the tone is friendlier, or trying to create a sense of welcoming/belonging, illustrations feel more appropriate.

### Size of isocons

@mebates  brings up a good point. In addi

[2015-04-23 19:09] nataliafitzgerald commented on #268
@klocraft - Approving the new size for Header 2 (26/28). This will need to be updated in all Design templates as well as in the content of the Design Manual. Thanks Kim!

[2015-04-23 19:13] klocraft commented on #268
Ahh, a great chance to test out my "how to update" notes. Expect great things!

[2015-04-23 19:14] duelj commented on #277
It seems like on the web we have currently been using minicons at the same font size as the corresponding labels. @Scotchester does this seem right?

If this is the case it seems like it would create a lot of extra code to have just the one character of the minicon font be a different size than the text next to it (I do not know if this is actually the case but would love to hear some FEWd perspec

[2015-04-23 19:30] klocraft commented on #277
From the conversations I have been hearing, @duelj is correct. In most cases the minicons follow the size of the font they are accompanying. Depending on feedback from more FEWD folks, updating the manual makes sense.

I will continue to explore minicons for print and providing more concise standards suggestions, if needed.

[2015-04-23 20:26] designlanguage commented on #303
@nataliafitzgerald, @ajbush, and I worked more on the graduation cap and here are the iterations leading to the version we feel best about.

This is where we left off previously:
![screen shot 2015-04-23 at 3 19 48 pm](https://cloud.githubusercontent.com/assets/10562544/7305893/747834d0-e9cf-11e4-8456-455066c21ff0.png)

Since grad caps are generally tilted up at the front (at least when worn), we

[2015-04-23 20:45] keelerr commented on #262
@mebates, I'm working to show how this change would be reflected in the text of the design manual.

[2015-04-23 21:47] nataliafitzgerald commented on #303
@designlanguage - Thanks for documenting your process. I'm actually liking both of the last two options. In the second to last option, you don't include the little piece of tassel string on top of the hat like you do in the last.

I went ahead and tried this out in new identity page (since we're using the grad cap there). One thing I wonder is whether we would want to go any taller with the hat pa

[2015-04-24 13:37] designlanguage commented on #303
@nataliafitzgerald - Here are the two options revised. I made the hats a bit taller, as well as slightly increasing the angle of the tilt. That should help fill the space better. I also brought the grays back to our palette and increased the contrast of the grays a bit. Of the two, I prefer the one on the right. The tassel feels more defined and the detail in the one on the left can get a little l

[2015-04-24 14:00] ajbush commented on #303
These look really nice @designlanguage!

I kinda prefer the tassel on the left but both are nice. Maybe adding that 45° shadow beneath the knot would help it pop.

I wonder how it would look if the thickness of the top/square part of the cap was about half the thickness/height it is now? Maybe the corners could be more pointed like somewhere between where you landed here and your very [first post]

[2015-04-24 14:24] designlanguage commented on #303
Thanks @ajbush!

Yeah, a shadow on the complex tassel definitely helps. Also here are three cap thicknesses. I agree that the thinner (middle) version feels better. I also wanted to compare a flat brim like the old grad cap just to test it. Not a fan of that one.

![screen shot 2015-04-24 at 10 19 23 am](https://cloud.githubusercontent.com/assets/10562544/7320653/f114fad6-ea6b-11e4-81d9-70171dbb97

[2015-04-24 15:43] Scotchester commented on #311
Ok, we have a start on this!

https://github.com/cfpb/design-manual/wiki/Content-editing-for-non-coders

[2015-04-24 19:26] nataliafitzgerald commented on #303
@designlanguage - I like the second option. This one:

![screen shot 2015-04-24 at 3 22 21 pm](https://cloud.githubusercontent.com/assets/6887128/7326753/bda9010e-ea95-11e4-84b6-473fa188f6ea.png)
Unless there are any further necessary adjustments, this is approved.

In order to add it to the illustration library, you will need to create an RGB file and a CMYK file. I made a folder for this here: h

[2015-04-27 13:58] JenniferHoran commented on #295
We would always be using bold black text on the grey backgrounds? I'm perfectly fine with this as long as we maintain a contrast ratio of 4.5:1 for normal text and 3:1 for large text. Consistency is great for 508!

[2015-04-27 14:38] designlanguage commented on #303
Thanks @nataliafitzgerald. Both the CMYK and the RGB versions have been uploaded.

[2015-04-27 15:04] duelj commented on #295
@JenniferHoran Or original goal was to update the grey background color to a shade that would allow us to use our blue standard link style and still be accessible. There would also be cases for using black on the grey background in various levels of our type hierarchy. Below is a screenshot from the [accessibility checker](http://accessibility.oit.ncsu.edu/tools/color-contrast/accessible-color-pal

[2015-04-27 16:23] JenniferHoran commented on #295
Great - as long as we meet the contrast ratio and are consisitant. Thank you!

[2015-04-27 16:25] JenniferHoran commented on #295
I'm new to Github so not sure how to approve/remove the 508 tag off this issue, thanks!

[2015-04-27 16:28] Scotchester commented on #295
@JenniferHoran You didn't have the permissions to be able to do that yet. Sorry! You should now see a gear menu next to the **Labels** heading near the top-right of this issue. (You may need to refresh the page.) Click that, then click the 'x' icon next to the 508 label.

[2015-04-27 16:33] JenniferHoran commented on #295
Great, thank you!

[2015-04-27 19:48] nataliafitzgerald commented on #303
@designlanguage - These look great!

Make sure you add the date to all files that are uploaded to our templates. The file naming conventions for templates can be found here (under Brand 2.0):  https://[GHE]/design-ops/team/wiki/Folder-and-file-naming-conventions.

It looks as though our other illustration files are all missing the "cfpb_" All our other templates include this, though. So, we should

[2015-04-27 19:50] nataliafitzgerald commented on #297
If Medium is rendered differently do we have a way to test out these two options (Medium versus Demi-Bold) in browser in order to make a call? If we're going based on Ai. I prefer the Regular.

[2015-04-27 19:56] nataliafitzgerald commented on #141
@elizbond - I looked at the Design Manual and the thing is that I don't know where this could live in the current structure. As it stands, minicons, isocons, and illustrations are all in their own section. So there isn't a place to talk about the system as a whole. This also brings up the fact that we now have additional tier 2 imagery in the form of circle illustrations and illustrations outside

[2015-04-27 19:57] nataliafitzgerald commented on #284
It feels like this content may one day have a place in the editorial style guide. For now, there is not a clear next step.

[2015-04-27 20:02] ReedOKelly commented on #303
@designlanguage - I agree, this is great work.
@nataliafitzgerald - With regards to the names, I only changed the dates. When I updated the files, they did not have the "cfpb_" prefix, and I may not have been aware at the time that it should be added. I should be able to remedy this soon. Let me know if there are any other changes that should be implemented while I'm at it.

[2015-04-27 20:15] designlanguage commented on #303
Thanks @nataliafitzgerald and @ReedOKelly! The dates were already added to the filenames, but I added an underscore between GradCap and the color mode.

[2015-04-27 20:21] nataliafitzgerald commented on #303
@ReedOKelly - As a general rule for illustration file naming (only), I am fine with omitting the cfpb_ since these illustrations are links/a part of a file rather than full files. Let's go ahead and make sure to use sentence case, however, for overall consistency with our naming conventions.

@designlanguage - Yes, I added the dates earlier today. And I went ahead and changed this one to sentence