[2015-04-27 21:55] elizbond commented on #141
Maybe it's something to propose in the [updated IA](https://github.com/cfpb/design-manual/issues/283)

[2015-04-28 13:20] caheberer commented on #297
I agree that I like the Regular when seen in AI. The spacing between the header and the paragraph provide enough separation for the hierarchy to make sense.

[2015-04-28 19:43] ohsk opened #313 "Typography page: anchor link error"
The Web Accessibility anchor link isn't correctly matching the section id.
http://cfpb.github.io/design-manual/identity/typography.html#web-type-accessibility

Section:
```<h2 id="type-accessibility">Type accessibility</h2>```

[2015-04-28 19:51] Scotchester commented on #313
Oops :flushed: That's my fault for an insufficient code review of #312.

[2015-04-28 23:27] benguhin commented on #143
Two questions:
1. Do we need option to have the stroke on the left and right of the expandable? At smaller screen resolutions, I think the having the stroke on all four sides makes it look less expand-able and more like an inset text box.
2. Like @nataliafitzgerald I prefer the gray stroke, and I don't think we need to include the option for black. Is there a usecase that you've noticed where gray

[2015-04-30 16:51] Scotchester commented on #311
Anyone have a chance to look at this yet? Let me know if it is easy to follow, or if you have any questions I didn't address in it. (Note: Some work still needs to be done, as evidenced by the unchecked items in the OP.)

[2015-04-30 20:14] Dnpizarro commented on #303
Since we don't actually showcase our illustration library on the Design Manual we won't have to update the actual page. So we can go ahead and close this issue out.

[2015-04-30 20:14] #303 closed

[2015-05-01 16:17] duelj commented on #143
@benguhin  I think most of this sounds great. But I do have some thoughts around the questions you raised.

**1) Do we need option to have the stroke on the left and right of the expandable?**

I think we should keep this option as I can't see any reason it would hurt to have this as part of the guidelines either. FJ had just been tweaking our filter style based on user testing and have been tryin

[2015-05-04 13:24] jenn-franklin commented on #281
Here are a few ways the links could be styled.
1. Link text is demi-bold
   ![demibold](https://cloud.githubusercontent.com/assets/10562530/7454133/d77b9758-f23e-11e4-80b1-583013607e67.png)
2. Link text is medium
   ![medium](https://cloud.githubusercontent.com/assets/10562530/7454139/ecda03a0-f23e-11e4-8391-ae7b653c90bf.png)
3. Link text is regular and URL is dark grey
   ![regulargray](https://c

[2015-05-04 14:36] Dnpizarro commented on #281
@huetingj it helps to see the various options for the links. I like your solution for the url, I feel the dark grey gives enough of that distinction that we were looking for. My tendency is to lean towards option 3 since it stays inline with our our link standard. However, I also like option 4. @schaferjh how are you feeling about the new options?

[2015-05-04 14:47] schaferjh commented on #281
Nice. I agree that I like using the dark gray for the URL text. Both 3 and 4 work for me, so if 3 is more in line with our current standard, I say let's go in that direction.

[2015-05-04 15:25] benguhin commented on #294
I think they should load in the same window, with two assumptions:
1. If a user _wants_ the link to open in a new window, they will be fully capable of making that happen for themselves
2. If a user just wants to see the thing, they don't want it to open in a new window

Additionally, I've heard that older users and other folks who don't use the web very often get confused when links open in new w

[2015-05-04 15:46] benguhin commented on #143
@duelj the filter expandable is a good example – having it boxed does separate it nicely from the list of results below it.

For the striped example, removing the strokes probably removes too much contrast, so it might be best to leave that option out. @JenniferHoran is that true?

For gray vs black, my concern is that we'll eventually end up with both styles being used on the same page, which wil

[2015-05-04 15:57] Dnpizarro commented on #295
Looks like we have full approval from all the necessary parties. @duelj could you update the section below within our typography tab to include the blue link style on the 5% grey background.

![screen shot 2015-05-04 at 11 51 30 am](https://cloud.githubusercontent.com/assets/6852363/7456638/021fa016-f254-11e4-824e-f2bd2435d83b.png)

[2015-05-04 16:11] Dnpizarro commented on #302
@designlanguage are you working on the updated file with the correct number of stars? @duelj not sure if it was you that created the draping flag version in George's first post, but if so could you share that file with him so that he can update that version as well.

@nataliafitzgerald do you have any further thoughts on the star styling (pointed vs rounded)?

[2015-05-04 16:32] Dnpizarro commented on #297
+1 on the Regular.

[2015-05-04 16:39] JenniferHoran commented on #294
It is great to make it clear where to click/select to open in a new window or download the PDF, often when you use assistive technology it can get funky trying to navigate a PDF in a browser and the PDF does better in its native environment, so you want to be able to download it and save it somewhere on your computer. Advanced AT users know this. I don't want to confuse older users and those who d

[2015-05-04 17:11] Dnpizarro commented on #294
Can we add this to the links page in the Design Manual. @benguhin can you work on a mock up of this?

[2015-05-04 17:12] JenniferHoran commented on #294
I have my JAWS installed now FYIs so I can test for focus!

[2015-05-04 17:13] duelj commented on #295
After the design manual meeting it sounds like a combination showing the pacific blue on the 5% grey needs to be shown in the example above from the design manual. I will try to do this myself and will update this issue once I have it included on the DM website. If any FEWDs have time to do this or can help please contact me.

[2015-05-04 17:17] Dnpizarro commented on #277
@klocraft will work on posting a mock up of the updated page.

[2015-05-04 17:55] duelj commented on #311
#### IN reference to keeping your fork up to date:

Do we need to clone our fork locally in order to be able to "merge upstream" from terminal?

[2015-05-04 19:05] duelj commented on #302
@Dnpizarro  Just sent some flag files to @designlanguage which contains the draping version.

[2015-05-04 19:06] duelj commented on #295
Tried making the updates on the design manual but didn't get all the way. Waiting on help, reached out to @Scotchester and CC'd @Dnpizarro

[2015-05-04 19:09] duelj commented on #143
@benguhin I don't that we need to explicitly outline the striped version, I was more trying to make an example of how being to prescriptive in the design manual, not only makes things exceedingly complex but may eliminate some freedom that creates helpful use cases.

[2015-05-04 19:19] Dnpizarro opened #314 "Add Events package to Design Assets"
The Events Package for External Affairs was recently completed. I will be adding all of the associated files to our design assets folder.

![screen shot 2015-05-04 at 3 18 33 pm](https://cloud.githubusercontent.com/assets/6852363/7460420/e6bd42e8-f270-11e4-8e35-88aa572676cf.png)

[2015-05-04 19:31] Dnpizarro commented on #302
Thanks @duelj for forwarding those files.

[2015-05-04 19:40] Dnpizarro commented on #314
The Events Package was added to our "Templates" library under "Print."

[2015-05-04 19:41] #314 closed

[2015-05-04 19:50] Dnpizarro commented on #141
I agree with @elizbond , it would have to be something to add to the new Information Architecture. As it currently exist, your right @nataliafitzgerald there really isn't anywhere in the Design Manual where we can explain that system clearly.

[2015-05-05 14:57] klocraft commented on #277
## Web mock-up r1

Please let me know if there are minicon sizes you know shouldn't be used. Example, does the display text ever use minicons?

Are there best practices that should be included here? Any set spacing between minicons and text?

I will edit design once text is finalized. Thank you for feedback!

![screen shot 2015-05-05 at 10 56 30 am](https://cloud.githubusercontent.com/assets/86466

[2015-05-05 15:00] designlanguage commented on #302
The reason we wanted to try a flag with rounded stars is because many of the details in our other illustrations are rounded. Here's just a sampling:

![screen shot 2015-05-05 at 9 55 35 am](https://cloud.githubusercontent.com/assets/10562544/7474140/6633fec6-f30d-11e4-88cc-68c4f04cec9c.png)

The calculator buttons and screen are rounded, so is text on the cellphone and dog tags; the dollar sign on

[2015-05-05 15:49] duelj commented on #302
Yea, rad. If everyone likes the rounded corners that's cool, figured not everyone is blessed by the retina displays like we are and thought the hard edges would render better. In your low res examples I think the rounded stars might actually view better at smaller sizes, the pixel hinting seems to make larger white shapes which seems helpful.

[2015-05-05 16:08] Dnpizarro commented on #302
@designlanguage I see your point about the sharp edges and I think the in between version works much better. @duelj made an interesting observation about the rounded stars rendering better, but I'm still leaning towards the in between version since at larger scales the viewer will pay more attention to details.

[2015-05-05 19:06] designlanguage commented on #302
Thanks @duelj & @Dnpizarro. Any other thoughts on rounded vs pointed? @nataliafitzgerald - What do you think?

[2015-05-06 13:50] duelj commented on #143
Sounds like we are super close on wrapping this up and wanted to see if anyone else had thoughts on what specifics we should include in the design manual guidelines. @Dnpizarro @nataliafitzgerald

#### These were the areas I was thinking we pull back on the specifics of to allow more freedom:

**_Revert back to allowing strokes, top, bottom, both, or all around (maybe different wording) and mentio

[2015-05-07 16:07] sonnakim commented on #281
Nicholas Johnson (sorry, can't find his github handle!) found a government URL shortener: https://go.usa.gov.

Shortened URL example:
before: http://build.consumerfinance.gov/owning-a-home/loan-comparison
after: http://go.usa.gov/3K6Ue

Authentication occurs by signing up with a government email address, and the URLs never expire.

Any considerations or issues before I use these for my printable P

[2015-05-07 18:59] mebates commented on #311
Love this documentation. Thanks @Scotchester !

[2015-05-07 19:03] mebates commented on #294
The two PDF resources in Owning a Home currently open in the same window. Just FYI for anyone who wants to play with it! http://www.consumerfinance.gov/owning-a-home

[2015-05-07 19:07] mebates commented on #283
Hey @benguhin, I reviewed your gist and it looks good. My only comment is that cf.gov's layout section might look quite different from what you've prosed, based on their 'browse, explore, something, something' model. I can't remember what all the stages are but I think that's the thing they want to show.

[2015-05-07 19:28] klocraft commented on #311
Successfully made my first update! Thank you @Scotchester, the instructions were very helpful!

[2015-05-07 21:28] schaferjh commented on #281
A few thoughts:
*For the printed experience, I'm worried that if all the links display as "http://go.usa.gov/..." it will look like some kind of gibberish the printer/computer did to the website on print. Esp. for less-sophisticated users, it removes one of the benefits of showing the URL -- trust and confirmation.
*For the actual web experience, we are going to be implementing a privacy notice in

[2015-05-07 21:39] Scotchester commented on #281
I agree with everything @schaferjh said, but I will point out that go.usa.gov can only shorten .gov URLs, so there is no uncertainty over whether something is a .gov link or not.

[2015-05-07 21:41] schaferjh commented on #281
Ah ha -- thanks @Scotchester for that clarification!

[2015-05-08 13:29] mebates commented on #143
All sounds good, @duelj! I think the defaults are what should be coded in Capital Framework, right? Then designers can deviate from there at their discretion, but it'll take a bit of extra work.

[2015-05-08 21:47] benguhin commented on #283
Yeah I'm not sure if it'll be better to show those different template types on a single page or to break them out into separate pages.

Another open question is where we fit "text handling" things like formatting for pull quotes, because it doesn't really fit in the Identity section. In the diagram below, I've included them in a UI Toolkit section called "Formatting text," though they might fit be

[2015-05-08 22:12] benguhin commented on #281
Those are really good points @schaferjh and @Scotchester – it seems like it's best to not shorten the URLs.

If the user doesn't want to type in a super-long URL, they can always go back to the web page they printed and click on the link from there. Including the real URL in the printout provides additional context for users to learn where they would have been taken (e.g., "Oh, that link goes to t

[2015-05-11 18:58] duelj commented on #143
Yup! That sounds right to me. I just wanted to make sure @benguhin was cool with the edits I mentioned above, and if anyone had input on adjusting some of the wording for those sections?

[2015-05-11 20:25] benguhin commented on #281
I want to challenge the assumption that the print styles should be grayscale. Some people use the Print function to save the page as a PDF, and other people will prefer to print in color. I think the folks who prefer to print in black and white can be expected to opt-in by choosing black and white in their print settings.

For the example in this thread, that mostly impacts our logo and the links

[2015-05-12 14:19] duelj commented on #302
I am pro the "in between rounded" star after seeing it at small size and I think at larger sizes it was working as well. Funny that the rounding actually worked better at low-res, thanks for taking the time to explore it! It seemed like Daniel was also on board with your modified rounded version.

**Sounds like this could be ready for design approval from @nataliafitzgerald**

### George's modifie

[2015-05-12 14:41] duelj commented on #295
### Edits were made on the design manual [typography page](http://cfpb.github.io/design-manual/identity/typography.html#type-accessibility)

![screen shot 2015-05-12 at 10 39 56 am](https://cloud.githubusercontent.com/assets/6873734/7589871/6187da9c-f893-11e4-913f-aa5d9ea7ad41.png)

[2015-05-12 14:41] #295 closed

[2015-05-12 14:53] Scotchester opened #321 "Small copy error on form fields page"
The UI toolkit form fields page states that inputs with focus/error/success states should have 1px borders, but the actual standard (and what is implemented in cf-forms) is 2px.

![screen shot 2015-05-12 at 10 50 39](https://cloud.githubusercontent.com/assets/1044670/7590180/1f632408-f895-11e4-821d-1d2ea8641ee0.png)

[2015-05-12 15:34] mebates commented on #295
:tada:  :tada:  :tada:  :tada:  :tada:
Thanks @duelj !

[2015-05-12 15:35] mebates commented on #273
working on this here: https://github.com/cfpb/design-manual/pull/310

[2015-05-12 20:49] jenn-franklin commented on #139
@caheberer @nataliafitzgerald @stephanieosan @mebates

Regarding tooltips, OaH is currently using black with white text on our loan comparison tool, which is on build here: http://build.consumerfinance.gov/owning-a-home/loan-comparison/ We took this pattern from HMDA:

![screen shot 2015-05-12 at 4 37 08 pm](https://cloud.githubusercontent.com/assets/10562530/7597978/43f8dd8c-f8c5-11e4-8d16-fbf8b5

[2015-05-12 21:04] jenn-franklin commented on #139
Also--- perhaps with the black background we should take a look again at whether or not it should be transparent.

[2015-05-12 21:05] duelj commented on #291
#### This is a proposed section for the design manual that would fall under the UI Toolkit and could perhaps be its own page separate from Grids. It would document the user journey, layout levels, and styles being developed by for the refresh of consumerfinance.gov. We want to make sure the format meets the needs of the team and will be useful to teams who will be working on consumer facing web pr

[2015-05-12 21:14] jenn-franklin commented on #139
Update: our design on build is actually not currently transparent. Here are some screenshots for comparing.

OAH LC on build:
![screen shot 2015-05-12 at 5 08 59 pm](https://cloud.githubusercontent.com/assets/10562530/7598608/a416443a-f8c9-11e4-84e1-1e3244b34bc9.png)

HMDA:
![screen shot 2015-05-12 at 5 12 39 pm](https://cloud.githubusercontent.com/assets/10562530/7598675/27272d76-f8ca-11e4-9f1a-c

[2015-05-13 13:50] mebates commented on #291
Awesome work @duelj, this is a LOT. I'll try to take some time to make suggestions on your google doc this week. I think it all looks great. Only suggestion is at the very bottom; just to left alight the Tablet and Mobile examples to avoid the white gap in the middle.

[2015-05-13 13:54] mebates commented on #139
I've always been against the black background, because I think a big block of reversed-out type is hard to read. There is lengthy discussion of this on our internal github, search "modals" and its the first to pop up (specifically, issue 78 in the digital-product-guide repo).

I also think we need to standardize the size and shape of the arrrow that comes off of the modal. I've always used our car

[2015-05-13 18:41] duelj commented on #291
Good call @mebates. Just updated the original post to reflect your idea!

[2015-05-13 19:07] stephanieosan commented on #291
Woah!

Clarification question: The orange is highlighting whichever page section I have opened in the expandable on the left, correct? So, if I click on "Sidebar" instead of "Main content" the sidebar will highlight in orange?

It seems like there's a lot of (really nice) customization in the design manual layout page. Who is going to build it?

[2015-05-13 19:24] duelj commented on #291
@stephanieosan yes, that is the interaction for the expandables. "The orange is highlighting whichever page section I have opened in the expandable on the left..." so you are right in thinking that when another expandable was opened the corresponding section would get highlighted. I think in this instance the expandables would have to have the one open at a time accordion interaction.

**As for wh

[2015-05-13 21:11] nataliafitzgerald commented on #291
@duelj - Great work! I am still looking through all of this but I was wondering. What is the green downward arrow to the left of "Main content"?

[2015-05-13 21:24] duelj commented on #291
The green down arrow was meant to reflect the section of the page that would act as primary navigation to get to a page in the next level of the user journey. So in this instance, the main content section of a landing page would have modules that linked out to browse level pages within that section. The idea was to hint the intended navigation pattern through the journey even if there were other s

[2015-05-14 15:52] mebates commented on #302
Hiiii - I'd like to use this in a social graphic for Monday. Can we get approval, @nataliafitzgerald? And get it on the Google Drive? Thanks!

[2015-05-14 20:10] elizbond commented on #40
![getting out of debt](https://cloud.githubusercontent.com/assets/6798337/7640840/abbaec46-fa53-11e4-95d2-0c5beb308466.jpg)

[2015-05-14 20:11] elizbond commented on #39
![debt collection](https://cloud.githubusercontent.com/assets/6798337/7640864/e0a55e64-fa53-11e4-9ee2-1bc9b400913c.jpg)

[2015-05-14 20:13] elizbond opened #322 "AskCFPB iconography set"
![askcfpb](https://cloud.githubusercontent.com/assets/6798337/7640899/24cd92dc-fa54-11e4-8ab5-9a101fcaeaea.jpg)

[2015-05-14 20:16] #322 closed

[2015-05-14 22:00] #39 closed

[2015-05-14 22:00] #40 closed

[2015-05-14 22:00] #47 closed

[2015-05-15 22:58] KimberlyMunoz commented on #281
+1 to @benguhin's comment on grayscale on images.

I think "All images will print in grayscale" is an assumption we can make about how a good chunk of folks will end up printing these documents (and it's really great that the images in this discussion are designing around that assumption), but it's not something we should enforce as a rule.

[2015-05-15 23:33] benguhin commented on #139
I agree that the reversed-out type seems harder to read but it does help create clearer contrast between the tooltip and the rest of the page. Yet the heavy weight of the dark background doesn't seem to match with the rest of our styling.

Some questions in addition to style:
- How do we determine and/or designate whether the caret should point left, right, top, or bottom?
- Should the tooltip app

[2015-05-16 00:09] benguhin commented on #143
This all sounds good to me! One thing I just noticed – is the "Avenir hyperlink (black)" style mentioned anywhere else in the manual? I think it works better than the Avenir paragraph for expandable header text because it's slightly heavier; with it, we could probably benefit from removing Avenir paragraph as an option for the expandable header.

That said, "Avenir hyperlink (black)" does not seem

[2015-05-18 14:33] duelj commented on #143
"Avenir hyperlink (black)" doesn't appear with that specific label anywhere else that I know of.

We do have our Avenir hyperlink style though and I just wanted to make sure that people understood that in this case it should be black. Didn't think it would be cause for concern. It could just read hyperlink and leave the color choice up to the designer too.

If you feel that  the black color variat

[2015-05-20 13:49] duelj commented on #291
Just wanted to see if anyone has had some time to take a closer look at this stuff and has any further feedback or suggestions? As we mentioned in the working session we wanted to keep this open to feedback for a week which means we hope to have final designs to pass off for  approval by @nataliafitzgerald and @benguhin this Thursday _(tomorrow)_. We understand that that FEWDs availability will ul

[2015-05-20 16:13] duelj commented on #291
Based on the question about the meaning of the green arrow by @nataliafitzgerald [here](https://github.com/cfpb/design-manual/issues/291#issuecomment-101817417) this was an idea from an earlier exploration that helped described the use of the arrow on the page. It makes sense that users would need this and might be smart to bring it back.

| Arrow description example |
| --- |
| ![screen shot 2015

[2015-05-21 14:36] caheberer commented on #291
A few notes after taking a closer look.
- I had a hard time understanding that the green sections in the top visualization were representing navigation. Is there a reason that Navigation Overview wouldn’t be at the top with that visual? I think that would make it clearer.
- Under Browse Examples, I’m not sure how the Hero and sidebar composition fit in. It seems the main piece for Browse pages is

[2015-05-21 18:31] duelj commented on #291
@caheberer those are great thoughts! I tried to address them with some updates:

#### Updating navigation overview section

After you mentioned this it felt like a no-brainer to move it up to the top to help people get more context before sharing the levels. This is kinda how we were thinking that could look with putting the navigation overview first by the intro copy. Also, this reflects some twe

[2015-05-22 17:59] schaferjh commented on #291
As we look to wrap up content and design of this page, I just want to make sure other UXers have had a chance to weigh in since hopefully they'll also find this layouts page and the user flow to be a useful resource.
@keelerr @marteki @ielerol @kurzn @sonnakim @niqjohnson

Please be sure to check out the [proposed content](https://docs.google.com/document/d/1HRSgxcxYC5om9U9TlWEnYvj5gDINPJ76gqT2jOO

[2015-05-22 18:31] niqjohnson commented on #291
This looks really nice! If it's possible, I'd love to have links to example code and/or demos for all of the modules. That would be a huge help if we end up prototyping pages in HTML (or even if we don't, it could still be useful to better understand how the modules behave in browsers).

[2015-05-27 16:43] keelerr commented on #291
I know I'm late to comment, but wow! This is great. Thanks for all the work putting this together. I think it's going to be very useful. My only question (and it dovetails with what @niqjohnson was saying) is whether or not you need to create lots of images for alternate layouts/examples, or if you could also (or possibly instead) link to pages where these different page types were in use. This wa

[2015-05-28 14:52] duelj commented on #291
@niqjohnson that's an interesting thought, I was trying to think through how that might work and how something like that fits with the goal of the page. Here were a couple of thoughts I had in regard to your and @keelerr
- Code examples exist for pieces of a lot of these modules, either in the [design manual](http://cfpb.github.io/design-manual/ui-toolkit/ui-toolkit.html) already or in the [Capita

[2015-05-28 16:23] niqjohnson commented on #291
@duelj: Thanks for giving this a lot of thought!

Basically all I'm hoping for is something like <a href="http://getbootstrap.com/components/#nav">Bootstrap's documentation for components</a> where, if I'm designing in the browser, I can go to quickly grab snippets of code for whatever component I'm working with (say, a sidebar) and understand how it can combine with other components. If there's a

[2015-05-28 18:56] stephanieosan commented on #291
Okay, maybe I'm going crazy, or maybe this is a really dumb question, but here it is:

Are there only three types of pages (landing, browse, learn)? I vaguely remember four (also, there are four in your lovely overview illustration):

![screen shot 2015-05-28 at 2 56 00 pm](https://cloud.githubusercontent.com/assets/6433178/7868383/adc4ecde-0549-11e5-87a5-3e674a2601fd.png)

Help!

[2015-05-28 19:51] duelj commented on #291
Our updated thinking per @schaferjh is that there will only be three major page levels (landing, browse, and learn). This an update that I believe was made based on the confusion that some the of differences between the four page levels created. The three level format is an effort to simplify and allow more freedom on each page level. The updated user journey document looks something like this wit

[2015-05-29 12:37] schaferjh commented on #291
@stephanieosan good catch -- we should definitely fix that header graphic to fit with the broad page types.

Just to expand a bit on @duelj's comment and the user journey info he posted -- there is still room for sub-levels within page type if needed. We reference this in the [content](https://docs.google.com/document/d/1HRSgxcxYC5om9U9TlWEnYvj5gDINPJ76gqT2jOOU3jo/edit#heading=h.cunuf2419eqr) for

[2015-05-29 14:12] stephanieosan commented on #291
Excellent, that makes perfect sense. Thanks for clarifying!

[2015-05-29 14:34] klocraft commented on #268
This issue has been updated in the Design Manual.

[2015-05-29 15:04] jenn-franklin commented on #281
Pulling these thoughts into one view:

![screen shot 2015-05-29 at 11 00 19 am](https://cloud.githubusercontent.com/assets/10562530/7885480/084e8964-05f2-11e5-9595-b65572f7c39f.png)
- All navigation will remain when printed and not include URLs.
- Links within page content will include full URLs. A different font weight will be used to differentiate the link text from the URL. Above, I'm using dem

[2015-05-29 17:22] stephanieosan commented on #283
It feels strange for our lists, pull quotes, etc to be separated from our type hierarchy (what we're currently calling typography). As a designer laying out a page, those are all part of a typography toolkit I would use to figure out how to best structure text information on a page.

But, I can see why it might be counter-intuitive for all of that to live under the Identity section.

Question: Why

[2015-05-29 17:30] stephanieosan commented on #281
What about illustrations or heros? Will those stay or drop out like the background colors?

[2015-05-29 21:25] mebates commented on #262
Hey @keelerr - can you share any progress if you've made? (Okay if it isn't much; others can build on where you're at!)

[2015-05-29 21:25] mebates commented on #275
I've made no progress on this! Sorry @Dnpizarro

[2015-06-01 14:07] jenn-franklin commented on #281
I'm leaning toward keeping them. When I look at sections such as "About the Bureau" on beta, I realize that photos such as the director's headshot provide helpful context and should print. Many of our illustrations are supplemental but are still helpful in creating a tone for a page. With headers, removing the background image but keeping the text seems like it would get funky space-wise and might

[2015-06-01 14:27] stephanieosan commented on #281
:+1: That makes sense to me.

[2015-06-01 14:39] stephanieosan commented on #297
I played around in the browser dev tools to get these screenshots:

| Demi | Medium | regular |
| --- | --- | --- |
| ![screen shot 2015-06-01 at 10 37 18 am](https://cloud.githubusercontent.com/assets/6433178/7915297/957feb2a-084a-11e5-9d00-5c4f006f122d.png) | ![screen shot 2015-06-01 at 10 38 31 am](https://cloud.githubusercontent.com/assets/6433178/7915309/a658b350-084a-11e5-9457-99f31db6e858.p

[2015-06-01 16:09] Dnpizarro commented on #302
@nataliafitzgerald do you think we can get final approval for this graphic at today's Design Manual meeting?

[2015-06-01 16:14] mebates commented on #273
THIS IS FINISHED. In the template, in capital framework, and in the design manual. :boom:

[2015-06-01 16:14] #273 closed

[2015-06-01 16:15] Scotchester commented on #273
Woohoo! :metal:

[2015-06-01 16:23] mebates commented on #314
Whats up with the mirrored beam shape on the 'folder spread'?

Otherwise, this looks awesome! So extensive/thorough @Dnpizarro.

[2015-06-01 16:44] stephanieosan commented on #301
@ajbush @duelj How many pixels tall are the flapjack "card" hero graphics?

Answer to my own question?
I'm seeing 350px tall on beta.

[2015-06-01 16:57] benguhin commented on #283
Good points @stephanieosan – calling the UI section "Web patterns" would also help clarify that these aren't necessarily our styles for PDF interaction. There may be a day when we're developing native apps that use the same styles but aren't technically part of the "web," but we can consider adjusting for that later.

The bigger issue is making our web typography rules easily findable for staff an

[2015-06-01 17:14] Dnpizarro commented on #302
@designlanguage will be adding the flag to the illustration library.

[2015-06-01 17:15] Dnpizarro commented on #299
@klocraft can you update this post?

[2015-06-01 17:21] jenn-franklin commented on #281
It was decided today in our design manual meeting that expandables a user has collapsed will remain collapsed when printed. Ones a user has not collapsed will remain rolled up on print.

[2015-06-01 17:24] Dnpizarro commented on #289
@klocraft can you update this post with some examples?

[2015-06-01 17:40] duelj commented on #291
### Update: We are at the end of our time where we were looking for open feedback from the design team. If you have final thoughts/concerns please try to document them on the issue ASAP. This issue is now being moved on the the design and UX approval step.

#### Changes to this version:
- Addressed the visuals to reflect the updated thinking of the user journey for the navigation overview section

[2015-06-01 17:54] klocraft commented on #289
Below are two sets of screen shots using the OA bifold as an example. The first uses our regular standards and the second is testing our larger print. The layout had to changed significantly...this document started as a bifold, but ended up as a booklet.

The updated font size is working nicely. Minicon + header size underwent further exploration. The examples below are reflective of where we land

[2015-06-01 18:02] stephanieosan commented on #302
During the design manual meeting, we decided to use the minicon stars.

[2015-06-01 18:03] Dnpizarro commented on #297
@stephanieosan where you referring to taking on this issue? I'm not assigning this to you but I know you mentioned it towards the end of the DM meeting.

[2015-06-01 18:12] Dnpizarro commented on #283
@benguhin to get a better idea of the video section I will loop in our new Multimedia lead Bryce. @duelj and I will work with him to better define this section and any emerging design patterns for motion and live footage. @elizbond could we coordinate a meeting with Bryce later in the month to go over the video section on the Design Manual?

[2015-06-01 18:18] Dnpizarro commented on #244
@Scotchester have you had any luck with testing the breaking underline technique with the Georgia descenders? Let us know if you could use some fewd help with this and I'll work to recruit some assistance.

[2015-06-01 18:34] Dnpizarro commented on #275
@mebates do you think we can make progress on this issue for the June Sprint? We can backlog this as well if that works.

[2015-06-01 18:39] Dnpizarro commented on #276
@klocraft what if we moved forward with the illustrations, but instead of using full color we keep them to just our primary colors? I'm just trying to offer a suggestion that would still offer a distinction from the full color illustrations that we use for all of our top level materials.

[2015-06-01 18:42] Dnpizarro commented on #273
Great job @mebates !

[2015-06-01 19:00] klocraft commented on #276
Good timing. I just finished up a handout project that used illustrations in our primary color palette. @nataliafitzgerald provided the same feedback suggested by @Dnpizarro.

Moving towards an illustration-only approach solves several of the issues above, and will not result in a changes to our isocon standards.

If there's no objection, I am all for updating the handout template to include illus

[2015-06-01 19:18] stephanieosan commented on #297
I meant this one #301, but this one is related, so I'm happy to push this along, too!

[2015-06-01 20:20] designlanguage opened #324 "Level of detail in illustrations"
For the most part, the level of detail in our illustrations in pretty consistent. There are a few outliers though. For example, the check and fountain pen (that are in progress) compared to the dollar bill:

![screen shot 2015-06-01 at 2 58 42 pm](https://cloud.githubusercontent.com/assets/10562544/7920700/b9ccbe26-086e-11e5-917a-c0faa9119c9a.png)

If these items were combined in a scene, they wou

[2015-06-01 20:26] stephanieosan opened #325 "Add modals to the Design Manual"
- [ ] edit content
- [ ] design pages
- [ ] develop visuals or link to Capital Framework code (if it exists)

[2015-06-01 20:29] stephanieosan commented on #139
Okay, I'm splitting out tooltips and modals, because they're two separate elements and it seems like modals may have previously been finalized (at least in terms of styling). But as far as I can tell from the previous issue in the digital product guide, styling (and behavior) of tooltips requires a little more consideration.

Modals now live here: https://github.com/cfpb/design-manual/issues/325

[2015-06-01 21:04] stephanieosan commented on #139
#### Recommendations for visual style:
- Blue question mark icon in a circle is the tooltip indicator
- Tooltips have a fixed width of 250px, height adjusts based on length of copy
- 15 px of padding around type
- Avenir Regular
- Caret shape is based on our caret minicon, and is 15px wide.

#### Recommendations for behavior:
- Tooltips appear on hover for desktop
- Tooltips appear on click for mo

[2015-06-01 21:12] Dnpizarro commented on #297
Awesome! Thanks for talking these on @stephanieosan .

[2015-06-01 21:14] Dnpizarro commented on #276
Yes I definitely think this works! Glad we arrived at the same point. One question, the pencil in the middle is using a secondary color, was that intentional or a mistake since we're moving towards using the primary palette for the handouts?

[2015-06-02 20:49] amycesal commented on #230
Basically, I just want to start by compiling a list of stuff we've done. That way, we can look at trends, what's working, what isn't and start to make some decisions about standards going forward. This is my "crazy call for examples".

## Maps

HMDA http://www.consumerfinance.gov/hmda/
![screen shot 2015-06-02 at 4 18 38 pm](https://cloud.githubusercontent.com/assets/1656046/7946220/6d60ae78-0943-

[2015-06-02 21:16] jenn-franklin commented on #281
Hi, @JenniferHoran! We're putting together design guidelines for how our web pages should print. Here is a sample page reflecting our decisions:

![084e8964-05f2-11e5-9595-b65572f7c39f](https://cloud.githubusercontent.com/assets/10562530/7947127/1679d0d4-0949-11e5-81a4-5419b8e613a2.png)

Can you please review these points and make sure we're not overlooking anything important in terms of accessibi

[2015-06-03 14:05] JenniferHoran commented on #281
Yes, I'd love the opportunity to go over this with you but I'm out of pocket this afternoon offsite and on leave 5-10 June, back on the 11th. I can take a look tomorrow, but his might have to wait until I return?
Thank you!

[2015-06-03 15:03] sonnakim commented on #139
### Recommendation: move to popovers instead of tooltips

<b>(and add a close button for mobile users)</b>

Currently, on desktop, the tooltip disappears when the user's mouse moves away from the tooltip icon. See www.consumerfinance.gov/hmda for an example. This is a persnickety interaction—the hit area for that tooltip icon is pretty small. I think we want to make this less frustrating for users

[2015-06-03 17:09] jenn-franklin commented on #281
Ok, no problem and sounds good! Thank you!

[2015-06-03 17:34] designlanguage commented on #302
I've added the minicon flag to the illustration folder in CMYK and RGB. Let me know if you have any questions.

[2015-06-03 18:31] Dnpizarro commented on #302
Thanks @designlanguage for finalizing this work!!

As a general question to everyone, are we no longer updating the [illustrator file](https://drive.google.com/drive/#folders/0BwfCv4ilI0WgLTA0UWNDLXVVT0k/0BwfCv4ilI0WgRHlXSjNtR2NvbGM) with all of the illustrations? Or are we moving towards just updating the [approved objects](https://drive.google.com/drive/#folders/0BwfCv4ilI0WgLTA0UWNDLXVVT0k/0Bwf

[2015-06-03 20:24] duelj commented on #291
#### Feedback from the Falling water working session 6/02/15:
- **Consider introducing colors in the navigation overview section to highlight the differences for the navigation levels.**
  ![screen shot 2015-06-03 at 4 11 01 pm](https://cloud.githubusercontent.com/assets/6873734/7970542/d8c91c62-0a0c-11e5-8faf-d7672b85fae5.png)
- **Get rid of the arrow icons on the module expandable. Messaging can

[2015-06-05 15:09] jenn-franklin commented on #139
I showed these during Graceland's session yesterday. Here are a handful of thoughts:
- For color, try a blue outline and/or light blue background. This may connect it better to the blue question mark minicon.
- Try the shadow in option C as a solid 100 percent line instead of at 25 percent transparency.
- Overall, designers preferred the light background with dark text to the black background with

[2015-06-08 16:18] stephanieosan commented on #302
I'm fine with either, but I do like the illustrator file with all the illustrations. As a person who doesn't do a ton of illustrating, it's really convenient to be able to open a single file and scan the landscape of what's already been built to see if anything fits my needs.

[2015-06-08 20:54] stephanieosan commented on #230
What about Tableau visualizations? @elizbond

[2015-06-08 21:05] exafox commented on #230
Yes @stephanieosan, at least the complaint topline reports should be under consideration. (There a number of other Tableau dashboards as well.)

Also the Mortgage Chartbook would be something worth studying, as a lot of work that goes into it and it is pretty sharp.

Send me an old fashioned email and we can see about getting you folks copies?

[2015-06-09 21:00] ascott1 commented on #139
Can we add a solid triangle to the icon font? That will make implementing this much easier.

cc: @Dnpizarro

Thanks!

[2015-06-09 21:06] Scotchester commented on #139
I could make an argument for implementing it other ways, but we could use solid triangles for other reasons, too, so might as well.

[2015-06-09 21:07] ascott1 commented on #139
I'd be curious how else you'd implement that triangle (other than an image?). Maybe an inline SVG in the CSS?

[2015-06-09 21:10] Scotchester commented on #139
Yeah, I was thinking maybe inline SVG with PNG fallback. The main question in my head was, "Considering this as a component standing alone, do we really want to add a cf-icons dependency just to get that shape in there?"

[2015-06-09 21:12] ascott1 commented on #139
I think that's a good point. I'd argue for SVG data uri with no PNG fallback (do IE8 users really need that caret?).

[2015-06-09 21:14] Scotchester commented on #139
Probably not :)

[2015-06-10 00:04] mistergone commented on #139
Ah, are you guys not aware of the **Magical CSS Triangle**? :triangular_ruler:

The little triangle is actually really easy to implement, and it's mostly cross-browser compliant. Just Google "CSS Triangle." There's even a generator! Well, several, actually... here's one - [cssarrowplease.com](http://cssarrowplease.com/)

I've done it with tooltips in Paying for College, and in some upcoming releas

[2015-06-10 01:01] Scotchester commented on #139
Can you pull off a rounded point with that?

[2015-06-10 01:29] mistergone commented on #139
Hrm... well, essentially, you're making a zero pixel element with large borders, and all you see is the border, which would normally be trapezoidal, but instead ends up being a triangle because the top of the trapezoid is 0 pixels wide. Here's a fun experiment! If you use small triangles, like 5px wide, you can create the illusion of rounding by making the zero-pixel element into a 2px wide elemen

[2015-06-10 14:37] stephanieosan commented on #139
That first one looks pretty round. I'm also hearing an undertone of "maybe we shouldn't have a rounded triangle because it's way fussier to implement."

[2015-06-10 14:43] Scotchester commented on #139
It's a liiitle bit fussier, but not that much. Both techniques (SVG/image-based and Magic CSS Triangle) are fussy in different ways. Neither is rocket science. Whatever Design prefers is fine, IMO.

[2015-06-10 14:55] ascott1 commented on #139
+1 to what @Scotchester said. It just comes down to considering the best way to implement it.

[2015-06-11 19:56] benguhin opened #326 "multi-column alignment of blurbs with isocons/illustrations, sometimes with buttons or links"
Here's one example. Please add examples!

![screen shot 2015-06-11 at 3 56 12 pm](https://cloud.githubusercontent.com/assets/6953063/8116845/7bcfc03c-1052-11e5-8fbd-4d8b1fb3cf5f.png)

[2015-06-11 20:09] nataliafitzgerald commented on #326
Issue https://github.com/cfpb/design-manual/issues/296 starts to get into the treatment of illustrations across breakpoints.

[2015-06-11 20:12] mebates commented on #326
![screen shot 2015-06-11 at 4 11 05 pm](https://cloud.githubusercontent.com/assets/6223901/8117216/941591d8-1054-11e5-86fc-e550ddc1ea1e.png)
![screen shot 2015-06-11 at 4 11 18 pm](https://cloud.githubusercontent.com/assets/6223901/8117215/9414620e-1054-11e5-8bc5-8b3797039a38.png)
![screen shot 2015-06-11 at 4 11 34 pm](https://cloud.githubusercontent.com/assets/6223901/8117217/9423a606-1054-11e5-

[2015-06-11 20:30] nataliafitzgerald commented on #326
To show how this changes across breakpoints, here's another image:

| Mobile |
| --- |
| ![screen shot 2015-04-09 at 5 56 01 pm](https://cloud.githubusercontent.com/assets/6887128/7077803/ff97f3f0-dee1-11e4-85da-cefd9e18f6c9.png) |

| Desktop |
| --- |
| ![screen shot 2015-04-09 at 5 41 52 pm](https://cloud.githubusercontent.com/assets/6887128/7077650/ab90fb5e-dee0-11e4-9a44-a9780aaa16ef.png) |

[2015-06-11 20:32] nataliafitzgerald commented on #326
I would say that HMDA, as a general rule, is a standards outlier. So, we should always take it with a grain of salt when thinking through standards.

[2015-06-11 20:37] nataliafitzgerald commented on #326
We don't use circles here but the alignment is left for the text. It's not responsive so I can't show the mobile view. But it's easy to imagine what the mobile layout would look like (i.e. the same as the desktop but instead one column).

| Desktop |
| --- |
| ![screen shot 2015-06-11 at 4 32 43 pm](https://cloud.githubusercontent.com/assets/6887128/8117630/9db1ec02-1057-11e5-99ef-9d3750ffbbd4.png

[2015-06-11 20:43] nataliafitzgerald commented on #326
I support left aligning the text blurbs. The only example so far that is centered is the CFPB Open Tech blurb text and that text would work just as well left aligned. For circles, I support centering at all screen sizes when we have a multi-column layout. I imagine we still have more examples to collect, however. @caheberer Can you post the Claiming Social Security example?

Another question we ra

[2015-06-11 21:04] mebates commented on #326
@nataliafitzgerald will always think of hmda as 'the one that got away' :wink:

[2015-06-11 21:50] nataliafitzgerald commented on #326
Yes @mebates, indeed I will. It was a different time. Even a different place. The landscape was wild then and we were all cowboys...and ladies, lighting the dark paths of the western frontier with our simple beam.

[2015-06-12 15:08] mebates commented on #229
Steps to close out this issue:
- [ ] Add to the Design Manual
- [ ] Update Capital Framework
- [ ] Update .ai template(s) to reflect new standard

[2015-06-15 17:44] mebates commented on #259
This issue should be solved with @klocraft's work on the new logo standards.

[2015-06-16 15:58] duelj commented on #291
Wondered if anyone had any other input after the working session updates? Still looking to get design and UI approval on this. Please let me know what else we need to do to get to that point.

[2015-06-19 17:36] klocraft commented on #276
@Dnpizarro, a mistake? me? never! These illustrations were actually developed a year ago before we started exploring patterns and standards for Handout images. But, now that I'm looking at these images together, perhaps the yellow isn't needed after all.

We can use this series of document to help set illustration standards for Handouts. How much of the secondary palette should be incorporated? Sh

[2015-06-22 17:13] JenniferHoran commented on #281
Hi! Still  reading through all of the comments in this thread, but one best practice for CSS to print, for 508 especially, is EEOC http://www.eeoc.gov/employees/afterfiling.cfm

[2015-06-23 14:39] mebates commented on #302
I haven't used the all-illustration file in a long time. Let's discuss this quickly at the Design Manual meeting on 6/29.

Otherwise, I believe that this issue is closed. Nice work everyone!

[2015-06-23 14:39] #302 closed

[2015-06-23 14:41] mebates commented on #297
Hey @stephanieosan! Our Design Manual monthly is on 6/29. Think we can get this issue closed out by then?

[2015-06-23 14:42] mebates commented on #244
@Scotchester let's finish this one off! Do you need help from other FEWDs? Our deadline is 6/29.

[2015-06-23 14:43] mebates commented on #311
Is this finished, @Scotchester ?

[2015-06-23 14:46] mebates commented on #309
Hey @anselmbradford, I think we can assume that the buttons would follow the same pattern as the blue:

Normal: Gray
Hover/focused: Gray 80%
Active: Dark Gray
Disabled: Gray 20% (should match the blue disabled state)

Do you think this needs to be documented in the Design Manual? I think it's pretty easy to discern, but if others don't, we should document it.

[2015-06-23 14:49] mebates commented on #307
@elizbond, is this realistic for the June or July sprint? I think it may be a backlog item. Lauren Johnson is doing some work on this on the CE side but I'm not sure of the status.

[2015-06-23 15:17] elizbond commented on #307
It's been decided to not to move forward with this since we cannot include the English version. Closing this issue.

[2015-06-23 15:17] #307 closed

[2015-06-23 15:19] anselmbradford commented on #309
I'd err on the side of being comprehensive in the design manual and documenting it, particularly since the colors don't use the same name across all states for the primary button. (Someone could get confused by the ambiguity and use Neutral for the Active state, for instance.)

[2015-06-23 16:05] designlanguage opened #327 "Color palette expansion"
Hi all,

I've found that strictly using our color palette in illustrations can be very limiting. Often there is a slight difference in color needed for a shadow or a detail that doesn't exist in the current palette. We've worked around this several ways, including using transparency, but that can lead to inconsistent/unpredictable results, especially in printing. @nataliafitzgerald and I have disc

[2015-06-23 16:46] caheberer commented on #233
I tried to consolidate all of our comments into this iteration. I’m following the (brilliant) idea to use expandables on medium and small screens. The first image shows the design in full, the following shows it in the design manual template.

Let me know what you guys think and if we are ready to request final design approval from Natalia.

![screen shot 2015-06-23 at 12 40 48 pm](https://cloud.g

[2015-06-23 19:25] stephanieosan commented on #264
Do we have any resolution on this? I'm making tiny updates on our landing page, and was wondering whether I should be doing anything to remove or streamline how we're using the arrow minicons.

[2015-06-23 20:25] stephanieosan commented on #297
It seems like the majority of folks who weighed in favored the Display to change to Regular. Any objections or changes of opinion after I posted the screenshots from the browser? If not, I think this is decided.

[2015-06-23 21:01] mebates commented on #299
It seems like this issue has stalled. @klocraft @elizbond @nataliafitzgerald, do you feel that 1) we need to add more color examples to the Design Manual, or 2) do you think that linking to the color contrast tool is enough? My vote is for 2.

If we go with 2, we will want to update the link currently on the design manual to match Scott's detailed link above. We will also want to update it as we a

[2015-06-23 21:03] mebates commented on #294
@benguhin did this get updated? I looked in the 'Links' section and didn't see the update. If so, please close this issue.

[2015-06-23 21:07] mebates commented on #233
This is nice. At first I wondered why you detailed out active/hover/inactive state for the minicon variation, but then I saw the tooltip on Hover. Does that standard sync up with our work on #139?

[2015-06-23 21:07] schaferjh commented on #264
I would love some resolution as well! I stand by my original position but would be interested to know if there are new thoughts out there or if we can get some consensus on this.

[2015-06-23 21:10] mebates commented on #283
Any progress @benguhin? @elizbond and @Dnpizarro can we get Bryce's eyes on the video section?

[2015-06-23 21:15] mebates commented on #264
Moving this into the July sprint so it gets some attention at the meeting on Monday, 6/29.

I think we should default to no arrow but still have it in our toolbox for designers discretion. We should actively try to eliminate them as we update pages, and question each other as to 'why?' when people are adding them in.

[2015-06-23 21:18] caheberer commented on #233
Yeah, I'd be happy to make that a standard tooltip style, but there isn't consensus on #139  Aaah!

It's also slightly different from a tooltip, considering it needs to follow the hover state, so if the decided upon tooltip doesn't have a white background with black type it's not going to work. It seems like folks were gravitating towards Gray 5% background, 1px Gray 50% border, black type for the

[2015-06-23 21:20] mebates commented on #286
Pulling this into the July sprint. It has been approved but needs to be executed upon.
- [ ] Add to the Design Manual @Dnpizarro
- [x] Update .indd templates to reflect new standard @klocraft

[2015-06-23 21:21] mebates commented on #269
Pulling this into July so we can get this updated across our standards:
- [ ] Add to the Design Manual
- [ ] Update Capital Framework
- [x] Update .ai template(s) to reflect new standard

[2015-06-23 21:47] mebates commented on #267
Pulling this into the July sprint. It has been approved but needs to be executed upon.
- [ ] Add to the Design Manual @Dnpizarro
- [x] Update .indd templates to reflect new standard @klocraft

[2015-06-23 21:49] mebates commented on #263
Pulling this into the July sprint. It has been approved but needs to be executed upon.
- [ ] Add to the Design Manual (The words are correct, but the actual buttons still show 14 px type. I think this is because Capital Framework is not updated.)
- [ ] Update in Capital Framework
- [x] Update .ai templates to reflect new standard

[2015-06-24 18:26] mebates commented on #276
I think this issue can close, because we've determined not to increase the size standard of isocons. @nataliafitzgerald, if you disagree, please comment and reopen.

[2015-06-24 18:26] #276 closed

[2015-06-24 18:29] mebates commented on #139
@stephanieosan and @huetingj any updated visual changes after the working session Jen mentioned 19 days ago? Can we close this out by Monday?

[2015-06-24 19:24] sonnakim commented on #281
@huetingj Just to confirm, are we still planning to <a href="https://github.com/cfpb/design-manual/issues/281#issuecomment-90930923"> drop background colors out</a>?

[2015-06-24 19:29] mebates commented on #275
Making progress on this one :open_mouth: ! Using some elements from the Beta illustration.

All intro type at 18 px, white background:
![screen shot 2015-06-24 at 3 27 34 pm](https://cloud.githubusercontent.com/assets/6223901/8339474/c0ffd1b4-1a85-11e5-9bf9-f88733c90d89.png)

All intro type at 18 px, teal background (really tall hero, for us, with way too much text):
![screen shot 2015-06-24 at 3

[2015-06-24 19:41] duelj commented on #233
#### Sorry I am late to the game but I had a couple of questions about the tabs
- How would a user on a touch device know what the minicon tabs stood for?
  - I am guessing the active tab title is to help with this, but I only see examples of it with the further left tab selected. I am curious how it looks with a middle or right tab selected (its the label always far left or is it centered below?)

[2015-06-24 20:16] caheberer commented on #233
Welcome to the game!

On a touch device (both medium and small screens) they would follow expandable styling, so the name of each tab would be next to the icon, like this:
![screen shot 2015-06-24 at 4 14 52 pm](https://cloud.githubusercontent.com/assets/4739887/8340385/29e683de-1a8c-11e5-8230-64c70a769e93.png)

I'm not proposing the tabs in this issue be used in instances like the Real Estate Gui

[2015-06-24 20:47] designlanguage commented on #327
Just to add to what I posted previously, here's an example of using a transparent color to create shadow (moved off the illustration on the ride side to make it clear).

![screen shot 2015-06-24 at 4 05 44 pm](https://cloud.githubusercontent.com/assets/10562544/8340279/802b81c8-1a8b-11e5-9093-b983cc7f0cd9.png)

Adding tints to the palette won't eliminate the need for this because it makes sense fo

[2015-06-25 14:35] duelj opened #328 "Tab Use Cases (Content & Navigation)"
#### Issue

Since we have now embraced the use of tabs and [standardized their formatting](https://github.com/cfpb/design-manual/issues/233) I thought it would be nice to create a bit more of a framework for use cases. It seems there are two major camps for how tabs might be implemented, as a means of auxiliary navigation within their section, and moving through "panels" of content in the main con

[2015-06-25 14:37] duelj commented on #233
Nice! Thanks for sharing that stuff, I just wasn't sure since I didn't see the mobile stuff on the DM page. As for the tab navigation stuff I [started an issue](https://github.com/cfpb/design-manual/issues/328) to have on the backlog in case that needs to be discussed more in the future.

[2015-06-25 21:05] stephanieosan commented on #328
I wholeheartedly agree.

As a team, we had a ton of heartburn about moving away from the flapjack navigation in the case of our Know the process, and deliberated with the Flapjack team a lot about it.

Our reasons are this:
Our 5 Know the process pages represent a single linear process, and it's important for users to understand both the overall process and where they are currently located within

[2015-06-25 23:46] nataliafitzgerald opened #329 "Web Type Hierarchy - Header 5 and 6 exploration"
On some of our recent web projects we have identified a need for something in between 14 px and 18 px. It would be great to hear whether other designers are having the same need or whether this is more of an isolated case. Here are some proposed adjustments:

Option 1: My issue with this option is that H6 feels bigger, and more substantial than H5.
![screen shot 2015-06-25 at 7 41 07 pm](https://c

[2015-06-26 13:21] duelj commented on #329
I have not had any issues with the current type hierarchy, it seems to be working well in the types of pages that we are building in FJ so far (not sure if @ajbush feels differently about this).

If there are other teams that are finding issues with the current set up it would be nice to see some examples to see if there is a way to make the current hierarchy work better for them. If we find it is

[2015-06-26 13:59] klocraft commented on #259
@Scotchester, only just seeing this. But this is the perfect time to address and update. I've placed an updated small execution logo in the asset folder (the logo is now called Primary logo, not Small execution). I mainly focused on updating the color for accessibility. However, the Ai file is set as to match the standards outlined in the Design Manual:
- Logo height: 50px
- Art board (Padding): 2

[2015-06-26 14:30] duelj commented on #328
@stephanieosan I think the testing that you and I believe the KBYO team have done with the tabs navigation is really important, I totally agree on that. Hopefully, as FJ gets our updated multi-level side nav. and breadcrumbs on beta we can begin to test that more formally as well. I think it would be great to test that against an option more like the tabs approach to get another data point, as the

[2015-06-26 14:36] nataliafitzgerald commented on #329
@duelj - For now we aren't making any changes, just trying to gather use cases in order to determine whether this is an isolated example or whether there is a larger need. Can you post a screenshot to show how you are currently using H6? What are the typical use cases?

[2015-06-26 14:40] klocraft opened #330 "Logo updates: Tracking what needs to be done"
<h2>Tracking updates to the CFPB logo. </h2>

Please add to this list if you see anything is missing, and make notes if you are working on any portion of  below.
- [ ] **Update asset library**
  <br>
  This will include reorganizing logos by category, rather than color. (Ex: Primary logo, Vertical logo, Isolated logo). Assigned to @klocraft.
  <br>
  <br>
- [ ] **Update Design Manual**
  <br>
  Th

[2015-06-26 15:07] stephanieosan commented on #299
I'm in favor of linking to the color contrast tool, it saves us work.

[2015-06-26 15:12] stephanieosan commented on #326
<3

[2015-06-26 15:43] Scotchester commented on #326
I'd vote centered, personally. Due to extra space on the right side of the text blocks, the ones on CCDB look kinda misaligned.

Perhaps if we put vertical dividers between the columns to visually anchor the left-aligned blocks, it would look less awkward?

[2015-06-26 15:57] Scotchester commented on #329
@amycesal Could you post the expandable group example (Library program ideas) that prompted this?

[2015-06-26 16:20] amycesal commented on #329
![screen shot 2015-06-25 at 12 55 13 pm](https://cloud.githubusercontent.com/assets/1656046/8381991/8dce146c-1bfd-11e5-96ba-958b174bd1f7.png)

The expandable titles are H4. and there are long category titles in each expandable, that would be an H5, but were too many words to make a smaller all caps title feel right. The main line length offender being "Organizations that can help spread the word".

[2015-06-26 18:06] jenn-franklin commented on #281
@sonnakim many browsers will automatically drop off background colors.

[2015-06-26 18:43] amycesal commented on #327
Not really adding to the discussion, but a useful tool for finding gradients between colors: http://jsfiddle.net/d6wXV/6/embedded/result/

[2015-06-26 18:47] designlanguage commented on #327
Very cool @amycesal. I looked it up and there's a [more expanded version](http://davidjohnstone.net/pages/lch-lab-colour-gradient-picker) that lets you start with RGB colors.

[2015-06-26 18:48] mebates commented on #327
awesome work @designlanguage.

:rainbow:  :rainbow:  :rainbow:

[2015-06-26 18:57] amycesal commented on #327
Ok one more crazy link about how and why it's important to have colors similar in tonality for data visualization: http://tools.medialab.sciences-po.fr/iwanthue/examples.php

And I'm happy that we're adding more colors to the "warm" section our palette. It was kind of hard to use just the red or yellow next to the largely cool palette without drawing unnecessary attention to the items in those col

[2015-06-26 18:58] mebates commented on #328
I would be interested in hearing some UX voices in here with thoughts about advantages and disadvantages of tabs. We had discussions about this early on in the Digital Product Guide; check out the conversation at [internal git hub]/digital-product-guide/issues/23.

Glad we've finalized a style, but definitely need to solidify UX rules.

Also, we still use tabs on the Intranet in an entirely differ

[2015-06-26 19:05] mebates commented on #253
This was finished with @Dnpizarro's pull request on May 5.

[2015-06-26 19:05] #253 closed

[2015-06-26 20:54] designlanguage opened #331 "Navigation hover state"
Currently when you are in a section under library resources, the nav indicates this with black text and a vertical green bar beside the title, like this:

![screen shot 2015-06-26 at 4 29 06 pm](https://cloud.githubusercontent.com/assets/10562544/8386798/1edff1f0-1c21-11e5-8d28-1ce7353c6eb8.png)

When your pointer is scanning over a different section to select, the nav indicates this with a hover

[2015-06-26 22:41] benguhin commented on #294
Yep it's merged in pull request #323 !

See it at https://cfpb.github.io/design-manual/ui-toolkit/links.html

[2015-06-26 22:41] #294 closed

[2015-06-29 14:11] stephanieosan commented on #301
Here we go!

@huetingj and I are trying to work out a standard for hero graphics as we design the next iteration of OaH's hero graphic. Generally the "card" style of FJ hasn't worked well for our consumer facing pages.

This has lead me to think of the heroes this way. Maybe we have two styles, one for our more consumer-focused, consumer guides pages and one for industry-leaning audiences:

![545c

[2015-06-29 14:42] duelj commented on #301
Have been working on [updating the beta landing page hero](https://github.cfpb.gov/flapjack/global/issues/7#issuecomment-48515) that we brought up a while back. It's one of our few current examples with illustrations. It has always been a unique instance for FJ as it does not feature a piece of content/resource but acts as more of a introduction. For blogs/newsroom/(and soon) events the place card

[2015-06-29 15:01] mebates commented on #289
@klocraft is this ready for @nataliafitzgerald's approval?

[2015-06-29 15:16] marteki commented on #139
For awareness and completeness of examples, here's Claiming Social Security. We use tooltips in many places, including in paragraph copy.

**Around labels, tooltips unactivated:**

![screen shot 2015-06-29 at 11 10 43 am](https://cloud.githubusercontent.com/assets/1183435/8411060/e31d74d6-1e4f-11e5-9a2a-acd3a8faa11f.png)

**Around labels, tooltip activated:**

![screen shot 2015-06-29 at 11 11 05

[2015-06-29 15:18] stephanieosan commented on #139
Here are visual iterations based on above feedback:

![screen shot 2015-06-29 at 11 17 43 am](https://cloud.githubusercontent.com/assets/6433178/8411176/897f196a-1e50-11e5-93f3-0b55299ab15c.png)

[2015-06-29 15:36] designlanguage commented on #139
In a couple of the instances @marteki posted, the blue color for the tooltip seems a little distracting. I understand that we use blue consistently to show something can be activated, but should we consider toning down the impact?

When used inline with text, it can disrupt the flow, as I think @benguhin mentioned in a working session. Would gray or a lighter blue solve that and still maintain acc

[2015-06-29 16:20] klocraft commented on #289
@nataliafitzgerald has approved on a project level. However, because this project is on hold, I have not moved forward with testing out alternative options on a template level (meaning, testing 12 or 13 pt body copy over 14 pt, for example).

My recommendation would be to move forward with the above as our benchmark for OA products (increasing font size by 3 pts). This recommendation is based both

[2015-06-29 16:33] klocraft commented on #286
Update. Looks like the description has been changed on the Design Manual. Just need to update the CSS.

[2015-06-29 16:37] klocraft commented on #268
Opening this issue back up. I had a dyslexic moment. H2 on the design manual should be 26/28. (Currently it's reading 28/26). @Scotchester, can you help me update.

[2015-06-29 16:38] Scotchester commented on #139
I agree with @designlanguage's concerns. Did the SSA team consider following the example of eRegs for indicating words for which definitions can be retrieved (a simple underline with a background color change on hover)?

@designlanguage On using a lighter blue: White is only accessible on full-on Pacific Blue. The question mark would have to change to black to use a lighter blue.

[2015-06-29 16:42] benguhin commented on #139
@designlanguage I think for the inline usecase we may be better off underlining the term in a way that distinguishes it as a defined term but doesn't look like a standard hyperlink. This is _sort-of_ what [eRegs](http://www.consumerfinance.gov/eregulations/1026-3/2014-21849#1026-3-a) does for defined terms, though the interaction doesn't yield a tooltip:
![screen shot 2015-06-29 at 12 27 28 pm](ht

[2015-06-29 16:43] Scotchester commented on #268
Hmm... I thought I caught that and corrected it for you.

[2015-06-29 16:45] Scotchester commented on #268
That must've been something else. The CSS for the example also needs to be updated. I'll help you out.

[2015-06-29 16:50] caheberer commented on #139
I'm wondering how successfully users can determine the difference between a blue underline and gray underline (and their expected behavior).

I agree a plain language approach to the actual content is ideal.

[2015-06-29 16:52] klocraft commented on #268
I had thought so too...the design manual is messing with us.

[2015-06-29 16:58] mebates commented on #289
Great. I'm going to move this to a less-urgent milestone. Thanks!

[2015-06-29 17:03] Scotchester commented on #286
On it.

[2015-06-29 17:13] mebates commented on #297
@nataliafitzgerald we need you approval to move forward.

[2015-06-29 17:14] mebates commented on #311
Still needs more work!

[2015-06-29 17:27] mebates commented on #301
We need some cross-project strategy re: information architecture / UX. We can workshop this issue during the Regroup Design Manual working session.

[2015-06-29 17:34] benguhin commented on #291
Page in progress: http://ascott1.github.io/design-manual/ui-toolkit/layouts.html

[2015-06-29 17:36] mebates commented on #291
@nataliafitzgerald will review by COB on 6/30.

Ultimately, our thoughts on the heros (#301) will end up here too.

@benguhin and @ascott1 are working on building the page now! :boom:

[2015-06-29 17:36] nataliafitzgerald commented on #297
Approved.

[2015-06-29 17:38] mebates commented on #309
@contolini may help out with this!

[2015-06-29 17:50] Scotchester commented on #313
Closed in #318.

[2015-06-29 17:50] #313 closed

[2015-06-29 17:57] Scotchester commented on #262
This is effectively implemented in Capital Framework by way of the [`.styled-link`](https://cfpb.github.io/cf-typography/docs/#styled-link) and [`.jump-link`](https://cfpb.github.io/cf-typography/docs/#jump-link) patterns. It's difficult to make this a "default" behavior that doesn't involve adding these classes to links, but as long as these classes are employed consistently, links set in Avenir

[2015-06-29 18:00] benguhin commented on #301
In our working session next week, let's also address whether we should include the arrow minicon at the end of links in hero sections. This is the final detail in issue #264

[2015-06-29 18:02] mebates opened #334 "Update central illustration file"
As referenced in #302, members of the team still want the central illustration file updated. This has benefits for new employees to come in and see the whole range of objects available, and could help with long term work on relative sizing of objects. @designlanguage is going to work on updating the central file, which hasn't been updated since June 2014.

[2015-06-29 18:04] mebates commented on #236
This needs a shepherd to see it through to publish. Feel free to grab an item (or all three) on this checklist:
- [ ] Add to the Design Manual
- [ ] Update Capital Framework
- [ ] Update .ai template(s) to reflect new standard

[2015-06-29 18:05] mebates commented on #299
We agree to link to the color contrast tool.
- [ ] Update color contrast link on the Design Manual

@nataliafitzgerald has further concerns about acceptable combinations, more from a design perspective than accessibility. Please use this issue to spell out how the Design Manual should be updated to reflect those changes.

[2015-06-29 18:06] mebates commented on #139
Once we resolve the color issues, we are going to move to publish. @marteki, would you be willing to pull the in-line definition issue into a separate topic? We want to get this one sealed up for tooltips that aren't in-line.
- [ ] Add to the Design Manual
- [ ] Update Capital Framework
- [ ] Update .ai template(s) to reflect new standard

[2015-06-29 18:06] mebates commented on #143
Who wants to help take this issue to the finish line?
- [ ] Add to the Design Manual
- [ ] Update Capital Framework
- [ ] Update .ai template(s) to reflect new standard

[2015-06-29 18:08] mebates commented on #313
:tada: done before july!!

[2015-06-29 18:16] nataliafitzgerald commented on #331
@designlanguage I'm glad to see you're exploring this and I'm liking your approaches. I look forward to further discussions on this. What if the hover state and the line were blue? Just throwing that out there for discussion. I do really like the mid-tone green (and I love the light metaphor).

[2015-06-29 18:16] marteki commented on #139
Can do!

[2015-06-29 19:18] duelj commented on #264
+1 to @mebates comment, to eliminate them as we update, default w/o them, and leave them for fringe cases at designer discretion.

I believe FJ has internally taken the stance to try and remove link arrows as we have been building out new pages. We have not updated old pages though. Does this sound correct @schaferjh ?

[2015-06-29 19:54] schaferjh commented on #264
Yep, FJ has started to adopt a no-link arrow stance in our design work, but the work our devs are doing right now is still often based on arrow-fied documents. I figured I would wait til this issue was resolved one way or the other to ask our devs to make a change. So, there are still link arrows on our newer published pages. :disappointed:

Anyway, I also like @mebates comment and am happy to mov

[2015-06-29 20:55] marteki commented on #236
I can't do everything on the list myself, but I can shepherd them. :smiley:

[2015-06-29 21:49] marteki opened #335 "Inline tooltips"
Moving this part of the discussion from issue #139.

There's use cases for having tooltips inline, possibly in paragraph text. When this happens, our traditional methods of placing a icon after the text to be explained might not work as well.

The tooltips might be in a single line, surrounded by text.

![screen shot 2015-06-29 at 11 10 43 am](https://cloud.githubusercontent.com/assets/1183435/841

[2015-06-30 14:30] Scotchester commented on #327
@klocraft and I realized that this discussion is blocking the updating of the logo for web usage, if we want to avoid changing the gray text color now, and then again at the conclusion of this discussion. So here's a prod to everyone to get their feedback in :)

Overall, I think it's a great proposal. I like the slight cooler shift in the gray hue, especially.

@designlanguage mentioned outside th

[2015-06-30 14:39] JenniferHoran commented on #327
Thanks for calling this out again - the official CFPB green is about one Pantone shade off to meet 508 colour contrast ratios with white at any size, it just needs to be a slight bit darker.

JH

[2015-06-30 15:39] #268 closed

[2015-06-30 15:39] #286 closed

[2015-06-30 18:51] nataliafitzgerald commented on #291
@duelj
First off, nice work, Justin. This is looking great.

I read over the content document and did have some comments. It didn't look like the FJ Google Doc was editable or open for comments so I created a copy with my comments which can be found here: https://docs.google.com/document/d/1K1Kmw6B7JDhONLV_7wxx7pH_dX3azlpknx2yEnMpEog/edit#.

Regarding the layout, just a few pieces of feedback:
- F

[2015-07-01 17:37] designlanguage commented on #327
Deciding on a family of grays is a priority since it affects our logo, so let's focus on that. Here are the original cool gray tints:

![screen shot 2015-07-01 at 12 26 14 pm](https://cloud.githubusercontent.com/assets/10562544/8459639/a5a9b17a-1fec-11e5-81f0-3394b3ca24f0.png)

As I mentioned before, they seem a little too similar to the warm gray/brown family, especially in the lighter tints. The

[2015-07-01 20:29] nataliafitzgerald commented on #301
Sounds good @benguhin

I'd also like to continue the conversation about the card style for illustration heroes. As we move toward defining our hero standards, I'd like to push for reserving the card style for photo and video heroes. The more we can avoid boxing out content, the better. When we do box out content there should be a solid reason behind it, for example, allowing us to place text on to

[2015-07-02 14:25] Scotchester commented on #327
Thanks, George. I still like the idea of leaving the warm grays (named "Neutral" in our [current palette](http://cfpb.github.io/design-manual/identity/color-principles.html)) as they are and taking the Gray family in a slightly cooler direction.

Concerning the equal steps or custom-eyeballed graduated steps, one thing to consider might be how we'll translate these values to print. Not that it's a

[2015-07-02 15:35] elizbond commented on #230
I decided to go through some of the data-heavy reports and pull out any custom charts we did (i.e., outside of the excel template). Examples with the source material are below.

### Consumer credit reports: A study of medical and non-medical collections

[Report](http://files.consumerfinance.gov/f/201412_cfpb_reports_consumer-credit-medical-and-non-medical-collections.pdf)

![screen shot 2015-07-0

[2015-07-02 16:10] jenn-franklin commented on #281
Hi @JenniferHoran! Any more thoughts on this? We're going to wrap up these basic guidelines soon and start a new issue addressing more complicated print decisions as they arise. Thanks!

[2015-07-02 17:34] duelj commented on #331
I don't see the hover and selected states being the same, as a large cause for confusion among users, but feel the concern would best be resolved through user testing. Seeing as a user has to have interacted with putting the cursor over a title for the confusing hover/selected situation to occur and would see the difference once the cursor was moved again, I think the interaction would be enough t

[2015-07-02 17:36] schaferjh commented on #327
Interesting exploration going on here!

Just wanted to enter a reminder about our accessibility needs -- In order to handle link text on the website, we need to be sure to check pacific blue link text on the lightest grays in whatever new gray palette we're considering. We're currently using our 5% gray for wells on the website in order to maintain enough contrast ratio with links (#295) so we jus

[2015-07-02 19:36] keelerr commented on #331
@duelj, I think site visitors will be actively interacting with the menu and understand the difference between the states. That said, user testing could help eliminate any concerns...

FWIW, I was coming to comment and say that I think this is fairly typical, but my brief tour to find examples was not fruitful. What I am seeing more of is the use of a color field behind a link to indicate hover st

[2015-07-02 20:37] designlanguage commented on #327
There was some good feedback from the working session yesterday. Due to the amount of work that would be involved in updating existing materials, the preference seems to be too not shift or add any color families, but to just add/adjust tints within those families.

#### Accessibility

@schaferjh - Just as you mentioned, there was a request yesterday to make the lightest tints of each shade pass a

[2015-07-06 21:16] duelj commented on #291
@nataliafitzgerald thanks for taking the time to review everything. In regards to your third bullet point, I think there might be a bit of a misunderstanding of how the highlighted illustration is intended to work in conjunction of the expand/collapse sections. Because this was something our team felt might be helpful for others including the devs. who end up building it, we put together a quick a

[2015-07-07 03:58] designlanguage commented on #331
@duelj - You make some good points about edgecases for using the lighter green bar with gray text. That was just one proposal though, and there are many possibilities to differentiate hover and selected.

For example, Bootstrap uses a bolder line and text for the selected state vs hover:

![screen shot 2015-07-06 at 10 59 57 pm](https://cloud.githubusercontent.com/assets/10562544/8538110/bc676824-

[2015-07-07 18:26] KimberlyMunoz commented on #275
Hey @mebates!

What was the final decision on this? We have some really content-heavy pages that would be affected by this and want to know if we can implement it.

Thanks!

[2015-07-08 16:52] mebates commented on #297
- [ ] Add to the Design Manual
- [ ] Update Capital Framework
- [ ] Update .ai template(s) to reflect new standard

[2015-07-08 16:54] mebates commented on #264
I think discussion on this issue has wrapped up, and we just need approval from @benguhin and @nataliafitzgerald before we implement on the Design Manual.

[2015-07-08 18:54] mebates commented on #301
Next steps: UX is taking this on! During their weekly meeting. They'll update the designers in the next Design Manual Meeting. @kurzn will take this on

[2015-07-08 19:01] benguhin commented on #264
Ok I approve the death of arrows at the ends of hyperlinks for newly updated pages going forward!

The one _possible_ exception is for links in heros. Watch #301 for updates on that front.

We will check back in about closing this at our July review

[2015-07-08 19:03] mebates commented on #328
CCDB uses tabs as well:

![screen shot 2015-07-08 at 3 02 54 pm](https://cloud.githubusercontent.com/assets/6223901/8579421/829993b2-2582-11e5-8baf-b1c05bf926ac.png)

[2015-07-08 19:10] mebates commented on #328
Notes from our working session. UX will take on further standards/ best practices.

### Tabs as ordered, progressive navigation
- Owning a Home is doing this in the Journey
- Loads a new page or URL
- OaH tested the tab solution versus a numbered left hand nav, and users preferred the tabs
- Should we call this something different than tabs? Wizard or step through?
- Needs a progressive step throu

[2015-07-08 19:19] mebates commented on #328
Another tab use:

![screen shot 2015-07-08 at 3 18 37 pm](https://cloud.githubusercontent.com/assets/6223901/8579792/aae373ae-2584-11e5-9791-41f9497c56d0.png)

[2015-07-08 19:20] nataliafitzgerald commented on #328
Here's another instance of that same tab use case (toggle):
<img width="1126" alt="screen shot 2015-07-08 at 3 20 02 pm" src="https://cloud.githubusercontent.com/assets/6887128/8579827/e25decc4-2584-11e5-850e-73ed37bf76f1.png">

[2015-07-08 19:31] elizbond commented on #275
Feedback from Working Session

Intro before the "The Design Manual is an open-source..."
Sidebar highlighting the information on how to engage

[2015-07-08 19:45] duelj commented on #275
##### Thoughts during our working session (7/8/2015)

I had some thoughts around how the homepage might be rearranged if it were a landing page in the FJ mould. It would be nice to feature the three main sections of the design manual on the home page, especially if the hero is just an introduction, just an additional thought, I know it may not be feasible because it would require additional conten

[2015-07-13 18:46] kurzn opened #337 "Design Patterns for Page Intros"
This is to continue the UX portion of the "hero" conversation.

Rather than limiting the conversation to just discussing heros, the conversation has pivoted to discussing creating design patterns for how introductory content is handled on pages.

There are "heros" and then there are "expanded intro" - an example of an expanded intro would be this: http://www.consumerfinance.gov/owning-a-home/check

[2015-07-15 15:50] mebates commented on #275
Hey all - Here's an update to the Design Manual homepage design per our discussion last week, and @duelj's suggestion above. I removed our 'inspiration' section because I feel like it's kind of irrelevant now. The 'news' module would be sometime in the future.

![screen shot 2015-07-15 at 11 49 51 am](https://cloud.githubusercontent.com/assets/6223901/8702726/a65b8fe8-2ae7-11e5-8031-c5d827ddcbae.p

[2015-07-15 16:13] nataliafitzgerald commented on #275
This looks good!

Comments/questions/feedback:
- Can you narrow the width of the body text? The line lengths are feeling too long. Same feedback on the intro text block "The Design Manual is an open-source...".
- The space under the "What it includes" and Get involved" headers is too big. It looks perfectly centered between the paragraph before and the paragraph after. This is visually confusing.

[2015-07-15 16:34] Scotchester commented on #275
Agree with @nataliafitzgerald on the measure width :)

The "What it includes" and "Get involved" headers should have 60px top margin, I think. That would solve Natalia's second point.

The footer header spacing is an existing bug, I think. I can take care of that in the course of this update.

I'd like to see another take with a white background in the hero area. I don't totally love the idea of u

[2015-07-15 20:04] nataliafitzgerald commented on #275
@Scotchester - As beautiful as the light teal tint looks, I support trying out white and the lighter greens to see if they may work. Brand always comes first.

[2015-07-15 21:40] nataliafitzgerald commented on #264
Approved. Looking forward to seeing where we land on the hero angle with regards to this.

[2015-07-16 14:28] benguhin commented on #337
I'm gonna add screenshots of our google doc here – I think it's ready to for some visual design input! Props to @kurzn for taking the lead on this

Doc: https://docs.google.com/a/cfpb.gov/document/d/120S1FyRaIAefcVgODGhnaO99ycigH_-5_4cI5KAfE4A/edit?usp=sharing

![screen shot 2015-07-16 at 10 20 31 am](https://cloud.githubusercontent.com/assets/6953063/8725864/b75b2110-2ba4-11e5-87fb-8a9e5a002533.p

[2015-07-16 17:51] mebates commented on #275
I think the white is going to be tricky with the left gray sidebar. I like the light green and fixed the spacing:

![screen shot 2015-07-16 at 1 44 27 pm](https://cloud.githubusercontent.com/assets/6223901/8730896/c87c2170-2bc1-11e5-8e99-9e8083224a90.png)

[2015-07-16 17:53] Scotchester commented on #275
Looks awesome! Let's roll with that.

[2015-07-24 13:39] Dnpizarro commented on #301
I wanna queue this up for Monday's meeting. There has been lots of discussion about hero standards for the KBYO pages, so we should definitely discuss this as a group. @kurzn do you think you will be able to update us on any new developments from the UX perspective?

[2015-07-24 13:58] Dnpizarro commented on #139
I know we deviated a little, but I just wanted to circle back. @huetingj and @stephanieosan has there been any updates for this issue?

[2015-07-24 13:59] Dnpizarro commented on #227
I can make the update for the design manual, but its going to have to be in the next sprint.

[2015-07-24 14:36] Dnpizarro commented on #327
Hey @designlanguage I think we should spend some time at this Monday's Design Manual meeting to go over this in further detail.

[2015-07-24 14:51] kurzn commented on #301
@Dnpizarro Yes! I will have the full recommendations to discuss at our meeting next week! The UX team has had conversations and are in a good place to hand this over to vis design.

[2015-07-24 15:33] Dnpizarro commented on #301
Awesome! Thanks @kurzn , look forward to hearing the recommendations!

[2015-07-24 17:03] kurzn commented on #337
Google Doc with Full Recommendations:

https://docs.google.com/document/d/120S1FyRaIAefcVgODGhnaO99ycigH_-5_4cI5KAfE4A/edit#

We will be discussing these at the next design manual meeting and handing off to visual design to take the next steps in defining standards.

Two action items from this discussion:
- UX will create a new design manual issue to hash out rules around use of buttons vs links
-

[2015-07-24 17:13] kurzn opened #338 "Button vs Link Usage"
This issue is to determine a set of guidelines around when to use buttons vs links vs links with arrows. These guidelines would apply regardless of where the link/button was displayed (i.e., in a hero, in a sidebar, etc.)

As a jumping off point, the following was discussed:

1. Buttons should be used to allow the user to complete an action. "Submit a complaint," "Get started with X tool" or "Cont

[2015-07-27 14:02] mebates commented on #338
There are some guidelines already in the Design Manual.

At the top of the [Links page](https://cfpb.github.io/design-manual/ui-toolkit/links.html):
"Links lead users to a different page or further information. In contrast, buttons are used to signal actions. Users should be able to identify links without relying on color or styling alone."

At the top of the [Buttons page](https://cfpb.github.io/

[2015-07-27 14:06] benguhin opened #339 "Foundational components"
To help prioritize what we standardize before our next round of projects, Scott and I started working on a list of standards that make up the majority of our pages / design effort. The idea is that if we prioritize finishing these, then our future projects will save a lot of time because the majority of the components they need to use will already have a standard in the manual:

Published standard

[2015-07-27 14:48] keelerr commented on #338
I was doing a little digging about the button vs link issue last week.
I found this (http://ux.stackexchange.com/questions/5493/what-are-the-differences-between-buttons-and-links) which I thought was helpful. I've excerpted a few parts below:

Use links for:
• Navigating between pages
• Loading a page of content
• Loading dynamically generated content.
• Loading content to part of a page if no oth

[2015-07-27 17:00] benguhin commented on #291
Page in progress, updated: https://benguhin.github.io/design-manual/ui-toolkit/layouts.html

[2015-07-27 19:27] designlanguage commented on #327
Here is the proposed palette expansion with two updates: adding the new green and switching back to the original teal, but making it the darkest shade in that family. Below right is the full expanded palette. Below left has our current main colors outlined.

![screen shot 2015-07-27 at 3 19 03 pm](https://cloud.githubusercontent.com/assets/10562544/8915456/1a6e0782-3473-11e5-8f2e-ec650f793f64.png)

[2015-07-27 21:04] Scotchester commented on #327
Looks solid to me!

[2015-07-29 17:36] kurzn commented on #337
The google Doc is complete with the UX team's recommendations. This is officially ready for the visual design team to take on.

@Dnpizarro

[2015-07-29 17:37] mebates commented on #263
This issue could use some quick front-end help! All we need you to do is change the type size on the button from 14 px to 16 px in Capital Framework, then make sure it's pushing through to the sample in the Design Manual.

[2015-07-29 18:26] jimmynotjim commented on #263
@mebates I can jump on this. Does the super size get bumped up as well? https://github.com/cfpb/cf-buttons/blob/gh-pages/src/cf-buttons.less#L86

(fixed link)

[2015-07-29 18:57] elizbond commented on #233
@Dnpizarro and @keelerr will take this over for Design Ops.

[2015-07-29 18:58] jimmynotjim commented on #263
PR opened and awaiting review in CF Buttons - https://github.com/cfpb/cf-buttons/pull/47

[2015-07-29 19:17] ascott1 commented on #263
I think this is a :clock1: record.

[2015-07-30 14:28] stephanieosan commented on #263
Now that @jimmynotjim's PR is merged, can someone check that the button example in the design manual correctly pulled from Capital Framework and is now updated? Then we can close this issue out?

[2015-07-30 14:55] jimmynotjim commented on #263
@stephanieosan I don't know that it auto-updates. I'm working on getting the project running locally and have an issue w/ the build process. I may try to push this whole project to cf-v1 (using @imports with versions @Scotchester :smile: ) so that we can be sure each of the components is working together correctly.

~~I should note that I've already found and fixed a bug in cf-core that needs to b

[2015-07-30 16:32] jimmynotjim commented on #263
Yep, we need to update the project to CF v1 to before we can update with the button change. PR opened  -> https://github.com/cfpb/design-manual/pull/341

[2015-07-30 18:53] ohsk commented on #236
@marteki @mebates @benguhin we'll be featuring a bunch of checkbox-based filtering options for the [CR Search interface](https://github.cfpb.gov/ConsumerResponse/complaint-analytics-search-tool). Would be happy to help follow-through with updating the Design Manual / .ai template side of things. I'm not sure if we have the FEWD bandwidth to contribute back to Capital Framework, though.

Let me kno

[2015-07-31 13:19] mebates opened #342 "Responsive Grid updates"
Per our discussion on (internalgithub)/CFPB/Design-Development-Team/issues/58, we have a few small tweaks to the grid standard.

- [x] Update the Capital Framework grid, to be **1170 width with 30 pixels of padding on each side for a total of 1230 pixel width**. It is currently 1140 width with 30 pixels of padding on each side. This update syncs it with the Illustrator template and provides even 7

[2015-07-31 19:48] nataliafitzgerald commented on #327
We are moving on to the testing phase of this palette before we go ahead and start defining CMYK values. The green selections are still being worked out.

[2015-07-31 21:50] benguhin commented on #229
I think the usage notes need to include the many caveats of dropdowns - see LukeW's recent post [Dropdowns Should be the UI of Last Resort](http://www.lukew.com/ff/entry.asp?1950) or the examples from the Government Digital Service of users struggling with dropdown menus: [Alice Bartlett: Burn your select tags - EpicFEL 2014](https://www.youtube.com/watch?v=CUkMCQR4TpY)

[2015-07-31 21:52] benguhin commented on #153
Adding @marteki because she's scrum master and can delegate appropriately

[2015-07-31 21:57] benguhin opened #343 "Alerts, validation and error messaging"
@duelj posted has some great designs in the Getting Started with Flapjack repo that still haven't made it out to the public one yet (I think)

[2015-07-31 22:07] benguhin opened #344 "Tags"
This came up a while ago in discussions about button styles, as "tags" are often actionable, but we may need an additional style for tags that aren't actionable. Assigning to @ohsk and the other folks on Complaint Analytics

[2015-07-31 22:09] benguhin opened #345 "Filters"
Note that the Flapjack folks have already started working on this for the newsroom section. Assigning to @ohsk and the other folks on Complaint Analytics

[2015-07-31 22:11] benguhin opened #346 "Form fieldsets, legends, and grouping patterns"
Some of the latest work for this has been on Flapjack/FOIA and Form 3.0. Assigning to @stephanieosan and the OaH folks

[2015-07-31 22:21] benguhin commented on #325
There are a few issues that @himedlooff raised in our internal repos that our worth checking out for this. It may be best to avoid using modals wherever possible because (1) they're hard to control across different browsers and devices and (2) you can usually get what you're looking for from an expandable section or a separate page.

[2015-08-03 15:30] Scotchester commented on #263
What about updating the standard input height to match?

[2015-08-03 16:07] keelerr commented on #328
UXers are discussing tabs and hopefully coming up with some solid guidelines around usage, I've captured my thoughts (and will continue to edit based on the feedback I receive) here.
https://docs.google.com/document/d/1m1UIb_DplE7i719rwozFb6vVGmOmyLwYFkmYMNyazAc/edit#

[2015-08-03 21:05] amycesal commented on #327
I'm jumping in about how our current colors work with data visualization and proposing 2 changes.

## The Problem:

Right now we only have 2 warm tones in the suite of colors, Gold and Red Orange. When trying to use them in graphs that have a lot of segments, they visually pull away too much and add unwanted emphasis. If you do the "squint test" (just squint) the red orange and the gold have more

[2015-08-04 20:09] mebates commented on #342
One enhancement we could add is to make the grid responsive, as they're doing on the gov't style guide:
https://github.com/18F/govt-wide-patternlibrary/issues/256

[2015-08-04 20:15] mebates commented on #327
At a minimum, I support warming up the brown. I agree that it isn't used much since it is so close to the gray.

[2015-08-04 20:16] stephanieosan commented on #342
I don't understand...isn't our grid responsive?

[2015-08-04 20:19] mebates commented on #291
Check out how USDS/18F is approaching layout: https://pages.18f.gov/govt-wide-patternlibrary/layout-system/

[2015-08-04 20:21] mebates commented on #236
USDS/18F is generally grouping together a bunch of things under 'Inputs'. Let's try to align with them as much as possible: https://pages.18f.gov/govt-wide-patternlibrary/elements/#inputs

[2015-08-04 20:22] mebates commented on #153
https://pages.18f.gov/govt-wide-patternlibrary/elements/#tables

[2015-08-04 20:23] mebates commented on #343
https://pages.18f.gov/govt-wide-patternlibrary/components/#alerts

[2015-08-04 20:23] mebates commented on #346
https://pages.18f.gov/govt-wide-patternlibrary/components/#forms-blocks

[2015-08-04 20:25] mebates commented on #342
Indeed it is @stephanieosan! Doh.

[2015-08-04 21:02] designlanguage commented on #327
:+1: @mebates. The gray and brown are very similar, especially at lighter colors. Originally I tried making the gray cooler to solve for that, but making the brown warmer could be a better option.

[2015-08-05 15:59] Dnpizarro commented on #327
@designlanguage I'm going to move this into the August Sprint since this is a relevant ongoing issue.

[2015-08-05 16:24] Dnpizarro commented on #331
I do find that some of @designlanguage explorations have validity. The differentiation in color and/or weight of the line on hover state does more clearly reinforce the idea of an unselected option. I guess the question is wether the current interaction is enough of an indicator to the user? or wether the confusion on the hover state is a non-issue? I will carry this issue over into the August Spr

[2015-08-05 16:34] Dnpizarro commented on #330
@klocraft I'm adding this to the August Sprint.

[2015-08-05 16:45] Dnpizarro commented on #301
@nataliafitzgerald can we setup a time to discuss next steps for how the graphic designers can now pick up the work done by UX to resolve some of the visual standards? For reference, the document @kurzn presented at our last meeting is below:

https://docs.google.com/document/d/120S1FyRaIAefcVgODGhnaO99ycigH_-5_4cI5KAfE4A/edit

[2015-08-05 20:53] duelj commented on #343
@benguhin - thanks and wanted to share the link to Getting Started with Flapjack

[Form error states](https://github.cfpb.gov/flapjack/Getting-started-with-Flapjack/issues/31#issuecomment-44549)

[2015-08-05 20:54] duelj commented on #346
Just wanted to share the Flapjack  exploration from Getting Started with Flapjack

[Forms](https://[GHE]/flapjack/Getting-started-with-Flapjack/issues/31#issuecomment-44237)

[2015-08-05 21:06] duelj commented on #342
Just wanted to share a screenshot from our design template file, as we have been including 60px on either side of the grid (doesn't really change anything) just make the designs feel a little different so our total width is 1290px on our files.

![screen shot 2015-08-05 at 5 04 11 pm](https://cloud.githubusercontent.com/assets/6873734/9097858/48110c7a-3b94-11e5-9d3d-53b32b044e02.png)

[2015-08-06 14:25] marteki commented on #227
The Before You Claim tool will be using this spinning indicator after the button is clicked to access data from the Social Security Administration.

![screen shot 2015-08-06 at 10 17 51 am](https://cloud.githubusercontent.com/assets/1183435/9113867/cd54b3a6-3c24-11e5-8e21-3636d11abaa7.png)

~99.5% of the time it would only be visible for milliseconds, but there's the potential for a delay of sever

[2015-08-07 16:48] designlanguage commented on #327
Starting from @amycesal's proposal, I explored how a brown/chestnut color might fit into our palette. After meeting with her to discuss, we landed on this:

![screen shot 2015-08-07 at 12 50 21 pm](https://cloud.githubusercontent.com/assets/10562544/9140933/e85126e2-3d02-11e5-80db-4244c0918dda.png)

The new color feels different enough from the cool gray and it also aligns well with the rest of th

[2015-08-07 17:03] Scotchester commented on #327
Me likey.

[2015-08-07 17:13] mebates commented on #327
Love this new brown. Nice work!

[2015-08-07 17:18] mebates commented on #227
@marteki so are you looking for a FEWD to help with the CSS with GIF fallback? I'm assuming Chuck has his hands full.

@Scotchester @ascott1 @willbarton @jimmynotjim

[2015-08-07 17:21] marteki commented on #227
Yes, FEWD help is needed for the CSS with GIF fallback implementation. Thanks for putting out the explicit call, Mollie!

[2015-08-07 17:44] mebates commented on #283
Where would an animated saving indicator fit on the IA? Re: Issue #227

[2015-08-07 18:43] amycesal commented on #327
WOW that chestnut car looks like an 80's dad car.

I think it warms up the teddy bear nicely and really looks like wood paneling on the garage door, and more like leather on the wallet.

It also has enough of a contrast with the other colors to work nicely for data visualization.

[2015-08-07 20:32] nataliafitzgerald opened #347 "Defining the use of Avenir Next vs. Georgia"
Up until now the use case for Avenir Next paragraph versus Georgia paragraph has been loosely defined. In working through our various web products, designers have been left to rules of thumb, design discretion, and guess work. I have received feedback from at least one of our front ends @Scotchester that more definition would be very helpful. So, I'm kicking off this conversation with the end goal

[2015-08-10 14:41] stephanieosan commented on #347
@nataliafitzgerald We use Georgia on Owning a Home, just not on the landing page. That said, I don't think we have a great rational for when we use it. We use it on our content-heavier pages, check out cf.gov/loan-options  (expand to find) or [buildserver]/owning-a-home/process/prepare (expand to find).

[2015-08-10 18:31] duelj commented on #345
Here is the exploration that Flapjack has on [filters](https://github.cfpb.gov/flapjack/Getting-started-with-Flapjack/issues/40) so far for our use cases. You can see examples on [blog](http://beta.consumerfinance.gov/blog/), [Newroom](http://beta.consumerfinance.gov/newsroom/), and [Activity Log](http://beta.consumerfinance.gov/activity-log/)

[2015-08-10 18:49] duelj commented on #337
As the visual discussion begins I wanted to share some of the documentation we have done mainly on the [card hero](https://github.cfpb.gov/flapjack/Getting-started-with-Flapjack/issues/35)

#### Should we include introduction sections in the conversation as well?

I think it is also worth noting the [intro section](https://github.cfpb.gov/flapjack/Getting-started-with-Flapjack/issues/35#issuecomme

[2015-08-10 20:45] caheberer commented on #153
Audit of cf.gov tables:

<strong>Reversed header, zebra striped, bordered</strong>
http://www.consumerfinance.gov/mortgage-rules-at-a-glance/

![screen shot 2015-08-10 at 4 10 23 pm](https://cloud.githubusercontent.com/assets/4739887/9182948/5785203a-3f7a-11e5-9a1f-e3c134409862.png)

<strong> Colored header, no zebra stripes, bordered</strong>
http://www.consumerfinance.gov/hmda/explore#!/as_of_ye

[2015-08-10 21:37] stephanieosan commented on #337
@duelj I was just thinking about that today! I'm going to open up separate issues about the visual design  for the three cases Natalie outlined in her document.

Because it seems like the three cases have different levels of discussion necessary before we can call the visual design final and approved (like, the card hero should be really quick and simple to close out).

[2015-08-10 21:52] nataliafitzgerald commented on #301
@Dnpizarro - Yes, can you find a time on my calendar?

[2015-08-11 13:43] Dnpizarro commented on #233
@caheberer I was curious to know what the UX justification was for hiding the tab label? I know there has been some discussion about this in previous Friday presentations, and was wondering if the UX perspective has been documented anywhere. @keelerr started a [working google doc](https://docs.google.com/document/d/1m1UIb_DplE7i719rwozFb6vVGmOmyLwYFkmYMNyazAc/edit) to capture thoughts and feedback

[2015-08-11 13:57] caheberer commented on #233
@Dnpizarro do you mean in the variation? With the icons?

If space allows, it is preferred to include the label, even if using an icon. I'm now seeing in the design manual page that I wrote, that is not readily apparent.

In the case presented for the variation, the titles of each were too long to fit, but a use case was still needed for wanting to expose multiple categories of equal prominence, w

[2015-08-11 15:45] jenn-franklin commented on #301
Hi, @Dnpizarro and @nataliafitzgerald! This is one of OaH's assigned design manual issues. We've started strategizing and are going to do a deep dive on Thursday to look more at use cases and what that means for visual design, illustration strategy, etc. We'll reach out soon to schedule a meeting with you to talk more about direction, so be on the lookout for that. @stephanieosan @sonnakim @emilie

[2015-08-11 16:53] Dnpizarro commented on #347
At yesterday's Falling Water working session I brought this issue up to the group. Generally, some of the consensus that we came to is that we should limit the use of Georgia. How exactly, that has yet to be determined, but the existing rule being used in FJ is that we use Georgia for multiple paragraphs, meaning 2 paragraphs or more. This works well in certain cases but isn't a tight enough ratio

[2015-08-11 17:28] marteki commented on #236
@mebates - When you say "let's try to align with [the govt wide pattern library] as much as possible," what exactly does that mean?

[2015-08-11 20:46] mebates commented on #153
Seems like we should have a standard for border and borderless, ala USDS.

Is there a strong UX argument for the zebra stripes? Is there anyone on cf.gov refresh who can speak to why they were chosen? Looks like USDS is not doing zebra stripes.

[2015-08-11 20:51] mebates commented on #236
Are there places in our standard (for radio and check boxes) where we deviate from USDS's standard? If so, why? Do we think our solution is better?

Would we want to consider including a more thorough 'Inputs' section like they have, grouping radio/checks with input text fields, drop downs, range slider, date picker? For the items we have missing from our Manual but they have, can we just take the

[2015-08-11 21:18] mebates commented on #274
Working with @danny8000 on pages today and noticed that the PDF icon is still in the Design Manual and minicon font. @Dnpizarro - is this geared up to be removed from the font? I think I can figure out how to remove it from the DM.

[2015-08-12 13:12] klocraft commented on #274
This question may focus too much on semantics, but when consumers click a PDF link on our website, are they actually downloading the PDF? Or is the PDF just opening in a browser? A 'download' minicon could be misleading.

[2015-08-12 14:15] Scotchester commented on #274
@mebates I'm not sure it warrants removing it entirely. Could still be useful if we ever use minicons at larger-than-body-copy sizes. Also, removing it could break existing uses of it, unless we replace that same character code with a duplicate of the standard download icon.

Unless we want to make sure no one ever uses the icon for anything ever again, I say just leave it in and publicize the gui

[2015-08-12 16:00] Dnpizarro commented on #301
Hi @huetingj I've been chatting with @nataliafitzgerald about this as well. I just sent out a calendar invite for this Friday. We have a Design Manual meeting on Monday so I wanted to get everyone together to discuss this issue so that we can provide some clear updates for that meeting.

[2015-08-12 16:07] kurzn commented on #301
@Dnpizarro Can you include me on that invite as well, please? Thanks!

[2015-08-12 16:15] ohsk commented on #274
Sorry if this is side-tracking our current convo, but I'd like to propose updating the download icon, or creating a separate download icon than our current version, which I think more specifically relates to "downloading a document"

![image](https://cloud.githubusercontent.com/assets/1689222/9229534/96edcc82-40eb-11e5-9843-c69763d4a3e5.png)

Something like the options to the right seems generally

[2015-08-12 16:35] Dnpizarro commented on #301
@sonnakim @emiliecfpb @kurzn I forwarded the invite to you all.

[2015-08-12 16:38] stephanieosan commented on #301
Hey @Dnpizarro that time doesn't work for me. I'm writing you an email right now.

[2015-08-12 17:11] jimmynotjim commented on #343
These form states are in the public repo ([view the PR here](https://github.com/cfpb/cfgov-refresh/pull/589)), and will become a CF component as soon as I have time finishing it.

[2015-08-12 17:58] jimmynotjim commented on #153
Zebra stripes definitely make it a lot easier to follow along when a table isn't responsive, because you're often scrolling back and forth, but for responsive tables like the Agenda linked above, it's a lot easier because each row is grouped with it's first column as a header and the original table headers are moved inline above their related content.

<img width="505" alt="screen shot 2015-08-12

[2015-08-12 18:52] jimmynotjim commented on #263
@Scotchester good point. When an input and button are next to each other they'll no longer be the same height.

[2015-08-12 19:47] Dnpizarro commented on #328
@keelerr lets set some time apart to go over your document. I had some questions particularly around word count for the Tab labels. Also, lets plan for an update to the group at this Monday's Design Manual meeting.

[2015-08-12 19:56] Dnpizarro commented on #233
@caheberer that makes sense. Spacing can definitely be an issue with long labels, particularly in your use case. Generally, I'm trying to get a broader understanding of how to best deal with tab labels because they tend to get long at times. By any chance has your team done any user testing on these tabs?

[2015-08-12 20:05] caheberer commented on #233
@Dnpizarro sadly no, and it doesn't sound like it's in the immediate future.

[2015-08-13 14:58] cfarm commented on #347
As a developer I would appreciate some consistency for font use with specific design patterns. I sometimes find an existing Capital Framework pattern that I can reuse for OAH, except that the font will be different.

Ideally we'll define the use case for each font style, and then code those patterns for Capital Framework and I'll never have to write a CSS font declaration ever again :smile_cat:

[2015-08-13 15:43] schaferjh commented on #153
After the accessibility training I went through yesterday, I strongly advocate for keeping the zebra stripes. Anything we can do to help people distinguish rows of information is helpful and I don't see a con to keeping the zebra stripe.

[2015-08-14 05:11] nataliafitzgerald opened #348 "Graphic Standards: Hero"
### Overview

The purpose of the Hero graphic is to "provide a brief overview of the purpose for a group of pages and indicate to users that they are in the right place to accomplish their goals." The Hero graphic sits at the top of the content hierarchy, so visual design elements, such as the height of the graphic and type size, must reinforce this position. Graphic standards must be flexible eno

[2015-08-14 14:30] mebates opened #349 "Clarify leading for web headers"
There's some disagreement about what the leading for web headers should be. We need to clarify the standard and then update the hierarchy.

The section of the Design Manual below led me to set all headers with leading at 1.375 em:
![screen shot 2015-08-14 at 10 28 21 am](https://cloud.githubusercontent.com/assets/6223901/9276000/429f8474-426f-11e5-82a4-f60b60a1814a.png)

@Scotchester says that he

[2015-08-14 15:23] #301 closed

[2015-08-14 15:30] Dnpizarro commented on #301
We're closing this issue out and redirecting the discussion to issue #348 .

[2015-08-14 16:32] kurzn commented on #337
After several discussions with the team, we have evolved the definitions of hero further, as documented below.

# New Decisions

1.To simplify the definition and narrow the possible usage of heros, we updated the language used to discuss page introductions.

You can have:
- Hero
- Module
  - Featured content
  - Expanded intro

This helps reinforce the idea that a hero is not removable from the co

[2015-08-14 17:07] nataliafitzgerald commented on #349
It is important that we include the line spacing in the web type hierarchy the way we include leading in print. Currently there is a rule of thumb, that @mebates mentioned above and some examples in the line height section but no clear size/line spacing measurement included.

This is the way the web type hierarchy section appears on the Design Manual. Size is specified but line spacing is not incl

[2015-08-14 18:10] marteki commented on #342
One note: 15px total padding on portrait phone doesn't split evenly between the two margins.

[2015-08-14 18:25] Scotchester commented on #342
Oops, sorry I didn't respond to @mebates on the OP, but no, that's incorrect. Those numbers are for each side.

[2015-08-14 18:29] mebates commented on #342
So the clearest way to say this may be this:
- Desktop: 30px padding on each side
- Portrait tablet: 30px padding on each side
- Portrait phone: 15px padding on each side

[2015-08-14 18:29] Scotchester commented on #342
Exactly. Describing "total padding" is a recipe for confusion and should be avoided :)

[2015-08-14 18:38] duelj commented on #348
@nataliafitzgerald the documentation on this looks nice will be really interesting to hear thoughts around some of the details you mentions
- Had you considered any max character counts for this hero type? With the hard 300px height specification, were you thinking about limiting the description copy to 4 lines?
  - For responsive sizes, (couldn't find anything in issue #30 you mentioned above)

[2015-08-14 19:17] ascott1 commented on #269
Hey all, one thing of note from a FEWD perspective. The way we are calculating spacing does not take into account the line-height of a the text in CSS. In reality the spacing starts below the line-height, making those fixed values really hard to account for.

For example, check out this developer tool's screenshot of a heading from OaH:

![screen shot 2015-08-14 at 2 55 13 pm](https://cloud.github

[2015-08-14 20:23] marteki commented on #342
Is there value in calling out what "portrait phone" and "portrait tablet" means in terms of pixel sizes, since we're using pixels explicitly to set the padding for that width?

FYI, our team is using 480px max for portrait phone (based off the phone values reported at http://viewportsizes.com/).

[2015-08-14 21:02] duelj commented on #342
@marteki what is your min value for phone portrait? for FJ we have been using 320px as our min screen width assuming we aren't the only people stuck on BlackBerry Bold's and that lower income consumers might be on equally low res. screens.

![screen shot 2015-08-14 at 4 54 48 pm](https://cloud.githubusercontent.com/assets/6873734/9284000/2daae090-42a6-11e5-8056-19d8c33fd128.png)

I also wonder if

[2015-08-14 21:34] jimmynotjim commented on #342
mobile max and tablet min are defined in CF https://github.com/cfpb/cf-core/blob/f9e72f8480289e4678119f2fef364d5a3c094c63/src/cf-vars.less#L52-L53 and we expanded that to include other sizes https://github.com/cfpb/cfgov-refresh/blob/flapjack/src/static/css/cf-theme-overrides.less#L14-L18

As far as language goes, I personally use spatial labeling I picked up from Harry Roberts (palm, lap, desk, w

[2015-08-17 14:56] niqjohnson commented on #153
Based on all your comments (thanks!), the tables team has taken a first pass at the tables design manual page: http://niqjohnson.github.io/design-manual/ui-toolkit/tables.html.

The examples there aren't fully coded or functional (the sortable table isn't sorting, for example), but hopefully they're far enough along for everyone to get an idea of what we're thinking. Also, there are lots of open q

[2015-08-17 16:03] mebates commented on #220
Using a check in an illustration today, and came back to this issue. We can remove the squiggly pattern from the personal check:

![screen shot 2015-08-17 at 12 02 48 pm](https://cloud.githubusercontent.com/assets/6223901/9309486/f31c43c2-44d7-11e5-8bed-527deb403022.png)

[2015-08-17 16:55] amycesal commented on #327
@designlanguage and I talked about adding another warm hue and landed on a wine-y purple. It sits nicely in the saturation values of the other colors, and adds to the overall warmth of the palette. I don't think it will be heavily used for illustrations, but it comes in handy for charts and graphs and data visualization.

![screen shot 2015-08-17 at 12 52 58 pm](https://cloud.githubusercontent.com

[2015-08-17 17:57] elizbond commented on #327
Here's the data viz issue:
https://github.com/cfpb/design-manual/issues/230

[2015-08-17 19:03] nataliafitzgerald commented on #348
@duelj -
- Yes, we were definitely planning on setting the max (and probably the minimum too) for number of characters. In general we would like to start to push in the direction of better curated content that is succinct and inviting. Having a character limit will be very helpful as we work through content with stakeholders. This has been a pain point up until now, i.e. stakeholders often write c

[2015-08-17 20:23] mebates commented on #153
Wow, awesome progress!

[2015-08-17 21:06] niqjohnson commented on #153
Some feedback from the Fallingwater design working group on 8/17
- Put the "are" guidance before the "are not" guidance in "Use" section
- Include a section about setting column widths (and how browsers will try to set column widths automagically if widths aren't specified)
- Differentiate header background color in striped tables? Maybe a darker gray? Will that create accessibility issues?
- Cons

[2015-08-18 15:00] duelj commented on #291
@ajbush brought up a good point, since OAH is using such a similar format for their loan estimate page is there any way we could get our DM layout page up and running faster by pulling their code?
[OAH loan estimates](http://build.consumerfinance.gov/owning-a-home/loan-estimate/)

[2015-08-18 16:57] ielerol commented on #153
This looks great, Niq!

I don't have a good sense of whether sortable tables are important enough for our purposes include in the first release, but I do have some thoughts on the sorting behavior. First, I'd want to make sure the entire header cell is clickable to sort on that column, toggling between ascending and descending. Maybe that's what you intended, but the hover states on the icons make

[2015-08-18 18:47] duelj commented on #348
I agree with bullet point one and with forklifting content for FJ we have found how the length, formatting, etc. of content can really affect a design concept. Our intro sections are a great example. Our hope was all of them would have a title and a succinct sub-heading description with some instances of a short description paragraph. But in forklifting most content doesn't have a short descriptio

[2015-08-19 16:07] niqjohnson commented on #153
@ielerol: All good points, thanks!

We're working more on sortable tables now. We'll definitely make sure the sorting trigger is easy to get to and decipher (I think you're right that the arrows are too small to be effective triggers). As for non-sortable columns, the plan for now is to leave non-sorting as an option. I haven't seen any tables currently in use on our sites that would absolutely re

[2015-08-19 19:01] duelj commented on #269
@ascott1 That sounds tricky. If I documented the spaces based off the descender height vs. the baseline it seems like that would help. If that example you showed had no descender would the spacing still be calculated from the same spot? Also, in FJ our heading patterns jump one size down for smaller screens, is the padding you are showing in orange specific to the h1? So, if the h1 changed to h2 w

[2015-08-19 20:10] ielerol commented on #153
Oh, good point about non-text content in a table. I've dealt with that before, but in sad legacy apps where sorting was server-side only, controlled by dropdown menus. :disappointed:

[2015-08-19 20:18] ascott1 commented on #269
@duelj it appears that the height remains the same without the descender:

![screen shot 2015-08-19 at 4 16 04 pm](https://cloud.githubusercontent.com/assets/212533/9367796/aa6080aa-468d-11e5-93eb-04c81d5782e0.png)

![screen shot 2015-08-19 at 4 16 58 pm](https://cloud.githubusercontent.com/assets/212533/9367814/c41bbc8a-468d-11e5-9bdc-a999333695c2.png)

The orange margin is based on whatever we h

[2015-08-19 20:21] ascott1 commented on #269
This is an issue with all type on the web, so paragpraphs etc. have the same challenges:

![screen shot 2015-08-19 at 4 19 56 pm](https://cloud.githubusercontent.com/assets/212533/9367897/341cfe40-468e-11e5-824b-1f6284aa7790.png)

This means if we have an h1 with a 30px bottom margin followed by a paragraph, the space between those two elements is actually more than 30px.

[2015-08-20 14:13] JenniferHoran commented on #153
Yes, non text content in a table also needs markup for 508 :)

[2015-08-20 14:30] jimmynotjim commented on #153
Do we have tables without text? [Per the spec](https://html.spec.whatwg.org/multipage/tables.html#the-table-element):

If it's not text, it's not data, so in situations where there's non-text content we should probably be using a definition list.

[2015-08-20 14:35] duelj commented on #342
A thought came up in the hero issue around breakpoints that different teams are using (some use 7,5, or 3 from what I understand) Natalia had mentioned this to me in the [super hero issue](https://github.com/cfpb/design-manual/issues/348#issuecomment-131931289)

I was wondering if standardizing breakpoints was something that would fall into this issue or seems like something that should be another

[2015-08-20 14:49] JenniferHoran commented on #153
So for 508, think of a table as a grid from a game of battleship. I like to see markup in every cell, even if the cell is blank, because the assistive technology user needs to know where they are in the table. Some kind of markup indicating that this is an empty cell is a best practice even if a visual user would never know that this is there because you've indicated it programatically.

For examp

[2015-08-20 17:24] benguhin commented on #227
Make sure it spins clockwise! :)

[2015-08-20 17:47] ascott1 commented on #227
`cf-icons` contains the [CSS animated version of the loading indicator](http://cfpb.github.io/cf-icons/docs/) (scroll down to the helper classes). Is the task here to create a gif fallback?

[2015-08-20 17:50] ascott1 commented on #227
Also, it's worth noting that the CSS animated version should cover roughly 96% of our users. The remaining 4% would see a non-animated spinner, so we may want to discuss if it is worth adding the complexity of the gif fallback.

For reference: http://caniuse.com/#feat=css-animation

[2015-08-20 19:03] niqjohnson commented on #153
@jimmynotjim, @KimberlyMunoz: I see you two did some work on updating old tables to be responsive in cfpb/cfgov-refresh#308. Did you add `data-label` attributes by hand on those old tables? If so, do you think that's a good approach for future tables, or would you recommend something more automated, like JS that parses tables and drops in `data-label`s if they aren't there?

Also, do you have a se

[2015-08-20 20:45] stephanieosan commented on #291
Probably, yes.

I know from firsthand experience that it's easy to make and modify the boxes that overlay the image. And it's very easy to plug content in and out of the right-hand expandables. I assume it's straightforward to swap out the form images for your page layout image.

I'm sure @virginiacc or @cfarm could walk your team through how it's set up.

[2015-08-20 21:08] KimberlyMunoz commented on #153
Yep.

We're discussing that as a possible enhancement at GHE (GHE/flapjack/Modules-V1/issues/8), but it looks like adding data-labels by hand is the safest way for now.

Screenreaders are iffy on css-generated content, but from what I understand about accessible tables, most of screen readers have built-in ways of dealing with tables and data tables. Since the table headings still exist this shoul

[2015-08-20 21:19] jimmynotjim commented on #153
Ditto what @KimberlyMunoz. @niqjohnson funny that you came to the same conclusion as us, only adding labels if they don't already exist. I didn't realize voice over read the psuedo-content, I thought that was safe for us to add without spamming users with repetitive labels. We'll have to do some testing and document behaviors (which I believe Kim is doing now).

[2015-08-20 23:15] KimberlyMunoz commented on #236
I was doing some testing with Voiceover on Safari and had some trouble selecting the custom-input radio buttons and checkboxes with VO/Safari. Can someone who has more screenreader experience want to re-test and confirm? I'd love to have a second pair of eyes on this.

I went through the USFWS radio buttons and checkboxes and those don't seem to have a problem with VO/Safari.

[2015-08-21 13:42] JenniferHoran commented on #236
@KimberlyMunoz I can test in IE or Firefox with JAWS if you would like.

[2015-08-21 15:07] niqjohnson commented on #153
@KimberlyMunoz, @jimmynotjim: Thanks for the info!

I scanned through the FJ module issue on tables, and it looks like we're going in very similar directions. In fact, what's on our draft design manual page is mostly lifted right from the latest FJ code with a few additions to accommodate other tables we found currently in use.

Is there a risk of us duplicating work that the FJ team is already pl

[2015-08-21 15:31] KimberlyMunoz commented on #236
@JenniferHoran Yes. I'll email you a sample page right away!

[2015-08-21 15:57] niqjohnson commented on #153
@caheberer explored some ideas for sorting indicators:

![sorting-icons](https://cloud.githubusercontent.com/assets/1862695/9412637/cf78b8ee-47fa-11e5-8150-b304d2e52cfc.png)

In these ideas, the full column header would be active (i.e. not just the sorting indicator). Hitting a column header once will sort the table by that column in ascending order. Hitting it again will sort in descending order.

[2015-08-21 16:20] ajbush commented on #153
Really nice work you all.

I like the option in the 3rd row with the dark caret. Mainly because it would offer some differentiation between the caret minicon used in the first row. From what I have seen that caret is mainly being used for expandable actions sort of like the "In this section menu" for smaller screens on BETA.

![mok](https://cloud.githubusercontent.com/assets/6931351/9413215/8edf51

[2015-08-21 16:55] sonnakim commented on #236
Hey hey - Owning a Home was assigned Form Fields as part of the Design Manual foundation inventory. We're assuming checkboxes and radio buttons are an integral form fields component and as such are planning to include what's been agreed upon in this here github issue.

Does this overlap with another team's effort? Are there any concerns? If not, we can go ahead and document specs as determined her

[2015-08-21 16:59] KimberlyMunoz commented on #236
Hey @sonnakim,

Flapjack did a lot of work on forms these last couple months and I'll be happy to hand off and point you to things so Owning a Home can carry it to the finish line. Just email me on collab because a lot of the links are in enterprise Github (sorry).

[2015-08-21 17:06] sonnakim commented on #236
Just realized we are assigned this per Ben's github issue <a href="https://github.com/cfpb/design-manual/issues/339"> here</a>.  It's always great to post a question and then find the answer two seconds later!

But, my last question still stands—if someone could send us the AI template for the finalized checkbox and radio buttons, that would be great!

[2015-08-21 17:07] sonnakim commented on #236
Will email you @KimberlyMunoz - thanks!

[2015-08-21 17:28] duelj commented on #153
One of the fringe cases that we are coming across on FJ and thinking about tables for is what are currently lists of links with multiple downloads. This could be different file types (pdf,csv, etc.) or multiple languages. We have [started exploration](https://github.cfpb.gov/flapjack/global/issues/31) on solutions that have taken an expandable format but initially we were looking for a table solut

[2015-08-21 18:43] mebates commented on #342
@duelj yes, this seems like a great issue and time to get breakpoints settled, and to rethink the words we're using to describe each break, per @jimmynotjim. Can we document where KBYO, OaH, Retirement and cf.gov refresh have breakpoints?

| CF name | OaH breaks | cf.gov breaks | retire breaks | kbyo breaks | ccdb breaks |
| --- | --- | --- | --- | --- | --- |
| mobile | XXXpx | 0-599px | 0-480 |

[2015-08-21 18:48] jimmynotjim commented on #342
@mebates Updated your table with cf-gov refresh's breakpoints

[2015-08-21 19:05] mebates commented on #274
I like this @ohsk. @Dnpizarro - what do you think of this update?

@klocraft makes a fair point that the web behavior is usually that the PDF opens in a new window, then you have the ability to download it. Should we get more specific about how to signify that?

I'm not sure that leaving the PDF icon in the Design Manual is necessary; we can leave it in the font but don't want it mistakenly used a

[2015-08-21 20:21] mebates commented on #227
@marteki @mistergone - did @ascott1 give you what you need, above?

[2015-08-21 20:29] marteki commented on #227
We implemented and shipped the final release for Retirement using the `cf-icons` implementation. We only asked for the GIF fallback since it was called out as expected above.

And @benguhin, it didn't appear that the CF implementation had been updated with the flipped minicon font, unless we were mistaken. So it spins counter-clockwise. (And irritates me every time I see it, but maybe that's just

[2015-08-21 20:42] benguhin commented on #227
Yeah it should really spin clockwise - it currently communicates a backward/undo motion that we don't intend. That said, I'm assuming (perhaps wrongly) that it wouldn't take too long to flip it.

I'm cool with the 96% support (i.e., not adding a gif fallback) because the animation isn't necessary functionality for the majority of our usecases. Projects with significant data processing, like HMDA a

[2015-08-25 14:04] sonnakim commented on #148
Here is an example of pagination from the OaH team that doesn't follow the typical model: http://www.consumerfinance.gov/owning-a-home/loan-estimate/

To access different pages of the form, the user can either press the previous and next buttons that appear as an overlay over the form image, or they can click on the page numbers on top of the form image.

[2015-08-25 14:22] duelj commented on #347
#### When does FJ use Georgia?

Our working rule was that when a section of body copy was going to be long (roughly defined as 3 or more sentences) we were employing the use of Georgia for legibility. This resulted in pages such as [the bureau](http://beta.consumerfinance.gov/the-bureau/) which seem to be using Georgia randomly.  More recently we have moved away from using Georgia at all for this

[2015-08-25 14:50] duelj commented on #349
This looks like great exploration, I after reading through the posts is the recommendation to update the spacing to the leading specified by @Scotchester? The 1.2 ratio that is in the design template seems to be working well for FJ so far but does seem to be tighter than some of the other recommendations. Is there any perspective on whether fluctuating spacing (like the example by @Scotchester) wo

[2015-08-26 13:58] schaferjh commented on #153
Apologizes as I'm catching up on this issue after being out, but wanted to respond to two comments in @niqjohnson's first pass http://niqjohnson.github.io/design-manual/ui-toolkit/tables.html --

Under the **right aligned columns** example, there's a comment about dates formatted ##/##/#### -- FYI on beta, we recently standardized our date format across pages to be MON ##, #### because it's more l

[2015-08-27 17:27] KimberlyMunoz commented on #236
Update on screenreader and the custom-input radio buttons and checkboxes. Jennifer Horan says the buttons work on JAWS and I was able to find out that [Voiceover has just a general problem with reading radio buttons properly](http://www.tyack.net/2015/01/27/accessibility-frustrations-with-apple-voiceover-on-ios-8-1/). We should be able to get around the VO problem by using aria-labelledby whether

[2015-08-27 17:54] JenniferHoran commented on #236
I wouldn't be surprised if it was the Voiceover screenreader - it seems to work really well on the iPhone and not as great on the Mac. Screenreaders in general also have a lot of issues with radio buttons on non-HTML forms

[2015-08-27 20:02] stephanieosan opened #351 "Featured content module visual design"
This issue is to explore the visual design for featured content modules.

For more information about the featured content use case, check out this issue: [natalie's use case issue]

[2015-08-27 20:23] Scotchester commented on #342
Updated @mebates's table with info from KBYO. These are the breakpoints defined with named variables, but they are _not_ all actually in use. Nothing above tablet landscape is used, in fact.

[2015-08-27 20:25] duelj commented on #351
#### Exploration on [Bureau Page](http://beta.consumerfinance.gov/the-bureau/)

_Still based on the 1290-800,799-600, and 599-320 breakpoints just wanted to highlight potential pain point widths_

| 1290 | 768 | 320 |
| --- | --- | --- |
| ![screen shot 2015-08-27 at 4 19 21 pm](https://cloud.githubusercontent.com/assets/6873734/9532094/7abfc798-4cd7-11e5-97dd-8e510d7011f4.png) | ![screen shot 201

[2015-08-28 00:01] nataliafitzgerald commented on #327
@designlanguage - As we do the soft rollout of the RGB palette I'd like us to flag issues that come up. One thing I noticed in working with the gold/orange this evening is that the darkest gold tint starts to veer in the direction of a mustard color. The other oranges are more fresh and less burnt, if that makes sense. Is there a way to go darker without going into the autumnal burnt orange world?

[2015-08-28 13:50] Scotchester commented on #143
@mebates @duelj So, in the end, the only CF update that was needed was to change the color of the borders from @gray-80 to @gray-50, correct? If so, with the merging of cfpb/generator-cf#92, the "Update Capital Framework" step is complete.

[2015-08-28 13:52] Scotchester commented on #342
Capital Framework's grid with has been updated with the merging of cfpb/generator-cf#92. Leaving this open to continue the breakpoint discussion?

[2015-08-28 14:21] duelj commented on #143
@Scotchester  - did the updates also include the
- 5% grey background fill
- Remove background color change on expansion (or hover)

_Sorry I didn't know how to tell from the link you included._

[2015-08-28 14:23] ajbush commented on #351
:+1:
I really like this new direction it's working nicely. And the safe zone would be really nice to have and make it easier to repeat images with the same ratio across different breakpoints.

**I had two questions though...**
- I wonder if/how it would change the presence of the Featured Content module if the full intro + body paragraph was include above this module. On Beta that paragraph that s

[2015-08-28 14:34] schaferjh commented on #351
I'd advocate against including a body paragraph above the featured item. I'm okay with the idea that if/when we implement this module we'll have to tweak some content (like the two intro graphs on The Bureau) to create a more compact introduction. Otherwise, if we allow body paragraphs above, we risk the featured item getting pushed too far down that page and feeling less special.

I like flipping

[2015-08-28 14:40] Scotchester commented on #143
@duelj Crap! No, those weren't updated. Should have asked before I committed that update. Alrighty, those updates coming soon.

[2015-08-28 14:52] duelj commented on #143
no worries! Those were the main updates I could think of, not sure if @mebates or @benguhin know of others (I was comparing to the current UI toolkit page). The only other thing I can think of is I know we show it with Georgia paragraph right now and the [use of Georgia is currently being discussed](https://github.com/cfpb/design-manual/issues/347) we will probably want flexibility there. But, may

[2015-08-28 14:56] benguhin commented on #143
I'm going to put together a google doc version of this DM page today so we can work out the final details

[2015-08-28 15:29] benguhin commented on #143
Ok here's a google doc for the page: https://docs.google.com/a/cfpb.gov/document/d/1Cb4TSTokq556p3oNr69KX6M3XgO0j4HFAogvkb4xEIU/edit?usp=sharing

[2015-08-28 15:45] duelj commented on #351
+1 to flipping the card good call! I like it on the narrow screen width as well. Looking at it like that makes me think of the inset modules that we have been talking about recently on FJ. Maybe this would be a good use for something like that, I will try to mock something up to show what I mean.

[2015-08-28 17:08] duelj commented on #351
This is what came to mind with the [inset module](https://github.cfpb.gov/flapjack/Modules-V1/issues/2#issuecomment-52961) style. Thought maybe this would make the module feel lighter and match some of the thinking AJ did for the ["breakout sidebar for featured tools"](https://github.cfpb.gov/flapjack/Modules-V1/issues/15#issuecomment-52037) but I like the sort of well version also (just food for

[2015-08-28 17:46] KimberlyMunoz commented on #153
I gave the table a test on an iPhone 5S running iOS 9 Preview.

iOS has some [built in tools to navigate tables](https://www.youtube.com/watch?v=mDonEpP4Ouw), but they are pretty buggy and require you to go into accessibility options to turn on table navigation and vertical navigation (they aren't defaults). Reading through the table was do-able but didn't really read labels unless we added them w

[2015-08-28 18:05] mebates commented on #342
Great @Scotchester! Yes, let's leave it open so we can finish the breakpoint discussion. Hoping to move this along during the Monday meeting (cc: @benguhin)

[2015-08-28 18:57] sonnakim commented on #346
We wanted to share the latest working wireframe for the form fields section of the design manual:
https://docs.google.com/document/d/1SvgJ2hIyUVo2BzCvoV95NOKtr8ylv2TIdkkYzAXexj0/edit#

This covers use cases, specs, usability and accessibility issues for common form field UI components and for validation. If time permits, we would like to add a live responsive form with some sweet client-side valid

[2015-08-28 19:10] mebates commented on #346
@sonnakim - since we don't have a standard for sliders yet, I think we should just do what the US Federal Web Design Standard is doing. https://pages.18f.gov/usfwds/elements/#inputs

![screen shot 2015-08-28 at 3 10 08 pm](https://cloud.githubusercontent.com/assets/6223901/9554840/ea212e8c-4d96-11e5-8253-43d208e717e6.png)

[2015-08-28 19:26] mistergone commented on #342
@mebates asked me to post our recent project breakpoints, and they are:

**Before You Claim (Social Security)**: 1190px, 850px, 480px (major breakpoints). We also have some minor handling at 1130px and 940px. Then there are lots of responsive menu breakpoints (`.nemo` stuff).

**CCDB (/complaintdatabase/)**: _These are, I believe, mostly inherited from Capital Framework, although possibly an older

[2015-08-28 19:52] sonnakim commented on #346
@mebates That works :+1:

[2015-08-28 19:55] sonnakim commented on #346
Actually, I do have one reservation. I like the color contrast between the track and the handle on the USDS slider, but the handle looks a little small. I wonder if users would have a hard time selecting it, and  if the original handle size on the retirement team slider wouldn't work better. @marteki @benguhin  any thoughts?

Edited to add: Screenshot of the retirement team's slider
![image](https

[2015-08-28 20:12] marteki commented on #346
For full disclosure, the slider that ended up on production wasn't our ideal version:

![21706cb0-3080-11e5-8f33-1d871c5a5114](https://cloud.githubusercontent.com/assets/1183435/9555915/a2d0033e-4d9e-11e5-80a2-e482ca887841.png)

The aim was to have the larger target for the handle, as well as clearly show the actionable nature of the slider in a way that a thinner rule line didn't seem to do. In a

[2015-08-28 20:15] KimberlyMunoz commented on #346
I went into see how 18F was customizing that slider to see if we can make the handle bigger and it looks it's using the native slider element with custom instead of something custom, which I like because it means it has accessibility baked in.

It looks like we could take what they have and tweak colors, border radius, size and all that good stuff if we still wanted to go with their solution.

![i

[2015-08-28 20:34] Scotchester commented on #346
We should mind how these appear in non-WebKit browsers, too. For example, USDS's current version in Firefox:

![screen shot 2015-08-28 at 16 26 04](https://cloud.githubusercontent.com/assets/1044670/9556352/1636058c-4da2-11e5-826c-05f66a343877.png)

Retirement's is consistent, though! :clap:

[2015-08-28 20:41] KimberlyMunoz commented on #346
@Scotchester  Ooh, that looks like a bug on their end. They have the wrong value for Firefox. It's totally fixable. ~~I'll let them to fix it like in the screenshot below.~~ ETA: They already have it fixed on staging!

![image](https://cloud.githubusercontent.com/assets/1860176/9556549/8c657d68-4da3-11e5-9fe6-f2379e82f46f.png)

[2015-08-29 14:09] jenn-franklin commented on #351
Great exploration, @duelj! I've been going down a similar path of having boxed text on the left with an opaque background.

One a minor style note, one question that popped up for me is if gray will work for the box when the module is on a page with a left sidebar. Is it too much gray? I guess in that instance we could make it white— or leave it up to designers if they want to use a different ligh

[2015-08-31 13:43] Dnpizarro commented on #274
@ohsk I like you suggestions with the larger arrow. It definitely scales much better than the options with the document. If I had to pick, I like the arrow with the rounded rule line.

About the point that @klocraft made, I think this is a UX question. With that said, if we decide to go with opening up the pdf in a new window then we should avoid using the download minicon.

[2015-08-31 14:21] Scotchester commented on #274
It was decided in #294 to _not_ open PDFs in new windows.

[2015-08-31 14:56] jenn-franklin commented on #351
Hi! Was just looking at this issue again and realized for whatever reason AJ and Jess's comments and Justin's new exploration didn't load for me when I posted. Cool that you're arriving at a similar place re: the featured video tag.

[2015-08-31 15:05] keelerr commented on #328
Draft content [here](https://docs.google.com/document/d/1_nkqDqFYu2RnwbiR1w2TcRRNIjeC8t-68-s18Z2w4mg/edit).

[2015-08-31 15:19] Dnpizarro opened #352 "Tabs Design Manual page"
Working from @keelerr [outline](https://docs.google.com/document/d/1_nkqDqFYu2RnwbiR1w2TcRRNIjeC8t-68-s18Z2w4mg/edit) for the Tabs design manual page, I'll start mocking up the visuals and laying out the [content](https://docs.google.com/document/d/1m1UIb_DplE7i719rwozFb6vVGmOmyLwYFkmYMNyazAc/edit#).

Stay posted on page designs....

[2015-08-31 15:20] Dnpizarro commented on #328
I opened up a new issue for the Tabs design manual page. #352

Stay posted for updates on designs...

[2015-08-31 15:40] mebates commented on #351
I like it when the module reaches over and touches the left sidebar. I think it could do the same with the right gray panel. The last gray box posted by @ajbush and @duelj's exploration with the green bar above 'featured video' are my preferred designs.

[2015-08-31 15:41] mebates commented on #346
I think we should give USFWDS the feedback that we think their handle is too small! It should get bigger everywhere.

[2015-08-31 15:58] marteki commented on #153
We've incorporated lots of feedback, and the draft recommendation is ready for review by approvers! NOTE: this is a use case and style review, **not a code review**.

Please look at http://niqjohnson.github.io/design-manual/ui-toolkit/tables.html.
Approvers: @nataliafitzgerald @benguhin @Scotchester @JenniferHoran

[2015-08-31 16:29] Scotchester commented on #153
Zebra stripe background will need to be 5% Gray to accommodate linked text, if the color remains Pacific, pending the outcome of [this proposed link color update](https://github.cfpb.gov/CFPB/Design-Development-Team/issues/61#issuecomment-53460).

[2015-08-31 16:32] marteki commented on #139
We have a first pass at tooltips, for group review:
http://caheberer.github.io/design-manual/ui-toolkit/tooltips.html

The examples given there are in image form, so not functional or even coded. We chose to incorporate recommendations for inline tooltips as well, as discussed in #335.

We've shopped this around to various design working sessions, but further feedback is greatly welcome at this po

[2015-08-31 16:40] kurzn commented on #351
I really dig where this is heading. Nice work everyone! One comment - on the version that @duelj  did with the "inset module style" the text feels a bit disconnected from the video, almost like a standalone sidebar. I think the versions where the content is "touching" the video (through boundary lines or background colors, etc) feel more cohesive and connected.

I'm very interested in the top cont

[2015-08-31 16:53] mebates commented on #331
USFWDS is using a gray field as hover: https://pages.18f.gov/usfwds/components/#headers-navigation

[2015-08-31 19:48] KimberlyMunoz commented on #153
We should make a point to call out that we need to use `<th>` in all data tables, not just the ones we want to have that header bar for accessibility reasons. That's usually how screenreaders tell the difference from data tables and layout tables.

[2015-08-31 19:50] JenniferHoran commented on #153
Thanks Kimberly, yes, we want to make sure it is called out programatically in all data tables. In Word docs, calling it out programatically also makes the table header row repeat when the table runs over a page break :) which is excellent for 508 and usability.

[2015-08-31 19:58] Scotchester commented on #139
I suggest removing the final section on "Icon labels". I'd prefer not to canonize this kind of usage. If it needs to be used, someone should have to make a strong case for an exception to do so.

[2015-08-31 20:11] Scotchester commented on #139
Some thoughts on states:
- We need to define hover, focus, and active states for the standard question mark icon. (Particularly if we're using click-only activation.)
- Are inline tooltips also click-only? The depiction of the hover state shows the tooltip text.
- We need to define focus and active states for the standard question mark icon.

[2015-08-31 20:12] Scotchester commented on #139
In seeing the image of a tooltip over some text:

![](http://caheberer.github.io/design-manual/static/img/tooltips/inlineHover.png)

I submit that it would be nice if the design of the tooltip could set it off a little more from the page below it. It's not bad in the earlier examples, when it's just sitting on white, but when it's sitting on content, it feels a little messy to me.

[2015-08-31 20:36] Scotchester commented on #153
Re: "Highlighted rows" add-on:

White on Pacific 80 is not accessible.

[2015-08-31 20:37] Scotchester commented on #153
On sortable tables: Do we ever intend to have tables with some columns that are sortable and some that are not? If so, how do we indicate which ones are/aren't?

[2015-08-31 20:59] Dnpizarro commented on #352
@keelerr here is the most recent mock-up I showed during our Working Session. I'll keep working on the design, while you try to shorten some of the bullet points. Also, for the link under the image, should we show the full url or just the label (i.e. Form explainer)? I believe our standard is to show the url so that the user knows where they are going. Also on that note, if we decide to show the u

[2015-08-31 21:01] sonnakim commented on #346
:+1:  Sounds good! We'll recommend the 18F slider with a 45 x 45 px handle (optimal touch target size).

[2015-09-01 13:13] Dnpizarro commented on #274
Thanks @Scotchester for answering that. @ohsk do you think you can mock up an example of the suggested changes you proposed?

[2015-09-01 14:10] amycesal opened #353 "Design Manual Section on gradients and drop shadows"
I know that we don't use them. And I know there are good reasons for this decision, but it would be nice to have that documented in a place where we can point other people. Just saying "we don't do that" isn't as useful as combining it with a link to a page where we say WHY in a consistent way.

This would be useful for
- internal project (especially when word defaults to using drop shadows)
- pro

[2015-09-01 15:32] stephanieosan commented on #353
Maybe rather than adding a whole new section, we could just build these guidelines into existing places?

Could we add a line or two about how we don't use gradients and why into the colors section?

Maybe we can add information about not using drop shadows to both the typography and illustration sections?

[2015-09-01 19:17] Dnpizarro commented on #352
@keelerr the designs below include all of the content provided in [outline document](https://docs.google.com/document/d/1_nkqDqFYu2RnwbiR1w2TcRRNIjeC8t-68-s18Z2w4mg/edit#heading=h.cx1kf2t0uhgz). I made some suggestions to simplify a couple of the headers ( "Tab usage" = "Usage", "1. To show alternate..." = "Use case 1: Show alternate..."). There are still some areas that could use some cutting bac

[2015-09-01 21:48] nataliafitzgerald commented on #269
@jjames - In working on web projects I have noticed a few potential problem areas with regard to the spacing between type elements in the standards we have set. Some of these issues exist in our attempts to stay within the multiples of 15 rule.

##### H3 Spacing

The 30px space after H3 feels too large. I flagged this originally in this issue but let it go in order to maintain the multiples of 15

[2015-09-01 22:05] kurzn commented on #352
I just ran across this implementation of tabs on Paying for College: expandables as tabbed interaction. Can we add a comment in the tabs rules about NOT doing this, please?

http://www.consumerfinance.gov/paying-for-college/choose-a-student-loan/#o1

![image](https://cloud.githubusercontent.com/assets/10562534/9618367/97d62474-50cb-11e5-84b3-cf4a7e74564b.png)

[2015-09-01 23:49] benguhin commented on #352
@kurzn I totally agree. That said, we could have very long pages if we try to detail everything that people should _not_ do :)

I think the rules for the [expandable sections](https://github.com/cfpb/design-manual/issues/143) pattern will help make sure that that interaction doesn't happen again

[2015-09-01 23:54] benguhin commented on #352
Similar to @Scotchester's [comment about tooltips](https://github.com/cfpb/design-manual/issues/139#issuecomment-136483183), I don't think we should standardize the use of minicons instead of text for the name of each tab. Iconography and hover states are not clear enough indicators of what's underneath the tab.

[2015-09-01 23:57] benguhin commented on #153
This looks great! The responsive stacked styles and sorting method are really awesome.

You have UI approval to move forward, with two notes:
- I think you should remove the "Highlighted rows" style. Two reasons:
  1. I don't think there's an actual need for it
  2. We should avoid functionality that requires hover states, as [over 25%](http://www.w3counter.com/globalstats.php) of web traffic is u

[2015-09-02 02:25] sonnakim opened #354 "All caps vs. sentence case in form field labels"
Opening this issue to discuss the use of all caps vs sentence case in form labels.

## The issue
OaH would like to propose changing form label styles from all caps (H5) to sentence case (possibly H4) for the following reasons -

1) Usability.  It's been documented that all caps are slower to read than sentence case. Here is a nice <a href="https://www.digitalcookie.com.au/blog/writing-readable-con

[2015-09-02 21:13] benguhin commented on #354
This example page is great – I think the H4 in sentence case for form labels works well in terms of visual hierarchy while also making the form easier to read.

@nataliafitzgerald what do you think?

[2015-09-02 21:58] marteki commented on #139
Lots of good feedback from the Aqua Baobab working group on 9/2!
- "Icon labels" should not be canonized as a best practice, despite their use on several of our websites currently
- Make it more explicit that we're not to put essential content inside a tooltip container. Describe what essential vs non-essential means, through examples. Provide alternatives to tooltip usage.
- Add more context to t

[2015-09-02 23:32] ielerol commented on #335
For what it's worth, we do have an outstanding issue in eRegs to differentiate the underlines for definitions from the underlines for links. It wasn't a high enough priority to make it into the changes that will be rolled out in the next month, so we haven't done a lot of exploration, but the initial thought was to change the definition links to a dotted underline style. Which only works in this c

[2015-09-02 23:37] ielerol commented on #139
Sorry, jumped over to the inline tooltips issue before I saw Marteki's comment that you're working on them both here. My comment: We do have an outstanding issue in eRegs to differentiate the underlines for definitions from the underlines for links. It wasn't a high enough priority to make it into the changes that will be rolled out in the next month, so we haven't done a lot of exploration, but t

[2015-09-02 23:42] ielerol commented on #139
I have a monthly analytics report from eRegs as well, that doesn't really show any interactions with the definitions links, but I don't know right now if that's because no one's using them, or the current code doesn't track those interactions.

eRegs is also a highly specialized tool with an unusual user group, so I don't think I'd rely on data from it to make decisions about broader consumer-faci

[2015-09-03 19:05] klocraft commented on #294
We've made a few PDF discovers in the last weeks, which could have an impact on how we choose display PDFs on our website. @stephanieosan noted:

In a nut shell, if you create an interactive PDF (Forms or Worksheets with fillable fields, sections that auto calculate, use custom java, etc), the interaction does not always function when the PDF is viewed in a browser. The level of interaction seems

[2015-09-03 19:28] JenniferHoran commented on #294
My 2 cents, this also happens with Excel, if you open Excel in the browser you don't get the same interaction that you have in its native environment. Adobe PDF in a browser vs native environment is a known issue for 508, it is usually best not to rely on viewing in the browser. Not all end users realize this, though.

[2015-09-03 19:40] JenniferHoran commented on #153
To close out tables and any 508 comments (I hope this is the right thread, I know we wanted to close out tables discussions this Thursday) I offer the following mini 508 checklist for tables:
Never put the table title in a giant merged cell at the top of the table.
Avoid complex tables and tables nested in tables, merged or split cells. These all require additional work to support 508.
Always mark

[2015-09-03 23:15] nataliafitzgerald commented on #269
#### Spacing between H2 and paragraph and H3 and paragraph

@danny8000 and I are working on building the KBYO landing page. I went ahead and tested out  some of the spacing issues I flagged in my previous post so as to get an in-browser comparison.

##### Here's what I found

30 px spacing after H2 and H3 (the current approved update to the Design Manual/Capital Framework) feels way too generous.

[2015-09-04 17:34] marteki commented on #153
Thanks, we're incorporating the things that were called out.

@nataliafitzgerald, do you have anything to change, or is it a :+1: from you?

[2015-09-04 17:36] nataliafitzgerald commented on #348
In working on the KBYO landing page with @danny8000 I was able to see the hero graphic standards specified above within the browser. Seeing this at desktop size, the 300px height felt quite tall and the H2 text for the subhead felt large. Have other designers had that experience? @caheberer @stephanieosan @klocraft So, I tried another option for the purpose of experimentation. I'd love to hear wha

[2015-09-04 17:54] Dnpizarro commented on #352
### Latest update for Friday Presentation

![ui-toolkit_tabs_dm_page_r2_tabs](https://cloud.githubusercontent.com/assets/6852363/9690759/5aa0e72c-530c-11e5-8eae-826f24ce5955.png)

[2015-09-08 13:50] niqjohnson commented on #153
Here are the reviewers' changes that we'll be incorporating into the final tables spec (I'll add any other changes to this list as they come in):
- [x] Change column header and stripe background to 5% gray to make sure link text is accessible
- [x] Call out that all data tables need `<th>`s to be accessible
- [x] Remove highlighted add-on
- [x] Clarify that tables can have sortable and non-sortabl

[2015-09-08 15:03] nataliafitzgerald commented on #353
If we talk about drop shadows we should distinguish the flat/solid shadows that we use in illustrations. In the colors section we can talk about why we don't use gradients and we should also talk about not using transparency effects, such as multiply, to blend colors (i.e. reinforce the flat idea). @designlanguage - Do you want to take a stab at writing some of this language?

[2015-09-08 15:06] nataliafitzgerald commented on #352
@Dnpizarro @keelerr  - I don't think that I agree with including the minicon tabs as a standard. Also, the OaH tabs are taller than the standard you have set forth. So, for the image I would rather see tabs that are following the guidelines you are proposing. If you'd like to chat through this I'm available.

[2015-09-08 16:35] nataliafitzgerald commented on #139
Visually, I prefer A and C that @huetingj posted a while back.

A) This one is nice and simple but does get a little lost amidst the other page elements. <img width="690" alt="screen shot 2015-09-08 at 12 31 58 pm" src="https://cloud.githubusercontent.com/assets/6887128/9740974/aca6bec2-5625-11e5-83f5-154252999297.png">

C) I'm leaning towards a preference for this version. The "drop shadow" does

[2015-09-08 17:17] stephanieosan commented on #283
Where do our hero standards fit into this IA?

Under Grid & Layout? Is that level below intended to be separate pages? Is someone planning to update the navigation of the design manual to be able to include that third level?

[2015-09-08 17:46] nataliafitzgerald commented on #351
The explorations are looking good! @huetingj and I plan to meet tomorrow to walk through the full issue.

[2015-09-08 17:57] nataliafitzgerald commented on #342
OaH can you post your breakpoints to the table above? Thanks! @cfarm @virginiacc @stephanieosan

[2015-09-08 17:58] jenn-franklin commented on #351
:+1: and i'll be posting a refined design/recommendation reflecting these explorations this afternoon.

[2015-09-08 18:40] sonnakim commented on #346
@nataliafitzgerald @benguhin If it's ok with you guys, we are going to start coding up the Design Manual page for form fields. Virginia Czosek and I are also going to get the ball rolling on setting up discussions with Kim Munoz and the other Flapjack FEWDs to integrate this stuff into Capital Framework.

There is still the all-caps labels issue to settle  https://github.com/cfpb/design-manual/iss

[2015-09-08 19:54] jenn-franklin commented on #351
Hello! I've dug deeper, and here's what I've found.

<h4>First, I want to articulate that the featured content module (FCM) is a "mini story" and never simply a dominant visual.</h4>

By this I mean that it contains perhaps a video for a user to interact with, an illustration with a paragraph and link pointing to another page, an event callout with details, etc. It never has a visual unaccompanied

[2015-09-09 13:14] ohsk commented on #274
Hey folks, sorry for the delay. Just getting back into the swing of things this week.
Take a look at this set and let me know if you have any thoughts!
It's the rounded-line version from [this iteration](https://github.com/cfpb/design-manual/issues/274#issuecomment-130359052).

![minicon_download_v1](https://cloud.githubusercontent.com/assets/1689222/9762703/325a6a0c-56d3-11e5-9107-f297adcfec88.pn

[2015-09-09 14:35] ohsk opened #355 "Filter Minicon"
#### CR Search will probably need to make use of an icon to represent Filter / Filtering.

Starting a thread to document it's design. The most common image seems to be a funnel, but feel free to share any other options you've come across!
##### Initial search on [Noun Project](https://thenounproject.com/search/?q=filter&i=184692)

![image](https://cloud.githubusercontent.com/assets/1689222/9764583

[2015-09-09 14:43] ohsk commented on #354
Yikes! I'm not sure how those all caps labels got in there... Here's what I had in last comps from two years ago, haha. I think what you're proposing with H4 sentence case feels very appropriate.

![image](https://cloud.githubusercontent.com/assets/1689222/9764862/50549774-56df-11e5-881f-b4e9509cdce7.png)

![image](https://cloud.githubusercontent.com/assets/1689222/9764907/89deed50-56df-11e5-992d-

[2015-09-09 15:26] caheberer commented on #139
@Scotchester I was planning to follow our current standard for buttons for the icon hovers, but I noticed you mentioned on our tables issue that white on Pacific 80 isn't accessible. Do you know if our button standard will be changing?

[2015-09-09 15:37] Scotchester commented on #139
@caheberer That's a great point... it probably should.

We didn't assign Buttons to anyone because I guess we figured it was pretty well covered already. (Is that right, @benguhin?) But perhaps we should reopen them and discuss.

Off the cuff, I'd suggest changing the hover state to the newly-proposed darker version of Pacific, as long as the active state (Navy) is different enough to be noticeabl

[2015-09-09 16:28] KimberlyMunoz commented on #269
On the spacing/descender issue, it looks like we're eyeballing the spacing changes in Capital Framework.

[code]

[2015-09-09 17:01] duelj commented on #269
@nataliafitzgerald and @ascott1 - just want to make sure we are all on the same page here.

#### Summary of issue (want to make sure I am understanding)

As @KimberlyMunoz pointed out Capital Framework already uses bottom margins that "eyeball" the overall spacing design has specified between a given header and the text that follows it. It seems the [original comment by Adam](https://github.com/cf

[2015-09-09 17:32] duelj commented on #269
To try and share a visual of how this works out with the code that Kimberly shared above an H1 uses a 16px margin to "eyeball" the look of an overall 30px spacing interval from the baseline to ascender of the next text section. This example can be seen in code for the page title of the [About Us page](http://beta.consumerfinance.gov/about-us/)

![screen shot 2015-09-09 at 1 28 57 pm](https://cloud

[2015-09-09 17:45] sonnakim commented on #354
@ohsk No worries and sorry, the live submit a complaint site does in fact use sentence case! We just hacked the CSS on the site to show the worst-case scenario, why we would want to recommend sentence case as the gold standard for all forms going forward (i.e. in case someone decides down the road that the all-caps label style is appropriate for long questions...).

[2015-09-09 17:47] ohsk commented on #354
PHEW ok I thought I had gone crazy :D

[2015-09-09 18:09] sonnakim commented on #354
haha sorry stephen!

[2015-09-09 18:13] sonnakim commented on #354
@nataliafitzgerald Hey Natalia - We are looking to close Form Fields up by the end of the week if possible. Any way you could give your final blessing or objections on this all caps issue and on the <a href="https://docs.google.com/document/d/1SvgJ2hIyUVo2BzCvoV95NOKtr8ylv2TIdkkYzAXexj0/edit#">form fields wireframe</a> by Friday Sep. 11? If all caps labels is still controversial, we can backlog it

[2015-09-09 19:25] Scotchester commented on #269
The "eyeballing" approach (not a great name for it, but I think we're all on the same page) does indeed work well in these predictable cases like the space after a heading.

The problem with this approach is when it's unpredictable. For example, consider a scenario where you need to set the top margin on some kind of block of content. The first bit of text in that block could be anything from an H

[2015-09-09 22:38] ohsk commented on #148
Here's a first stab on updating pagination that focuses on the ability to navigate:
- "left and right" with the caret bookends
- jump between adjacent pages
- jump to first or last pages regardless of your current position

![image](https://cloud.githubusercontent.com/assets/1689222/9775969/a9b2701a-5721-11e5-9dd4-4bee8c8de888.png)

cc: @benguhin @ielerol

[2015-09-09 23:32] benguhin commented on #148
@ohsk I like this direction a lot.

[2015-09-09 23:54] ielerol commented on #345
Here's a collection of filters examples from the current site, as well as in development.

### Ask CFPB:

![ask cfpb filter 1](https://cloud.githubusercontent.com/assets/10562543/9776907/65599fce-5712-11e5-8704-4c50b4b7f352.png)
http://www.consumerfinance.gov/askcfpb/search/?selected_facets=category_exact:mortgages&selected_facets=tag_exact:reverse%20mortgage

### HMDA:

![hmda filters](https://cl

[2015-09-10 05:30] nataliafitzgerald commented on #153
@marteki  - My apologies for straggling. Thanks to Marteki for poking me as I will be out of the office the rest of the week.

This is looking fabulous. My comments are pretty detailed because the big picture is looking great!
- Space between "Use" section and "Style" section is too tight. Double check the code.
- On the "Tabular base style (large screens)" check the padding above and below. The t

[2015-09-10 15:06] ohsk opened #356 "Folder Minicon"
## CR Search will probably need to make use of an icon of a folder (to represent Collections, in our use case).

Starting a thread to document it's design. Some initial directions for Collections / Bookmarking that have us leaning in the folder direction.

![image](https://cloud.githubusercontent.com/assets/1689222/9792011/fc43c3bc-57ab-11e5-8985-90967e68933d.png)

[2015-09-10 16:16] ielerol commented on #148
I like it too! My one question, and I think this applies to our current pagination visuals as well, is whether the "previous" and "next" text is accessible on that gray background.

Also, is that text interactive at all? Or are they just labels for the carats that will be shown at wider widths?

[2015-09-10 16:30] Scotchester opened #357 "List (bulleted, numbered, plain) spacing"
We need to set a standard or two for list spacing. I feel like I see much inconsistency in how we set the spacing between list items, whether they are bulleted, numbered, or unstyled lists. Does anyone else feel this way?

I'd like to propose:
- For regular bulleted/numbered lists appearing in a section of body copy: **15px** margin (baseline-to-cap-height)
- For unstyled lists (most often used fo

[2015-09-10 16:44] Scotchester commented on #357
Semi-related: We should establish standard styles for definition lists. (The `dl`, `dt`, and `dd` elements.)

[2015-09-10 16:47] ohsk commented on #148
True true. To be honest, I'm not super up-to-speed on all our accessible combinations. But it could easily be changed to `@black` or `@darkgray` text. Would we also want a disabled state? Perhaps for "Previous" when you're on the first page, or "Next" when you're on the last page?

![image](https://cloud.githubusercontent.com/assets/1689222/9794499/673b0f2e-57b9-11e5-9dc6-6357b113a0b1.png)

I thin

[2015-09-10 17:00] Scotchester commented on #148
- Yes, as is the case now, Previous should be disabled on the first page, and Next disabled on the last page.
- Yes, I think both the word and caret should be actionable.
- Any particular reason you propose dropping the ability to jump to a specific page? (I'm not necessarily advocating for keeping it; just curious to hear your thoughts.)
- Channeling my inner @nataliafitzgerald: We've got a loose

[2015-09-10 17:05] schaferjh commented on #148
Definitely appealing, but how many pages could really be shown at the smallest viewport? With the current v1 pagination, we actually break out the buttons -- would you imagine doing the same?

![screen shot 2015-09-10 at 1 04 11 pm](https://cloud.githubusercontent.com/assets/10562545/9795036/792a3a18-57bc-11e5-9ea8-2581350f5cf8.png)

[2015-09-10 17:11] ajbush commented on #269
We talked about this issue yesterday in small group working session.

Those who were present seemed to agree with what @Scotchester mentioned:

The group also kinda wondered if there was a better or alternative way to go about making our design templates match up better with what's in production.

We also discussed @nataliafitzgerald's [suggestion for spacing adjustments](https://github.com/cfpb/d

[2015-09-10 17:40] benguhin commented on #283
@stephanieosan here's a pass at updating the structure for the pages that we're adding and including this month - this does require that we update the navigation for a third level:

![cfpb_design_manual_sitemap_15050910](https://cloud.githubusercontent.com/assets/6953063/9795795/b938ea2e-57c0-11e5-857e-7967cf151514.png)

[2015-09-10 17:40] iuloshi commented on #356
@ohsk Your icons are pretty.

[2015-09-10 18:57] Scotchester commented on #357
Oh, directly related: We also need to address how far bullets and numbers should be indented.

[2015-09-10 19:00] ohsk commented on #356
MISS U @IULOSHI

[2015-09-10 20:04] duelj commented on #351
### Big & little sister solution

I like your thinking around trying to bring the FCM inline more with the breakout sidebar organism (what you called little sister) and had an idea that might pair well with some of the issues you noted.  When you said:

I really starting thinking about the needs of the different page types and the purposes they are intended to serve. I think there is an opportunit

[2015-09-10 23:29] ielerol commented on #148
@Scotchester I don't have data backing this up, but my gut feeling about pagination is that there are few cases where our users are likely to know exactly which page they need to jump to, and without that, the ability to type in a page number is not too useful. Showing links to several page numbers is a common pagination pattern and would at least be familiar.

[2015-09-11 04:28] jenn-franklin commented on #348
@nataliafitzgerald and I discussed hero dimensions on Wednesday, and the OaH team discussed them today. We want to look at the design in code and tweak there as we write the guidelines. Here are the details.

<h4>Desktop</h4>

![screen shot 2015-09-11 at 2 38 50 pm](https://cloud.githubusercontent.com/assets/10562530/9823200/db05b858-5892-11e5-92fa-47a043701e22.png)

<h5>Examples</h5>

![screen sh

[2015-09-11 12:28] schaferjh commented on #148
@ielerol I think you're right that users don't have a specific page number in mind, but I think the actual behavior (again with the lack of data) is jumping back/forward in large steps -- a third of the way through or half way through etc.

Providing the ability to jump to a specific page satisfies a wider variety of navigation behaviors -- for  people who want to jump by just a page or two, jump

[2015-09-11 14:40] mistergone commented on #148
Hello! I just wanted to poke my head in with a concern about how the pagination discussion affects tables (#153). Pagination is included in the tables specification, so I wanted to talk to someone about whether pagination code will work on tables, or if tables need their own code, and how decisions here might affect my work on cf-tables. So uh... someone get in touch with me. :smile:  :dancer: :oc

[2015-09-11 14:42] kurzn commented on #351
Thanks @duelj for the feedback! We are closing in on a strong recommendation that we feel really good about and will discuss more at today's design review meeting. We think keeping the FCM in the well of the page (as opposed to the sidebar), in addition to standardizing the design regardless of the page type it appears on, helps keep things easy to implement and consistent for the user, while stil

[2015-09-11 14:42] mistergone commented on #345
Hello! This might be a bit premature, but I wanted to ask how the filter discussion affects tables (#153). Filters are included in the tables specification, so eventually I'd like to talk about whether the filters code will work on tables, or if tables needs its own implementation, etc. If someone can get in touch with me to discuss, I'd appreciate it! :smile:  :dancer: :octopus:

[2015-09-11 14:43] duelj commented on #348
Couple of questions come to mind:

#### Is there any more background to making the hero so short other than, "[s]eeing this at desktop size, the 300px height felt quite tall..."

I ask for  couple of reasons, the first [we are finding](https://github.cfpb.gov/flapjack/Modules-V1/issues/33#issuecomment-54524) that as we look to a hero acting as an introduction to a page it has to bear the weight of

[2015-09-11 14:46] kurzn commented on #351
We also think that the rules behind using dominant images on a page (not within a FCM) should be explored in a separate issue as well.

[2015-09-11 14:49] schaferjh commented on #148
I'd be interested to know as well @mistergone -- Currently on V1 the same pagination is used on the [Activity Log](http://beta.consumerfinance.gov/activity-log/) (which is being counted as a table) and on something like the [Blog](http://beta.consumerfinance.gov/blog/). I think it would be best if we keep this consistency.

[2015-09-11 15:03] duelj commented on #351
Look forward to hearing about your idea in the meeting today, look forward to the discussion to come. I am all for ease of implementation as long as it is still serving the needs of the user and the intended purpose of the page as specified by the revised IA.

[2015-09-11 15:12] schaferjh commented on #351
Definitely looking forward to seeing the recommendation the afternoon, @kurzn. Just want to mention, all the FCM mock ups I've seen thus far are on pages with a sidebar, but sub-landing pages are not required to have a full top-to-bottom sidebar.

The V1 team will be developing a "breakout sidebar organism" within our project work -- once we've worked on it in our context, we can figure out if it

[2015-09-11 15:34] kurzn commented on #351
@schaferjh Can you give us an example of a sub-landing page that would have a FCM on it? So we can consider it in our recommendations. Thanks!

[2015-09-11 15:51] schaferjh commented on #351
@kurzn Sadly we don't have one built or mocked up yet. :cry: We are working through our templates from landing page down the hierarchy. Looking ahead in our project scope, I could imagine the Research Reports page, destined to be a sub-landing page under Data & Research having an FCM, but we haven't done more than scratch the surface of the content for that page.

**Thus is the ongoing timing frus

[2015-09-11 15:54] kurzn commented on #351
@schaferjh I think that sounds like a brilliant plan! :+1:  Part of our biggest impediment has been trying to design for the potential "what if." I think we're at a point to cover 90% of use cases, and as we encounter those edge cases in the future, we can either tweak the recommendation or find an alternate solution to the problem at hand.

[2015-09-11 18:31] Scotchester commented on #342
Bump, @cfpb/oah-team-admin! Please provide your breakpoints so we can move forward with settling this issue.

[2015-09-11 20:33] caheberer commented on #139
Get your tooltips recommendation here! After incorporating feedback, our recommendation is ready for review by approvers! NOTE: this is a use case and style review, not a code review.

Please take a look at:
http://caheberer.github.io/design-manual/ui-toolkit/tooltips.html

Approvers: @nataliafitzgerald @benguhin @Scotchester @JenniferHoran

Please post your comments by Wed. Sept. 16th. Thanks!

[2015-09-11 21:18] ielerol commented on #148
@schaferjh yeah, it's hard to say for sure without data, or specific use cases, but I tend to think that in cases where there are really large numbers of pages, offering good search/sorting/filtering options is a better way to help users find what they're looking for. People can narrow down the content to a relatively small number of pages (or sort it so everything relevant is at the top), which t

[2015-09-14 14:01] danny8000 commented on #274
Have we considered the Acrobat logo:

http://fortawesome.github.io/Font-Awesome/icon/file-pdf-o/

![acrobat-icon](https://cloud.githubusercontent.com/assets/2364420/9851598/76e6d424-5ac7-11e5-820c-5aa22eef5850.png)

Not sure if this would create copyright issues, but it is readable at small sizes, and it is recognizable as a PDF -- the download icon is generic to any kind of downloadable file.

If

[2015-09-14 15:51] amycesal commented on #357
I think 30 can be too much when there aren't paragraphs of text, but single lines of unstyled lists. With so much spacing the list no longer feels like part of the same chunk of text:

![screen shot 2015-09-14 at 11 10 23 am](https://cloud.githubusercontent.com/assets/1656046/9854384/9b5a3ecc-5ad6-11e5-910e-b7f0b2e7973d.png)

Same text but at 15px:
![screen shot 2015-09-14 at 11 14 06 am](https://

[2015-09-14 16:00] KimberlyMunoz commented on #139
For the inline tooltips, would it make more sense to use something that we could base off of the [`<abbr>` element](https://developer.mozilla.org/en-US/Learn/HTML/Howto/Mark_abbreviations_and_make_them_understandable). Hover links are difficult to make accessible, but `<abbr>` has that built in. We should be able to style the way the links look, but we might not always be able to style tooltip its

[2015-09-14 16:03] marteki commented on #148
I hear that the FEWD devs in general agreed last week that code for this should only be written once, and should work with any needed use cases (tables, the blog, etc.)

The code for tables is being buttoned up _this week_. Whoever will be developing this, please reach out personally to @mistergone to make sure that our different teams' assumptions about how pagination works with tables are the sa

[2015-09-14 16:04] marteki commented on #345
I hear that the FEWD devs in general agreed last week that code for our Design Manual components should only be written once in one place, and should work with any needed use cases (tables, etc.)

The code for tables is being buttoned up _this week_. Whoever will be developing this, please reach out personally to @mistergone to make sure that our different teams' assumptions about how filtering wo

[2015-09-14 16:14] marteki commented on #231
### Audit of found modals (includes some of the ones shown upthread)

#### Submit a Complaint (non-responsive pages)

https://help.consumerfinance.gov/app/payday/ask/p_id/249#currentPage=0

**OMB control number.**
Short, includes a link to an email address. Gray overlay on screen, beam border, white background, dark text, close X link in upper right.
![modal - submit a complaint - omb control numb

[2015-09-14 16:15] jenn-franklin commented on #348
Good thoughts @duelj! Looking at the 15px spacing specifically— @nataliafitzgerald do you have thoughts about this regarding using 15px instead of 30px after an H1 as defined in the design manual?

[2015-09-14 16:18] jenn-franklin commented on #348
Here it is with 30px spacing

![screen shot 2015-09-14 at 2 01 11 pm](https://cloud.githubusercontent.com/assets/10562530/9857561/367e4ea4-5ae9-11e5-99c9-60b1b287d61a.png)

![screen shot 2015-09-14 at 2 01 23 pm](https://cloud.githubusercontent.com/assets/10562530/9857565/3c7e6cee-5ae9-11e5-90de-e58a61fc7853.png)

With 30px spacing, it'd serve us better to change the hero back to 300px to ensure e

[2015-09-14 16:25] jenn-franklin commented on #348
My take is to have it as 30px so as not to break from the design manual and other H1/H3 paragraphs.

[2015-09-14 16:37] benguhin commented on #231
@marteki thanks for pulling these together! The summaries are helpful as well.

To pull in some of the discussion from earlier in this thread, a lot of the known usecases for modals could also be satisfied by (1) including the content in an expandable section or (2) taking the user to a separate page (and they could then use the back button or a "Return to X" link to return to the content that the

[2015-09-14 16:51] Dnpizarro commented on #352
### Update 9/14

@nataliafitzgerald sorry for not updating this issue sooner, but we are definitely not including the minicon tab as a standard. In the mockup below, under the section "Use" I plan on showing live versions of the tabs. I included some lorem ipsum to fill in the example. Also, I included some questions in the mockup, particularly the one about whether we should consider numbering th

[2015-09-14 17:49] marteki commented on #357
I like the look of 15px across the board in the example given, but it might create issues on touch devices  in lists with heavy linkage. Would there be enough space to confidently engage with a finger or thumb on a small screen?

[2015-09-14 18:24] KimberlyMunoz commented on #357
We usually set different rules for mobile and touch devices on beta. Our links tend to have more spacing on mobile for exactly that reason.

![image](https://cloud.githubusercontent.com/assets/1860176/9858026/3a1c3cbc-5aec-11e5-9afc-d96a5ad61a53.png)

[2015-09-14 19:00] jimmynotjim commented on #153
Spotted this today https://github.com/filamentgroup/tablesaw

[2015-09-14 19:16] Scotchester commented on #357
That kind of thing doesn't work for the example Amy showed above, though, where there are two links together on the same line.

[2015-09-14 20:39] KimberlyMunoz commented on #357
That's the kind of thing we've been trying to go in and break into two lines for touch devices when we see it.

[2015-09-14 20:58] Scotchester commented on #357
What kind of techniques have you used to do that?

[2015-09-14 22:19] KimberlyMunoz commented on #357
So we're revamping and simplifying our patterns across v1. @duelj pointed out that in cases like [this](http://beta.consumerfinance.gov/budget/strategic-plan/), we might need to just break them out into two lines so that they're clearer.

[2015-09-15 01:29] benguhin commented on #139
This is great.  On the UI front y’alls are totally approved!

Some granular notes as you finalize all the details:
- The example of why helper text is best for the the complaint form question is great, as we’ve seen dozens of usability testing participants benefit using that additional text to help them choose an option. If you end up keeping this specific example, make sure to remove the red “req

[2015-09-15 14:30] stephanieosan commented on #342
Our breakpoints are a little all over the map. From what I can tell,

The journey breaks at 800 and 600.
Our current landing page breaks at 700 and 400.
The form explainer small project breaks at 600.
The explore rates tool breaks at 700.

[2015-09-15 14:33] cafescience commented on #343
These are a few use cases for page level notifications that I've found on websites or in discussions. Please let me know any additional cases I'm missing.
1. Validate multiple fields at once
2. Errors for filter out of range. Example: http://build.consumerfinance.gov/owning-a-home/explore-rates/

![screen shot 2015-09-15 at 10 24 51 am](https://cloud.githubusercontent.com/assets/4876320/9879287/b7

[2015-09-15 14:40] cafescience commented on #343
Colors for the alerts given in the public repo: https://github.com/cfpb/cfgov-refresh/pull/589
- These run into problems when links are contained in the notifications because there's a lack of contrast with the pacific blue

Using the lighter colors from hex values given by @designlanguage the contrast check at https://github.com/cfpb/cfgov-refresh/pull/589 still gives a failure response. Example:

[2015-09-15 14:41] Scotchester commented on #357
Ahah. Unfortunately, I don't think that's practical in the example given by @amycesal. The list would be massively tall. Maybe it demands a different kind of approach.

[2015-09-15 14:46] cafescience commented on #343
Guidelines for when to use page-level errors are nicely laid out on the 18F page:
https://github.com/18F/web-design-standards/blob/18f-pages-staging/_components/alerts.md

Do we have a comparable page with guidelines or should our alerts guidelines be some form of paraphrasing this?

![image](https://cloud.githubusercontent.com/assets/4876320/9879843/0eea7080-5b97-11e5-882d-accb1384ac4b.png)

[2015-09-15 14:49] cafescience commented on #343
Quick note: @cafescience = David Fenigstein

[2015-09-15 15:28] nataliafitzgerald commented on #352
- It looks like we are repeating the content between the introduction and the paragraph under "Use." The text seems to be more applicable to the "Use" section.
- Also, you mention that we would "rarely" use tabs to navigate a process. The explanation is pretty complicated. Is there really an essential need for this tab usage?
- Wording edit: If we are thinking of the word "Use" as the first word i

[2015-09-15 15:30] nataliafitzgerald commented on #327
@designlanguage - Can you provide an update on this issue?

[2015-09-15 15:41] designlanguage commented on #327
@nataliafitzgerald - Yes, I have the proposed RGB palette and am currently working on the CMYK versions. I'm aiming to post everything tomorrow for feedback. For GPO, how much lead time do we need to have them print proofs of these colors? Should we schedule something now?

[2015-09-15 15:45] nataliafitzgerald commented on #327
Adding @elizbond regarding GPO question.

[2015-09-15 16:19] nataliafitzgerald commented on #335
DM Styling edits:
- For content under the H3's, the width of the content should be 560 px (to match the DM styling). Update intro paragraph under "Style", "Special cases..."Inline" (also, it looks like you have skipped a header level here, was that intentional?)
- The space under the rule line that comes after "Style" should be the same as the space under the rule line that comes after "Use".
  <i

[2015-09-15 16:33] Scotchester commented on #139
### Style
- Include an image of the default question mark icon, or expand the text to the full width of the section.
- I feel like the name of this section doesn't accurately describe the content it contains. It's more like behavior and placement guidelines. I don't have a better suggestion, though.

### States

Any example of a tooltip next to a form field label will violate this rule. Maybe chan

[2015-09-15 18:38] keelerr commented on #352
@nataliafitzgerald and @Dnpizarro, I've tried to respond to your points:
1. I think the introductory sentence should stay in the introduction. I don't think we need any more preamble before jumping into the use case. (And this is what's included in my current draft of the content.)
2. I think using tabs to step users through a process is a valid use case. This is why I've included it. To help me c

[2015-09-15 18:52] nataliafitzgerald commented on #352
@Dnpizarro - If you include numbers you can look at a different coloring for the minicon circle or use numbers without circles.

[2015-09-15 21:17] benguhin commented on #343
![99526508-57d1-11e5-8e7a-815ef38feffa](https://cloud.githubusercontent.com/assets/6953063/9890394/b111920e-5bcd-11e5-95d7-8a3effe8d3aa.png)

[2015-09-15 21:20] benguhin commented on #343
<img width="1578" alt="screen shot 2015-09-15 at 5 20 05 pm" src="https://cloud.githubusercontent.com/assets/6953063/9890464/0adbbd50-5bce-11e5-8d4f-ea652cee0c59.png">

[2015-09-16 13:46] Dnpizarro commented on #274
@danny8000 you bring up a good point! I guess a couple of points/questions come to mind. If we take the direction of adding a label [pdf], we would probably have to do this for all other files types (e.i. pdf, excel, word, csv, etc). So something like: Title of file [file type]

How important is it for us to label the downloadable file? Alternatively, I feel this can potentially be solved through

[2015-09-16 14:59] caheberer commented on #139
Transferring @nataliafitzgerald 's comments to this issue:

DM Styling edits:
- For content under the H3's, the width of the content should be 560 px (to match the DM styling). Update intro paragraph under "Style", "Special cases..."Inline" (also, it looks like you have skipped a header level here, was that intentional?)
- The space under the rule line that comes after "Style" should be the same a

[2015-09-16 16:31] ielerol commented on #345
A first draft of filter recommendations is [available here.](https://docs.google.com/a/cfpb.gov/document/d/1EwRStR8sRUM_NXcdjXOcDeqMvdXh6GoJtvzhQwCHvjA/edit?usp=sharing) Please let me know what you think!

Questions I have right now:
- Is this the right level of detail for recommendations on how the filters themselves work? A lot of filtering situations are fairly complex and specific, so I didn't

[2015-09-16 18:12] KimberlyMunoz commented on #274
I agree. The icons are good visual indicators of pdfs and downloadable content, but they shouldn't be the only ones. Screenreaders and older browsers that struggle with icon fonts might not be able to read them, but they should still get the context they need.

[2015-09-16 19:38] caheberer commented on #139
Thanks for the feedback, I’ve compiled a revision list that I’m working on to complete approval.
- [x] Remove red asterisk from first example
- [x] Change “The tooltip is in a hero” to “the word or phrase needing to be explained is in a hero”
- [x] Remove “5 lines” from character max
- [x] Expand “Style” and “Inline” subhead text to full width
- [x] Add that 44px radius around icon is preferred wh

[2015-09-16 20:19] ohsk commented on #345
Good work @ielerol! I think this is a really great start. I'm in favor of keeping things more on the use-case / best practices side of things that you've outlined, rather than prescribing layouts and structures at this point. The implementation of filters can vary so much depending on the nature of the content that's being filtered. But the example use cases can provide a really good starting poin

[2015-09-16 21:32] ielerol commented on #345
Thanks @ohsk! That article is great. I will look around to see if anyone has tested entirely collapsed filters against the truncated list. Everything we have currently either shows all options all the time, or allows for hiding sections entirely, and I don't know whether we'd have time in the current effort to code something appropriate, but if it makes enough difference it might be worth looking

[2015-09-16 23:27] designlanguage commented on #327
Here is a (lengthy) update on the color palette:

### RGB

Not too much has changed here. @nataliafitzgerald, to answer your question about the gold, the darkest color shouldn't be too bright/saturated, since it needs to function as a shadow of the main gold color in illustration. To do that, it'll need to be somewhat burnt, but I did push it to be a bit cleaner here.

Here are the current and the

[2015-09-17 17:17] duelj commented on #343
@cafescience - in regards to the notifications/alerts containing links at the page level, its a good point about the accessibility of the color used. We moved forward with those colors because our impression was that alerts at the page level shouldn't contain a CTA, thus the link contrast was not an issue. I would be interested to hear some UX thinking on whether it makes sense to include links in

[2015-09-17 17:55] caheberer commented on #327
Similar to @Scotchester's comments earlier about tints/percentage steps. I'm wondering if we want to come up with a new naming convention considering it's not equal percentage decreases? For instance Pacific 6, Pacific 5, Pacific 4, etc. in descending order. Or is it easier from a switchover perspective to just name the new darker value for each color? I think I'm in favor of the former for clarit

[2015-09-18 13:49] marteki commented on #231
A first pass at a recommendation is here:

http://marteki.github.io/design-manual/ui-toolkit/modals.html

We're actively working right now at filling out the sections on accessibility, and creating the examples. In other words, the page will probably change every few hours. Still, start giving feedback and asking questions!

[2015-09-18 17:15] nataliafitzgerald commented on #327
@designlanguage - There is a lot to take in above and really we won't know the verdict until we get these on press. I see that you are changing a lot of the builds for various colors and I do have concerns with that (in terms of losing pop, vibrance, etc.).

So, in order to have a baseline idea of our starting point, when we print this at GPO can we also include our full existing color palette (i.

[2015-09-18 20:29] designlanguage commented on #327
@nataliafitzgerald - Totally agree that we should include our existing palette for comparison when printing these, but they can't be a baseline. From the examples of printed materials we've looked at, the same brand green has printed many different ways, looking like different colors, not one. We need a standard to compare things too.

If we include Pantone CMYK swatches, we'll know what exactly w

[2015-09-18 22:05] nataliafitzgerald commented on #327
@designlanguage - To clarify, I was talking more about a baseline for the secondary palette, not the brand green. Everything you've said above makes sense. I think we're in good shape for our test!

[2015-09-19 00:06] ielerol commented on #345
Here's an initial draft of the design manual page, with some of the changes incorporated: http://ielerol.github.io/design-manual/ui-toolkit/filters.html

when @ascott1 and I are both in the office at the same time, we should talk about the possibility of getting live code for the guidelines sections.

[2015-09-21 14:18] ascott1 commented on #345
Agreed!

Also, here's a list of jQuery filtering plugins. We may want to look to these as an example for how to build something that is applicable to different use cases http://www.unheap.com/section/user-interface/filter-sort/

[2015-09-21 14:20] ascott1 commented on #148
@ohsk is the MVP of this your design? Or should it be based on the work of the V1 team?

[2015-09-21 14:24] benguhin commented on #345
This is great – I love how it builds off of the work we've done with form fields

[2015-09-21 15:48] mebates commented on #342
The current cf.gov breakpoint scheme has four breakpoints. The big remaining question is whether or not we want to add a fifth breakpoint between 800 px and 1200 px, like KBYO, Retirement, and CCDB have.

We may need to reference the hero discussions to see where and when breaks are necessary specifically for heros (KBYO built in some specific breaks just for the hero).
ex: at 1024 width, the hero

[2015-09-21 15:56] mebates commented on #342
We also want to propose going with @jimmynotjim's device-agnostic naming convention change. The five breakpoints would be called:
- palm
- lap-portrait
- lap-landscape
- desk
- wall

The two 'lap' names are up for debate; would love other ideas!

[2015-09-21 16:20] schaferjh commented on #342
Re: naming convention -- I met a guy at a conference who uses the Jackson Five members to name his widths. So there's that. What about t-shirt sizes?
- extra small
- small
- medium
- large
- extra large

Though it may be that those words are too common.

[2015-09-21 16:23] Scotchester commented on #342
Here's the reason why we used the 1024px breakpoint on the guide for real estate professionals:

## With our breakpoint, the view of the site on an iPad in landscape:

![screen shot 2015-09-21 at 12 12 05](https://cloud.githubusercontent.com/assets/1044670/9997612/2b35c244-605b-11e5-9940-a67542e84bb9.png)

## Without our breakpoint (faked in this shot by just bumping the width to 1025):

![screen

[2015-09-21 16:47] benguhin commented on #342
+1 to @schaferjh's suggestion for using t-shirt sizes (i.e., small vs medium vs large). Using words like "palm" and "desk" could get tricky as the standard resolutions for handhelds and desktops change over time

[2015-09-21 17:00] nataliafitzgerald commented on #346
@sonnakim -
I made a few comments within the GoogleDoc. If you can respond or address those issues I feel comfortable moving forward with build.

I definitely think there is work to be done on making sure our voice/tone/language style are consistent between this page. Of course, this shouldn't stand in the way of proceeding with build.

[2015-09-21 17:31] Scotchester commented on #342
Here's a recap of our tentative proposal:

| Name | Range | Comments |
| --- | --- | --- |
| palm | 0–599px | When moving from 600 to 599, heading levels 1–3 drop down to the next smallest level. |
| lap-portrait | 600–800px | When moving from 801 to 800, all multi-column layouts stack into a single column, and standard desktop navigation switches to its mobile variants. |
| lap-landscape | 801–10

[2015-09-21 17:45] KimberlyMunoz commented on #342
The current proposal just feels like we're changing the names of phone/tablet/desktop to something that's just a little trickier to remember. Right now the breakpoints in v1 align with a one-column and two-column layout in most circumstances and I think that would work well with a small/medium/large format.

If we do go with the palm/desk thing, can we change `lap` to almost anything else? Maybe `

[2015-09-21 17:52] Scotchester commented on #342
I understand where you're coming from, and in fact my argument against t-shirt sizing could easily be applied also to the current proposal. I guess my thinking was that the current proposal was negligibly harder to get used to than the completely abstract size scale. But I think it's still wide open. Need a quorum of votes and then I say let the majority rule.

[2015-09-21 19:08] cafescience commented on #343
A Google doc containing a (very) rough wireframe of Alerts usage is located at https://docs.google.com/document/d/1ugZ4uEM26pDSFNEQWRALgJdJfSiUMCTBbvFogApG3Co

[2015-09-22 13:08] jenn-franklin commented on #351
Hi @nataliafitzgerald and @benguhin. Can you please review for approval? Thanks!

<h2>Style at desktop size</h2>

<strong>FCM on page with right sidebar</strong>
![desktop_1](https://cloud.githubusercontent.com/assets/10562530/10063755/315e718a-623f-11e5-82c6-d399c59a434e.png)

<strong>FCM on page with left nav</strong>
![desktop_2](https://cloud.githubusercontent.com/assets/10562530/10063758/36de

[2015-09-22 14:09] jenn-franklin commented on #348
We definitely questioned height, too. I think the homepage should have a large hero. Could see a hero relationship like airbnb has on some of its pages.

<strong>Homepage</strong>
![screen shot 2015-09-22 at 9 58 45 am](https://cloud.githubusercontent.com/assets/10562530/10020628/e8163950-6111-11e5-87a1-2d842be1928d.png)

<strong>Second-level page</strong>
![screen shot 2015-09-22 at 10 03 28 am](

[2015-09-22 14:12] jenn-franklin commented on #348
@nataliafitzgerald and @benguhin, can you please review? thank you!

<h2>Style at desktop size</h2>

![hero_2](https://cloud.githubusercontent.com/assets/10562530/10063947/7ab2c294-6241-11e5-90db-ceae73e461fb.png)
![hero_1](https://cloud.githubusercontent.com/assets/10562530/10063949/7dddb438-6241-11e5-805b-40b6968f4993.png)

<h4>Spacing</h4>
- Total height is 285px.
- Top and bottom margins are 4

[2015-09-22 17:33] stephanieosan commented on #346
I think there was discussion of someone doing a voice/tone sweep of all the new pages after the Sept 30th deadline.

[2015-09-23 19:43] nataliafitzgerald commented on #346
H4 works for the labels. In case there was any misunderstanding, my comment on the GoogleDoc was related to the H5. Looking forward to seeing this in action!

[2015-09-23 19:49] sonnakim commented on #346
Thanks @nataliafitzgerald! Sorry for the misunderstanding. I've implemented some of the tweaks you suggested in the Google doc. Take a look if you like, and in the meantime we're going to go ahead and start implementing these final changes.