[2014-02-11 18:39] danny8000 opened #21 "UX Toolkit demo pages should include HTML from the capital framwork demo folder"
I started to wire this up with grunt copy scripts and jekyll includes. Once the Capital Framework demo page are complete, then we can re-run bower to grab the latest demo code.

[2014-02-11 18:41] danny8000 opened #22 "Header Links: Active Style"
I added a css class to the current, or "active" header. I just added a background color to show that the class is working. We will need a comp for the active state.

[2014-02-11 18:41] danny8000 opened #23 "Merge HMDA API Docs HTML and CSS code with design-manual"

[2014-02-11 18:43] danny8000 opened #24 "Grunt: Create watch task"
This will run the build & test tasks
This should be the default task

[2014-02-11 18:43] danny8000 opened #25 "Grunt: Create test task"

[2014-02-11 19:30] danny8000 opened #26 "Tables: Create Capital Framworke Table Repo"
Create Table repo, use digital product guide as a starting point. There is a tables less file in the repo as well.

[2014-02-11 19:43] mebates commented on #26
Hey Dan - I'm not sure if these issues need action from others or if you're creating them for yourself. Can you elaborate a bit? Thanks!

[2014-02-11 19:48] danny8000 commented on #23
I put a green border on the left side of the secondary nav element that represents the current page.

I would like a designer to review the styling.

[2014-02-11 19:50] danny8000 commented on #23
Note, you won't see these changes at this repo until I send a pull request. For now you can view the pages here:

http://danny8000.github.io/design-manual/guides/design-best-practices.html

[2014-02-11 19:50] danny8000 commented on #22
Please see:

http://danny8000.github.io/design-manual/guides/design-best-practices.html

[2014-02-11 19:51] danny8000 commented on #26
This was just for me to keep track of the open issues.

[2014-02-11 19:57] mebates commented on #22
It should match what the Intranet does on active state.

[2014-02-11 19:58] Scotchester commented on #22
The intranet just leaves the hover state up.

[2014-02-11 19:58] mebates commented on #23
The bevel at the bottom of the green line is pretty pronounced.
Can the menu design match the menu here (row height, type, etc): http://cfpb.github.io/api/hmda/?

Thanks for clarifying these issues!

[2014-02-11 20:01] Scotchester commented on #23
Having the bottom border be 2px wide and lighter in color than the page you referenced, @mebates, is what was making the bevel (caused by the joining of the left and bottom borders) more pronounced.

I agree with making it match the HMDA API docs menu.

[2014-02-11 20:08] danny8000 opened #27 "Grunt: legacssy and autoprefixer"
I need to figure out if we need to use legacssy and autoprefixer. These are commonly used in the captial framework grunt files.

[2014-02-11 20:51] danny8000 commented on #23
The HMDA API docs design is very polished. Why didn't we just use the HTML and CSS from that project as a starting point for this project?

[2014-02-11 20:54] mebates commented on #23
I don't know, maybe @davidakennedy can elaborate. I thought we WERE basing it on DOCter, which I think the HMDA API thing was either based or DOCter was built from.

[2014-02-11 20:56] dezzie commented on #23
Since I coded it, it may look good, but it's kind of a hot mess inside.
![ackbar](https://f.cloud.github.com/assets/1301932/2141987/fee481f0-935e-11e3-8f60-660d7c6d28de.gif)

[2014-02-11 20:58] danny8000 commented on #23
Ok, I will do a little bit of research, maybe the API docs have evolved away from DOCter.

[2014-02-11 21:00] dezzie commented on #23
HMDA docs branched away from DOCter early on when it was newly hatched to document eregs stuff; @ascott1 and I were working on our stuff in tandem. Lemme know if you're trying to look for something specific!

[2014-02-11 21:18] danny8000 commented on #23
Dave started with DOCter, so this repo does not reflect any of your code. I plan to merge all of the relevent HTML/CSS code in from API docs into the design-manual, hopefully tomorrow.
(Then maybe I will update DOCter once the design manual is complete so there is a up-to-date repo for starting new projects.)

[2014-02-12 12:24] ascott1 commented on #23
Pull requests to DOCter are welcome! It was a 1 day project based on the eRegs docs. :smiley:

[2014-02-12 15:20] himedlooff commented on #21
Using bower is a smart idea! :space_invader:

[2014-02-12 16:20] dezzie commented on #23
Merging in the CSS and responsive bits from HMDA docs would be great for DOCter. I'll be forking you @danny8000!

[2014-02-12 16:21] danny8000 commented on #22
Fixed!

[2014-02-12 16:21] #22 closed, assigned to nobody

[2014-02-12 17:08] iuloshi commented on #23
:+1:

[2014-02-12 17:35] danny8000 commented on #23
I updated this issue's name to be more desriptive.

[2014-02-12 17:36] danny8000 opened #28 "Main nav: Make responsive"
Main nav needs responsive styling

[2014-02-12 17:38] Scotchester commented on #28
Do you mean that it needs to be styled on smartphone-sized devices? There's an internal thread open about that already. Will email you the link.

[2014-02-12 17:41] Scotchester commented on #28
Nevermind, you've already commented on it :)

[2014-02-13 22:21] mebates opened #29 "Move 'Beams' from UI section to Identity section"
It is under the wrong category. @dezzie is updating the Site Map on the ReadMe to account for this.

[2014-02-14 23:09] mebates opened #30 "Shrink Primary Nav pixel size"
The primary nav (Overview, Guides...) should be 18 px, not 20.

[2014-02-18 21:21] danny8000 commented on #29
Done!

[2014-02-18 21:21] #29 closed, assigned to nobody

[2014-02-18 22:45] mebates opened #31 "Eliminate repetitive titles"
Using this page as an example:
http://cfpb.github.io/design-manual/identity/illustration.html

Eliminate 'Identity' from above the side nav; no title needed there.
Eliminate the work 'Identity' from 'Identity: Illustration'

The only signal for the section should be the primary nav.

[2014-02-19 18:03] himedlooff commented on #27
I would highly recommend using autoprefixer because it adds in vendor prefixes for you.

https://github.com/ai/autoprefixer

[2014-02-19 18:06] himedlooff commented on #27
Use legacssy if we want to support older IE versions that do not support media queries. It will create a separate stylesheet that strips out media queries. For example it would turn this...

[code]

into this...

[code]

http://robin.medvedi.eu/mobile-first-and-ie8-solution-introducing-grunt-legacssy/

[2014-02-19 18:08] himedlooff commented on #27
Looks like you are already using autoprefixer, oops!

[2014-02-20 22:16] mebates opened #34 "Remove/edit pages in nav"
Identity:
Remove 'Brand Guidelines' (I'm not sure what this is)
Remove the word 'principles' from Color and Typography. All of these have principles, right? I think this was a remnant of when we had color and typography repeated in the UI section.

UI elements:
Remove 'Markdown' and 'HTML Elements' and 'Typography' (appears in Identity section)
Hide 'Grid and layout'. Not currently on the sitemap

[2014-02-20 22:17] mebates commented on #34
Also, I know @danny8000 arranged these alphabetically for now, but it may be helpful to rearrange the menu items in a more logical order. (Match Style Guide order for Identity, pair like-elements in UI)

[2014-03-10 17:47] stephanieosan opened #36 "Add Branding guidelines content to its page within identity section"
This content is already written in our brand guidelines (pgs 6 & 7) and good-to-go. Someone just needs to add it.

[2014-03-10 19:24] mebates commented on #36
Hey - I asked for it to be removed from the 'Identity' section in issue #34. I think it might fit better under the 'Guidelines' section. What do you think?

[2014-03-10 20:10] ohsk opened #37 "Stylistic tweaks to Photography page"
Documenting minor stylistic tweaks to be made to the Photography page prior to replicating to other sections of the Design Manual.
### Type hierarchy:
- [x] `<h1 class="page-title">` should be set to `font-family: "Avenir Next"`, to match our H1 standards.
- [x] `<h2>Stylistic guidelines</h2>` should be set to `font-family: "Avenir Next"`, to match our H2 standards.
### Horizontal rule colors:
- [

[2014-03-10 20:31] ohsk commented on #37
Introductory section column widths:

![screen shot 2014-03-10 at 4 15 50 pm](https://f.cloud.github.com/assets/1689222/2378762/dc7e1308-a892-11e3-99d7-9d44eb4f19f5.png)

[2014-03-10 20:32] ohsk commented on #37
Vertical spacing with horizontal rules:

![screen shot 2014-03-10 at 4 32 07 pm](https://f.cloud.github.com/assets/1689222/2378775/14654098-a893-11e3-8d6e-35c11446ca3d.png)

[2014-03-10 20:49] mebates commented on #37
:+1:

[2014-03-11 15:26] elizbond opened #38 "Servicemember iconography set"
At the CFPB, we have three different levels of iconography and illustration that we use throughout our web and print experiences. In the fall of 2013, the need for an iconography set to represent the Office of Servicemembers Affairs became apparent. The current state of the set is listed below.
## Illustration

![screen shot 2014-03-11 at 11 07 52 am](https://f.cloud.github.com/assets/6798337/2386

[2014-03-11 15:48] stephanieosan commented on #36
I'm not sure. All the rest of the content within the "guidelines" section is (although wordy) still pretty actionable. Where as, the content in the brand style guide that I'm referring to (which the style guide calls "Design principles") is more global and less actionable. It describes how we think about design at the CFPB.

At one point, Ben and I talked about it living in the overview section, a

[2014-03-11 15:56] stephanieosan commented on #36
But, I do think it makes sense to remove the branding guidelines from the identity section. The "Design principles" section I was thinking of aren't really "brand guidelines" and shouldn't live within Identity.

[2014-03-11 15:56] #36 closed, assigned to nobody

[2014-03-11 16:19] elizbond opened #39 "Debt collection iconography set"
At the CFPB, we have three different levels of iconography and illustration that we use throughout our web and print experiences. With upcoming project plans for Debt Collection, the need for an iconography set has been brought to our attention. The current state of the set is listed below.

## Illustration
Needed

## Isocon
![screen shot 2014-03-11 at 12 18 09 pm](https://f.cloud.github.com/asset

[2014-03-11 16:30] elizbond opened #40 "Getting out of debt iconography set"
At the CFPB, we have three different levels of iconography and illustration that we use throughout our web and print experiences. With Getting out of Debt acting as a prominent consumer guide, the need for an iconography set was brought to our attention. This iconography set is not to be confused with Debt Collection. This set specifically addresses the various ways a consumer can get out of debt.

[2014-03-11 16:42] elizbond opened #41 "Additions to illustration library"
During the latest regroup, our illustration guidelines went through a tedious exploration. As we began updating our illustration library to include the latest guidelines, we recognized the need for a few financial items to add to our assets for a fully functioning library. Each item will be addressed in its own issue.

High priority
1. Car @ajbush [https://github.com/cfpb/design-manual/issues/46]

[2014-03-11 17:10] danny8000 commented on #27
Thanks for the great info @himedlooff it is very helpful.

[2014-03-11 17:10] #27 closed, assigned to nobody

[2014-03-11 17:17] ohsk commented on #37
@danny8000 I think this was everything we could think of that needed a bit of love from a stylistic standpoint!

[2014-03-11 17:20] danny8000 commented on #30
I just changed the code to:

[code]

@mebates please review my fork:

http://danny8000.github.io/design-manual/identity/photography.html

[2014-03-11 17:25] himedlooff commented on #30
@danny8000 if you're using Less there is the `unit()` function that can help you convert to em's. I find it helpful as a way of self documenting the px size without having to add a CSS comment. The benefit of not using a CSS comment is you can comment out the whole declaration if you need to. When you add CSS comments after properties it makes commenting the entire declaration much harder. Here's

[2014-03-11 17:28] danny8000 commented on #31
@mebates  please verify:

http://danny8000.github.io/design-manual/identity/illustration.html

[2014-03-11 19:14] mebates commented on #31
Looks good!

[2014-03-11 19:16] mebates commented on #30
Size looks good @danny8000. Why doesn't 'Overview' alight to the left though?

[2014-03-11 19:50] elizbond commented on #38
Isocon - Has there been an update? @skennedy
Minicon - Can we try it with a chain? The overlap should be updated. Let's try it with context. @Dnpizarro

[2014-03-11 20:53] danny8000 commented on #37
I made most of these changes. I need to discuss with @himedlooff how to collapse margins at the top of a grid.

[2014-03-12 14:20] duelj opened #43 "Calendar Illustration"
Here were some different options for the calendar illustration that I put together. It's first use will be in Mollie's Ideas 42 video so I am not sure if there will be specific needs because of that or not.
![cal_1](https://f.cloud.github.com/assets/6873734/2398034/61e9a304-a9f1-11e3-86d8-8919da05606d.png)
![cal_3](https://f.cloud.github.com/assets/6873734/2398035/61ef3292-a9f1-11e3-8913-a754b6fa0

[2014-03-12 14:48] mebates commented on #43
Nice! Thanks @duelj

The second one is best for the video I'm working on. I need the days to fill with $$ signs, so it's important to have that grid. I like the folded corner. Since this is an illustration that will probably be used at a larger size, do you think we can fit the full month name in slightly smaller type?

[2014-03-12 14:52] Dnpizarro commented on #38
Below is the revised servicemember minicon. I provided 4 options: with the beaded chain and without, fill and no-fill (stroke). I kept the no chain option incase we felt the chain option felt too small. I dropped the stroke weight slightly. I also placed the minicons into buttons to give us a sense of context.

![servicemember_minicons](https://f.cloud.github.com/assets/6852363/2398466/cf81861c-a9

[2014-03-12 15:19] duelj commented on #43
Yea sounds good, maybe something like this would work?
![cal_5](https://f.cloud.github.com/assets/6873734/2399517/5420a6ec-a9ff-11e3-8542-d0a4e96b88d0.png)

[2014-03-12 16:40] duelj opened #44 "Safe Illustration"
Here are a couple of concepts for the safe. I feel like the door and lock style kinda comes down to preference, there are a million ways we could style it but these were a couple that I liked. I didn't know if there were any specifics that we should consider for the style, I assumed a closed door was mainly what we were looking for.
![safe_2](https://f.cloud.github.com/assets/6873734/2399987/fa05a

[2014-03-12 16:52] stephanieosan commented on #44
The second safe feels more safe-like to me! I also like it's knob better.

The one thing that appears on both safes that bothers me is that the knob face recedes and feels like it's a part of the background, since the background's exact color and highlight is carried over to it. I think this is especially problematic for the first safe, since the door is circular and gets a curved highlight, altho

[2014-03-12 16:55] stephanieosan commented on #43
:+1:

[2014-03-12 16:58] mebates commented on #43
Nice. Do you think we need to have 7 days in the grid to make it accurate? And 5 weeks deep? I would make the red field slightly narrower, top to bottom.

[2014-03-12 16:59] mebates commented on #44
Awesome! I agree that the second one says 'safe' faster.

[2014-03-12 17:12] duelj commented on #44
I was having some issues with the cast shadows, my hang-up was whether the shape was supped to be a curved or flay surface vs. the shape being round. I imagined the door 'domed' but the front of the combination lock to be flat. I have an example below that shows two curved shadows and it seems cluttered. Maybe you all have some other ideas?
![safe_3](https://f.cloud.github.com/assets/6873734/24003

[2014-03-12 17:19] duelj commented on #43
Maybe something like this?
![cal_6](https://f.cloud.github.com/assets/6873734/2400424/6cd17832-aa0a-11e3-820b-3a220442b889.png)

[2014-03-12 18:29] nataliafitzgerald commented on #44
Looking at the larger context of our illustration style, the last option you posted here, with fewer strokes makes the most sense. The handle dimensionality (created by the two gray tones) is working well to give the sense of the material of a safe. Is there a way to bring in this dimensionality to other parts of the safe, for example the combination lock? The legs on the bottom are tripping me up

[2014-03-12 18:40] ohsk commented on #37
Thanks @danny8000, looking good. Yeah, seems like we just need to reduce the margins a bit in some places.

@mebates, I also exported the feature image. Where are we placing visual content now?

![photography0_ 2](https://f.cloud.github.com/assets/1689222/2401414/be384f60-aa15-11e3-8a04-b5f2e00da7d9.jpg)

[2014-03-12 18:49] nataliafitzgerald commented on #43
Independent of the ideas 42 project I like the calendar that is 3rd on the list and says "MAR 14." This would make a good date calendar (the type that sits on a desk that you flip each day).

In the last option, for ideas42, does this illustration represent a large, flat desk calendar or a hanging wall calendar? If this is a large, flat desk calendar perhaps we remove the hooks and add a bit of di

[2014-03-12 18:56] duelj opened #45 "Purse Illustration"
Here is a first attempt at the purse, I will do some other options but I wanted to see how people felt about using the stitching pattern strokes or if I should abandon that approach. This also seems like we would stylize the shoulder strap like this but the radius of the curves have to be more substantial for the thickness of the strap to seem right. Interested to hear your thoughts.
![purse_1](ht

[2014-03-12 19:02] ajbush opened #46 "Car illustration"
Here are my initial thoughts for the car to be used in industry facing graphics. I first started below with the restricted green color palette to keep within the style we are developing.

![old](https://f.cloud.github.com/assets/6931351/2401554/7e4e8034-aa17-11e3-9b78-abc9f32fb050.png)
I received feedback from @mebates to try a few tweaks. Her feedback was that the...

---

I took a second pass at

[2014-03-12 19:05] ajbush commented on #46
I then took a pass at bringing the car into the normal illustration style that has more detail in the windows, doors, lights, handles, and side view mirror. I've colored the car using greys for now so that we can focus on ironing out the framework of the car.

![car](https://f.cloud.github.com/assets/6931351/2401730/4cabaeba-aa19-11e3-926d-a44f6916f40d.png)

[2014-03-12 19:17] ajbush commented on #45
I really like where you are headed with this. I wonder if adding more details like a buckle and/or a flap would help?

[2014-03-12 19:20] nataliafitzgerald commented on #43
Following up on my last comment, if this is a tear off/ desk pad calendar, the month would appear on the calendar sheet, rather than the top part (red bar).

For comparison, we could also try a spiral alternative for this one.

[2014-03-12 19:56] ohsk commented on #43
I like the general directions of #2 & #3 from the original set!

I agree with Natalia that in the most recent directions, the stroke weights of the daily boxes is what's throwing me off and would be great to see what a filled version would look like.

I think it makes sense to keep the month name on the red bar; less concerned about how this maps conceptually to a wall calendar or desk pad calenda

[2014-03-12 20:02] duelj commented on #43
That makes sense with the boxes, they are kinda chaotic, good call it feels much better. I tried a couple of options again to look at. I tried a little extra detail on the tear off page version, but I im not sure it adds enough to keep.
![cal_7](https://f.cloud.github.com/assets/6873734/2402362/271c30c2-aa21-11e3-8d85-382ef5f4f314.png)
![cal_8](https://f.cloud.github.com/assets/6873734/2402363/271

[2014-03-12 20:26] duelj commented on #44
Heres a little more detail on the stroke-less version, I tried to address the shading on the center dial as well.
![safe_5](https://f.cloud.github.com/assets/6873734/2402620/90eb5bce-aa24-11e3-9e7b-bbdad797b5f8.png)

[2014-03-12 20:33] ohsk commented on #46
Hey AJ, I think that the general forms seem a bit too organic still... like the fact that the bottom of the car has some curvature and the back of car doesn't have clear shape that I could backtrack and pull out as the starting geometric elements.

Here were a few examples that I found that had some interesting forms that seemed a bit more inline with the latest approaches for our illustrations:

[2014-03-13 15:50] duelj commented on #46
I couldn't resist the chance to make a car... it would still need some love but I was trying to keep our shapes and shadows going to see how it was feeling maybe it helps influence something else?
![car_1](https://f.cloud.github.com/assets/6873734/2411399/067bb68e-aac7-11e3-8ab5-7a7a75e6fecc.png)

[2014-03-13 16:11] elizbond opened #47 "Retirement iconography set"
At the CFPB, we have three different levels of iconography and illustration that we use throughout our web and print experiences. In the spring of 2014, the need for an iconography set to represent the Office of Older Americans became apparent. The current state of the set is listed below.

## Illustration
![screen shot 2014-03-13 at 12 01 16 pm](https://f.cloud.github.com/assets/6798337/2411564/b

[2014-03-13 16:13] ajbush commented on #46
NIcee. I really like the handles and the contour details you have added. The glare in the glass is nice too. I'm still working on a version too but you guys have set the bar pretty high. This seems pretty solid to me. Would the front lights be viewable from this angle?

[2014-03-13 16:46] duelj commented on #46
Thanks! Great point, I was trying to sort out the headlight situation, I tweaked a couple things and tried to refine some details on this one.
![car_2](https://f.cloud.github.com/assets/6873734/2412132/03759eca-aacf-11e3-97c0-30dc449de32d.png)

[2014-03-13 17:09] ajbush commented on #46
Yea those updates are really looking sharp. I'd vote to use this. Curious to see what @ohsk and others think.

[2014-03-13 17:14] mebates commented on #45
I would try a less symmetrical shape for the strap, more irregular. One hump could be lower than the other. I agree that more detail on a flap would help add some depth.

[2014-03-13 17:15] mebates commented on #46
The front nose seems too narrow and pointy. Looks like a concept car. Love everything else.

[2014-03-13 17:16] himedlooff commented on #26
Empty repo is here: https://github.com/cfpb/cf-tables

[2014-03-13 18:32] duelj commented on #46
rounded car - less concept more 'family?'
![car_3](https://f.cloud.github.com/assets/6873734/2413396/c2d1e70c-aadd-11e3-9589-19987dcefb38.png)

[2014-03-13 21:18] duelj commented on #46
After our conversations during crit. I made a couple of minor tweaks to the car I had been working on.

#### 1 Same overall shape, removed lower detail line and tried adjusting colors just to see if it helped the feeling of the overall car.

![car_4](https://f.cloud.github.com/assets/6873734/2415320/dbacfeae-aaf3-11e3-9437-5e4251996ec0.png)

#### 2 Adjusted the hood shape, and front body to be a l

[2014-03-14 18:15] ajbush opened #48 "Wallet illustration"
Hey team, here is a pass at the wallet. Let me know your thoughts. I tried small variations in the spine and the stitching around the i.d. slot.

![spine_no_lines](https://f.cloud.github.com/assets/6931351/2424187/0e3b903c-aba4-11e3-90d8-6b41d8dd5d9f.png)

The version below has horizontal lines in the spine to add detail. Seems like it may not be necessary but wanted to share this option.

![spine

[2014-03-14 18:40] mebates commented on #46
Nice. Looks like my sister's old royal blue Ford Focus. :smiley:

[2014-03-14 18:42] mebates commented on #48
Nice AJ. I think the last one, the simplest, is best. I would simplify the ID 'type' a bit, maybe just three solid lines? Will we have a need for closed wallet?

[2014-03-14 18:43] ohsk commented on #48
Hey AJ, looking great!

I would second Mollie's comments, and also suggest perhaps trying a slightly smaller radius for the outside corners of the wallet.

[2014-03-14 18:59] Dnpizarro commented on #48
Looking good!
- 1 on the comment about the corners. I'm gravitating towards your 3rd option, its simpler and I don't think the stitching in the previous versions is necessarily adding much.

[2014-03-14 19:42] nataliafitzgerald commented on #48
This is looking really nice, AJ. I agree that the simpler (last version) is best and with Mollie's other comments. As far as relative sizing goes, the dollar bill feels slightly too large when compared with the credit cards and IDs. Looking at what I have in my wallet here, IDs/credit cards seem to be just short of the same height as a dollar bill and a bit over half the width.

[2014-03-14 20:22] duelj commented on #46
Nailed it then. haha. Still interested in other peoples ideas if its not
feeling right.

On Fri, Mar 14, 2014 at 1:40 PM, Mollie Bates notifications@github.comwrote:

[2014-03-14 20:57] nataliafitzgerald commented on #46
I'm liking the back of the car and the lower part of the car. The hood and front lights still seem a little off. Is the front part coming out too far? I like the hubcaps but could we look at some simpler style hubcaps for comparison?

[2014-03-14 21:05] ajbush commented on #48
Here is an update. I think I touched on everyone's feedback. Let me know if this is working better and I'll get started on a closed version of this like Mollie suggested.

![wallet_](https://f.cloud.github.com/assets/6931351/2425877/515c02d0-abbc-11e3-9f81-82906f7aa3a5.png)

[2014-03-17 18:27] mebates commented on #43
Hey @duelj where did we land on this? Can we pick one and close the issue? I prefer the third one down, with slightly smaller dollar signs and a smaller corner.

[2014-03-17 18:27] mebates commented on #44
I'm good with this if everyone else is. Can we close?

[2014-03-17 18:27] mebates commented on #45
Any updates?

[2014-03-17 18:43] duelj commented on #45
Nope, no updates. Kinda been tied up with the Idea 42 animation stuff so maybe someone else can pick up where I left off here?

[2014-03-17 19:04] duelj commented on #43
I believe this is what people were looking for?
- Make the shadow not cover the top red bar (I think this was because the red bear is separate from the tear-off style calendar page?)
- got rid of the tear detailing
- tried Stephen's corner fold style with the stroke. Having some color issues with the cast shadow and how to handle the fold.
- removed some boxes to make it feel like a real calendar

[2014-03-17 19:16] vz3 commented on #46
This is something Hantz and I went back and forth on in one of our earlier animations (the original version had one of those smart cars). The long hood in particular reads big engine V8 luxury to me as well as the low-profile tires — BMW M5 or Chrysler 300M. I think this could be tweaked to look more like a lower to mid-range vehicle like the Focus @mebates mentions or Chevy Malibu by bringing in

[2014-03-17 19:18] nataliafitzgerald commented on #45
This looks like a designer purse. If we are trying to show a standard purse, we should pull back on the designer elements (namely the pattern). I agree about simplifying and shortening the handle.

[2014-03-17 19:23] nataliafitzgerald commented on #44
There were some additional comments made at last week's Design Crit that are not reflected here. I would try coloring the hinges with a lighter shade of gray so they don't stand out so much. Also, take another pass at the knob - Elizabeth mentioned in the crit that it looked like an eye. Can we add something to show depth around the perimeter of the interior square? The interior square is much lig

[2014-03-17 19:28] nataliafitzgerald commented on #43
I prefer this version for the video we are working on now.

The edit that was suggested at the design crit was to remove the last row of squares and to make the dollar signs slightly smaller so that they don't come so close to the edges of the squares. Can we make the gray of the fold one shade lighter?

![screen shot 2014-03-17 at 3 25 13 pm](https://f.cloud.github.com/assets/6887128/2440652/f15b

[2014-03-17 19:31] nataliafitzgerald commented on #48
Looks good to me!

[2014-03-17 19:33] vz3 commented on #45
I share the concern with the designer purse. In addition to removing the stitching, I'd suggest changing the strap clasps to silver.

[2014-03-17 19:36] duelj commented on #43
Here are the changes you requested:
![cal_12](https://f.cloud.github.com/assets/6873734/2440760/71a844e4-ae0b-11e3-842e-53c67aba4233.png)

[2014-03-17 20:06] duelj commented on #46
It was actually based off the original proportions of a Subaru Impreza which is a budget minded family car. The edits that were made have pushed it into Volkswagen Passat territory (circa 01-05) but in the end it is none of these cars and only roughly based on the proportions of any existing model. I think the ambiguity is our ally on this one and I think it would be helpful to see others ideas on

[2014-03-18 15:54] duelj commented on #46
Here are some adjustments to the car to bring it in line with the suggestions @nataliafitzgerald and @vz3 made. Shorter front hood, lights adjusted to match, simple shadow lines, simple wheel style, and smaller radius wheel.
![car_6](https://f.cloud.github.com/assets/6873734/2449850/8288928c-aeb5-11e3-9ec2-e65a7b02b80e.png)

[2014-03-18 16:46] ajbush commented on #48
Hey all, here is a closed version of this wallet.

![closed](https://f.cloud.github.com/assets/6931351/2450460/bf8080ea-aebb-11e3-9c1a-e397d925a6a1.png)

Below I added a button snap to add more detail to help it read more as a wallet.
![closed_button](https://f.cloud.github.com/assets/6931351/2450490/fa8a6a2a-aebb-11e3-9981-63bdd2292fe1.png)

Here would be the look of the open wallet with the flat

[2014-03-18 17:51] stephanieosan opened #50 "Shadows and Highlights/Reflections in illustrations"
Watching the car #46 , wallet #48 and safe #44 illustrations shape up has me thinking about the way we're using shadows and highlights in our illustrations. Do we have any guidelines (or thoughts) about when and how to use those yet?
#### Shadows-related questions
- For shadows, do all of our illustrations have a consistent light source? If so, what is it?
- When are shadows implemented, just when

[2014-03-18 17:52] stephanieosan commented on #41
New illustration styling issue #50

[2014-03-18 18:14] mebates commented on #50
Thanks Stephanie - I'm working on some new objects for the video (washing machine, locket) and I definitely have these questions.

[2014-03-18 18:42] mebates commented on #50
When should the highlight/shadow curve naturally, and when should it be straight or geometric?

[2014-03-18 19:04] nataliafitzgerald commented on #50
I have these same questions. Setting baseline standards is a good idea. This does not mean that designers cannot deviate from those standards if their layouts require modifications. But it does ensure that our illustrations maintain a level of consistency within the base library.

##### Light source

For our standard, objects should be lit from the left side. This is consistent with the beam in ou

[2014-03-18 19:22] duelj commented on #50
These are good thoughts for sure. I was trying to hunt down the guidelines presentation that @nataliafitzgerald and @elizbond  put together for the 10 hour project stuff because it should have some of the details we figured out on this. I urged to have fewer restrictions on illustration guidelines and rather just give recommendations for defaults which maybe in this case needs to be flushed out mo

[2014-03-18 19:22] mebates commented on #50
@nataliafitzgerald is the Light Source from the upper left or lower left?

[2014-03-18 19:35] ajbush commented on #48
Here are some slight tweaks based off of the discussion in #50 . I added a slight shadow on the dollar bill. I also removed the stitching since it isn't included on the open wallets interior.

![wallet_button_snap](https://f.cloud.github.com/assets/6931351/2452678/65bf32cc-aed4-11e3-902a-4b32934fd9f7.png)

..or without the button snap

![wallet_plain](https://f.cloud.github.com/assets/6931351/2452

[2014-03-18 19:55] Dnpizarro commented on #48
I feel like without the strap the object is more difficult to identify. Also, is this wallet supposed to be gender neutral or gender specific? This could be better understood if we had some sort of context, nonetheless I think it is something we should consider before we finalize.

[2014-03-18 19:58] stephanieosan commented on #48
I think whenever it makes sense, we should be gender neutral.

[2014-03-18 20:08] nataliafitzgerald commented on #43
I worked on the calendar a bit more. Seeing the lighter shadow (above) I realize that it doesn't provide enough contrast with the date boxes underneath. So, I went back to a slightly darker fold. I also adjusted the kerning of the word "March."
![calendar_1_calendar](https://f.cloud.github.com/assets/6887128/2453004/e76d2190-aed8-11e3-83b7-ebe2e02d0816.png)

I also tried a version without the fold

[2014-03-18 20:09] ajbush commented on #48
Yea I'd say either version is gender neutral. But I agree with @Dnpizarro I think it needs the strap for the closed version to read as a wallet.

Changing the strap color may make it more gender neutral if the thinking was that the lighter strap wasn't as neutral.

![wallet_closed_darker](https://f.cloud.github.com/assets/6931351/2453015/179e92ae-aed9-11e3-980b-c36c009774b7.png)
![darker](https://

[2014-03-18 20:48] nataliafitzgerald commented on #46
@duelj Can you share the latest illustrator file for the car?

[2014-03-18 20:50] mebates commented on #45
I took a shot at the purse:
![screen shot 2014-03-18 at 4 49 54 pm](https://f.cloud.github.com/assets/6223901/2453499/ec93b2a0-aede-11e3-975c-a1a2154afb4c.png)

[2014-03-18 21:39] nataliafitzgerald commented on #46
@duelj , this is getting really close.

To soften this up a bit, lets the black in the hubcaps to the 80% grey. Also, there are some jagged areas in the space around the tires and the shadow under the car. Before finalizing, let's remove some of those points and clean up the edges. Let's remove the highlights from the hubcaps and the tire. That level of detail feels like too much.

In addition to

[2014-03-19 19:48] #30 closed, assigned to Scotchester

[2014-03-19 19:48] #37 closed, assigned to nobody

[2014-03-21 17:56] nataliafitzgerald commented on #45
Hi @mebates. I'm linking the overall shape and footprint of the purse. The handle looks a bit like a magnet. Is there any alternative styling that would remove that likeness. The silver clip is a confusing in terms of the depth. Perhaps you can look at a different type of clip, maybe something more decorative?

[2014-03-24 14:02] iuloshi opened #61 "Update examples on Video page"
Hey guys! As a heads up, I updated the layout of the Video page. Looks like we need some more example screenshots for the Stylistic Guidelines categories. There are placeholders for now.

http://cfpb.github.io/design-manual/identity/video.html

Thanks! @mebates @stephanieosan @ohsk

[2014-03-24 14:10] ascott1 opened #62 "Add kramdown info to the README"
Explain why and how we're using it

[2014-03-24 14:11] ascott1 opened #63 "Add information about the front directory to the README"
The current README doesn't have the proper instructions for installing dependencies and using Grunt.

[2014-03-24 14:18] ascott1 opened #64 "Expandables missing icon"
The icon in the expandable demo is MIA

[2014-03-24 19:55] mebates commented on #45
Totally see the magnet. Here's an update, with more of a toggle closure:

![screen shot 2014-03-24 at 3 54 52 pm](https://f.cloud.github.com/assets/6223901/2504510/4ad59262-b38e-11e3-868c-87d5146158c4.png)

[2014-03-24 20:14] duelj commented on #46
Here are some of the tweak you requested. I rebuilt it trying to keep the body shape as simple as possible. I think it looses something but I it could be an interesting point of comparison. This means no angle from the back to the front hood and the front shape is an arc all the way.  It makes the windows kinda wonkey and the more complex shape I think makes for a more legible car overall.
![car_7

[2014-03-24 20:48] mebates commented on #46
I think the bottom one is looking great. Just took your files and cleaned up the jaggedy edges around the hubcaps. Trying it in green/grey for the FinEd video:

![screen shot 2014-03-24 at 4 47 27 pm](https://f.cloud.github.com/assets/6223901/2505076/a953872a-b395-11e3-9349-7dc93722f093.png)

[2014-03-24 20:55] duelj commented on #46
Looks good to me! I like it in green. Thanks for cleaning it up. Glad
you're on board.

On Mon, Mar 24, 2014 at 4:48 PM, Mollie Bates notifications@github.comwrote:

[2014-03-25 15:12] ohsk opened #67 "Identity section order"
Need to update the order of the sections in [Identity](http://cfpb.github.io/design-manual/identity/brand-guidelines.html) to reflect the sequence found in the Style Guide 2.0:
- Logo
- Color
- Typography
- Minicons
- Isocons
- Illustration
- Beam pattern
- Photography
- Video

[2014-03-25 15:13] ohsk commented on #46
Yeah this is looking great!

[2014-03-25 15:20] vz3 commented on #46
agreed!

[2014-03-25 17:35] stephanieosan commented on #67
And while someone is in there updating sections, might as well knock out this issue #34 as well.

[2014-03-25 17:37] stephanieosan commented on #64
![screen shot 2014-03-25 at 1 36 56 pm](https://f.cloud.github.com/assets/6433178/2515478/19b3a38e-b444-11e3-9be2-069db16781d1.png)
Appears to be showing up for me. Unless you're talking about someplace else?

[2014-03-26 00:53] ascott1 commented on #64
Sweet! Looks like it was fixed in [this](https://github.com/cfpb/design-manual/pull/65)

[2014-03-26 00:53] #64 closed, assigned to nobody

[2014-03-26 01:25] ascott1 commented on #34
@mebates pull request #69 removes/renames the nav sections and orders the identity section as described by @ohsk in #67, but I wasn't sure of an order for the UI toolkit nav.

[2014-03-26 01:26] ascott1 commented on #31
#69 should remove the last few of these

[2014-03-26 01:29] ascott1 commented on #24
Closing this as the watch task is working as of #56

[2014-03-26 01:30] ascott1 commented on #23
Should this issue move to the DOCter repo?

[2014-03-26 01:36] #67 closed, assigned to nobody

[2014-03-26 01:37] Scotchester commented on #23
Yeah, probably. I'm intending to do this when I set up the build branch.

[2014-03-26 01:52] ascott1 commented on #23
Created the issue in the DOCter repo and closing this one.

[2014-03-26 01:52] #23 closed, assigned to nobody

[2014-03-26 14:22] nataliafitzgerald commented on #46
We are using the car in a current video project. When placed with other illustrated objects from our library, the car was standing out in terms of the level of detail. Removing the hubcap detail on the wheels helped simplify the car illustration to bring it closer to our other illustrations.

![screen shot 2014-03-26 at 10 16 38 am](https://f.cloud.github.com/assets/6887128/2525643/75d32e16-b4f1-1

[2014-03-26 14:31] nataliafitzgerald commented on #44
I went ahead and made adjustments to the safe, based on my comments above. I changed the corners to curved, simplified the detailing of the knob, reduced the highlights and lowlights to just the knob, and adjusted the coloring. I removed the highlight on the handle because the added detailing was starting to feel too complex when placed with other illustrations.

![screen shot 2014-03-26 at 10 29

[2014-03-26 17:45] ohsk opened #71 "Green bar in side nav inconsistently persistent"
The green bar appears when some pages are selected, but not others. (Seems fine on hover though)

Needs to be fixed for [Color](http://cfpb.github.io/design-manual/identity/color-principles.html) and [Beam Pattern](http://cfpb.github.io/design-manual/identity/beams.html).
### Doesn't appear when on the Color page:

![image](https://f.cloud.github.com/assets/1689222/2528298/274e53f2-b50e-11e3-833f-

[2014-03-26 17:48] ohsk commented on #61
We should revisit the possibility of updating these examples using real, embedded videos, but at least reflects the content from the Style Guide now!

[2014-03-26 17:48] #61 closed, assigned to nobody

[2014-03-26 19:38] vz3 commented on #61
One other thing worth noting is that embedded videos should include an at least 1px border (Like you've put on the page, @iuloshi). An example of where this is broken can be found on our mortgages page:
http://www.consumerfinance.gov/mortgage/

The lack of a border leads the content with a pure white bg to flow into the page like an overlay (think Clippy circa 1999 or Michael Steel circa 2009).

I

[2014-03-26 19:51] ascott1 commented on #71
I'd guess that it's because the name of the page is "Color principles", but the nav title was changed to just "Color."

[2014-03-26 19:55] ohsk commented on #71
Ah, that would make sense, also for "Beams" vs. "Beam Pattern."

[2014-03-26 19:56] stephanieosan commented on #61
@vz3 We're working on a path/system for adding/editing the content of our standards. Here's how you should do it:

To get the 1px border included in our standards, you should file an issue in this repo and label it with the milestone "Identity Discussion" (since our Video standards falls under Identity).

We don't really have a code/execution section under our video standards, so we can discuss ho

[2014-03-26 19:58] ascott1 commented on #71
Sorry! Didn't catch that when I was renaming the links in the nav.

[2014-03-26 20:00] ohsk commented on #71
No problem! Just to be clear, I think the section and nav should all reflect the following:
- Color
- Beam pattern

[2014-03-26 20:31] mebates commented on #31
Nice. Closed.

[2014-03-26 20:31] #31 closed, assigned to nobody

[2014-03-26 20:34] mebates commented on #34
I don't think we've thought about this. I would suggest, arbitrarily via my own logic:

Buttons
Links
Expandables
Tables
Pagination
Modals
Tooltips
Form fields

Any other thoughts?

[2014-03-26 20:36] mebates commented on #44
Looks good to me. How do we reach agreement to 'close' an issue like this? Next step should be to pass it to Stephen to add to the illustration library, correct?
@ohsk @stephanieosan @elizbond @nataliafitzgerald

[2014-03-26 21:16] vz3 opened #72 "Video border"
Our videos often depict a person speaking in front of a stark white backdrop. It's clean, modern, and in keeping with our visual identity. That said, when these videos are placed on our website with the same pure white background color, the subjects feel like video overlays (think: [Clippy](http://www.csub.edu/~jross/classes/gs390/Wordprocessing/Word2000/Wd2000Edit/OffAsst.GIF)). This could be fix

[2014-03-26 21:21] stephanieosan commented on #72
Should we standardize the border color as well as the width? What color are you using here, @vz3 ?

[2014-03-26 21:23] vz3 commented on #72
This is #E8E8E8, which is just what I pulled from the graphics @iuloshi [used in the manual](http://cfpb.github.io/design-manual/identity/video.html). Agreed on standardizing color and width, and defer to graphic designers on that decision.

[2014-03-26 21:39] Scotchester commented on #34
I think I would try to order them from simplest to most complex. Here's what I'd suggest:
- Links
- Buttons
- Form fields
- Tables
- Pagination
- Expandables
- Tooltips
- Modals

[2014-03-27 15:40] duelj commented on #72
I really rather prefer the border-less approach. I think it feels more integrated rather than just pasted in. It's too bad we couldn't make a custom title screen and use our play button icon to make the experience seem even more seamless.

[2014-03-27 15:44] vz3 opened #73 "Pattern library format"
We should settle on a format for all elements in the UI toolkit (why don't we just call it a pattern library?).

Blatantly plagiarizing from the [design pattern library panel at SXSW](http://panelpicker.sxsw.com/vote/24247), one format could be:
-Name
-Description
-When/where to use
-Design rationale
-Examples & Variations
-Open issues

I think the open issues element is pretty genius, though if w

[2014-03-27 16:09] stephanieosan commented on #72
Wait, why can't we make a custom title screen with our play button icon?

[2014-03-27 16:21] vz3 commented on #72
We technically could. The title screens can be customized through YouTube. We'd just need to upload an image to act as the preview image.

[2014-03-27 16:24] vz3 commented on #72
On the note of border versus none, I think for animations it could be fine, but for people against a white backdrop I think it's problematic to have a contextless human body floating in front of a website. The effect is even stronger when you see it in motion:
http://www.consumerfinance.gov/mortgage/

I think we should continue to only use uncontained images for illustrations, not photo or video.

[2014-03-27 16:33] himedlooff commented on #72
Well here http://www.consumerfinance.gov/es/quienes-somos/ we use a custom video poster. It's just an image that when clicked loads the youtube video. This allows us to depict the video any way we want and we are not needlessly loading youtube scripts in cases where no one actually watches the video. Also it allows us to decide on how to respond to someone clicking the video poster. For example on

[2014-03-27 16:39] vz3 commented on #72
Oh wow, I totally forgot that we got responsive YouTube working for Babel. Good call.

Design-wise, I think we can do better than cropping out the faces of CFPB employees who are not recognizable to consumers and calling that a compelling preview image.

I do prefer the lighter colored YouTube player in the above example.

[2014-03-27 17:57] vz3 commented on #72
Here's some documentation on the various video players. In quienes somos, we used a white player with a red bar, which is what I suggest we standardize on site-wide:
http://techmarshal.blogspot.com/2011/08/use-black-youtube-player-for-embedded.html

[code]

[2014-03-27 18:00] duelj commented on #72
I didn't mean to give the impression I didn't know we could have a custom title screen, like @himedlooff said I knew we did it with Babel. I guess it was my way of gently suggesting it... As for what is on the title screen I think having the person who is in the video gives context so the consumer knows what to expect when they click play, but I agree I would have no idea who these people are or w

[2014-03-28 15:50] vz3 commented on #63
Yeah, I'm getting pretty concerned about the lack of documentation in getting from cloning our codebase to being able to get it actually functioning/editing code (I'm especially thinking about this because I'm working off of a brand new system right now).

This is more for cf.gov than design-manual, but should be something we improve on across the board.

[2014-03-28 18:00] iuloshi opened #76 "Identity > Logo page"
http://cfpb.github.io/design-manual/identity/logo.html

Create three column layout (the latter two for images)
![screen shot 2014-03-28 at 1 56 16 pm](https://cloud.githubusercontent.com/assets/1676307/2553201/9a589192-b6a2-11e3-83ce-2289f24ca173.png)

[2014-03-28 18:05] iuloshi opened #77 "Identity > Typography page"
http://cfpb.github.io/design-manual/identity/typography.html
- [x] Fix figures displaying HTML bug (FEWD task)
- [x] Set `max-width` for `p`s
- [x] Add visual assets from Style Guide (content task)
  - Replace typesetting image placeholder
- [x] Style type hierarchy details like color swatch detail lists (FEWD task)
- [x] reducing padding below the rows of example text
- [x] adding some letter-spa

[2014-03-28 18:10] #63 closed, assigned to nobody

[2014-03-28 18:12] iuloshi opened #78 "Identity > Minicons page"
http://cfpb.github.io/design-manual/identity/minicons.html

- [ ] Build out Asset Library (FEWD)
- [x] Add scaling and color image examples (content task)

![minicons_minicons](https://cloud.githubusercontent.com/assets/1676307/2553341/2de9d2da-b6a4-11e3-8e70-bc9ed958c994.png)

[2014-03-28 18:14] iuloshi opened #79 "Identity > Isocons page"
http://cfpb.github.io/design-manual/identity/isocons.html
- [x]  Build out Asset Library (4 columns with rules)

![isocons_isocons](https://cloud.githubusercontent.com/assets/1676307/2553382/a7bd8f5c-b6a4-11e3-9272-aeddcadf55b5.png)

[2014-03-28 18:15] iuloshi opened #80 "Create rules between Stylistic Guideline examples"
- [ ] [Illustration page](http://cfpb.github.io/design-manual/identity/illustration.html)
- [ ] [Beams pattern page](http://cfpb.github.io/design-manual/identity/beams.html)

[2014-03-28 18:41] mebates opened #81 "Typography, markdown, spacing issue"
On a page like [Design Principles](http://cfpb.github.io/design-manual/guides/design-principles.html), the H2 style is so far above the line below it that it visually links with the content above it. Can we fix this?

[2014-03-28 19:10] stephanieosan commented on #81
I agree.

There seems to be equal (or more) space between the last paragraph of the previous section and the H2 as there is between the H2 and the rule below it. There should be much less space between the H2 and its rule. Maybe half as much. And maybe more space above the H2, too.

[2014-03-28 20:12] ohsk commented on #81
Hey guys, I have some of this outlined in this issue #37 I wrote for Dan to make stylistic updates to more closely reflect the spacing in the comps.

[2014-03-28 20:15] ascott1 commented on #71
@ohsk it's still not working for "Beam Pattern." It looks like this is because the nav bar says "Beam Pattern" while the title says "Beam pattern." The capitalization, sadly, makes a difference. :crying_cat_face:

[2014-03-28 21:01] #71 closed, assigned to nobody

[2014-03-28 21:14] #76 closed, assigned to nobody

[2014-03-28 21:25] stephanieosan commented on #81
I cut the spacing between the H2 and the rule below it in half.
We're thinking we still need more space before the H2 and the previous section.

[2014-03-28 21:49] iuloshi opened #87 "Identity > Logo page bullets & image alignments"
- [x] Recut Desktop and Mobile scale images without white space (@ohsk)
- [x] Set `min-width` or `min-height` to Web scale and Print scale logo assets so they do not scale down with browser width (@iuloshi)
- [x] Create new style for image details (Avenir, no bullets)

![screen shot 2014-03-28 at 5 48 29 pm](https://cloud.githubusercontent.com/assets/1676307/2555645/b760951c-b6c2-11e3-8b90-b396c5f

[2014-03-28 21:59] mebates commented on #81
@stephanieosan I agree, a bit more above H2 would be nice. Good job! :star2:

[2014-03-28 21:59] mebates commented on #34
I'm fine with that.

[2014-03-28 22:05] mebates opened #90 "Home page content and design + Interior landing pages"
Developing copy for home page and interior landing pages (Guides, Identity, UI) on this wiki: https://github.com/cfpb/design-manual/wiki/Overview-Explanatory-content

Copy is loaded on live site now for home page and Identity. Need some help to craft words for 'Guides' and 'UI Toolkit', please edit the wiki if you have some ideas, or comment below.

Two options for the home page design, one more c

[2014-03-31 17:03] ohsk commented on #78
@Scotchester thought the scaling examples could be built in using the font rather than cutting images.

Color and padding images are in, though!

[2014-03-31 17:55] iuloshi opened #92 "8px margin around body"
I'm checking out the Design Manual in Chrome and it looks like we have that 8px margin around the body again.

I compared [this pull request](https://github.com/Scotchester/design-manual/commit/64c4e3acf4b88df7660bb57f05de7fc5dfe5fe27) to the current code and they are consistent. Is it still not importing `normalize.css` correctly?

@Scotchester Would you mind taking a look when you have a minute,

[2014-03-31 18:04] iuloshi commented on #78
@ascott1 Did you mention on Friday that the minicon library was getting added to Capital Framework, or am I completely Photoshopping that memory into existence? If I'm not cray-cray, then should we wait for that to happen before laying out the Minicon page in the Design Manual?

[2014-03-31 19:30] iuloshi commented on #77
@ohsk Is there a comp for this page? Didn't find one in the Illustrator file you sent me. Gracias!!

[2014-03-31 19:40] Scotchester commented on #78
https://github.com/cfpb/cf-icons

[2014-03-31 19:42] iuloshi commented on #78
:ok_hand:

[2014-03-31 20:12] iuloshi opened #94 "Add Owning a Home house isocon to Isocons page"
When you have a chance, could you add this into the Isocons Asset Library, per @Scotchester's call out in [PR 93](https://github.com/cfpb/design-manual/pull/93#issuecomment-39133282)? Thanks lady! :)

[2014-03-31 20:16] #79 closed, assigned to iuloshi

[2014-03-31 21:01] Scotchester commented on #92
I screwed this up, actually. I had an old version of Normalize on my local install with an incorrect path. The linked PR will fix it for future builds.

[2014-04-01 15:09] dezzie opened #97 "Identity > Hero images"
![hero_040114_dzg](https://cloud.githubusercontent.com/assets/1301932/2580621/8c938c8c-b9af-11e3-9167-77bce926b1c5.png)

[2014-04-01 15:18] ohsk commented on #97
OMG SO GOOD.

[2014-04-01 16:04] vz3 commented on #97
👏👏👏

(That was the clapping emoji. Three of em.)
On Tuesday, April 1, 2014, Stephen Kennedy notifications@github.com wrote:

[2014-04-01 17:17] iuloshi opened #99 "`grunt watch` task not working"
`grunt less` successfully compiles CSS, but `grunt watch` runs into this error:

![screen shot 2014-04-01 at 1 16 01 pm](https://cloud.githubusercontent.com/assets/1676307/2582151/5dedff0e-b9c1-11e3-83fc-afa148add6d2.png)

Do I need to reinstall grunt?

cc: @ascott1 @Scotchester

[2014-04-01 17:54] iuloshi opened #100 "Identity > Typography page > Web type accessibility section"
In the "More information" section, what are the URLs the bracketed words are supposed link to?

![screen shot 2014-04-01 at 1 44 54 pm](https://cloud.githubusercontent.com/assets/1676307/2582523/0266a906-b9c6-11e3-8e2d-87173b2a2395.png)

[2014-04-01 18:09] dezzie commented on #97
April fool's :P

[2014-04-01 18:09] #97 closed, assigned to nobody

[2014-04-01 20:31] iuloshi commented on #92
Still looks like it's there? :/

![screen shot 2014-04-01 at 4 31 03 pm](https://cloud.githubusercontent.com/assets/1676307/2584282/9aed9746-b9dc-11e3-8c9b-768f96dc1b90.png)

[2014-04-01 20:42] Scotchester commented on #92
No one has rebuilt the CSS since my PR was merged. In hindsight, I probably should have done it along with the root cause fix that I implemented.

[2014-04-01 21:35] iuloshi commented on #92
Gotcha. My last PR has lots of LESS updates!

[2014-04-03 15:59] Scotchester commented on #99
Pretty sure it's related to the `Gruntfile` being located in the `front` folder. The PR I submitted fixes it for me locally. You should test this locally before merging the PR, though, @iuloshi.

[2014-04-03 20:40] iuloshi commented on #100
This guy perhaps? (Thanks AJ!) http://accessibility.oit.ncsu.edu/tools/color-contrast/

[2014-04-03 21:09] Scotchester commented on #100
Yeah that's the one for `[This color contrast tool]`. The **Important note** is a weird remnant from the DPG that should be deleted entirely.

[2014-04-04 16:52] iuloshi commented on #100
Got it, I'll update.

[2014-04-04 17:11] benguhin opened #104 "Copy for UI Toolkit Overview"

[2014-04-04 21:10] Scotchester commented on #92
Think this is finally licked!

[2014-04-04 21:10] #92 closed, assigned to Scotchester

[2014-04-04 21:11] ohsk commented on #90
Previous comp, for reference sake.

![style_sk_140404_v6](https://cloud.githubusercontent.com/assets/1689222/2620406/ba7ffbae-bc3d-11e3-9097-bb941840f2ba.png)

[2014-04-04 21:22] iuloshi commented on #92
Thanks @Scotchester!!

[2014-04-04 22:13] iuloshi commented on #99
:frowning:

I'm now getting this error whenever I update a LESS file, after running `grunt watch`:

![screen shot 2014-04-04 at 6 05 11 pm](https://cloud.githubusercontent.com/assets/1676307/2620832/3a8827d4-bc45-11e3-9e8c-a2f0fc85a693.png)

And this error when I run `grunt less`:
![screen shot 2014-04-04 at 6 06 07 pm](https://cloud.githubusercontent.com/assets/1676307/2620836/5dd5a568-bc45-11e3-

[2014-04-04 22:20] Scotchester commented on #99
Sorry, forgot to mention that you'll need to run `bower install` to get the
cf-icons component.

[2014-04-04 22:36] iuloshi commented on #99
All good now. Thanks again @Scotchester!!

[2014-04-04 22:36] #99 closed, assigned to nobody

[2014-04-07 13:48] #100 closed, assigned to iuloshi

[2014-04-07 15:28] iuloshi opened #109 "Make Colors page responsive"
Hopefully Brad Frost's workshop today will have some insight into how to make those tables responsive! Also relates to Minicons page > Asset Library tables.

![style_sk_140321_v6_color mobile](https://cloud.githubusercontent.com/assets/1676307/2632956/2d5d955a-be69-11e3-89ba-8ce94abf3c01.png)

[2014-04-07 15:29] iuloshi commented on #109
http://css-tricks.com/responsive-data-tables/

[2014-04-07 16:03] iuloshi opened #110 "Double arrow minicons"
Per [Capital Framework docs](http://cfpb.github.io/cf-icons/docs/), it doesn't look like the double arrow icons have made it into the minicon font yet. Is that a later enhancement @ohsk?

![screen shot 2014-04-07 at 12 02 07 pm](https://cloud.githubusercontent.com/assets/1676307/2633376/0286af6a-be6e-11e3-97fb-5e945e26e91e.png)

[2014-04-07 18:11] iuloshi commented on #78
A couple of FEWD questions regarding the Minicons Asset Library! @Scotchester @ascott1

### Tables vs floated divs with regards to responsive design
- I tried out two versions of the [Asset Library sections on the Minicons page](http://iuloshi.github.io/design-manual/identity/minicons.html):
  1. The "Navigation" section uses a table, which creates a horizontal scroll if the browser width is less

[2014-04-07 19:19] himedlooff commented on #78
You could do a custom layout for each size range for these icons. For example on small screens they can be 2 cols, for medium screens, 4 cols, and large, 6 cols. Here is an example: http://codepen.io/anon/pen/vDGqf

Instead of using JS to remove the borders you could use `:nth-child`. IE 8 and under won't understand it so they'll still see left borders on everything. This might or might not be a b

[2014-04-07 19:57] ascott1 commented on #78
Could you use inline-block to do something like this? http://learnlayout.com/inline-block.html

Or am I just over simplifying?

[2014-04-07 20:09] himedlooff commented on #78
She's already using `inline-block` to position them (although I'm not sure why `float` is also in there).
I think the issue is around responsivizing the layout and making sure that when columns change due to viewport width that the border rules update properly as well. Correct me if I'm wrong @iuloshi.

The border rules are more difficult than you would think because if only two items fit in the v

[2014-04-07 20:18] iuloshi commented on #78
Hey thanks guys! :smiley_cat:

@himedlooff Right-o, sir. Ideally, we'd also have a rule between the rows if there are more than 2. Anywhos, just wanted to make sure tables _weren't_ the way to go here.

Any thoughts on somehow having this page automatically sync with the minicons from Capital Framework, or should I just manually input them all into the HTML?

[2014-04-07 20:56] himedlooff commented on #78
I gave @danny8000 some ideas on that. One way to do it is to run the Capital Framework CSS through Topdoc and spit out a partial HTML file that can be included in the page. Topdoc could take care of going through each icon and wrapping it in whatever HTML we want. @danny8000 have you looked into that yet? If not maybe I can take a quick stab at it.

[2014-04-07 20:59] himedlooff commented on #78
And to clarify Topdoc is what we use in the Capital Framework to convert comments like this:

[code]

Into HTML like this:

![screen shot 2014-04-07 at 4 57 56 pm](https://cloud.githubusercontent.com/assets/1093373/2636941/589e96c8-be97-11e3-8044-1686ede297bb.png)

What's cool is we can take the data from the comments and create any HTML template we want using only the data we want. So for example

[2014-04-08 15:17] Scotchester commented on #78
Yeah, I think Mike's plan is a solid one. It requires being extra careful about keeping the CF docs (in the CSS) up-to-date, but that's not a bad thing. In fact, it's good to have more motivation to do that.

[2014-04-08 15:22] Scotchester commented on #78
To follow-up on the original question, though: yeah, using tables is probably not the best idea. I implemented the scaling diagrams hastily and didn't think about that. Using grid columns is probably the way to go, adjusting the number of columns for smaller widths with media queries.

[2014-04-08 16:20] Scotchester commented on #109
In this case, the color tables are individual tables, so we can stack them up as we move down to a narrow viewport like this with no issue.

I love the expandable concept in Stephen's mockup here, but it's probably fairly down the list of priorities. I will take on the task of making the page responsive at a basic level sooner rather than later.

[2014-04-08 18:53] iuloshi commented on #109
Sounds good, thanks @Scotchester!

[2014-04-08 21:27] iuloshi commented on #78
Nice! I think that makes a lot of sense, and I'd love to learn how to use Topdoc to pull in CF content on the other pages of the Design Manual. @himedlooff If you look at the [UI Toolkit](http://cfpb.github.io/design-manual/ui-toolkit/buttons.html), some of the content from CF is there, but the pages are still largely unformatted.

@Scotchester I think the scaling diagrams work as tables for now t

[2014-04-09 14:53] stephanieosan opened #111 "Left hand nav bug under "Guides" "Creating accessible interfaces""
If I go to the "Guides" section of the tool and click on "Accessible interfaces", the left hand nav should have a green bar to the left of the words "Accessible interfaces". But, it's missing. My suspicion is this is somehow related to the fact that "Accessible interfaces" wraps to two lines (it's the only page that this happens for, and it's the only page that has a two-lined title).
#### Accessi

[2014-04-09 14:56] ascott1 commented on #111
@stephanieosan I believe the way this is coded is that they title and the navigation text need to match exactly for the correct class to be applied. The quick fix for this is to either change the text in the navigation to read "Accessible interfaces" or the title of the page to "Creating accessible interfaces."

[2014-04-09 15:06] iuloshi commented on #110
Talked to @ohsk and we'll just go with the minicons currently in the font on CF and not the comp.

[2014-04-09 15:06] #110 closed, assigned to nobody

[2014-04-09 15:31] stephanieosan commented on #111
Interesting...

[2014-04-09 15:33] stephanieosan commented on #111
Hooray! That worked! Thanks @ascott1

[2014-04-09 15:33] #111 closed, assigned to nobody

[2014-04-14 13:47] iuloshi opened #115 "Identity > Minicons > Asset Library: How can we hide "LESS variables" & "Icon class" h3 headers using Topcoat comments?"
@himedlooff @Scotchester: On Friday, Mike taught Lee & I how to build the Minicon Asset Library using Topcoat and Jade templates to pull in the content from Capital Framework. See my unstyled demo page [here](http://iuloshi.github.io/design-manual/identity/minicons.html#asset-library).

In the Jade template, we're assigning `h3=component.name` to include the minicon category names, but the first t

[2014-04-14 13:52] himedlooff commented on #115
@iuloshi I have an idea in the works for this. Will keep you posted.

[2014-04-14 17:38] #104 closed, assigned to nobody

[2014-04-14 19:26] iuloshi opened #117 "UI toolkit > Links page"
Is this ready to get built out?
## Comp:

![ui-toolkit_sk_140403_v1_links](https://cloud.githubusercontent.com/assets/1676307/2699775/8f52552e-c40a-11e3-83f8-9174fc398094.png)

[2014-04-15 18:29] iuloshi opened #119 "Should we create SVGs for our isocons?"
On the Identity > Isocons page, we're currently just using PNGs for the isocons asset library. In the spirit of being open source, should we also have SVG versions for web-use? This is minor/not a priority.

[2014-04-15 18:50] mebates commented on #117
@iuloshi the blue nav links at the top should be U/L and bigger, matching the identity pages

[2014-04-15 18:51] mebates commented on #117
And add two more Nav items: Emphasizing and States

[2014-04-15 18:51] iuloshi commented on #117
Assigning @ell0ell0 to complete this mission, should you accept it! @marcesher Can we add @ell0ell0 (Lee) to the CFPB GH org? He's going to help out with some Design Manual stuff too. Thanks!

[2014-04-15 18:51] mebates commented on #117
AND, sorry, 'View on Capital Framework' should probably have an underline throughout

[2014-04-15 18:55] iuloshi commented on #117
Restructuring @mebates' comments above as an easier to track checklist:
- [x] the blue nav links at the top should be sentence case and bigger, matching the identity pages
- [x] add two more Nav items: Emphasizing and States (N/A)
- [ ] 'View on Capital Framework' should probably have an underline throughout

[2014-04-15 19:37] mebates commented on #73
@ohsk @stephanieosan and I decided on these four sections:
- Intro
- Style
- States
- Variations

For Friday, we'll have all the UI pages comped up with final copy using content from the old Digital Product Guide and this new structure. People can Pull Request copy edits after the pages are built.

Stephen: Form fields, Tables
Stephanie: Modals, Pagination
Mollie: Expandables, Tooltips

[2014-04-15 19:48] ohsk commented on #73
Latest comp for Links that reflects this approach:
_Updated with slight tweak_

![ui-toolkit_sk_140415_v1_links](https://cloud.githubusercontent.com/assets/1689222/2713331/4b305f36-c4e5-11e3-8b58-51b36c47826a.png)

[2014-04-15 19:56] ell0ell0 commented on #73
Wooo look at the fresh out of the oven comp. I'll get right on it

[2014-04-15 20:44] iuloshi commented on #73
:clap: :clap:

[2014-04-15 20:48] iuloshi commented on #73
Also we don't _really_ need a comp for every page, unless it diverges significantly from the above pattern. Feel free to just drop in the content and we can start applying styles. Maybe that can save some work time! :smile:

[2014-04-15 20:51] iuloshi commented on #117
See [#73](https://github.com/cfpb/design-manual/issues/73#issuecomment-40525702) for latest Links page comp.

![4b305f36-c4e5-11e3-8b58-51b36c47826a](https://cloud.githubusercontent.com/assets/1676307/2721383/f3fb7f2a-c57a-11e3-948d-70fcc9bf6ca7.png)

[2014-04-15 22:37] elizbond commented on #48
@ohsk Add to library

[2014-04-15 22:38] elizbond commented on #46
@ohsk add both car options to the library.

[2014-04-15 22:38] elizbond commented on #45
@ohsk add to the library.

[2014-04-15 22:40] elizbond commented on #44
@ohsk Remove the shadow on the dial and add to the library.

[2014-04-15 22:40] elizbond commented on #43
@ohsk Cross reference the page curl from the storybook campaign and add both options (with and without page curl) to the library.

[2014-04-15 22:48] elizbond commented on #38
Feedback from Branding Meeting on 4/15

Illustration - is the light source consistent?
Minicon - @Dnpizarro try a solid loop on the minicon chain, no dots.

[2014-04-16 13:01] iuloshi commented on #115
Looks like this was taken care of in @himedlooff's [last PR](https://github.com/cfpb/design-manual/pull/118). Thanks for your help on this!! :smiley_cat:

[2014-04-16 13:01] #115 closed, assigned to nobody

[2014-04-16 14:32] himedlooff commented on #115
Word. For more information read https://github.com/cfpb/design-manual/tree/gh-pages/front/topdoc-templates. Specifically the [section on Grunt tasks](front/topdoc-templates/includes/filter-components-without-markup.jade) because `front/topdoc-templates/includes/filter-components-without-markup.jade` is a reusable jade snippet we can use to weed out any Topdoc component that contains patterns with

[2014-04-16 14:51] iuloshi opened #120 "Delete "Filtering patterns" & "UX checklist" from Guides"
Per PQ&S meeting yesterday.

[2014-04-16 14:52] #94 closed, assigned to stephanieosan

[2014-04-16 14:53] iuloshi commented on #90
Broke this down into two separate tasks: #121 & #122.

[2014-04-16 15:13] iuloshi opened #121 "Homepage"
- [x] Cut image asset
- [x] Add minicons to headers

![caa9b778-b6c4-11e3-9030-dd03c98526d5](https://cloud.githubusercontent.com/assets/1676307/2721223/89878c2a-c579-11e3-902e-f5f906cfce67.png)

[2014-04-16 15:13] dezzie commented on #121
:thumbsup:

[2014-04-16 15:15] iuloshi opened #122 "Develop content for Guides and UI toolkit landing pages"
Per @mebates in issue #90:

[2014-04-16 15:15] #90 closed, assigned to nobody

[2014-04-16 15:28] ohsk commented on #121
Open to other feature image ideas as well! I made that minicon one pretty quickly and actually think it's a little too off-brand in styling...

[2014-04-16 15:35] iuloshi commented on #28
## What it looks like now

![screen shot 2014-04-16 at 11 25 50 am](https://cloud.githubusercontent.com/assets/1676307/2721476/a98646ae-c57b-11e3-9d9d-6c177e1802aa.png)

## Comps

### Header

![screen shot 2014-04-16 at 11 33 03 am](https://cloud.githubusercontent.com/assets/1676307/2721566/78969dcc-c57c-11e3-86fd-e62dcc100e3f.png)

### Leftside nav drawer, option 1

![screen shot 2014-04-16 at 11

[2014-04-16 15:55] iuloshi opened #123 "Affix footer to bottom of browser window"
For larger displays where the content doesn't fill the page. (Minor task)

![screen shot 2014-04-16 at 11 54 04 am](https://cloud.githubusercontent.com/assets/1676307/2721795/703fabfc-c57f-11e3-817f-756dab84cff9.png)

[2014-04-16 16:04] mebates commented on #73
I think the comps will help us edit the text as we go.

[2014-04-16 16:13] iuloshi commented on #34
Per chatroom discussion, decided to keep the UI toolkit sub-nav ordered alphabetically so it's more easily navigable and scalable. Will reorder the Identity sub-nav to be alphabetical also.

[2014-04-16 16:13] #34 closed, assigned to iuloshi

[2014-04-16 16:25] iuloshi opened #124 "Reorder Guides and Identity sub-navs alphabetically"
Per @benguhin:

rather than coming to the manual looking for something specific

Re: [issue #34](https://github.com/cfpb/design-manual/issues/34#issuecomment-40619014)

[2014-04-16 16:26] ohsk opened #125 "UI toolkit > Buttons page"
- [x] update structure of the page to match the formatting described in issue #73
- [x] write description content
- [x] integrate CF elements as example content

[2014-04-16 17:59] davidakennedy opened #127 "Add standard for skip links"
We should add a standard for the visual appearance and functionality of skip links. What's a skip link? See this [article from WebAIM](http://webaim.org/techniques/skipnav/). I'm in the process of adding a skip link to the current consumerfinance.gov site, and thought it would be a good time to hash things out.

We should break it into visual appearance and functionality. I've developed a working

[2014-04-16 22:40] ohsk commented on #124
I would tend to disagree with alphabetical ordering, WRT at least the Identity section. The order implies a loose hierarchy or degree of significance of brand elements that we would want to maintain. We spent a bit of time on the Style Guide determining a purposeful logic for moving someone through a sequence of our brand.

| Current order | Alphabetical |
| :-- | :-- |
| Logo | Beam pattern |
| C

[2014-04-16 23:07] mebates commented on #124
I agree completely with @ohsk and appreciate the time he took to articulate the reasoning!

[2014-04-16 23:21] mebates commented on #73
@ohsk and @stephanieosan I'm running into trouble with Expandables and Tooltips. Both have extensive 'how to use' ux-type guidelines that don't fall under our three sections. Also, more about behavior than visual style. Can you take a look at the DPG guidelines and let me know what you think? Thanks!

[2014-04-16 23:24] mebates opened #128 "modals and tooltips not in CF?"
@Scotchester @himedlooff:

Are tooltips and modals part of the Capital Framework project? I noticed that they don't have any content in the Design Manual right now.

If they're not, should we still include them? Should we mock up static examples or code real ones?

[2014-04-16 23:25] mebates commented on #119
n00b here: can you explain the advantage of providing an SVG and how much additional work it would be? Is it in addition to the png or replacing them? Thx!

[2014-04-16 23:27] himedlooff commented on #128
I can answer question 1; no they have not been built yet.

[2014-04-16 23:44] ohsk commented on #73
I think if that's the case, we could definitely consider adding another section called "use" or "use cases" or something for that added content.

[2014-04-17 14:09] iuloshi commented on #119
@mebates Scaled Vector Graphics is an image file format that basically use geometry in the browser to create resolution independent vectors, like Illustrator vectors but for the web. One of the main advantages is that we wouldn't need to create a second set of Retina PNGs of the isocons. You would export an SVG in Illustrator just as you would export a PNG, and then we could do a little more work

[2014-04-17 14:14] himedlooff commented on #119
The issue with SVG is browser support http://caniuse.com/svg

[2014-04-17 14:15] iuloshi commented on #119
Could we provide a fallback option?

[2014-04-17 14:19] himedlooff commented on #119
Fallback options are possible in background scenarios but are harder to implement when being used as inline images.

We used them on http://www.consumerfinance.gov/es/ for the full page background with NO fallback for older browsers since it would only be seen on larger screens.

[2014-04-17 14:21] himedlooff commented on #119
I think it's a great idea to provide them on the Design Manual so people can use them as source files if they want to tweak the icons for their own use.

[2014-04-17 14:22] Scotchester commented on #119
Actually, I came across a pretty ingenious fallback recently and implemented it on CF.gov (not in production yet). [link coming soon]

[2014-04-17 15:21] iuloshi commented on #80
Per earlier conversation with @ohsk, I thought the rules between examples illustrations & photos added extra visual clutter--the hard line frames of the illustrations/photos themselves delineate sufficient distinction between examples.

[2014-04-17 15:21] #80 closed, assigned to iuloshi

[2014-04-17 15:31] iuloshi commented on #81
Meant `margin-top` to H2s.

[2014-04-17 15:39] #120 closed, assigned to nobody

[2014-04-17 15:55] #87 closed, assigned to iuloshi

[2014-04-17 15:56] elizbond opened #130 "Flapjack blog category minicons"
I'm not sure where we left off on the Flapjack minicons since this branding conversation happened before Github. @Dnpizarro and @ohsk were working on it at the time. Can you both provide your latest files so we can wrap up this conversation?

Consumer Information ( @duelj is this the same as Consumer Finance?)
Blog
Regulations
Engagements and Events
Announcements and Updates (Press release)
Innova

[2014-04-17 16:08] #77 closed, assigned to iuloshi

[2014-04-17 18:55] iuloshi opened #132 "Flickr square minicon"
For some reason the square background version of the Flickr minicon is displaying the old, incorrect version in the [Design Manual](http://cfpb.github.io/design-manual/identity/minicons.html), but in the `cf-icon` [docs](http://cfpb.github.io/cf-icons/docs/), it's correct. Any ideas on why this might be? Thanks! @himedlooff @Scotchester

![screen shot 2014-04-17 at 2 45 15 pm](https://cloud.github

[2014-04-17 19:01] iuloshi commented on #132
ccing @ascott1 @Dnpizarro Thanks guys!

[2014-04-17 19:06] Dnpizarro commented on #132
I know we updated the font itself about a month ago. However, I know we have been struggling to get a working version of the the font webkit. @ascott1 do you have a version they could use with our last updates?

[2014-04-17 19:22] ohsk commented on #132
Sidebar convo hijack warning:
This is how the asset library displays on my phone right now, and it is awesome.

![](http://i.imgur.com/hQWpyhB.jpg)

[2014-04-17 19:24] iuloshi commented on #132
hahaha :+1: I feel like @ascott1 is to blame if it involves emoji. :wink:

[2014-04-17 19:28] ascott1 commented on #132
@iuloshi could it be the local version of the font you have installed is displaying? That is indeed weird.

Also, i am both **SO EXCITED** and completely terrified by the fact that emoji are displaying. :man:

[2014-04-17 19:29] mebates commented on #132
LOL

[2014-04-17 20:22] ascott1 commented on #132
@iuloshi [pointed out](https://github.com/cfpb/cf-icons/issues/23#issuecomment-40757934) that things render fine for her when looking at the cf-icons docs. Was the cf-icons component downloaded through bower or installed manually?

[2014-04-17 20:25] himedlooff commented on #132
It's done with bower, it might be out of date. I JUST pushed a new tag 0.2.1 to cf-icons since I made some minor tweaks (not to the fonts though).

[2014-04-17 20:49] ascott1 commented on #132
I disabled the font locally in Font Book and then the icons fail to load for me:

![screen shot 2014-04-17 at 4 45 54 pm](https://cloud.githubusercontent.com/assets/212533/2736739/5e1fe4d0-c671-11e3-8908-7dca724d7a8b.png)

Similarly when visiting the cfpb.github.io/design-manual on a virtual machine (that does not have the font), I see the same empty boxes. Strangely enough, there is no 404 logged

[2014-04-17 20:51] ascott1 commented on #132
What the above means is that @iuloshi is seeing her local copy of the font when she visits the design manual page, but the @font-face version when she looks at the cf-icons docs.

As for @ohsk... :no_mouth:

[2014-04-17 20:56] iuloshi commented on #132
hmm So does that mean that because we don't have the minicon font installed on our phones, we're getting emojified?

[2014-04-17 20:59] ascott1 commented on #132
Exactly!

It looks like the CSS points to a `fonts` directory, but the actuall font files are in a directory called `font` , which would explain why they aren't loading.

[2014-04-17 21:12] ascott1 commented on #132
[This pull request](https://github.com/cfpb/design-manual/pull/133) should fix. :rocket:

[2014-04-17 21:14] #132 closed, assigned to nobody

[2014-04-17 21:16] iuloshi commented on #132
:sparkles: ADAM SCOTT FOR THE WIN!!! :sparkles:

Thank you @ascott1!!!

[2014-04-17 21:20] ascott1 commented on #132
:dancers:

[2014-04-17 21:21] ohsk commented on #132
Easter non-Easter non-religious miracle!!!

[2014-04-17 21:21] ohsk commented on #132
![](http://i.imgur.com/eXqFGEU.jpg)

[2014-04-17 22:01] mebates commented on #132
:star: :star2: :star: :star2: :star: :star2: :star: :star2:

[2014-04-18 14:59] Dnpizarro commented on #132
@ascott1 thanks for working on that fix!

[2014-04-18 15:47] nataliafitzgerald commented on #44
@ohsk The shadow should only be removed from version 2 that includes the data visualization element. And, version 2 is quite specific and will likely not be included in the library. Version 1 is all set as is, with the shadow/highlight.

[2014-04-18 16:12] nataliafitzgerald commented on #119
Taking a few steps back from whether we should share SVG files of our isocon library, now is a good time to pick back up on the larger discussion as to what open-sourcing means for our visual brand assets. Our visual brand is largely anchored to our icon library, illustrations, isocons, and minicons. There is value in open-sourcing certain content as it can used outside of our organization by the

[2014-04-18 16:42] ohsk commented on #119
I don't think this thread is about open sourcing the SVGs, but whether or not they're the best approach in terms of file type for web implementation.

[2014-04-18 16:49] ohsk commented on #119
But I think that's an important discussion to have, Natalia! Did you see Daniel's issue on open sourcing the Minicons in the OSWG repo?

[2014-04-18 16:59] iuloshi commented on #119
+1 To @ohsk's comments! This issue was directed more at FEWDs for a technical perspective about which file format is best for isocons on the web, especially with regards to Capital Framework.

[2014-04-18 17:58] iuloshi commented on #125
So, what you did in your PR (#126) is perfect! Just copy & paste the code from Capital Framework as you did, but then also wrap the example UI code snippet inside `{::nomarkdown}  ..... {:/nomarkdown}` tags so that the HTML renders instead of Markdown.

For example on the buttons page:

[code]

Will spit out:

![screen shot 2014-04-18 at 1 57 09 pm](https://cloud.githubusercontent.com/assets/16763

[2014-04-18 19:16] mebates opened #135 "Add image to homepage"
Per the design, add the image!

![screen shot 2014-04-18 at 3 15 43 pm](https://cloud.githubusercontent.com/assets/6223901/2744936/e2a1470a-c72d-11e3-94be-8f0065eac73e.png)

[2014-04-18 19:19] mebates commented on #135
duplicate of #121

[2014-04-18 19:19] #135 closed, assigned to nobody

[2014-04-18 19:20] mebates commented on #121
@iuloshi and @stephanieosan and I just decided that we should go with it and it can be changed at a later date if someone comes up with something better. #getitdone

[2014-04-18 19:23] mebates commented on #128
@himedlooff is that scheduled to happen anytime soon? Perhaps cf.gov doesn't use either of these things yet?

[2014-04-18 19:31] himedlooff commented on #128
No it's not. Those components aren't needed yet for us so I would imagine we wouldn't get to them any time soon.

[2014-04-18 19:36] mebates commented on #128
@stephanieosan @iuloshi and I have decided to remove these two elements from the UI toolkit for now and place them in the backlog. We don't want to make static images as examples with no code associated with them.

[2014-04-18 19:36] #128 closed, assigned to nobody

[2014-04-18 19:37] mebates opened #137 "Hide Modals and Tooltips from navigation"
See issue #128.

[2014-04-18 19:44] mebates opened #138 "Create landing pages for each section"
Per issue #122, we need landing pages for each section:
- [x] Guides
- [x] Identity (currently living on the 'brand-guidelines' page, needs to be renamed)
- [x] UI Toolkit

This issue is not for the content, but for architecting the actual page where we can dump the content.

[2014-04-18 19:47] iuloshi commented on #119
SVG Accessibility link per @davidakennedy http://schepers.cc/authoring-accessible-svg

[2014-04-18 19:48] mebates opened #139 "Finalize tooltips style + functionality"
Backlog item, for a future date post-release.

#137
#128

- [ ] edit content
- [ ] design pages
- [ ] develop visuals or link to Capital Framework code (if it exists)

[2014-04-18 20:10] iuloshi commented on #121
- [x] Homepage isn't full page width for some reason. Is it allotting space for the secondary side-nav?  (FEWD task)

![screen shot 2014-04-18 at 4 08 15 pm](https://cloud.githubusercontent.com/assets/1676307/2745393/683bcd84-c735-11e3-8cc9-b4db3373c820.png)

[2014-04-18 20:19] stephanieosan commented on #122
What about just this for the UI Toolkit intro? Do we need one more sentence?

The UI toolkit contains guidelines for using CFPB's [Capital Framework](http://cfpb.github.io/capital-framework/), a set of front-end components built by in-house developers to make creating consistent, on-brand web products as easy as possible.

@mebates

[2014-04-18 20:22] mebates commented on #122
I think that's good, let's toss it in to see how it looks. Others can pull edits if they'd like!

[2014-04-18 20:23] stephanieosan commented on #122
@iuloshi  Make it happen!

[2014-04-18 20:31] stephanieosan commented on #122
How about this for the guides page? It's even shorter. Anything else we need to say about them?

These guides reflect the design principles and best practices espoused by the CFPB tech team.

@mebates @iuloshi

[2014-04-18 20:36] #137 closed, assigned to nobody

[2014-04-18 21:03] nataliafitzgerald opened #141 "Open sourcing our brand assets"
## Open source for visual brand assets

As we move forward with the development and release of the Design Manual we have a unique design opportunity. There is value in open-sourcing certain visual content as it can then be accessed by the larger public to strengthen general visual communications. In deciding which brand assets we share and which we do not, what are the benefits and drawbacks of op

[2014-04-18 21:04] #138 closed, assigned to nobody

[2014-04-18 21:05] iuloshi commented on #122
Added content! (See my [demo page](http://iuloshi.github.io/design-manual/) for now until someone accepts my PR.)

[2014-04-18 21:06] #122 closed, assigned to nobody

[2014-04-18 21:12] nataliafitzgerald commented on #119
@ohsk - I'll be sure to check out Daniel's issue related to open sourcing the minicons. I have moved the visual brand open source discussion to a new issue within the Identity milestone. Check it out here: "Open sourcing our brand assets" #141

[2014-04-18 21:21] iuloshi opened #142 "Style `code` tags"
Right now it's white on a white background in Monospace:
![screen shot 2014-04-18 at 5 20 19 pm](https://cloud.githubusercontent.com/assets/1676307/2746053/678e84f8-c73f-11e3-9e40-74368db3c127.png)
- [x] Add gray tint background color
- [x] Border rule

Like in [HMDA API docs](http://cfpb.github.io/api/hmda/basics.html).

[2014-04-18 21:31] mebates opened #143 "Expandable sections"
Design and content for the Expandables page, edited from the DPG content. Sending source file to @iuloshi. Design or content critique welcome!

![expandables](https://cloud.githubusercontent.com/assets/6223901/2746119/af30d788-c740-11e3-8fdd-a292ddbf0836.png)

[2014-04-18 21:45] mebates opened #144 "Adjust footer to align with page content"
The footer content doesn't line up well with the page content. Can both sections move over to align left with the left sidebar and main content?

![screen shot 2014-04-18 at 5 44 39 pm](https://cloud.githubusercontent.com/assets/6223901/2746221/c714955e-c742-11e3-894a-1a06fa7b4ec5.png)

[2014-04-18 21:51] iuloshi commented on #144
Ha, I just noticed this too.

[2014-04-18 22:42] iuloshi opened #145 "UI toolkit > Forms"
![ui-toolkit_mb_buttons](https://cloud.githubusercontent.com/assets/1676307/2746565/c3dabd7a-c74a-11e3-8657-3a5522f59521.png)

[2014-04-18 23:24] iuloshi commented on #145
- [x] Override CF `input { width: 85%; }`: N/A per CF fix in [this PR](https://github.com/cfpb/cf-forms/pull/18)
- [x] Intro blurb copy
- [x] Variations content - N/A for R1
- [x] Remove dropdown menus, checkboxes, & radio buttons? - Per call with @benguhin @ohsk @mebates & Misha, decided to kill all form elements that are not in CF currently for R1.

[2014-04-21 18:03] iuloshi opened #146 "Are the navs (primary and/or secondary) supposed to be sticky?"
Especially with regards to pages with a lot of content like the [Typography page](http://cfpb.github.io/design-manual/identity/typography.html).

[2014-04-21 19:50] mebates commented on #143
Hey @iuloshi - Took a look at the page. I was imagining the live example in the 'Style' section and static images in the 'States' section (just the bars).

[2014-04-21 20:56] iuloshi commented on #143
Since we show the different Links, Buttons, and Forms states as coded examples (as they also exist in Capital Framework), I'm inclined to say that we shouldn't use images to illustrate the examples in the UI toolkit. The coded examples on the other pages set the expectation that all of the UI elements are interactive and I think it would be frustrating/confusing to the user if some were arbitraril

[2014-04-21 21:03] himedlooff commented on #143
Add the class "open" to `.expandable-header`. That should give you a live example of the expandable with the hover state active.

[code]

Although I'm noticing that there is a hover for both the expandable header bar and a different one for the show/hide link.

[2014-04-22 12:50] iuloshi opened #148 "Pagination"
![screen shot 2014-04-21 at 6 00 24 pm](https://cloud.githubusercontent.com/assets/1676307/2764886/83652f76-ca1c-11e3-9b80-58f74d5c276a.png)

[cf-pagination issue #11](https://github.com/cfpb/cf-pagination/issues/11)

[2014-04-22 12:53] iuloshi opened #149 "Add custom checkboxes to Forms page once added to Capital Framework"
Per [comment in this issue thread](https://github.com/cfpb/cf-forms/issues/1#issuecomment-40987274).

[2014-04-22 12:57] iuloshi opened #150 "All UI toolkit pages: add CF repo links"
- [x] Link to respective top-level CF repo (styled with Octocat)
  ![screen shot 2014-04-22 at 8 54 53 am](https://cloud.githubusercontent.com/assets/1676307/2764944/5165f23e-ca1d-11e3-9c29-f47e9c92fcb7.png)
- [x] Section links (jump links to appropriate CF sections within demo page?)
  ![screen shot 2014-04-22 at 8 55 29 am](https://cloud.githubusercontent.com/assets/1676307/2764960/7e9ea4e4-ca1d

[2014-04-22 15:24] benguhin commented on #124
Yeah I totally agree Logo + Color + Typography are most important, and that Minicons + Isocons + Illustrations make sense in sequence, as do Photography + Video. Here's what I'm thinking:
1. The order of the current, flat list seems a bit random and isn't any more scannable than alphabetical order
2. We should try to use the same ordering pattern on both this section and the UI toolkit section

Po

[2014-04-22 15:53] ohsk commented on #124
You thinking something more like these groupings? I'm not exactly sure what the best exact eyebrows might be, but here's an initial attempt.

| Foundation |
| :-- |
| Logo |
| Color |
| Typography |

| Graphic elements |
| :-- |
| Minicons |
| Isocons |
| Illustration |
| Beam pattern |

| Documentation |
| :-- |
| Photography |
| Video |

[2014-04-22 17:34] iuloshi opened #151 "Hide Tables from UI toolkit secondary menu"
@benguhin @ohsk & I decided to hide Tables from the UI toolkit secondary nav until the demo pages are built on CF.

[2014-04-22 22:39] iuloshi opened #152 "Add Grid to Design Manual"
It's already built out on [Capital Framework](https://github.com/cfpb/cf-grid). Seems like a fundamental design and web standard that should be included.

[CF demo](http://cfpb.github.io/cf-grid/custom-demo/)

[2014-04-23 14:37] #151 closed, assigned to nobody

[2014-04-23 14:38] iuloshi opened #153 "Tables"
Once demo page is built in [Capital Framework](https://github.com/cfpb/cf-tables), per #151.

[2014-04-23 14:54] iuloshi commented on #143
Hey thanks @himedlooff!!
- [x] Content audit/review

[2014-04-23 15:21] iuloshi commented on #152
Should this go in UI toolkit? @benguhin @mebates @stephanieosan @ohsk

I can work on the content and build this out. I think it's important to have for release 1.

[2014-04-23 15:22] iuloshi commented on #148
- [ ] CF pagination bug fix for coded example
- [ ] Layout examples?

[2014-04-23 16:29] #123 closed, assigned to nobody

[2014-04-23 17:09] iuloshi commented on #117
#### FEWD tasks:
- [x] Add coded example of links in navigation
- [ ] Style links with minicons (minicons with no underline, but maintain other link states) - See [CF issue](https://github.com/cfpb/cf-typography/issues/10#issuecomment-41195102)
- [x] Increase leading of Document link examples

[2014-04-23 17:23] iuloshi commented on #26
Related to #153

[2014-04-23 17:23] #26 closed, assigned to nobody

[2014-04-23 17:24] #21 closed, assigned to nobody

[2014-04-23 17:24] #24 closed, assigned to nobody

[2014-04-23 17:44] #121 closed, assigned to nobody

[2014-04-23 18:53] elizbond commented on #130
@Dnpizarro and @ohsk reminder

[2014-04-23 18:53] benguhin commented on #124
To recap of a recent discussion with @iuloshi and @ohsk, the eyebrows thing could work but isn't terribly necessary for v1.0, so we're gonna punt that possibility to R2.

Proposal for R1:
Identity will continue to keep the order of the pdf version, without any formal groupings
UI toolkit will continue to be alphabetical unless/until a better order is proposed

[2014-04-23 19:14] iuloshi commented on #73
Closing cause the UI toolkit pages are well into development. Further changes can be submitted as pull requests or filed as issues. Thanks all!

[2014-04-23 19:14] #73 closed, assigned to vz3

[2014-04-23 19:45] juidai commented on #130
Sorry, but this list needs to be updated. Here's the icons we need:
- share
- blog
- consumer information (blogs that is consumer centric i.e. paying for college, tips on purchasing a home)
- engagements & events (town halls and stuff where cfpb shows up)
- announcements & updates (regulation type of news or issues the agency will try to tackle)
- innovation (blog posts around e-regs, hmda, or any

[2014-04-23 20:25] iuloshi commented on #148
@Scotchester Think we should hide the Pagination page for now and bump this issue's milestone to Release 2? Or do you think you guys will have time to resolve [this issue](https://github.com/cfpb/cf-pagination/issues/11) in your upcoming sprints before R1?

[2014-04-23 20:27] Scotchester commented on #148
We'll definitely have it fixed by then. Shouldn't be a major issue.

[2014-04-23 20:34] iuloshi commented on #148
Awesome possum!

[2014-04-23 20:36] iuloshi opened #155 "Guides pages"
For posterity's sake, making this an issue to track content review and layout of Guides pages.
- [x] Design principles
- [x] Creating accessible interfaces
- [x] Effective forms

cc: @benguhin

[2014-04-23 21:49] #150 closed, assigned to nobody

[2014-04-24 15:45] Dnpizarro commented on #130
Below are the updates from where we last left off. Announcements/Press Release has not been decided, nor has Consumer finance. The only one that not on the list is "Consumer information", this is new, however this could be referring to "Consumer finance." @juidai are these the same or does there need to be another icon developed?

![flapjack_minicons](https://cloud.githubusercontent.com/assets/685

[2014-04-24 15:49] ohsk commented on #130
@Dnpizzarro, two thoughts:
- Blog: is that the latest edit pencil? I thought we had one with a curves tip. We. Might want to exaggerate its scale a bit as well, relative to the speech bubble, for scalability...
- Innovation: could we try removing one of the lines around the base of the bulb? Seems a little busy down there.

[2014-04-24 15:50] Dnpizarro commented on #130
I also developed something for regulations but not sure if its still needed.
![regulations](https://cloud.githubusercontent.com/assets/6852363/2791568/1db804ac-cbc8-11e3-8ae8-ff560c145c70.png)

[2014-04-24 16:00] Dnpizarro commented on #130
Here is the update for innovation, based on @ohsk feedback:

![innovation](https://cloud.githubusercontent.com/assets/6852363/2791724/b81e8de4-cbc9-11e3-8bd3-553baf07b990.png)

[2014-04-24 17:14] juidai commented on #130
consumer information is about consumer financial stuff. it is the same even though it sounds different. i am not sure if money is a good representation of consumer financial advice.

otherwise, all the other icons look great. thanks.

[2014-04-24 17:26] duelj commented on #130
Here were some concepts I had put together a while back for "Consumer Finance" maybe they will help with some ideas for the "Consumer Information" icon.
![screen shot 2014-04-24 at 1 24 01 pm](https://cloud.githubusercontent.com/assets/6873734/2792626/751bde8c-cbd5-11e3-9f76-c9ad19215dee.png)

[2014-04-24 17:37] juidai commented on #130
i like the 2 piggie bank. piggie banks indicate consumer/saving/personal finance. $ might be too hard to read when shrunken down but the circle looks like coins.

[2014-04-24 17:41] Dnpizarro commented on #130
Here are some revisions for the blog minicon.

![blog](https://cloud.githubusercontent.com/assets/6852363/2792806/9dff5458-cbd7-11e3-8c2a-dd8fecb240e4.png)

[2014-04-24 17:49] Dnpizarro commented on #130
Out of the set that @duelj suggested for "Consumer finance" I think the wallet with the bill might work better. The piggy I feel is too heavily geared towards savings. I would steer away front he eye symbolism, feels a bit like the freemasons. The dollar, I would agree with you in that it lacks any real meaning.

[2014-04-24 17:58] elizbond commented on #130
I agree with @Dnpizarro on the wallet, I'm not 100% sure it's the best representation though. There might be other options out there to explore. The piggy bank does seem really heavy and I'm concerned about the level of detail at the smaller level.

[2014-04-24 18:01] duelj commented on #130
@Dnpizarro I think it is important to remember that the icon is now for Consumer Information rather than Consumer Finance. Either way it is a complex subject matter and I believe whatever icon we land on will only represent a portion of it. If the piggy bank leans too far towards savings perhaps the wallet leans too far towards spending and is not representative of those who don't carry wallets. A

[2014-04-24 18:50] nataliafitzgerald commented on #130
This is the megaphone version I referenced in the Design Crit.

![screen shot 2014-04-24 at 2 50 26 pm](https://cloud.githubusercontent.com/assets/6887128/2793570/56790d90-cbe1-11e3-9e75-2031ae82ded6.png)

[2014-04-24 19:51] Dnpizarro commented on #130
Below are a couple more versions to the announcements minicon. @nataliafitzgerald  I do remember discussing the megaphone option you mentioned during the crit. My only concern with that version is that it associates to cheerleading as well. We also had some other versions where we took the sound symbolism off of the megaphone. Do any of these options resonate with anyone?

![announcements](https:/

[2014-04-24 19:58] Dnpizarro commented on #130
I developed a couple more options for the blog minicon based on suggestions from the crit. These options are less consumer & financed focused, and more geared towards information. Let me know if you feel these are appropriate or oversimplified for the content.

![consumerinfo](https://cloud.githubusercontent.com/assets/6852363/2794203/0459b9c0-cbea-11e3-88ec-8ee1c81c7003.png)

[2014-04-24 20:22] juidai commented on #130
events should be less focused on calendar and more about interaction/engagement with consumers. team brainstorming came up with microphone.

[2014-04-24 20:29] ell0ell0 commented on #130
so for the " i " spend some time refining the letterform. I think the bottom rectangle of the i letter should be squared instead of rounded. That should help create enough contrast between the dot on the bottom of the letter that it'll read easier at smaller sizes.

The reversed out version should just be the " i " letter on black with no white stroke circle around it. Putting a circle in a circle

[2014-04-24 21:26] elizbond opened #156 "Math minicons"
We need math symbols in the form of minicons--
- dollar sign
- plus
- minus
- multiply
- division
- equal
- not equal
- approximately

[2014-04-24 21:38] Dnpizarro commented on #130
Per @juidai comments on the event minicon, I came up with some microphone options:

![events](https://cloud.githubusercontent.com/assets/6852363/2795246/c09bdbba-cbf7-11e3-8d6f-7ac845ef7d99.png)

I see where the intentions are to embody interaction/engagement, which I'm actually for, however my only concern is that the calendar tends to be the conventional and more recognizable option. It would be

[2014-04-25 14:01] Dnpizarro commented on #130
I took into account some of @ell0ell0 suggestions and made some revisions to the "Consumer information" minicon. I'd agree that the previous version was too rounded, however we don't use  sharp edges in the designs of our minicons. I gave the two versions below a slight rounded edge to maintain a consistent treatment with our set and to give it the needed contrast.

![info](https://cloud.githubuse

[2014-04-25 15:05] elizbond commented on #130
I agree with @Dnpizarro on the microphone/calendar dilemma. I understand the intention but the calendar is a more recognizable symbol for events. Also, if we go with the megaphone option for announcements, the symbols are too closely related and could lead to confusion.

According to my notes, here is where we are so far---

share - done
![4ac9c7ec-cbc7-11e3-9823-206f76ae869e](https://cloud.github

[2014-04-25 17:45] mebates commented on #81
This is looking good to me now. Closed.

[2014-04-25 17:45] #81 closed, assigned to iuloshi

[2014-04-25 18:03] mebates commented on #143
Hey @iuloshi - I just reviewed the page and it looks good. Closing!

[2014-04-25 18:06] ohsk commented on #130
A few thoughts:

### Blog

I prefer the composition of # 1, but I think we need to rethink the in-circle version. These should be less outline, more fill-based. For example, the way both of the credit card and other items are filled in this example:
![image](https://cloud.githubusercontent.com/assets/1689222/2803839/b5036f48-cca1-11e3-9f77-a2bc0f914e06.png) ![image](https://cloud.githubusercontent

[2014-04-25 20:37] Dnpizarro commented on #130
I decided to compile all of the minicons, both decided and undecided, so we call all see the full set. I included into these revisions @ohsk most recent suggestions. This set is also scaled down to give a more accurate view of the minicons at a smaller scale.

The majority of the minicons are still undecided, however we are getting closer to a resolution.
**Share:** DONE.
**Consumer Information:**

[2014-04-25 20:45] duelj commented on #130
Hey all, great work on this! We are very close, we discussed the options in design review today and here is where things stand from Flapjack:

Consumer Information :
![screen shot 2014-04-25 at 4 42 24 pm](https://cloud.githubusercontent.com/assets/6873734/2805513/2fd94608-ccba-11e3-9278-e3134a8c5c48.png)
@Dnpizarro  #1 - with the tweaks that @ohsk mentioned.

Blog: #1 But I was also curious about

[2014-04-25 21:29] benguhin commented on #152
assigning to @ohsk

[2014-04-25 21:36] Dnpizarro commented on #130
I made another round of revisions, which include @duelj suggestions. We're half way there, still 3 more to finalize. Please make your suggestions on the remaining minicons: **Innovation, Blog, and Announcements**

![full_set2](https://cloud.githubusercontent.com/assets/6852363/2806005/55fee282-ccc1-11e3-9bbb-ce24922c28ae.png)

[2014-04-25 21:38] Dnpizarro commented on #130
Here is a preview of the set in context.

![sample_set](https://cloud.githubusercontent.com/assets/6852363/2806042/e0f08b70-ccc1-11e3-8c9c-4e6ae32ff38d.png)

[2014-04-25 21:46] Dnpizarro commented on #130
**One note:** The minicons will not appear blurry once they are integrated into the minicon font. With that said, I am noticing that the innovation minicon is losing its threading at the base of the shape. This could be of course due to my retina display. In any case, this could be tweaked further later once I begin integrating the set into the font.

[2014-04-26 04:47] benguhin commented on #130
Looks great! Two notes that you can feel free to ignore:
1. I think that the blog icon reads a lot like "comment," which is kinda accurate but not really
2. Compared to the iOS version, the arrow in the share icon looks pretty flimsy, with more emphasis on the box than the arrow. Beef it up?

[2014-04-27 03:28] ohsk commented on #130
@benguhin, I agree with both your comments. Headed out of town, but just for posterity's sake, here's some older versions for both **Blog** and **Share**.

![image](https://cloud.githubusercontent.com/assets/1689222/2810416/cdeef2e6-cdbb-11e3-90a7-dd833acec4dd.png)

![image](https://cloud.githubusercontent.com/assets/1689222/2810417/e3d43828-cdbb-11e3-8164-edd6f71ea1c3.png)

[2014-04-28 16:52] Dnpizarro commented on #130
@benguhin, has a point with the share icon. I added another older version next to the one @ohsk  suggested. I think back when we were looking at the iOS option, we debated whether the "gene effect" of the arrow aligned with how we were designing our minicons. With that said, if we go with the iOS version of share, are we ok with making that exception for this minicon?

![share](https://cloud.githu

[2014-04-28 17:48] nataliafitzgerald commented on #130
For the "Engagements & Events" the lines on the microphone are getting lost at actual minicon size. For the sake of simplicity when scaled I would recommend version #1 below.

![161b710c-cca4-11e3-89d8-91fe2b0217c7](https://cloud.githubusercontent.com/assets/6887128/2820692/2c086b2c-cefd-11e3-8e63-2401bb57533e.png)

[2014-04-28 17:48] Scotchester commented on #130
@Dnpizarro #1 is the external link minicon.

[2014-04-28 17:54] iuloshi commented on #148
Hey @Scotchester, I was just talking to @benguhin and because the content isn't fully fleshed out for this page yet, we're going to backlog to R2. So no need to rush incorporating this bug fix into your sprint schedule.

[2014-04-28 18:05] Dnpizarro commented on #130
@Scotchester its not exactly the external link minicon, but to your point it is too closely related so that rules out option 1. I think @nataliafitzgerald could be right about the scaling issue, however keep in mind that the minicons will look sharper once in the font format. I can include versions 1 and 4 of the microphone into the font as part of our initial test and later remove the one we deci

[2014-04-28 18:20] nataliafitzgerald commented on #130
I agree with @elizbond and @Dnpizarro's concerns about using the microphone for "Engagements & Events." An additional concern I have with the microphone is that implies communication that is directed outward. If we are talking primarily about field hearings, these hearings are a unique forum where consumers can speak directly with the CFPB and make their experiences heard. The heart of the field h

[2014-04-28 18:21] iuloshi opened #163 "Links with minicons styling"
AFAIK, this is the only outstanding Capital Framework task that would be great to have completed for R1 of the Design Manual. The rest have been backlogged. Assigning to @Scotchester just to keep on your radar. Thanks!!

(Completion necessary to close issue #117.)

Currently on the [Links page](http://cfpb.github.io/design-manual/ui-toolkit/links.html):
![screen shot 2014-04-28 at 2 19 55 pm](http

[2014-04-28 18:27] iuloshi opened #164 "Remove Pagination page for R1"

[2014-04-28 18:30] iuloshi opened #165 "Body margin bug"
Per @Scotchester's [last PR,](https://github.com/cfpb/design-manual/pull/162#issuecomment-41593502), might be related to a cf-grid update.

![screen shot 2014-04-28 at 2 28 59 pm](https://cloud.githubusercontent.com/assets/1676307/2821180/ffa64a8a-cf02-11e3-8270-829f56bb11ef.png)

[2014-04-28 19:51] duelj opened #166 "Flapjack newsroom category minicons"
Flapjack is now working on the newsroom page which will look and function very similarly to the blog but will have different categories to filter and organize the content. We have identified four categories that will need minicons distinct from those for blogs, they are as follows:
- Speeches
- Op-eds
- Testimonies
- Press releases

[2014-04-28 19:54] duelj commented on #166
Here is a concept for the press release minicon that our team was toying with, based off of an earlier design from Daniel and Stephen.

![screen shot 2014-04-28 at 3 53 18 pm](https://cloud.githubusercontent.com/assets/6873734/2822106/d5a9a4d2-cf0e-11e3-800c-5cd16c80b574.png)

[2014-04-28 20:31] ell0ell0 commented on #130
My one comment strictly speaking is the counterforms (white space) all need to be opened up. i.e. the space btween the dot and the vertical line in the "i" of consumer information, the space int he handle of the megaphone for recent press, space between microphone and stand for engagement and events, etc. When these icons get small which is by default the minicon use case (16pt text) those spaces

[2014-04-28 20:33] juidai commented on #130
"Engagements and Events" will comprise of blog post announcing - CFPB's field hearings (http://www.consumerfinance.gov/blog/live-from-washington-d-c-2/), ask users to engage us about the rules we are in the process of creating, RFI (request for information) on a topic such as student credit cards (http://files.consumerfinance.gov/f/201311_cfpb_letter-to-student-loan-servicers.pdf), Know before you

[2014-04-29 12:10] iuloshi commented on #165
Assigning to @Scotchester since it might be related to a change in `cf-grid`.

[2014-04-29 13:45] iuloshi commented on #152
I [styled it a bit more](http://iuloshi.github.io/design-manual/ui-toolkit/grid-and-layout.html) and removed the prefixing/suffixing, pushing/pulling, and nesting sections from the Design Manual, since they're more FEWD-oriented and are already included on the CF demo site.
- [x] Write copy for intro and Use sections

[2014-04-29 13:47] #164 closed, assigned to iuloshi

[2014-04-29 14:51] elizbond commented on #130
I'm still not sold on the microphone. If the label is "Engagement and Events" it's signaling an arrangement to do something or go somewhere at a fixed time, not engage or interact with the CFPB. If the icon is a microphone, would it make more sense for the category to be "speak out" or something similar?

I understand the appeal of the microphone because it indicates voicing your opinion but it's

[2014-04-29 15:04] iuloshi opened #167 "Color swatch height"
On the [Colors page](http://cfpb.github.io/design-manual/identity/color-principles.html), why are the swatches in the background and secondary colors sections so short now? Was this a decision meant to save vertical space, or a glitch when making the Colors page responsive?

I personally prefer the taller color swatches for desktop because it visually highlights the vibrancy of the colors themselv

[2014-04-29 15:09] elizbond commented on #130
@juidai @duelj @ell0ell0 How many minicon sets will be needed throughout the site?
1. Blog
2. Newsroom
3. ...? Anywhere else?

[2014-04-29 15:16] Scotchester commented on #167
Because comps :)

I can't easily find a place on our public issues here where that comp was posted, but that is how Stephen laid it out. I did make them a little too short, though, I now realize as I refer back to the PDF comp compilation.

[2014-04-29 15:19] iuloshi commented on #167
Okay, and I get displaying the hierarchy between the primary and other colors. I'll tweak the sizes a bit.

[2014-04-29 15:20] iuloshi commented on #167
Hey and thanks for making it responsive! :+1:

[2014-04-29 15:52] juidai commented on #130
We have not taken an inventory of the whole site to figure out how many minicon sets we will need. As we design/build each section and as we come across illustrations or minicons, we just ask Design Ops for help.

[2014-04-29 16:01] juidai commented on #130
@elizbond - you raised a good question about minicon library sets. I believe library management and usage should be up to Design Ops to decide. My concern is creating legible icons that convey the intention the icon is trying to describe on a specific section. If you guys need some more time to sort the direction of the minicons because our usage is beyond the original expectation, that's cool. I

[2014-04-29 16:23] elizbond commented on #130
@juidai I think in order for us to understand the full scope and provide a timeline we need to know how many possible sets and how many possible icons might exist. That way we can of these libraries as a full language. I agree that the priority should be creating legible icons that convey the intention of the content, so I'm concerned we might be getting too specific or not specific enough on some

[2014-04-29 16:34] Dnpizarro commented on #130
I would echo @elizbond point. We can give you a better assessment of our timeline once we know if there are other sets Flapjack has considered that have not been mentioned in this thread. Of course to your point @juidai, the need for minicons comes as you design/build, but moving forward knowing
what your full needs are currently, regarding minicons, would helps us better resolve some of the issue

[2014-04-29 16:54] #167 closed, assigned to nobody

[2014-04-29 17:04] iuloshi commented on #155
TO DO:
- [x] Illustrations or links for intro sections of each of the Guides?
- [ ] Rebrand illustrations from GDS for "Effective forms" guide

[2014-04-29 17:27] ell0ell0 commented on #130
@elizbond @Dnpizarro @nataliafitzgerald  Guys in all seriousness we can't tell you our exact needs. Yes there will be more sets in the future... How many? We'll know when the site is finished... Can we wait till then? Of course not...

Lets stop playing chicken and the egg and going in circles and focus on accomplishing something.

Ignore the fact that there will be more icons. let's take this one

[2014-04-29 18:05] juidai commented on #130
I understand designers sometimes want to know the complete requirements before crafting the designs. But we are working in an agile process and that means we define requirements when we get to the problem. I understand that would be a lot easier to build but it's not very efficient for software development. Is there any way to evaluate the minicon creation process to be more inline with the rest o

[2014-04-29 18:29] Dnpizarro commented on #130
@ell0ell0 if anything we were asking for clarification to better understand your needs, and if along the process we raise questions its just part of trying to arrive at a solution that makes most sense.

@juidai , I agree with your point about agile. I think we need to stay flexible through this process, so what I would suggest at this point is to keep our options open as the set evolves. So, incl

[2014-04-29 19:13] ell0ell0 opened #169 "Download links on logos"
It'd be great if we could add download links for each proper log treatment. We'll be linking to the design manual from the press resources page for anyone who wants our logo. At least this way they can also see our instructions for proper useage.

[2014-04-29 19:24] duelj commented on #130
Aside from the discussion of the plan for the overall icon library (which I believe we should get the decision makers in a room to resolve the plan for the library) I have taken time to resolve the icons to a place where flapjack is happy with them.

In an effort to try and wrap the development of these up I pass them on to Design Ops. Below is a comparison of the adjusted icons (left column) to t

[2014-04-29 19:27] elizbond commented on #130
@juidai @duelj @ell0ell0 I second @Dnpizarro, we understand and intend to work with you guys as these issues come along but after reviewing the newsroom list we saw potential opportunities for us to merge minicons as some tend to overlap. This would be helpful to identify across the board. And there's still the question of do we want to merge and overlap, or should every icon be unique? This obvio

[2014-04-29 19:36] iuloshi commented on #169
Yep, there was originally a download section that was backlogged. Will add this to "release 2" -- thanks for the reminder!

[2014-04-29 19:57] nataliafitzgerald commented on #130
@duelj Will the most common use case for these be 16 pixels? Is 20 pixels a possibility as well? As I look these over, I just want to be sure that these work well at the most common size they will be used.

[2014-04-29 20:06] juidai commented on #130
some blog posts will be in newsroom as well. it will carry the blog icon. there might be other areas as well, but as of right now, that's what i know.

@duelj posts is what we agreed upon and like.

[2014-04-29 20:09] iuloshi opened #170 "Fix hanging indents for lists"
Especially for Guides pages

[2014-04-29 20:12] duelj commented on #130
@nataliafitzgerald we believe these should be built to work inline with body copy so they should work at 16px. This is kinda the worst case scenario and I assume that if they work this small scaling up should not be a problem. I don't think that the icons in the black circles should be used this small but showed them as a point of reference for some of the counter adjustments.

#### I do acknowled

[2014-04-29 20:12] ell0ell0 commented on #130
@nataliafitzgerald anywhere from our paragraph size (16pt) on up will be a possible use. (18pt) will probably be the most common use size, but the minicons will get used inline with text for links, downloads, buttons, etc. a lot.

[2014-04-30 17:02] elizbond commented on #130
@juidai we had a lengthy discussion about both the newsroom and blog sets this morning and we just want to make sure we are understanding their relationships. Based on your description, we are assuming the blog posts feed into Newsroom, but instead of having category icons (consumer information, events and engagements, innovation, and announcements) the posts will have the label "blog post" with a

[2014-04-30 18:00] juidai commented on #130
@elizbond - the drawing is correct. newsroom will republish some blog content. it sounds confusing at first but their users will come to newsroom and not necessarily go to blog. some blog content will be news worthy so they want it to be republished in newsroom. a generic blog icon will be easier since their users are not filtering newsroom by the same categories as blogs.

#### Questions
- I don'

[2014-04-30 18:06] elizbond commented on #130
@juidai - Great, thanks for clarifying. I'll update #166 accordingly so we can move to that next.

[2014-04-30 18:07] elizbond commented on #166
### Updated list

Speeches
Op-eds
Testimonies
Press releases
Blog posts

[2014-04-30 18:10] elizbond opened #171 "Flapjack "Newsroom" platform minicon"
Flapjack needs a newsroom minicon because further down the line, there will be a site feed (think Facebook) that will have all our dynamic content show up all together.

[2014-04-30 18:12] elizbond opened #172 "Flapjack Share icon"
Moving the Share icon from #130 to here since it will be used throughout the site and is not a category or a label within the blog but an action.

@Dnpizarro will post his latest revision shortly.

[2014-04-30 18:13] elizbond commented on #130
The share icon has been moved to issue #172.

The Newsroom minicon (for the platform, not its categories) has moved to #171.

[2014-04-30 21:48] iuloshi commented on #169
@elizbond I don't know that providing our _entire_ logo suite is necessary, so which versions of the logos and what file types do you think we should provide for download in the Design Manual? I think the primary use case would be for journalists/PR people who might mention CFPB in articles, etc.

If you list out which logo types, I'll compile a zip file for users to download. Thanks!

[2014-04-30 22:27] Dnpizarro commented on #130
Here are our recommendations for the blog minicons (minus "Events & engagements):

![screen shot 2014-04-30 at 6 21 25 pm](https://cloud.githubusercontent.com/assets/6852363/2847961/26e6b954-d0b6-11e3-88d4-a9c93efc27e8.png)

[2014-04-30 22:29] Dnpizarro commented on #166
Here are our recommendations for the Newsroom minicons (minus "Op-eds"):

![screen shot 2014-04-30 at 6 16 41 pm](https://cloud.githubusercontent.com/assets/6852363/2848012/dd2bcd9e-d0b6-11e3-970d-1947aeb08eec.png)

[2014-04-30 22:34] iuloshi opened #174 "Deactivate visited link state from toc jump links"

[2014-04-30 22:37] iuloshi opened #175 "Download minicon font"

[2014-04-30 23:08] #142 closed, assigned to nobody

[2014-05-01 03:59] benguhin commented on #174
I support this. We're using them as navigational elements, so the visited state looks weird.

[2014-05-01 13:11] Scotchester commented on #174
:+1:

[2014-05-01 14:48] #174 closed, assigned to nobody

[2014-05-01 15:49] duelj commented on #166
Cool, here are some concepts I had on Op-eds to maybe help the thought process. I am guessing that Op-eds just needed some more time since it is a tricky one? Just want to make sure you weren't waiting on us for something to do with the op ed icon.

![screen shot 2014-05-01 at 11 44 57 am](https://cloud.githubusercontent.com/assets/6873734/2853748/1ca64c06-d148-11e3-8be4-b01cb04f523d.png)

[2014-05-01 15:52] duelj commented on #130
Here are some concepts I had for events and engagements maybe they will help the thought process. As with the op-ed newsroom icon just wanted to make sure that you weren't waiting on us for something regarding the events & engagements icon.
![screen shot 2014-05-01 at 11 45 05 am](https://cloud.githubusercontent.com/assets/6873734/2853779/79959a3e-d148-11e3-9c62-73c84b7cb4c1.png)

[2014-05-01 16:03] duelj commented on #172
Just wanted to get the ball rolling again here, since the discussion moved. I believe we left off with the discussion revolving around the arrows weight compared to the box and there were three versions that were shared (the last one was courtesy of @ohsk and I only had a screenshot of it).

Are we cool with the third option or is there more work to be done one this? If so, what are the issues/con

[2014-05-01 16:33] iuloshi commented on #117
Closing because only outstanding task is covered in issue #163.

[2014-05-01 16:33] #117 closed, assigned to nobody

[2014-05-01 16:46] elizbond commented on #166
@duelj Good suggestions, we were brainstorming around a pen of some type so I think # 4 makes sense. I'm wondering if we need the chat bubble though?

We wanted to get you guys suggestions by EOD yesterday and didn't have time to get to it. Thanks for the help.

[2014-05-01 17:14] Scotchester commented on #166
:+1: To the fountain pen head, in some form.

The _dual_ speech bubbles seem like they imply a two-way conversation, which an op-ed is not, by definition.

(But I really like the interlocking one, second from left, and would love to see it used somewhere!)

[2014-05-01 19:59] elizbond commented on #130
@duelj I think that's an interesting concept but it goes back to thinking of "Events and Engagements" as an arrangement to do something or go somewhere at a fixed time, not engage or interact with the CFPB. It needs to be something that communicates receiving information or having a dialogue. With that said, I'm totally stumped on what that should be.

[2014-05-01 20:02] elizbond commented on #130
@duelj ooh! What about the interlocking dialogue option from #166 (cc @Scotchester )? Does something like that work or is it too vague for "Events and Engagement"?

[2014-05-01 20:53] duelj commented on #130
I like that idea, and so did the team. We chatted about what we thought it might need and we liked the more directional speech bubble from the blog icon so I tried that and a version with the existing bubble with the points shifted. Our intent here was we  felt like the offset points made it feel more like an interaction or conversation. Also, the filled and stroked difference made it feel more li

[2014-05-01 21:26] duelj commented on #171
So after some chatting with the FJ team we would be comfortable with the Newsroom minicon being the same as the proposed press release minicon. In the same way that the blog icon will be an overarching blog section on activity feeds and the like we feel that the press release icon could do that same for newsroom.

##### I pass this over to Design Ops for their opinion on the overlap

![screen shot

[2014-05-02 13:39] iuloshi opened #177 "Permalinks to headings"
![screen shot 2014-05-02 at 9 38 56 am](https://cloud.githubusercontent.com/assets/1676307/2863082/235c86de-d1ff-11e3-8868-717d5cf2a107.png)

[2014-05-02 13:41] iuloshi commented on #109
Noting that the Colors page is responsive, thanks to @Scotchester.

Keeping this issue open for the further enhancement of the expandable color blocks for mobile.

[2014-05-02 16:03] ell0ell0 commented on #130
I like it. Here's a slight refinement of the option on the left. Slightly larger triangle dialogue piece, a little more overlap o speech bubbles, slightly wider speech bubbles, makes it a little more square so it's sits a bit better in the circle.

![engagement](https://cloud.githubusercontent.com/assets/3589375/2864660/1ae4e0d2-d213-11e3-9dde-ae6b879303bf.png)

[2014-05-02 17:19] ell0ell0 opened #178 "404 page illustration"

[2014-05-02 18:03] mebates commented on #178
Hey @ell0ell0 I think this discussion should be under CFPB's GH enterprise, in the Flapjack repo. Not an overall branding discussion that we want to have publicly.

[2014-05-02 18:04] #178 closed, assigned to nobody

[2014-05-02 18:22] iuloshi commented on #155
Closing to create separate issues for each Guides page.

[2014-05-02 18:22] #155 closed, assigned to benguhin

[2014-05-02 18:22] benguhin opened #179 "finalize accessibility guide"
@benguhin and @miulo made some changes, I'm taking a final pass on copy
http://cfpb.github.io/design-manual/guides/accessible-interfaces.html

ccing the esteemed author @davidakennedy

[2014-05-02 18:23] iuloshi opened #180 "Guides > Forms page"
- [ ] Rebrand GDS' illustrations and host images locally

[2014-05-02 18:23] benguhin commented on #179
- [x] decide on whether this should have an image

[2014-05-02 18:24] iuloshi commented on #165
Hey @Scotchester:

Have you had a chance to look at this bug? At a bare minimum, would love to have this fixed for R1. Thanks!

[2014-05-02 18:25] elizbond commented on #171
We agree that this fits for Newsroom, but worry using the same icon in a different location could create confusion. It's a little bit of a gray area since Newsroom represents Press Releases (among other things) so anyone could argue that it's okay. However, the Blog icon will not pull from the list of blog category icons. It will be unique. With that in mind, I'm leaning more towards all icons sho

[2014-05-02 18:57] #125 closed, assigned to nobody

[2014-05-02 19:26] #145 closed, assigned to nobody

[2014-05-02 19:33] Scotchester commented on #165
R1 is a week from today, right? I'll definitely get it done by then.

[2014-05-02 19:34] benguhin commented on #179
updated with #183

[2014-05-02 19:37] iuloshi commented on #165
Yep. Thank you kindly!

[2014-05-02 19:44] benguhin opened #184 "Add guide for "Evaluating usability""
With best practices and stuff

[2014-05-02 19:55] Dnpizarro commented on #130
I like the direction for "Events and Engagements". I had a sketch from some earlier iterations with the 2 bubble concept. I thought I would share anyways and get your thoughts on it.

![screen shot 2014-05-02 at 2 53 30 pm](https://cloud.githubusercontent.com/assets/6852363/2867152/2b02106a-d232-11e3-8b59-1f3d2f94847e.png)

In addition to that, we've been consider just having the 1 bubble option a

[2014-05-02 20:07] davidakennedy commented on #179
Actually, the copy comes from the legendary John Yuda. :+1:

Also, two small accessibility issues I want to fix:
- [x] The heading structure skips around a bit. Not ideal. See [Wave report](http://wave.webaim.org/report#/http%3A%2F%2Fcfpb.github.io%2Fdesign-manual%2Fguides%2Faccessible-interfaces.html).
- [x] The links to the W3C site all have the same text, but go to different places. The link te

[2014-05-02 20:09] Dnpizarro commented on #171
I would agree with everyones comments for using this icon for the "Newsroom" representation. However, I don't think it would work to have this icon also represent "Press release" because it would cause clear confusion. Its still part of the same grouping which is why I am hesitant to use it for both contexts.

[2014-05-02 20:20] #144 closed, assigned to nobody

[2014-05-02 20:40] benguhin commented on #179
good catches! can you do a PR with the more descriptive link text hidden?

[2014-05-02 20:46] Dnpizarro commented on #166
I came up with an option where we use the newspaper elements in a bubble. I'm thinking this approach could potentially function for the "blog" minicon as well if we don't use it here.

![op-eds](https://cloud.githubusercontent.com/assets/6852363/2867745/bf96786c-d23a-11e3-936b-e5e0bd477c7c.png)

[2014-05-02 20:50] elizbond commented on #130
I prefer the overlap by @Dnpizarro it is fitting better within the circle.

[2014-05-02 21:12] #152 closed, assigned to mebates

[2014-05-02 21:14] iuloshi commented on #152
High fives! I think that finishes out the content. :punch:

[2014-05-02 21:19] mebates commented on #152
w00t! So close! :fireworks:

[2014-05-02 21:20] mebates commented on #152
oops, looks like my addition broke something. type should be in georgia; plus the grid dropped out

[2014-05-02 21:36] nataliafitzgerald commented on #171
Since "Blog" and "Newsroom" are on the same level in the minicon hierarchy and "Blog" is a unique identifier, "Newsroom" should follow the same logic and also be a unique identifier. I agree with @Dnpizarro that using the same minicon to represent two different categories could cause confusion.

[2014-05-02 21:39] iuloshi commented on #152
Fixed it! Will be updated when my pull request is merged.

http://iuloshi.github.io/design-manual/ui-toolkit/grid-and-layout.html

[2014-05-02 21:42] nataliafitzgerald commented on #130
@Dnpizarro can you post a version of the "Events and engagements" without the lines? Can you show an option with two white bubbles and an option with one black one white?

[2014-05-02 21:44] nataliafitzgerald commented on #130
@Dnpizarro - For blog the lines on the quote bubble are interesting as they suggested writing.

[2014-05-02 21:47] iuloshi opened #187 "Tweak vertical alignments"
Perform vertical alignment audit on every page and make tweaks as necessary.

[2014-05-02 22:01] davidakennedy commented on #179
Yeah, was planning to do it that way.

[2014-05-02 22:25] Dnpizarro commented on #130
Here are the revised minicons based on @nataliafitzgerald suggestions:

![screen shot 2014-05-02 at 6 21 38 pm](https://cloud.githubusercontent.com/assets/6852363/2868520/aa6b5fe4-d248-11e3-8734-bfe0f651fece.png)

[2014-05-05 16:43] iuloshi opened #188 "Forms guide: rebrand GDS form illustrations"
Per #155

[2014-05-05 16:51] iuloshi opened #189 "Grids page: grid wrapping bug"
@Scotchester Do you think this is related to the body margin bug in #165?

![screen shot 2014-05-05 at 12 41 59 pm](https://cloud.githubusercontent.com/assets/1676307/2880402/5e562bbe-d475-11e3-9c43-92ea2086d3e7.png)

[2014-05-05 16:53] Scotchester commented on #189
Perhaps. I'll look into that, as well.

[2014-05-05 17:10] iuloshi commented on #189
@Scotchester You are my hero.

[2014-05-05 23:13] ohsk commented on #188
Took a first stab at this. Let me know if y'all have suggested changes!
http://ohsk.github.io/design-manual/guides/effective-forms.html

![image](https://cloud.githubusercontent.com/assets/1689222/2884429/c5c3e054-d4aa-11e3-9e7a-cfa9f17c5205.png)

![image](https://cloud.githubusercontent.com/assets/1689222/2884430/caf8498e-d4aa-11e3-90ef-514a0a393884.png)

![image](https://cloud.githubusercontent.

[2014-05-06 12:57] iuloshi commented on #188
Beautiful!!

This is minor and I can adjust in the CSS, but what do you think about possibly scaling down the first single-page illustration and slightly enlarging the other three so that they're all on a more similar scale? That would also kill a lot of the white space beneath "the good" and "the bad" sections next to the first illustration.

Otherwise I think these are :ok_hand:

[2014-05-06 14:44] mebates commented on #188
Nice job @ohsk!

[2014-05-06 14:56] dezzie commented on #188
This is so good!

[2014-05-06 16:48] ohsk commented on #188
Thanks y'all! @iuloshi, that makes sense to me. Let me know if you need me to reexport to specific dimensions.

[2014-05-06 18:04] mebates opened #191 "minicons + links + Georgia"
Point of clarification: Can we use minicons after links set in Georgia? If so, we should probably show an example in the Design Manual.

See the 'more >' link on the Intranet's Resource Library, or the example below:

![screen shot 2014-05-06 at 2 03 45 pm](https://cloud.githubusercontent.com/assets/6223901/2893464/d2121a3a-d548-11e3-8f13-05251dc13d39.png)

[2014-05-07 15:45] elizbond opened #192 "Illustration guidelines"
In an effort to document the 10 hour ideas session with @duelj, @ajbush, @ohsk, and @nataliafitzgerald I've developed a draft of potential illustration guidelines. I've included feedback from github issues like #50 and various branding conversations with members of the team and outside vendors. The goal is to have more detail, specifically on highlights, shadows, and viewpoint. Feel free to add to

[2014-05-07 16:45] mebates commented on #192
"Objects should be lit from the left side. This is consistent with the beam in our logo."
I think we need to say upper-left here. Lighting only from the left will not work to give dimension to most objects.

Do we want to get more specific about materials for highlights? Objects that would shine: glass, metal, etc?

Industry illustrations shouldn't just be front-facing. We used lots of top facing

[2014-05-07 17:32] #188 closed, assigned to ohsk

[2014-05-08 16:24] Scotchester commented on #189
I may have fixed this inadvertently when doing the margin thing, but I can't reproduce it now. After my impending PR is closed, please verify if fixed, @iuloshi.

[2014-05-08 17:22] duelj commented on #172
I just wanted to spark this conversation again and see if anyone had any input on this icon? I'd be happy to try some things to try and get it buttoned up.

[2014-05-08 19:45] mebates opened #194 "Implement analytics for the Design Manual"
Scott is talking to Beth Anne about implementing them for cfpb.github.io, hopefully we can do both simultaneously.

[2014-05-08 20:10] ohsk commented on #172
I think the second one just looks bloated and the last one feels a bit more resolved, and I don't think the "genie effect" is so discordant from the minicon style that it's worth deviating from representation used fairly often elsewhere in the web.

Including a slightly crispier version...
![image](https://cloud.githubusercontent.com/assets/1689222/2920458/301102dc-d6e7-11e3-9d95-222c07e93591.png)

[2014-05-08 21:05] #163 closed, assigned to Scotchester

[2014-05-08 21:05] #165 closed, assigned to Scotchester

[2014-05-08 21:05] #170 closed, assigned to nobody

[2014-05-08 21:22] iuloshi opened #195 "Firefox isn't rendering Avenir web font"
Per @Scotchester, use web font service

[2014-05-08 21:26] benguhin commented on #179
ok sweet! any chance you can get to this on monday?

[2014-05-09 16:35] benguhin commented on #172
agreed with @ohsk that the second one is better but bloated. I think it makes sense to experiment with the "genie effect" a bit further but also to remove the rounded caps from some of the lines – there's probably a compromise between 2 and 3 in terms of edginess.

[2014-05-12 17:42] ohsk commented on #192
@mebates, I think you're right about "upper-left" shadow directionality. We can probably show a few examples and call out what they are in terms of reflective material, without being overly proscriptive.

Adding top-facing to industry seems fine to me.

Can we set a deadline for feedback by tomorrow, in order to get this stuff in by the end of the week?

[2014-05-12 20:34] duelj commented on #166
After a group chat today with FJ we like the idea of using the fountain pen icon for op-eds. We know it exists in the library currently for "contracts" but we were unsure if it was actually  being used? If it is not, can we just use it for op-eds, or is there the potential for overlap like @elizbond suggested and use it for both?

If it is being used can we use the pen with a modifier of some type

[2014-05-12 20:46] duelj commented on #130
FJ team discussed where things stand with these icons and we like the "events & engagements" icon with one bubble filled and one stroked. In the circle we are cool with them both being filled.

#### We like all of the other blog category icons as they are.

##### Blog icon:

We have some concerns with he blog icon we feel that the empty bubble could work as a last resort but we still really like t

[2014-05-12 20:50] duelj commented on #171
After FJ discussing this icon we are cool with it being the same as newsroom but understand design ops desire to have independent icons. Would there be the possibility of using a podium for this?

[2014-05-13 15:01] elizbond commented on #130
@duelj I agree with the events and engagement icon.

[2014-05-13 15:14] duelj commented on #172
I am happy to use the stock style that @ohsk  found or if we feel the that we need a specific one to our icons would something like this be more what @benguhin was talking about? If not, is it worth us spending more time on it or should we just go with the "off the shelf" style?
![screen shot 2014-05-13 at 11 11 35 am](https://cloud.githubusercontent.com/assets/6873734/2959229/e5587b08-dab0-11e3-8

[2014-05-13 16:07] ohsk commented on #192
Here's a first stab at mocking-up with supporting visual examples. Still need to find better use-cases for some of these, so please point in the right direction if you have suggest replacements!

For example, I'd like another illustration to show the basic shapes used in the Forms section.

![style_sk_140513_illustration_illustrations copy](https://cloud.githubusercontent.com/assets/1689222/296005

[2014-05-13 16:10] ohsk commented on #172
:+1: Nice work, JJ. I think I prefer the second one, and I think this hybrid help alleviate some of the concerns about the genie effect. Perhaps the one thing to tweak a bit is the relative proportion between the rectangle and the arrow (can we try a slightly scaled-down rectangle, so the arrow jumps a bit outside its bounds?).

[2014-05-13 16:54] Dnpizarro commented on #166
I agree with @duelj on the overuse of the bubble. Below are some options I mocked up based on FJ's suggestions for the fountain pen w/modifier. I also included a more casual pen option at the bottom.

![screen shot 2014-05-13 at 12 51 33 pm](https://cloud.githubusercontent.com/assets/6852363/2960706/e7e4e4f2-dabe-11e3-9216-639ca1cb8621.png)

[2014-05-13 16:59] Dnpizarro commented on #172
@duelj good work! The second is definitely a good hybrid solution. I would echo @ohsk suggestion and potentially adding a bit more white space around the arrow.

[2014-05-13 17:06] Dnpizarro commented on #166
I reworked the quotation marks for Testimonies. Let me know your thoughts.

![screen shot 2014-05-13 at 1 07 09 pm](https://cloud.githubusercontent.com/assets/6852363/2960922/1171a89e-dac1-11e3-97a5-773e3e3df63b.png)

[2014-05-13 17:23] benguhin commented on #172
Sweet. That's a really nice combination of our style and the iOS pattern

[2014-05-13 19:05] ohsk commented on #192
From GD Brand Critique today:
- Combine Shading & Highlights into one section
- Add a section describing Shadows specifically

[2014-05-13 19:51] Dnpizarro commented on #166
Like we discussed in the meeting, I pulled the whole set together, which includes all the Newsroom and Blog minicons. I also gathered all of the explorations we did for Blog incase we decide we like one of those options.

![screen shot 2014-05-13 at 3 54 51 pm](https://cloud.githubusercontent.com/assets/6852363/2963208/893ed006-dad8-11e3-80bd-d8f61b84de5b.png)

[2014-05-14 00:38] duelj commented on #172
Here are a couple versions based off of what was discussed in the design crit. meeting today. The main adjustments were, keeping the arrow from the second option I showed above but incorporating the rounded outside box that earlier versions I showed had.

![screen shot 2014-05-13 at 8 37 58 pm](https://cloud.githubusercontent.com/assets/6873734/2965836/090d4c32-db00-11e3-9160-efacdc2bcfd8.png)

[2014-05-14 23:21] ohsk commented on #192
Ok, updated based on the GD Brand Crit on tuesday:
http://ohsk.github.io/design-manual/identity/illustration.html

Let me know if there's any further feedback!

![illustration](https://cloud.githubusercontent.com/assets/1689222/2978753/17151fb2-dbbe-11e3-8791-d486d5c4af47.png)

[2014-05-15 19:29] ohsk commented on #192
cc: @nataliafitzgerald @elizbond

Can y'all take a last look at this before I submit a pull-request for inclusion in the release by tomorrow? [The content is live here.](http://ohsk.github.io/design-manual/identity/illustration.html)

[2014-05-16 12:28] stephanieosan commented on #192
@ohsk This looks really good!

The only thing I noticed is that in the shading and highlights section: we talk about both curved and diagonal highlight/shadows being available for use, and we recommend using a curve when the object is round. But, in our examples to the right, we have nothing demonstrating when to use curved highlights and we have a circular coin with a diagonal highlight, which is

[2014-05-16 15:23] ohsk commented on #192
@stephanieosan thanks! Yes, we should amend to include an example.

I think you're reading the coin thing right. The surface is flat and metal, so it has a sheen, as opposed to showing a curved shadow on a dimensional sphere. The coin does have a curved shadow around its rim:

![image](https://cloud.githubusercontent.com/assets/1689222/2998639/0bff9418-dd0d-11e3-906e-7ae7134134f0.png)

We have thr

[2014-05-16 15:27] elizbond commented on #192
My only feedback would be do we need to show a variety of shading/highlight examples. Right now it's limited to the diagonal highlight. Should the page also show examples of the the the straight up and down shading, as well as the round shading Stephanie mentioned?

[2014-05-16 17:16] davidakennedy commented on #179
Will work on this today!

[2014-05-19 15:04] iuloshi opened #198 "UI toolkit pages > left align "repo" header and grey well"
![screen shot 2014-05-19 at 10 58 18 am](https://cloud.githubusercontent.com/assets/1676307/3015804/c5103600-df66-11e3-978b-fe6407cbd6d6.png)

[2014-05-19 15:15] iuloshi commented on #187
Hey guys! If you have any last minute minor alignment/spacing tweaks, take a screen cap and drop 'em in some comments here por favor! It'd be helpful if you noted which page they are on too.

For instance, do you think the examples should be top aligned with the corresponding headers to the left or the body text below the headers (in this case the bullets)? FWIW, almost all of the other examples a

[2014-05-19 18:36] nataliafitzgerald commented on #166
Below is a document that illustrates my recommendations for the consumerfinance.gov minicons for "Newsroom" and "Blog." The following are approved without comments: Newsroom, Speeches, Press Release/Announcements, Op Eds, Testimonies, Consumer Information, and Innovation.

For "Blog", the pencil with the quote bubble feels overly complicated and somewhat visually confusing. It could work better if

[2014-05-20 14:12] iuloshi opened #199 "IE jankiness"
Per @virtix:

cfpb.github.io repo [issue #30](https://github.com/cfpb/cfpb.github.io/issues/30)

[2014-05-20 14:16] iuloshi opened #200 "Homepage > "Help us make improvements" section"
Add copy/links outlining _how_ people can contribute to the Design Manual through forking, pull-requests, and filing issues and bugs, etc.

[2014-05-20 15:23] elizbond commented on #171
Closing this, resolved in #166

[2014-05-20 15:23] #171 closed, assigned to nobody

[2014-05-20 15:24] elizbond commented on #130
Closing this, resolved in #166

[2014-05-20 15:24] #130 closed, assigned to nobody

[2014-05-20 15:24] elizbond commented on #50
This discussion has moved to #192

[2014-05-20 15:24] #50 closed, assigned to nobody

[2014-05-20 16:28] mebates commented on #199
- minicons don't display on Buttons or Expandables page
- Grey box linking to Capital Framework is messed up on all UI pages:
  ![screen shot 2014-05-20 at 12 26 27 pm](https://cloud.githubusercontent.com/assets/6223901/3030003/b960b3ea-e03b-11e3-9c90-70c06b0d509a.png)

[2014-05-20 19:06] benguhin commented on #189
Here's another today in Chrome:
![screen shot 2014-05-20 at 3 05 28 pm](https://cloud.githubusercontent.com/assets/6953063/3031920/d65cec50-e051-11e3-90b8-5e36442f1291.png)

[2014-05-20 19:09] benguhin commented on #189
Scott's fork works!

![screen shot 2014-05-20 at 3 08 44 pm](https://cloud.githubusercontent.com/assets/6953063/3031961/35ea3e8e-e052-11e3-8b5b-20c10322a6bb.png)

[2014-05-20 19:40] benguhin opened #202 "connect more clearly with cfpb.github.io"
starting an issue based on feedback from @virtix "There should be a clear way to navigate to and from http://cfpb.github.io/"

Ideas?

[2014-05-20 20:18] benguhin commented on #200
"concrete steps" to be created by @michelet

include this in the overview as well as the readme
- possibly via email or github issue?

[2014-05-20 20:29] stephanieosan opened #203 "Add note about these standards being our newest"
We want to explain how our latest standards are reflected here, and they are not yet incorporated into all of our (older) web products. Everything moving forward is being designed with these. Provide examples of products where you can see these standards in place.

@sosan will write up the content for this

Someone else needs to add it to various places:
- the readme
- somewhere on the actual desi

[2014-05-20 20:30] #194 closed, assigned to nobody

[2014-05-20 20:32] stephanieosan commented on #202
This is currently linked to in text in the footer. Let's also add it into the left-hand links in the footer.

Eventually maybe it could be represented in the header?

[2014-05-20 20:36] iuloshi commented on #198
Fixed in PR #201

[2014-05-20 20:36] #198 closed, assigned to nobody

[2014-05-20 20:38] #189 closed, assigned to Scotchester

[2014-05-20 20:38] Scotchester commented on #199
Something about the Effective Forms guide is making IE8 freak out (ish). It makes the page way wider than it needs to be. Still trying to run down exactly why.

[2014-05-20 21:48] ohsk commented on #192
Updated with additional examples + call-outs for Shading & Highlights:

![image](https://cloud.githubusercontent.com/assets/1689222/3033766/76ab21de-e068-11e3-9f7c-1680796f4122.png)

[2014-05-20 22:43] Scotchester commented on #199
Effective Forms layout bug fixed in #204!

[2014-05-21 15:51] ell0ell0 commented on #166
Awesome, so we'll go with the speech bubbles for Engagments and events so we can save the calendar/date for specifically events at some point.

My follow up will then be how soon can these be incorporated into the minicon font for Scott and Mike to start working with in code?

[2014-05-21 17:02] Dnpizarro commented on #166
I can incorporate these into the font by this Friday, May 23. I'll include an image of the new set with their respective unicodes.

[2014-05-21 18:05] ohsk commented on #192
Updated via PR #205 to address @elizbond's [concerns here](https://github.com/cfpb/design-manual/issues/192#issuecomment-43344608). @nataliafitzgerald, et al, let me know if you catch anything else!

[2014-05-21 18:19] stephanieosan commented on #192
:+1: awesome!

[2014-05-21 18:27] ohsk commented on #203
Brainstorming the projects / products / pages that I think are closest in representing the current identity and UI guidelines. Mainly assessed from the standpoint of button styles, typography, colors, illustration, and iconography.

We could probably just pick 2-3 to point people to if we felt it's still important as part of declaring that the majority of our web products are not yet reflective of

[2014-05-21 20:01] nataliafitzgerald commented on #192
@ohsk This is looking great! Just a few comments:

For the house illustration, did you pull in the most up-to-date version? We had been looking at one with the line down the middle in the examiner video but I'm not sure where we landed on that. I recall we were looking at a few variations. Wherever you think we landed works for me.
![screen shot 2014-05-21 at 3 41 14 pm](https://cloud.githubuserco

[2014-05-21 20:25] ohsk commented on #192
Thanks @nataliafitzgerald!

The house I pulled in there was straight from the approved video storyboard, so I'm game to go with that. I think the line down the middle is an example of a shadow that we're generally avoiding in Industry-facing illustrations.

I definitely think we can pull in new illustrations examples down the road. I was trying to be conscious of using examples that are "live in t

[2014-05-22 13:06] ell0ell0 commented on #166
Thats awesome, looking forward to seeing em in the wild. Thanks Daniel.

[2014-05-22 13:55] Scotchester commented on #199
Minicons and repo boxes should be fixed with #206.

[2014-05-22 14:19] elizbond opened #207 "Desktop computer"
Design Ops has discovered the need for a desktop computer illustration. As we continue to build on collaging illustrations, it sometimes feels awkward to position objects in front of the laptop (see below).

![screen shot 2014-05-22 at 10 17 51 am](https://cloud.githubusercontent.com/assets/6798337/3054923/1aa83b88-e1bc-11e3-9b6f-fb52aebdec9c.png)

We think a desktop computer would be more appropr

[2014-05-22 20:25] ell0ell0 commented on #207
How about something like so?

![monitor2](https://cloud.githubusercontent.com/assets/3589375/3059753/720ab788-e1ef-11e3-91b4-ce0095f64bb4.png)

[2014-05-22 21:39] ohsk commented on #207
Oh, please send that over, @ell0ell0! Forgot you had something like that already.

[2014-05-23 15:46] ell0ell0 opened #208 "Illustration in a circle"
Hola folks. I've started just this past few days playing with illustration inside a circle to brighten up our careers pages a bit. This is a slightly new useage, but our Isocon's didn't seem descriptive or friendly enough. Anyhow checa-check-it out.

![students_careers_v1](https://cloud.githubusercontent.com/assets/3589375/3068673/4dd1a5fa-e291-11e3-8d1d-3b5bf0072d4f.png)

![research_careers_v1](h

[2014-05-23 17:50] mebates commented on #203
Any thoughts on this @stephanieosan? I'm working to revise the launch announcement.

[2014-05-23 17:51] mebates commented on #202
@Scotchester @iuloshi Anything we can do in the short term to improve the link?

[2014-05-23 18:47] #199 closed, assigned to iuloshi

[2014-05-23 20:27] Scotchester commented on #202
Let's leave this open until we get it linked to FROM cfpb.github.io.

[2014-05-28 15:57] ell0ell0 commented on #207
also added the back as well now

![monitor_back](https://cloud.githubusercontent.com/assets/3589375/3106972/d3ac754a-e680-11e3-93a4-4bc02940c1ab.png)

[2014-05-28 19:46] elizbond commented on #38
We have the green light from OSA on the illustration and isocon, as well as Option 3 on the minicon. @ohsk Let's add to the library.

[2014-05-28 20:07] stephanieosan commented on #48
At what point should we close issues here? Once they're done enough to be added to the library or after they've been added?

[2014-05-28 20:12] ohsk commented on #48
Would help me to leave them open until they've been added!
Sorry I've been lagging. I can close out upon addition.

[2014-05-28 20:15] stephanieosan commented on #48
No worries! Just wanted to make sure someone was monitoring and closing when appropriate :)

[2014-05-29 03:21] iuloshi opened #212 "Is there a representative screencap we can add to the Videos page intro section?"
All of the other Identity pages have accompanying graphics in the intro sections. Any ideas on what we could use for the [Videos page?](http://cfpb.github.io/design-manual/identity/video.html)

[2014-05-29 18:38] nataliafitzgerald commented on #207
@ohsk Can we explore what this would look like if the monitor was a gray tone rather than black. I think having this black option is good but there will be use cases where we need a gray/silver monitor.

[2014-06-02 18:05] mebates commented on #212
We should link to YouTube videos on this page as well.

I think the best one live on YouTube now is the [e-Closing video](https://www.youtube.com/watch?v=NPJYaqf7Ng4). Something like this?

![screen shot 2014-06-02 at 2 04 09 pm](https://cloud.githubusercontent.com/assets/6223901/3151266/73bf7214-ea80-11e3-90a3-9e93337130d9.png)

[2014-06-02 18:10] mebates commented on #212
Or, a still from 'Cordray's Corner' https://www.youtube.com/watch?v=rBrZeomtFsk

![screen shot 2014-06-02 at 2 09 49 pm](https://cloud.githubusercontent.com/assets/6223901/3151330/3b718608-ea81-11e3-9c78-1a69ea01fc2c.png)

[2014-06-02 18:41] stephanieosan commented on #203
How about this:

These standards reflect our latest thinking and are just beginning to be incorporated into the CFPB's most recent projects. See these standards in practice in [eRegs](http://www.consumerfinance.gov/eregulations/), [Consumer Response](http://www.consumerfinance.gov/complaint/), and [HMDA](http://www.consumerfinance.gov/hmda).

[2014-06-02 18:57] mebates commented on #203
Looks good to me. I'll incorporate into the ReadMe and Launch Announcement.

[2014-06-02 18:57] Scotchester commented on #203
Sounds good! :+1:

[2014-06-02 19:06] iuloshi commented on #203
Do we want to add it to the actual Design Manual also? In the footer perhaps?

[2014-06-02 19:11] stephanieosan commented on #203
I'm onboard with adding it to the footer, unless someone feels strongly that we shouldn't. @iuloshi you up for handling that?

[2014-06-02 20:09] mebates opened #215 "H6 on Print Typography Hierarchy example is incorrect"
Avenir Medium 14/16 pt is correct. The example to the right is not; should be larger and not all caps.

[2014-06-02 20:46] iuloshi commented on #203
Can do!

[2014-06-04 18:42] nataliafitzgerald commented on #207
Hi @ohsk. I made some adjustments to the desktop computer to make it a bit less Mac like. Here it is on it's own...
![screen shot 2014-06-04 at 2 38 32 pm](https://cloud.githubusercontent.com/assets/6887128/3178159/78426bfa-ec17-11e3-8e07-872a7d480f6c.png)

And in the context of a composition:

![screen shot 2014-06-04 at 2 41 27 pm](https://cloud.githubusercontent.com/assets/6887128/3178197/e7715

[2014-06-04 21:46] ohsk commented on #207
Sounds good! Can you send me the AI for inclusion in the asset library?

[2014-06-05 23:03] himedlooff commented on #166
The icons have been added to [cf-icons](http://cfpb.github.io/cf-icons/docs/).

[2014-06-06 15:41] nataliafitzgerald commented on #172
@duelj - Both of these options look good to me. The one on the left comes closer to the share convention. Additionally the arrow comes out from the box a bit more so that could drive the point home of "share." So, the left is my recommendation.

[2014-06-06 15:41] #172 closed, assigned to nobody

[2014-06-06 15:58] himedlooff commented on #172
Has anyone brought up that this looks like our external link icon?

![screen shot 2014-06-06 at 11 57 43 am](https://cloud.githubusercontent.com/assets/1093373/3202721/57ac26c4-ed93-11e3-941a-42e2b5813e6d.png)

[2014-06-06 16:14] nataliafitzgerald opened #216 "Change purse illustration"
A change purse would be a useful addition to our illustration library as we are always looking for new ways to show money. Although the wallet is great for highlighting dollar bills and credit cards, the change purse would provide an option for showing coins, where the coins would be in front of the purse in a composition.

This is the style of change purse I was envisioning:

![screen shot 2014-0

[2014-06-06 16:34] duelj commented on #172
I think this had been considered but we they are both pretty conventional symbols for web including both the font awesome library and bootstrap. I believe between their different use cases and familiarity it should minimize confusion. But, its a great point, if others feel this way we can always reconsider.

[2014-06-06 17:06] himedlooff commented on #172
That's true, I bet it'd be clear when seeing them in context. I didn't see the external icon brought up in this thread so I just wanted to point it out. Thanks!

[2014-06-06 18:33] iuloshi opened #217 "Style Guide PDF"
@nataliafitzgerald expressed a need for a printable/PDF version of the Style Guide. Is there a way to create a PDF that pulls from the print style sheet of the Design Manual? Ideally we'd only have to make updates in one place. :)

(Side note: We'll still remove the link to the PDF Style Guide from the Design Manual for now since the printable version would only be distributed internally anyway.)

[2014-06-07 03:13] benguhin commented on #217
This would be pretty sweet. I imagine that it also might be pretty difficult to do well, but if we can get learn how to rock out print/PDF stylesheets it could be a killer feature for a lot of future content on cf.gov

[2014-06-08 11:01] virtix opened #218 "Add or change "work with us" link to Fellows page"
For now: http://www.consumerfinance.gov/jobs/technology-innovation-fellows/

[2014-06-09 13:48] Scotchester commented on #217
I have a fair bit of experience with print stylesheets and would be happy to take this on.

Auto-generation of a PDF is a different story, but I believe we have some software called PDFReactor that can help with that. I doubt it can run on GitHub Pages, though. @danny8000, can you provide any advice on this?

[2014-06-09 15:01] mebates commented on #217
The SES team worked with PDF Reactor. I would ask David or Virginia.

[2014-06-09 15:23] #218 closed, assigned to nobody

[2014-06-09 15:46] vz3 commented on #217
Didn't @atbaker do something with this right before moving on? cc @gboone

[2014-06-09 16:00] gboone commented on #217
The big thing he did before leaving a configuration change that caused it to not take _forever_ to generate a PDF. @davidakennedy is a good source for PDFReactor wisdom.

[2014-06-09 16:05] atbaker commented on #217
And that page I added to the internal cf.gov wiki about PDFReactor! (p.s. hey everybody!)

[2014-06-09 16:34] davidakennedy commented on #217
Oh man, it makes me sad that I am the first person people think of when they think of PDFs.

Also: Hey @atbaker!

That said, here are my thoughts:
- PDFreactor isn't a possibility here because it requires server-side processing and **isn't** open source.
- Why PDFs? I mean, let me be honest and say that I hate PDFs. Hate isn't a strong enough word really. They have their use cases, but they add on

[2014-06-09 16:43] vz3 commented on #217
I'd note that the Open Gov community seems to be moving in the anti-PDF direction as well. I can't think of any features we'd be missing by not going with a well executed print style sheet.

[2014-06-09 17:45] ohsk opened #220 "Paycheck illustration"
Hey all, here's the latest version of a paycheck illustration (originally designed by @dnpizarro) that has been used for the Community Education [Library Campaign](https://github.cfpb.gov/design-ops/library-campaign/issues/3#issuecomment-25677).

![image](https://cloud.githubusercontent.com/assets/1689222/3220189/656b6da8-effd-11e3-8c02-60c6d760897c.png)

Let us know if you have any feedback, othe

[2014-06-09 17:47] ohsk commented on #192
Closing as updates have been included in the initial release!

[2014-06-09 17:47] #192 closed, assigned to ohsk

[2014-06-12 14:44] iuloshi commented on #215
Thanks @mebates, good catch!

[2014-06-12 17:31] nataliafitzgerald opened #222 "Money Jar Illustration"
The Design Ops Team has been working on this money jar illustration as a part of the community education/library) campaign. This will serve as an alternative to the piggy bank. If you are interested in earlier discussions, check out the following issues on the Design Ops repo: https://GHE/design-ops/library-campaign/issues/3
https://GHE/design-ops/library-campaign/issues/3

I worked on updates to

[2014-06-12 18:49] iuloshi commented on #222
The frontal view of a few of the coins definitely helps!

I liked the ridges of the coins in the first version -- I think they add nice a subtle texture and would help identify the side profiles of the different coins, ie just some of the silver coins for dimes/quarters perhaps could have the side grooves.

[2014-06-12 20:53] nataliafitzgerald commented on #222
AJ suggested curved corners for the coins. I also tried an alternative for the reflection on the left side of the jar. @iuloshi - In terms of adding the ridges, the issue we are having is that this illustration is quite complex and when you add other objects to the mix it starts to look very busy. But, as we move forward with developing this illustration I will keep this suggestion and mind and se

[2014-06-12 23:22] micheletepper commented on #200
Just realized that I never got this issue because I'm not michelet on public GitHub.

We need to have a method for designers who don't have GitHub accounts (or find making pull requests to text as completely user-hostile as it actually is) to make suggestions. Can we accept emails?

[2014-06-13 14:46] nataliafitzgerald commented on #222
I still have remaining concerns on this illustration, perhaps someone has ideas on how to address them?
- Now that someone gave the feedback that they see this as a pill bottle, I can't stop seeing it that way too.
- The different colors of coins starts to feel busy to me and this is without working other objects into the layout.

In the event that we can't find a solution that works, there is sti

[2014-06-13 15:32] ohsk commented on #172
FastCo.Design article today:
[WHY ISN'T THERE A STANDARD SHARE ICON?
AND WHICH ONE IS BEST? A LOOK AT THE MANY (MANY) OPTIONS.](http://m.fastcodesign.com/3031872/why-isnt-there-a-standard-share-button?partner=newsletter)

![](http://i.imgur.com/JFRSoQZ.jpg)

![](http://i.imgur.com/BdV3DaE.jpg)

[2014-06-16 13:32] Scotchester commented on #200
Sure, I'd say have them email tech@consumerfinance.gov.

[2014-06-16 14:47] micheletepper commented on #200
OK. So maybe the language is "Not on GitHub? Email us your suggestions at tech@consumerfinance.gov"

I can't seem to reopen this issue, @Scotchester; can you do so? (See previous point about designers who don't know how to use GitHub…)

[2014-06-16 14:48] Scotchester commented on #200
Sure thing!

[2014-06-16 14:57] ajbush commented on #222
Here are a few tweaks to Natalia's latest pass on this...

-I tried making the width of the coins a littler thinner
-made the pennies even thinner than the quarters to give more variation in size
-still struggled with the highlighting but tried having a highlight that sat on the front of the jar and then another in back of the jar to help show depth/transparency
-I also added in triangle shaped ri

[2014-06-16 19:22] benguhin commented on #200
+1 to the email address option that @micheletepper mentioned

[2014-06-17 13:44] #215 closed, assigned to nobody

[2014-06-17 13:46] #203 closed, assigned to nobody

[2014-06-17 15:17] ell0ell0 opened #224 "Paying for college isocon"
Hi everyone, it seems we don't have an official isocon for paying for college. It isn't in the brand 2.0 manual. Stephen didn't have anything, Justin had a few options, Daniel may have the latest, but he's out for his honeymoon. Anyhow I wanted to get this conversation going because I think there will be a need for an official isocon.

![paying_for_college_isocons](https://cloud.githubusercontent.

[2014-06-17 15:25] jehlers commented on #224
I think the tassel for 2 is working the best. The ones where the bottom part is disconnected is a little distracting.

[2014-06-17 16:33] ajbush commented on #224
I like 2 as well

[2014-06-17 19:39] mebates commented on #224
None of our isocons currently feature shading. I vote for 2, minus the shading.

[2014-06-17 20:45] jehlers commented on #220
Lookin good!

[2014-06-17 21:04] stephanieosan commented on #224
I'm also in favor of 2 minus the shading.

[2014-06-18 15:11] ell0ell0 commented on #224
Voila.

I'll move forward with this guy

![paying_for_college_isocon](https://cloud.githubusercontent.com/assets/3589375/3315503/d5a2c428-f6fa-11e3-804d-1c2ed10e041c.png)

[2014-06-18 15:40] stephanieosan commented on #224
:boom:

[2014-06-19 15:59] mebates commented on #220
I love the squiggles.

[2014-06-19 16:05] mebates opened #227 "Saving indicator"
Users need an indication that their work is saving, if their connection is slow or the amount of data is large. We've found this need in:
- CR data fields (right?)
- HMDA data fields
- SES Next
- Intranet Wizard Builder

Let's choose a visual style and a consistent way of building it. Should the word "Saving" accompany the symbol?

Two past examples:
![icon_spinner_2x](https://cloud.githubusercont

[2014-06-19 16:43] stephanieosan commented on #227
We're currently using the first one in OAH as an initial "loading" spinner. Slightly different use case, but worth considering since both loading and saving are a type of progress/something-is-happening indicator.

[2014-06-20 17:11] jehlers commented on #227
We also use it in eregs for loading definitions when the connection is slow:

![screen shot 2014-06-20 at 12 56 47 pm](https://cloud.githubusercontent.com/assets/4267825/3343278/f09de06a-f89d-11e3-8be7-7d186f96f745.png)

[2014-06-24 19:34] elizbond commented on #222
#### Feedback from the 6/24 branding meeting
- try the coins closer together
- overall, the team believes the ridges aren't necessary
- do all the $ signs have to be straight up?

[2014-06-26 19:42] mebates opened #229 "Forms: Dropdown styles"
We don't have a consistent style for dropdowns. Has the flapjack team developed one?

HMDA:
![screen shot 2014-06-26 at 3 35 29 pm](https://cloud.githubusercontent.com/assets/6223901/3403754/8d40cdf4-fd69-11e3-821f-7c4e7fc530e8.png)

OaH Proto:
![screen shot 2014-06-26 at 3 40 06 pm](https://cloud.githubusercontent.com/assets/6223901/3403774/b7a8828a-fd69-11e3-8ce2-7c5b319b0bf7.png)

PFC:
![screen

[2014-06-26 20:02] himedlooff commented on #229
These all look like `<select>` styles. cfgov-refresh is using a similar style that eRegs/OAH are using. Ours is of course slightly different though. It's a jQuery plugin we created (soon to be moved to capital framework, and is also accessible) that transforms a `<select>`.

You can play with it here: http://cfpb.github.io/cfgov-refresh/blog_static/landing.html

And here's a screenshot:

![screen

[2014-06-26 20:23] mebates commented on #229
Nice. I love the caret minicon in the dropdown, and the bright blue when you select.

We should look at color contrast on the light gray type on white, and the medium gray arrow on light gray. In the proto, it almost looks like those dropdowns are not available for me to click (like, disabled), since they're so gray!

[2014-06-26 20:27] himedlooff commented on #229
Oh right, the caret was actually used because we didn't have a down-facing triangle in the icon font. So it's kind of a mistake but...

[2014-06-26 21:57] stephanieosan opened #230 "[DATA VIZ] standards"
Here are screenshots from the excel file. Also emailing the team the document. @mebates Did you have concerns about any of the principles outlined, or just the recommended color palette?

![screen shot 2014-06-26 at 5 52 27 pm](https://cloud.githubusercontent.com/assets/6433178/3405348/4a846274-fd7c-11e3-9563-b0866478cc85.png)
![screen shot 2014-06-26 at 5 52 48 pm](https://cloud.githubusercontent

[2014-06-27 19:45] mebates commented on #230
Thanks Stephanie. My issue is only with the palette, and mainly with the pie chart. (The thoughts below also apply to the bar chart with Green and Teal at 100%) I came upon them when I was working on the CR Snapshot graphs this last time around.
- To me, the palette is too heavy overall. I think the Teal and Neutral at 100% dominate the CFPB Green shade, giving those wedges more importance than th

[2014-06-27 21:22] benguhin commented on #229
+1 on the caret, I think that works well. Also agree with @mebates that it could use more contrast

[2014-06-27 21:48] benguhin opened #231 "Modal window usage and styling"
Modals are super-helpful for focusing a user's attention on something when there's already a lot going on (e.g., within a complex form or web application). Sometimes this is so that they can read a page's Privacy Notice, or to warn against deleting their account, or to alert + enable them to Log In when they try to perform a specific action.

Here are some of our current styles:

![modals](https:/

[2014-06-27 21:59] benguhin opened #232 "Mobile radio buttons"
For Consumer Response we've been trying out ways for make radio buttons more tappable / thumb-accessible on mobile phones. So far, we've attempted this by adding a background color for the full width of the tappable area:

![screen shot 2014-06-27 at 5 54 09 pm](https://cloud.githubusercontent.com/assets/6953063/3418360/e8b82e0c-fe45-11e3-8795-7250911f9c79.png)

![screen shot 2014-06-27 at 5 53 37

[2014-06-30 14:38] mebates commented on #231
I'm interested to hear the cf-gov refresh team's thoughts on modals. In critique last week, Lee was making a case against them because of challenges presented on mobile.

[2014-06-30 15:22] himedlooff commented on #231
Mikes thoughts, not necessarily cfgov-refresh thoughts:

Creating another smaller scrollable window on an already small screen isn't a great experience to me. One big annoyance is that scrollable divs on slightly older android and ios devices won't scroll the same way as windows scroll. It scrolls with no momentum which is frustrating and annoying. You can add native momentum scrolling in newer de

[2014-06-30 16:40] jehlers commented on #229
Just to add a few more examples to this conversation:

CR
![screen shot 2014-06-30 at 12 38 51 pm](https://cloud.githubusercontent.com/assets/4267825/3432492/443efb9e-0075-11e4-9cbd-8086152de19a.png)

EREGS
![screen shot 2014-06-30 at 12 39 57 pm](https://cloud.githubusercontent.com/assets/4267825/3432494/4b0cc15e-0075-11e4-87e6-37e04ccd322a.png)

[2014-06-30 17:05] jehlers opened #233 "Tabs"
Right now, Owning a Home is using these tabs to show different content for 2 different use cases/user scenarios:

![screen shot 2014-06-30 at 1 01 27 pm](https://cloud.githubusercontent.com/assets/4267825/3432790/87c94af6-0078-11e4-9b62-957e5ffee5ad.png)

@iuloshi can you post the tabs that you are planning to use for Consumer Response?

Anyone else have tabs we should discuss so we can find a con

[2014-06-30 17:49] mebates commented on #233
Intranet:
![screen shot 2014-06-30 at 1 48 36 pm](https://cloud.githubusercontent.com/assets/6223901/3433362/d5318dca-007e-11e4-8fa2-3d34df97c5a0.png)

[2014-06-30 20:38] jehlers commented on #229
I'm noticing some trends that we can consolidate in the above examples. What do you guys think?
- The text in a drop down should be black (unless it is defaulting to explanatory text or something that isn't actually selected)
- The outline should be gray (I think we are all mostly using #d0d0ce)
- Down caret needs to be the darker gray #75787b (so it is accessible)
- The height of the boxes should

[2014-06-30 20:44] himedlooff commented on #229
In flapjack we've identified two form label patterns, a form label header and a standard form label.
- http://cfpb.github.io/cfgov-refresh/docs/misc/#form-pattern-showcase
- http://cfpb.github.io/cfgov-refresh/docs/misc/#form-labels

Also regarding border colors they should be consistent with other form elements right? Like text inputs and custom select menus and custom checkboxes should probably

[2014-07-01 18:49] benguhin commented on #231
Yeah those are good usecases for when things get tricky. We can probably replace the Privacy and OMB modals on our complaint forms with some sort of show/hide functionality, but I think a modal makes more sense if we can make it work well. Linking to an additional page would take the user out of the form, which is not ideal :)

One thing to note is that it doesn't need to look like a traditional "

[2014-07-01 18:55] himedlooff commented on #231
@benguhin I meant make it a step in a multi-page form, for example page 1 of the form is whatever, click "next", then you're at a page where you have to read/accept the privacy policy, you read it and check "i agree", then click "next" to get to the final step.

[2014-07-01 19:06] benguhin commented on #231
Ah yeah that makes more sense. Tricky thing is that it's not actually a "step" on desktop so it's kinda weird to make it one on mobile. That's just one example, though - where else are we using modals now?

[2014-07-01 19:16] himedlooff commented on #231
Yeah, I'd say think of the mobile scenario first, if breaking it up into steps makes the page less overwhelming then maybe that's a good thing to do. I don't see why it can't be broken up into steps for larger screens as well. Or you could use some ajax on larger screens to make a longer page with less steps (or one).

[2014-07-01 20:43] iuloshi commented on #233
Initial Consumer Complaint Database data viz tabs:

![screen shot 2014-07-01 at 4 44 14 pm](https://cloud.githubusercontent.com/assets/1676307/3449000/7e61cf36-0160-11e4-977c-191cd1707603.png)

[2014-07-03 15:37] davidakennedy commented on #179
Both issues addressed in above PR.

[2014-07-03 15:42] duelj opened #235 "Grad Cap Iscocon (Paying for college)"
Hey all, FJ is working on students office page as well as students and young Americans for the about section of the redesign and we were hoping to use the grad cap isocon on some pages but realized it still needs a little tweaking. Below is our proposed solution after some feedback in one of the design crits to bring it more inline with the grad cap's illustration style. Looking for feedback to ge

[2014-07-03 15:49] mebates commented on #235
I think your proposed solution is great! Just what we discussed a few weeks ago: bringing the nice shape of the illustration into the isocon. I also like that the cord covers that left edge fussiness.
:star: :star: :star:

[2014-07-03 15:55] jehlers commented on #235
+1 This looks great.

[2014-07-03 16:28] stephanieosan commented on #235
Agreed!

[2014-07-03 18:30] stephanieosan commented on #230
During the crit today, we talked about high-level goals for the revised color palette:
- avoid 100% teal, it's too dark in CMYK
- avoid the neutrals for large slices, feels less on-brand
- avoid using tints of the same color adjacent to each other, makes it seem like there is a correlation
- try to use varied levels of tints next to each other 100,80,50,etc (better for contrast + accessibility)

T

[2014-07-03 18:34] duelj commented on #235
Here is a version with a little knot added on the tassel to help make the transition a little better.

![grad_cap_isocon_1](https://cloud.githubusercontent.com/assets/6873734/3474174/8669fe66-02e0-11e4-9e67-e1df87881c2c.png)

[2014-07-03 19:24] stephanieosan commented on #235
:boom:

[2014-07-07 19:04] #38 closed, assigned to nobody

[2014-07-07 19:04] #43 closed, assigned to nobody

[2014-07-07 19:04] #44 closed, assigned to nobody

[2014-07-07 19:04] #45 closed, assigned to nobody

[2014-07-07 19:04] #46 closed, assigned to nobody

[2014-07-07 19:04] #48 closed, assigned to nobody

[2014-07-07 19:04] #166 closed, assigned to nobody

[2014-07-07 19:04] #207 closed, assigned to nobody

[2014-07-07 19:05] elizbond commented on #235
@ohsk can you add this to the isocon library?

[2014-07-11 18:21] mebates commented on #230
Working on the complaint graphs again. How about this scheme? It pulls in some lighter shades of Pacific before going to the brown.

![screen shot 2014-07-11 at 2 18 05 pm](https://cloud.githubusercontent.com/assets/6223901/3556751/d987533a-0927-11e4-8cfc-4c07ad0ebbd4.png)

![screen shot 2014-07-11 at 2 21 25 pm](https://cloud.githubusercontent.com/assets/6223901/3556783/35283aba-0928-11e4-8a7a-9a

[2014-07-16 17:25] duelj commented on #208
![fj_illustrations_1](https://cloud.githubusercontent.com/assets/6873734/3618436/0fa9a37a-0dea-11e4-965c-f26e2ec8b8ba.png)

[2014-07-17 19:52] jehlers commented on #208
I think the simpler background for the gavel matches the set more than the one with the stripped background.

The 2nd DFA option also feels more inviting. I like the use of teal instead of red.

The summer intern also makes more sense sitting behind a desk.

All in all its looking good!

[2014-07-18 13:45] ell0ell0 opened #236 "Radio Button and Checkbox style"
I'd like to submit flapjack's radio and check box style to be entered into the design manual. The entire container of the selector and title for the button is touch/clickable. You can demo the checkboxes in action at flapjack blog demo, just pop open the filter menu.

![checkradio](https://cloud.githubusercontent.com/assets/3589375/3626791/cc845ae8-0e81-11e4-8321-fa1e59c4f3bf.png)

We'll close thi

[2014-07-18 13:55] jehlers commented on #236
@ell0ell0 In this mock up, you are using the lighter blue for the checked outer stroke, but in your prototype, the outer stroke is the darkest pacific blue:

![screen shot 2014-07-18 at 9 51 39 am](https://cloud.githubusercontent.com/assets/4267825/3626884/032636d8-0e83-11e4-8611-49d0dd50afe1.png)

I think keeping the darkest pacific blue for the whole element works best, and is consistent with wh

[2014-07-18 13:58] ell0ell0 commented on #236
I think that's just an optical thing. It's all darkest pacific blue, the outline when not hovered/focused is 1px and 2px when hovered/focus.

[2014-07-18 13:59] Scotchester commented on #236
Perhaps your mocked-up boxes weren't precisely aligned on whole pixels, causing the fuzziness?

[2014-07-18 14:04] mebates commented on #236
These look great. Do we think the user will understand that they can select more than one when it is a square?

I remember some discussion long ago that custom selectors would be a lot of effort. Do the FEWDs think that these are easy to deploy throughout all of our web products, internal and external? Or, do only certain pages get this level of polish?

[2014-07-18 14:07] ell0ell0 commented on #236
@Scotchester and @himedlooff have already implemented them and they are accessible, the development part isn't a problem.

[2014-07-18 14:07] Scotchester commented on #236
Yeah, we fortunately found it to be easier than expected!

**Update:** Well, I should say, "_Mike_ found it to be easier than expected." All credit to him for the solution!

[2014-07-18 14:17] ell0ell0 commented on #236
@mebates Default checkboxes are simply squares (rounded squares, so I think it's possibly harder to distinguish check from radio), so I don't think it'll be a huge cognitive leap. The value of having them styled I think is valuable enough, but if you feel differently let us know.

![screen shot 2014-07-18 at 10 10 36 am](https://cloud.githubusercontent.com/assets/3589375/3627162/318b2da0-0e86-11e4

[2014-07-18 14:26] jehlers commented on #236
I think the large issue @mebates is bringing up is the lack of a check in the checkbox. The radio buttons make sense styled this way, its just an update. I like this style for the checkboxes as well, but its different and might be worth testing to make sure the filled in square communicates the same thing a standard check would.

[2014-07-18 14:49] mebates commented on #236
Glad to hear that you guys have implemented it, but will it be easy for other teams to? (Digital A, Intranet, SES etc.)

[2014-07-18 15:12] Scotchester commented on #236
We need to move the code into cf-forms, but once that's done, it should be rather easy. If it's not, we're not doing our job :)

[2014-07-18 15:27] mebates commented on #236
:+1:

[2014-07-18 18:34] himedlooff commented on #236
Demo: http://cfpb.github.io/cfgov-refresh/blog_static/landing.html

[2014-07-18 19:45] nataliafitzgerald commented on #208
_Feedback on specific illustrations_

**Brandeis Honors Program**
The 2nd option with the simpler background for the gavel illustration looks good.

**CFPB Summer Internship**
Could you try some solutions to this one that do not rely on people? I could see issues with this one from a diversity perspective. Additionally, the other programs (and the larger percentage of our illustrations) are object

[2014-07-18 19:48] nataliafitzgerald commented on #208
From a Brand 2.0 perspective, we are discussing a number of brand-specific issues here:

**1. The addition of a level (similar to the isocon level) where illustrations live in circles.**

As a group we have discussed that adding illustration to tier 2 adds a level of flexibility and it marries well with the top level illustrations (found in hero graphics). Pending questions are where this lives in

[2014-07-18 19:56] mebates commented on #208
Hey @nataliafitzgerald, thanks for the two points in the last comment. I'm less interested in the illustration-specific feedback on this thread, and more interested in these two questions.

For your first point, do we have those 'levels' articulated somewhere? I know we've articulated them as a group in meetings. I'm asking because I wonder if these just simply qualify at the level of 'illustratio

[2014-07-18 20:37] ell0ell0 commented on #208
@nataliafitzgerald all those little tweaks make sense, so we'll jump on them.

We've been brainstorming a bit and the best we can think up for internships would relate to coffee fetching, a coffee carrier with 4 to go cups (which is pretty inappropriate), or like a messy desk with papers and coffee cups (not really sure that visually reads as intern even with a word prompt). We could use a bit of

[2014-07-21 15:19] elizbond commented on #208
I've been looking through some infographics on internships and I'm seeing a lot of books, briefcases. and resume illustrations. Also, there is a lot to do with chat bubbles, like the dialogue minicons we thought through a couple of months ago. If you think about it conceptually, it makes a lot of sense. Your'e learning by doing, through conversations with your coworkers, your superiors, etc.

[2014-07-21 15:22] duelj commented on #208
Here are some updates to the illustrations including some object based attempts to the internship. I do agree with some of Lee's thoughts on using people rather than objects to symbolize some groups of people with out stereotyping them by the objects we use.
![fj_illustrations_2](https://cloud.githubusercontent.com/assets/6873734/3645480/d096d974-10ea-11e4-8e84-cc6717c86dba.png)

[2014-07-21 15:53] nataliafitzgerald commented on #208
Thanks for the updates, @duelj. The DFAP data bars, White House and American flag look good. I like the simplified version of the flag.

For CFPB Summer internship, I'm confident that with a bit more exploration we can land on an object representation that will work. @duelj - the options that you sent are going in a good direction. Can we move to simplify the level of detail to come closer to the

[2014-07-21 15:55] duelj commented on #208
@elizbond I think there are some interesting ideas in the learning through doing and communicating as represented through speech bubbles but I feel there are a few areas of concern with getting the meaning across:
- Speech bubbles typically come from people, not having them in small sized icons is one thing, but i think it will be hard to sell this concept through the speech bubbles alone.
- Our d

[2014-07-21 16:52] duelj commented on #208
Here are some options of the internship object approach simplified as @nataliafitzgerald asked for. I didn't do the "intern bag" as I think that connection is a bit weak between intern and shoulder bag. I could see the briefcase but wanted to try a couple options without and would rather use that if people strongly that these are not working.

![internship_simplified](https://cloud.githubuserconte

[2014-07-21 16:55] mebates commented on #208
To me these last ones look like anything 'student' related. Any way to get some CFPB branding in there? I liked the one showing the computer screen, like you were interacting with complaints. Conceptually, it's the same as Director's Financial Analyst ... the illustration is showing the work you'll be doing. Tough nut to crack though, thanks for the persistence @duelj!

[2014-07-21 17:18] duelj commented on #208
@mebates I like that idea of having more branding or something specific included as well. Tried a couple simplified options using the computer to show something more CFPB specific.
![internship_simplified_1](https://cloud.githubusercontent.com/assets/6873734/3647134/febfe498-10fa-11e4-882d-8acf4243aec6.png)

[2014-07-21 19:39] nataliafitzgerald commented on #208
I would still like to see us push in the direction of the simple, single object based approach so that the circle illustrations really stand apart from their tier 1 counterparts. If tier 2 are more like objects as symbols and then tier 1 (the hero level) are collections of objects that build a still life / composition. With this approach, the two tiers start to make more sense as part of a system.

[2014-07-21 21:11] stephanieosan opened #237 "Illustration hierarchy"
Lots of great thoughts about our overall illustration hierarchy came up when we were talking about these illustrations: https://github.com/cfpb/design-manual/issues/208

I'm moving the broader conversation to this issue so that we can share more examples from different projects and usecases.

[2014-07-21 21:14] stephanieosan commented on #208
**Branding / Green tones**
I think the point of bringing the cfpb brand onto the computer screen was to represent cfpb-related work being done. I don't think we need to make the internship illustration green-only (wouldn't fit with the rest of the suite). And if we changed the entire suite to green-only, that might make it feel too industry-facing. I think these illustrations successfully take ful

[2014-07-21 23:00] duelj commented on #208
Here are two internship options: one addresses the suggestions @stephanieosan made, and the other is an idea Lee had if we were still to use people for this type of illustration. The person version has a nice specificity to it showing the internship as bridging the gap between being a student and moving into the professional world (something to consider at least).
![fj_illustrations_3](https://clo

[2014-07-22 13:25] mebates commented on #208
I like the scene on the left too. More specific than the solitary pencil or coffee cup. My only suggestion would be to zoom in just a bit more to make the cup and screen bigger, cropping some of the left side.

[2014-07-22 21:34] nataliafitzgerald commented on #208
+1 on @stephanieosan's comment about the level of detail - and keeping it balanced across the board between different circle illustrations.

In the spirit of pushing this through to completion today (and with an understanding that standards will be better defined and may not ultimately all align with all of the illustrations contained in this set, let's I'm all for working to close out the interns

[2014-07-23 18:27] duelj commented on #208
Here is the version we will plan to move forward with which addresses the feedback from @mebates and @nataliafitzgerald  to zoom in a bit and simplify. Cropping in so that both the left and right of the screen were clipped made the composition feel very odd and created closed/distracting negative spaces. This cropping aims to fill out more of the circle and balance the composition. For the simplif

[2014-07-23 18:27] #208 closed, assigned to nobody

[2014-07-23 20:47] jehlers commented on #229
@stephanieosan and I have been using these drop down styles in the Owning a Home Loan Comparison tool, and want to try to solidify this standard by EOD Monday if possible.

Based on my [last comment](https://github.com/cfpb/design-manual/issues/229#issuecomment-47583732), we have been using these drop downs:

![screen shot 2014-07-23 at 4 35 13 pm](https://cloud.githubusercontent.com/assets/426782

[2014-07-23 21:13] mebates commented on #229
- Your outline color should be one of the grays defined in Design Manual. I crosschecked and updated your issue.
- I think the form label should not be part of this UI discussion, for now. Whatever the form label is should be within the hierarchy.
- I think the font should be black and 16 pt inside the drop down. I'm neutral on Arial vs. Avenir - is it much more work to make it Avenir?

[2014-07-24 14:48] jehlers commented on #229
@mebates Not positive where i got that gray (must have been an old swatch), but I updated it to this gray hex #babbbd

[2014-07-24 15:49] nataliafitzgerald commented on #236
The radio button looks good. Regarding the checkbox, I have the same question that @jehlers and @mebates posed about whether the user will understand that this is a checkbox as opposed to a square radio button. If there's room to test it out, even just within the CFPB, it could be worthwhile.

[2014-07-24 16:04] elizbond commented on #236
So @nataliafitzgerald just used me as a guinea pig and it wasn't really my first instinct to select multiple options. I selected one category and then played with all the drop downs and went back and asked her "oh, can I select more than one?"

[2014-07-24 16:37] benguhin commented on #236
Using a check mark would definitely make it clearer that it's a checkbox.

I also really like using light backgrounds to make the whole thing super-actionable. Gov.uk is a good example: http://govuk-elements.herokuapp.com/#guide-form-checkboxes

![screen shot 2014-07-24 at 12 33 26 pm](https://cloud.githubusercontent.com/assets/6953063/3691235/61d53310-1350-11e4-859e-49f26b6a03bd.png)

We tried th

[2014-07-24 18:10] ell0ell0 commented on #236
![checkradio2](https://cloud.githubusercontent.com/assets/3589375/3692553/ae65eeb0-135d-11e4-9d69-307214b3bc71.png)

Ok here are a few alternative options, let me know what you think or what you may like to see added.

[2014-07-25 13:51] jehlers commented on #236
@ell0ell0 These look great! Do you mind putting them on a gray background as well, since a lot of the time we use these UI elements on both gray and white backgrounds?

[2014-07-25 14:13] ell0ell0 commented on #236
![checkradio3](https://cloud.githubusercontent.com/assets/3589375/3703041/d8913098-1405-11e4-9eb3-d821315a83c9.png)

[2014-07-25 14:32] ell0ell0 commented on #236
@benguhin so the entire container is a tappable / clickable area. We just don't have a background color like in CR.

[2014-07-25 15:16] mebates commented on #236
Nice @ell0ell0! @benguhin I didn't quite understand your request. May be something to consider for forms more than filters (but still would be part of this discussion).

I prefer 'c' or 'd'.

[2014-07-25 15:20] duelj commented on #236
#### Checkboxes

I have an affinity to option "b" because it seems elegant and understated, but I think that for ease of checking over a large form to make sure you have all the checkboxes selected option "c" might be the best way to go. In either case I feel that the check mark seems like the more neutral representation as the x can often feel like a delete or close icon.

#### Radio Buttons

Thi

[2014-07-25 15:30] benguhin commented on #236
I still think it's worth trying some variations of a "checkbox button" – a clearly-marked box around the checkbox _and_ the text. With default checkboxes, even though the text is clickable, it doesn't look clickable, so the user is still gonna try to tap or click a pretty small area.

Adding boxes around each of them will take up more space, but it will also help keep the text from bleeding togeth

[2014-07-25 16:41] ell0ell0 commented on #236
@benguhin certainly, if a situation arises where this is more useful I'm all for it. We're just trying to solve for our current needs and sort of communicate out and let everyone else weigh in on this general direction.

[2014-07-25 18:23] jehlers commented on #236
I think C is working really well. B is nice, but I think C matches more with the radio buttons, and I agree with @duelj that the X represents another interaction.

[2014-07-25 20:42] mebates opened #238 "tiny word update"
@Scotchester or someone else could you please add the word visual to the sentence on the home page? Sorry I don't have the environment set up to do it myself!

"The Manual includes our design principles, guidelines for user experience, **visual** identity standards, and code snippets for common user interface elements."

[2014-07-25 20:44] benguhin commented on #236
ok @ell0ell0  and I are on the same page about backgrounds – we'll try it out during the next couple weeks for CR

for the check colors, I'm also a fan of B!

Could the radio buttons also have black for the center/selection? It'd consistent with a black checkmark (similar to @jehlers point) and would also "protect the blue" (i.e., if blue is used less, the primary action links will pop out more)

[2014-07-25 21:06] ell0ell0 commented on #236
@benguhin I agree if we go with B we'll swap the radio "dot" to black.

Now opinion seems fairly split between B & C how do we conclude this :)

[2014-07-26 00:34] benguhin commented on #238
updated in commit ebd1d1d7c9af670aa4b51370d291bdea86a40e76

[2014-07-29 19:04] nataliafitzgerald commented on #237
From a Brand 2.0 perspective, we are discussing a number of brand-specific issues here:

**1. The addition of a level (similar to the isocon level) where illustrations live in circles.**

As a group we have discussed that adding illustration to tier 2 adds a level of flexibility and it marries well with the top level illustrations (found mainly in hero graphics). Pending questions include: Where d

[2014-07-29 19:05] ell0ell0 opened #239 "Need an RSS icon"
Hey all we need an RSS icon added to the icon font for these sorts of uses.

![screen shot 2014-07-29 at 3 04 15 pm](https://cloud.githubusercontent.com/assets/3589375/3740257/50e78344-1753-11e4-87c3-364eff1ca718.png)

![rss](https://cloud.githubusercontent.com/assets/3589375/3740260/5d4f95b8-1753-11e4-88a8-0cb0cae059b4.gif)

[2014-07-31 18:51] duelj commented on #237
**1. Tier 1 vs. tier 2 ilustrations:**

#### Where do circle illustrations live in the hierarchy?

I think that hero illustrations can be the basis for tier 1 illustrations examples. This seems like a primary place for the full illustration style to be used. The rest of the illustration usage on the site might be considered tier two since they should not draw more attention than the hero section o

[2014-07-31 19:15] nataliafitzgerald opened #240 "Tier 2 Illustration Styling"
In issue #208 we kicked off the discussion on illustrations inside of a circle. As we move forward with developing and implementing Tier 2 illustrations it will serve us well to start to define styling standards.

In issue #237, I kicked off this conversation:

Some stylistic elements include:
- Bleeding the illustration to the edge of the circle versus objects in the center of the circle.
- A sti

[2014-07-31 19:43] duelj commented on #240
#### Bleeding/Cropping:

I think it is nice to have the freedom to do both if the circle illustrations are all floating centered objects the distinction between those and isocons becomes more fuzz visually. I the visual variety that this offers makes the illustrations more interesting as the scale can really be played with.

#### Still life/scene & figure/ground inclusion:

The Brandeis honor prog

[2014-07-31 19:53] Scotchester commented on #169
Bumpty-bump.

We'd like to have this available on the DM logos page so that we can link to it from the Newsroom's Press Resources page. Agreed with Mehgan that it should probably be limited to a few common formats.

Here is my suggestion:
- For print: a 300dpi CMYK JPEG (uncompressed) at 3 inches wide. (Can we foresee anyone other than ourselves using the logo any larger than that in print?)
- For

[2014-07-31 20:30] nataliafitzgerald opened #241 "Illustrations of people"
I am moving this conversation from issue #237 in order to better focus the discussion.

People have been included in our illustration library for some time but we have been very careful about when we use them. The time seems right for discussing the use of people illustrations in CFPB offerings in order to better define what the concerns and limitations are and when using people makes sense as a s

[2014-07-31 20:37] nataliafitzgerald commented on #237
I have moved the discussions regarding Tier 2 Illustration Styling #240 and Illustrations of people #241 to their own issues. On this issue, let's continue the discussion about the specific of where circle illustrations fit into the illustration hierarchy.

I agree with @duelj that it makes sense for the circle illustrations to live on the same level as the isocons. Continuing to define exactly wh

[2014-08-01 15:45] ell0ell0 opened #242 "live stream / online forum icon"
I've made an icon for live stream / online forum for our events page. Please discuss or if there are no objections it'd be great if we could add it to the icon font.

![screen shot 2014-08-01 at 10 14 02 am](https://cloud.githubusercontent.com/assets/3589375/3781124/cb1324b6-1992-11e4-9cae-ccb20a577401.png)
![screen shot 2014-08-01 at 11 43 07 am](https://cloud.githubusercontent.com/assets/3589375

[2014-08-04 15:41] ohsk commented on #242
Looks pretty good to me!
Scales well:
![image](https://cloud.githubusercontent.com/assets/1689222/3799386/abfeeb52-1bed-11e4-9ff4-c28ec848efa7.png)

And seems on par with general ideas around "broadcasting":
![image](https://cloud.githubusercontent.com/assets/1689222/3799374/9be9d5a6-1bed-11e4-8f14-7db53b78e113.png)

[2014-08-05 21:11] nataliafitzgerald commented on #242
Looks good to me too!

[2014-08-06 21:02] jehlers commented on #232
@benguhin, @stephanieosan and I have been working on radio buttons for owning a home!

On desktop, they look like this:

![screen shot 2014-08-06 at 5 00 08 pm](https://cloud.githubusercontent.com/assets/4267825/3834026/b39db2f6-1dac-11e4-9d8a-a86f807aa350.png)

So for mobile, following your style above, they would look like this:

![screen shot 2014-08-06 at 5 01 30 pm](https://cloud.githubuserco

[2014-08-13 14:02] ell0ell0 opened #243 "Keyboard and top view of coffee mug & Saucer"
If any of you are making an illustration and need a keyboard or coffee (top down perspective) feel free to use these.

![keyboard_coffee](https://cloud.githubusercontent.com/assets/3589375/3906312/e134604e-22f1-11e4-8e09-3a69bd9ed568.png)

I created them for this upcoming events page.

![screen shot 2014-08-13 at 10 01 13 am](https://cloud.githubusercontent.com/assets/3589375/3906377/65970030-22f2

[2014-08-26 15:14] mebates commented on #233
@sephcoster and @dezzie are building tabs into the HMDA 2013 release and we're not sure where to go visually. @danny8000 began developing a capital framework version of tabs that looks pretty close to the Intranet, but I don't think that's the direction we're heading on cf.gov. @duelj and @ell0ell0, have any examples come up in your designs?

[2014-08-26 17:26] sephcoster commented on #233
Example tab set from HMDA - using HMDA gold100 active and gold80 hover. This code uses @danny8000's code as a baseline as it's 508 compliant and support keyboard / voice nav. Still a work in progress - providing as an example:
![screen shot 2014-08-26 at 1 24 43 pm](https://cloud.githubusercontent.com/assets/1028659/4048679/051517ac-2d46-11e4-9cd8-9b8df812d306.png)

[2014-09-08 15:59] mebates opened #244 "Links: Underline awkwardness"
I've been noticing lately that our link underline sits too low below the word, getting quite close to ascenders and minicons on the following line. Do we need to rethink the way we're building the underline? Or, the leading of our paragraphs?

![screen shot 2014-09-08 at 10 28 18 am](https://cloud.githubusercontent.com/assets/6223901/4188272/da17a3dc-3770-11e4-9e42-870c89f6a2cb.png)

![screen shot

[2014-09-08 16:01] mebates commented on #179
@davidakennedy Can we close this issue before you leave? All set?

[2014-09-08 16:02] mebates commented on #224
Closed. See issue #235.

[2014-09-08 16:02] #224 closed, assigned to nobody

[2014-09-08 16:03] mebates commented on #220
@nataliafitzgerald is this approved? Should we add it to the Illustrations Library on Drive?